﻿
@{
    ViewBag.Title = "DSHoSo";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var session = (DichVuMotCua.Models.taikhoan)Session[DichVuMotCua.Content.CommonConstants.USER_SESSION];
}
<link rel="stylesheet" href="~/Content/Home/css/style.css">
<div id="thutuc">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="text-align:center">Danh Sách Hồ Sơ Đã Đăng Ký</h3>
                        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                    </div>
                    <div class="panel-body">
                        <div class="panel-body">
                            <table class="table table-bordered">
                                <tbody>
                                    @{
                                        int count = 1;
                                    }


                                    @foreach (KeyValuePair<string, string>
                                        kvp in ViewBag.listUrl)
                                    {
                                        <tr>
                                            <td class="text-center">@(count++)</td>
                                            <td class="form-name">
                                                <a class="name" href="/thutucs/@kvp.Key">
                                                    <i class="fa fa-file-text" aria-hidden="true"></i> @kvp.Value
                                                </a>
                                            </td>

                                        </tr>



                                    }



                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

