﻿
@{
    ViewBag.Title = "HoSo";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var session = (DichVuMotCua.Models.taikhoan)Session[DichVuMotCua.Content.CommonConstants.USER_SESSION];
}
    <table class="table table-bordered">
        <thead>
            <tr>
            
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>


            <tr>

                <td><a href="/thutucs/DSXinThoiHoc">Xin Thôi Học</a></td>
                <td><a href="/thutucs/DSMOTACHUONGTRINHDAOTAO">Đề Nghị Cấp Giấy Mô Tả Chương Trình Đào Tạo</a></td>
                <td><a href="/thutucs/DSTHICAITHIENDIEM">Đăng Ký Thi Cải Thiện Điểm</a></td>

            </tr>

            <tr>

                <td><a href="/thutucs/DSGIAYXACNHANDECUONG">Giấy Xác Nhận Đề Cương</a></td>
                <td><a href="/thutucs/DSGIAYXACNHANHOANTHANHCHUONGTRINHDAOTAO">Giấy Xác Nhận Hoàn Thành Chương Trình Đào Tạo</a></td>
                <td><a href="/thutucs/DSXACNHANTHOIGIANTHUCTAP">Đề Nghị Cấp Giấy Xác Nhận Thời Gian Học Tập</a></td>

            </tr>

            <tr>

                <td><a href="/thutucs/DSCAPBANSAOBANG">Cấp Bản Sao Văn Bằng</a></td>
                <td><a href="/thutucs/DSDANGKYCHUONGTRINHHOCNHANH">Đăng Ký Chương Trình Học Nhanh</a></td>
                <td><a href="/thutucs/DSTOTNGHIEPTAMTHOI">Đề Nghị Cấp Giấy Tốt Nghiệp Tạm Thời</a></td>
            </tr>

            <tr>
                <td><a href="/thutucs/DSHOCHAICHUONGTRINH">Học Hai Chương Trình</a></td>
                <td><a href="/thutucs/DSDANGKYHOCPHANTHAYTHE">Đăng Ký Học Phần Thay Thế</a></td>
                <td><a href="/thutucs/DSDANGKYHOCTHEOTIENDOCHAM">Đăng Ký Học Theo Tiến Độ Chậm</a></td>

            </tr>

            <tr>
                <td><a href="/thutucs/DSDONXINTHOIHOCRUTHOSO">Đơn Xin Thôi Học Rút Hồ Sơ</a></td>
                <td><a href="/thutucs/DSDENGHICHUNGTHUCVANBANG">Đề Nghị Chứng Thực Văn Bằng</a></td>
                <td><a href="/thutucs/DSDOICHIEUCHUONGTRINHDAOTAO">Đối Chiếu Chương Trình Đào Tạo</a></td>
            </tr>
            <tr>

                <td><a href="/thutucs/DSDONDANGKYCAITHIENDIEM">Đơn Đăng Ký Cải Thiện Điểm</a></td>
                <td><a href="/thutucs/DSDONPHUCKHAO">Đơn Phúc Khảo</a></td>
                <td><a href="/thutucs/DSDONRUTBOTHOCPHAN">Đơn Rút Bớt Học Phần</a></td>
            </tr>
            <tr>
                <td><a href="/thutucs/DSDONXINTAMNGUNGHOC">Đơn Xin Tạm Ngừng Học</a></td>
                <td><a href="/thutucs/DSDONXETTOTNGHIEPSOM">Đơn Xét Tốt Nghiệp Sớm</a></td>
                <td><a href="/thutucs/DSDONXINCHUYENNGANH">Đơn Xin Chuyển Ngành</a></td>
            </tr>
            <tr>

                <td><a href="/thutucs/DSGIAYGIOITHIEUTHUCTAP">Giấy Giới Thiệu Thực Tập</a></td>
            </tr>

        </tbody>
    </table>