﻿
@{
    ViewBag.Title = "ThuTuc";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var session = (DichVuMotCua.Models.taikhoan)Session[DichVuMotCua.Content.CommonConstants.USER_SESSION];
    //var isSpam = false;
    //if (session != null)
    //{
    //    isSpam = DichVuMotCua.Content.CommonConstants.isSpam(session.id);
    //}

}


@if (ViewBag.isSpam)
{
    <div>Mỗi Sinh Viên Chỉ Được Tạo Tối Đa 3 Thủ Tục Mỗi Ngày Vui Lòng Thử Lại Vào Ngày Hôm Sau !</div>
    return;
}

    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Danh Sách Thủ Tục</h3>
                            <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                        </div>
                        <div class="panel-body">
                            <div class="panel-body">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td class="text-center">1</td>
                                            <td class="form-name">
                                                <a class="name" href="/thutucs/XinThoiHoc">
                                                    <i class="fa fa-file-text" aria-hidden="true"></i> Xin Thôi Học
                                                </a>
                                            </td>
                                            <td>
                                                Thời gian: 5 Ngày
                                            </td>
                                            <td>
                                                Nộp online
                                            </td>
                                            <td>
                                                <span class="badge price">Không tính phí</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">2</td>
                                            <td class="form-name">
                                                <a class="name" href="/thutucs/GIAYXACNHANDECUONG">
                                                    <i class="fa fa-file-text" aria-hidden="true"></i> Giấy Xác Nhận Đề Cương
                                                </a>
                                            </td>
                                            <td>
                                                Thời gian: 2 Ngày
                                            </td>
                                            <td>
                                                Nộp online
                                            </td>
                                            <td>
                                                <span class="badge price">Không tính phí</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">3</td>
                                            <td class="form-name">
                                                <a class="name" href="/thutucs/MOTACHUONGTRINHDAOTAO">
                                                    <i class="fa fa-file-text" aria-hidden="true"></i> Đề Nghị Cấp Giấy Mô Tả Chương Trình Đào Tạo
                                                </a>
                                            </td>
                                            <td>
                                                Thời gian: 5 Ngày
                                            </td>
                                            <td>
                                                Nộp online
                                            </td>
                                            <td>
                                                <span class="badge price badge-warning">Hết hạn</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">4</td>
                                            <td class="form-name">
                                                <a class="name" href="/thutucs/THICAITHIENDIEM">
                                                    <i class="fa fa-file-text" aria-hidden="true"></i> Đăng Ký Thi Cải Thiện Điểm
                                                </a>
                                            </td>
                                            <td>
                                                Thời gian: 5 Ngày
                                            </td>
                                            <td>
                                                Nộp online
                                            </td>
                                            <td>
                                                <span class="badge price">Không tính phí</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">5</td>
                                            <td class="form-name">
                                                <a class="name" href="/thutucs/GIAYXACNHANHOANTHANHCHUONGTRINHDAOTAO">
                                                    <i class="fa fa-file-text" aria-hidden="true"></i> Giấy Xác Nhận Hoàn Thành Chương Trình Đào Tạo
                                                </a>
                                            </td>
                                            <td>
                                                Thời gian: 7 Ngày
                                            </td>
                                            <td>
                                                Nộp online
                                            </td>
                                            <td>
                                                <span class="badge price">Không tính phí</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">6</td>
                                            <td class="form-name">
                                                <a class="name" href="/thutucs/XACNHANTHOIGIANTHUCTAP">
                                                    <i class="fa fa-file-text" aria-hidden="true"></i> Đề Nghị Cấp Giấy Xác Nhận Thời Gian Học Tập
                                                </a>
                                            </td>
                                            <td>
                                                Thời gian: 10 Ngày
                                            </td>
                                            <td>
                                                Nộp online
                                            </td>
                                            <td>
                                                <span class="badge price">Không tính phí</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">7</td>
                                            <td class="form-name">
                                                <a class="name" href="/thutucs/CAPBANSAOBANG">
                                                    <i class="fa fa-file-text" aria-hidden="true"></i> Cấp Bản Sao Văn Bằng
                                                </a>
                                            </td>
                                            <td>
                                                Thời gian: 5 Ngày
                                            </td>
                                            <td>
                                                Nộp online
                                            </td>
                                            <td>
                                                <span class="badge price">Không tính phí</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">8</td>
                                            <td class="form-name">
                                                <a class="name" href="/thutucs/DANGKYCHUONGTRINHHOCNHANH">
                                                    <i class="fa fa-file-text" aria-hidden="true"></i> Đăng Ký Chương Trình Học Nhanh
                                                </a>
                                            </td>
                                            <td>
                                                Thời gian: 5 Ngày
                                            </td>
                                            <td>
                                                Nộp online
                                            </td>
                                            <td>
                                                <span class="badge price">Không tính phí</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">9</td>
                                            <td class="form-name">
                                                <a class="name" href="/thutucs/TOTNGHIEPTAMTHOI">
                                                    <i class="fa fa-file-text" aria-hidden="true"></i> Đề Nghị Cấp Giấy Tốt Nghiệp Tạm Thời
                                                </a>
                                            </td>
                                            <td>
                                                Thời gian: 5 Ngày
                                            </td>
                                            <td>
                                                Nộp tại Hub
                                            </td>
                                            <td>
                                                <span class="badge price">Không tính phí</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">10</td>
                                            <td class="form-name">
                                                <a class="name" href="/thutucs/HOCHAICHUONGTRINH">
                                                    <i class="fa fa-file-text" aria-hidden="true"></i> Học Hai Chương Trình
                                                </a>
                                            </td>
                                            <td>
                                                Thời gian: 4 Ngày
                                            </td>
                                            <td>
                                                Nộp online
                                            </td>
                                            <td>
                                                <span class="badge price">5.000 đ</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">11</td>
                                            <td class="form-name">
                                                <a class="name" href="/thutucs/DANGKYHOCPHANTHAYTHE">
                                                    <i class="fa fa-file-text" aria-hidden="true"></i> Đăng Ký Học Phần Thay Thế
                                                </a>
                                            </td>
                                            <td>
                                                Thời gian: 4 Ngày
                                            </td>
                                            <td>
                                                Nộp online
                                            </td>
                                            <td>
                                                <span class="badge price">Không tính phí</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">12</td>
                                            <td class="form-name">
                                                <a class="name" href="/thutucs/DANGKYHOCTHEOTIENDOCHAM">
                                                    <i class="fa fa-file-text" aria-hidden="true"></i> Đăng Ký Học Theo Tiến Độ Chậm
                                                </a>
                                            </td>
                                            <td>
                                                Thời gian: 4 Ngày
                                            </td>
                                            <td>
                                                Nộp online
                                            </td>
                                            <td>
                                                <span class="badge price">20.000 đ</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">13</td>
                                            <td class="form-name">
                                                <a class="name" href="/thutucs/DONXINTHOIHOCRUTHOSO">
                                                    <i class="fa fa-file-text" aria-hidden="true"></i> Đơn Xin Thôi Học Rút Hồ Sơ
                                                </a>
                                            </td>
                                            <td>
                                                Thời gian: 4 Ngày
                                            </td>
                                            <td>
                                                Nộp online
                                            </td>
                                            <td>
                                                <span class="badge price">Không tính phí</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">14</td>
                                            <td class="form-name">
                                                <a class="name" href="/thutucs/DENGHICHUNGTHUCVANBANG">
                                                    <i class="fa fa-file-text" aria-hidden="true"></i> Đề Nghị Chứng Thực Văn Bằng
                                                </a>
                                            </td>
                                            <td>
                                                Thời gian: 4 Ngày
                                            </td>
                                            <td>
                                                Nộp online
                                            </td>
                                            <td>
                                                <span class="badge price">Không tính phí</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">15</td>
                                            <td class="form-name">
                                                <a class="name" href="/thutucs/DOICHIEUCHUONGTRINHDAOTAO">
                                                    <i class="fa fa-file-text" aria-hidden="true"></i> Đối Chiếu Chương Trình Đào Tạo
                                                </a>
                                            </td>
                                            <td>
                                                Thời gian: 7 Ngày
                                            </td>
                                            <td>
                                                Nộp online
                                            </td>
                                            <td>
                                                <span class="badge price">Không tính phí</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">16</td>
                                            <td class="form-name">
                                                <a class="name" href="/thutucs/DONDANGKYCAITHIENDIEM">
                                                    <i class="fa fa-file-text" aria-hidden="true"></i> Đơn Đăng Ký Cải Thiện Điểm
                                                </a>
                                            </td>
                                            <td>
                                                Thời gian: 40 Ngày
                                            </td>
                                            <td>
                                                Nộp online
                                            </td>
                                            <td>
                                                <span class="badge price">50.000 đ</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">17</td>
                                            <td class="form-name">
                                                <a class="name" href="/thutucs/DONPHUCKHAO">
                                                    <i class="fa fa-file-text" aria-hidden="true"></i> Đơn Phúc Khảo
                                                </a>
                                            </td>
                                            <td>
                                                Thời gian: 7 Ngày
                                            </td>
                                            <td>
                                                Nộp online
                                            </td>
                                            <td>
                                                <span class="badge price">Không tính phí</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">18</td>
                                            <td class="form-name">
                                                <a class="name" href="/thutucs/DONRUTBOTHOCPHAN">
                                                    <i class="fa fa-file-text" aria-hidden="true"></i> Đơn Rút Bớt Học Phần
                                                </a>
                                            </td>
                                            <td>
                                                Thời gian: 7 Ngày
                                            </td>
                                            <td>
                                                Nộp online
                                            </td>
                                            <td>
                                                <span class="badge price">Không tính phí</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">19</td>
                                            <td class="form-name">
                                                <a class="name" href="/thutucs/DONXINTAMNGUNGHOC">
                                                    <i class="fa fa-file-text" aria-hidden="true"></i> Đơn Xin Tạm Ngừng Học
                                                </a>
                                            </td>
                                            <td>
                                                Thời gian: 7 Ngày
                                            </td>
                                            <td>
                                                Nộp online
                                            </td>
                                            <td>
                                                <span class="badge price">Không tính phí</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">20</td>
                                            <td class="form-name">
                                                <a class="name" href="/thutucs/DONXETTOTNGHIEPSOM">
                                                    <i class="fa fa-file-text" aria-hidden="true"></i> Đơn Xét Tốt Nghiệp Sớm
                                                </a>
                                            </td>
                                            <td>
                                                Thời gian: 7 Ngày
                                            </td>
                                            <td>
                                                Nộp online
                                            </td>
                                            <td>
                                                <span class="badge price">Không tính phí</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">21</td>
                                            <td class="form-name">
                                                <a class="name" href="/thutucs/DONXINCHUYENNGANH">
                                                    <i class="fa fa-file-text" aria-hidden="true"></i> Đơn Xin Chuyển Ngành
                                                </a>
                                            </td>
                                            <td>
                                                Thời gian: 7 Ngày
                                            </td>
                                            <td>
                                                Nộp online
                                            </td>
                                            <td>
                                                <span class="badge price">Không tính phí</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">22</td>
                                            <td class="form-name">
                                                <a class="name" href="/thutucs/GIAYGIOITHIEUTHUCTAP">
                                                    <i class="fa fa-file-text" aria-hidden="true"></i> Giấy Giới Thiệu Thực Tập
                                                </a>
                                            </td>
                                            <td>
                                                Thời gian: 7 Ngày
                                            </td>
                                            <td>
                                                Nộp online
                                            </td>
                                            <td>
                                                <span class="badge price">Không tính phí</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


