﻿    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Simple File Upload ASP.NET MVC</h1>
</div>

<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Index", "Word", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="files" />
            <input type="submit" value="OK" />
        }
    </div>
    @ViewBag.data
</div>
