.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.106934;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.106934;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.103516;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.103516;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._4{width:243.456000px;}
._3{width:264.816000px;}
._0{width:431.032000px;}
._1{width:690.560000px;}
._2{width:716.736000px;}
.fc0{color:rgb(0,0,0);}
.fs4{font-size:40.000000px;}
.fs1{font-size:44.000000px;}
.fs0{font-size:48.000000px;}
.fs2{font-size:52.000000px;}
.fs3{font-size:64.000000px;}
.yb{bottom:4.000000px;}
.yd{bottom:10.000000px;}
.y1f{bottom:129.200000px;}
.y1e{bottom:141.200000px;}
.y1d{bottom:213.200000px;}
.y1c{bottom:225.200000px;}
.y1b{bottom:237.200000px;}
.y1a{bottom:273.200000px;}
.y19{bottom:297.200000px;}
.y18{bottom:321.200000px;}
.y17{bottom:345.200000px;}
.y16{bottom:360.300000px;}
.y0{bottom:361.000000px;}
.y15{bottom:381.800000px;}
.y14{bottom:403.300000px;}
.y13{bottom:424.800000px;}
.y12{bottom:446.300000px;}
.y11{bottom:467.800000px;}
.y10{bottom:489.300000px;}
.yf{bottom:510.800000px;}
.ye{bottom:532.300000px;}
.yc{bottom:553.800000px;}
.ya{bottom:575.300000px;}
.y9{bottom:612.200000px;}
.y8{bottom:636.800000px;}
.y7{bottom:663.800000px;}
.y6{bottom:690.800000px;}
.y5{bottom:711.800000px;}
.y4{bottom:738.800000px;}
.y3{bottom:764.200000px;}
.y2{bottom:783.400001px;}
.y1{bottom:801.400001px;}
.h5{height:23.000000px;}
.h6{height:35.644531px;}
.h2{height:42.773438px;}
.h3{height:46.337891px;}
.h4{height:57.031250px;}
.h1{height:418.500000px;}
.h0{height:842.000000px;}
.w2{width:30.900000px;}
.w5{width:59.799999px;}
.w3{width:85.300003px;}
.w4{width:177.199997px;}
.w6{width:179.250000px;}
.w1{width:525.500000px;}
.w0{width:595.349976px;}
.x8{left:6.266000px;}
.xc{left:7.534000px;}
.x6{left:8.780000px;}
.xf{left:12.450000px;}
.xe{left:14.757000px;}
.x1{left:35.450001px;}
.x0{left:37.500000px;}
.xa{left:50.265002px;}
.x3{left:56.700001px;}
.x2{left:64.088001px;}
.x7{left:66.650000px;}
.x11{left:74.700001px;}
.x5{left:85.050001px;}
.x10{left:86.700000px;}
.x9{left:150.449997px;}
.x4{left:197.050999px;}
.x14{left:254.047001px;}
.xb{left:326.149994px;}
.xd{left:384.450012px;}
.x13{left:416.042988px;}
.x12{left:429.865986px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._4{width:324.608000pt;}
._3{width:353.088000pt;}
._0{width:574.709333pt;}
._1{width:920.746667pt;}
._2{width:955.648000pt;}
.fs4{font-size:53.333333pt;}
.fs1{font-size:58.666667pt;}
.fs0{font-size:64.000000pt;}
.fs2{font-size:69.333333pt;}
.fs3{font-size:85.333333pt;}
.yb{bottom:5.333333pt;}
.yd{bottom:13.333333pt;}
.y1f{bottom:172.266666pt;}
.y1e{bottom:188.266666pt;}
.y1d{bottom:284.266666pt;}
.y1c{bottom:300.266666pt;}
.y1b{bottom:316.266666pt;}
.y1a{bottom:364.266666pt;}
.y19{bottom:396.266666pt;}
.y18{bottom:428.266666pt;}
.y17{bottom:460.266666pt;}
.y16{bottom:480.400000pt;}
.y0{bottom:481.333333pt;}
.y15{bottom:509.066667pt;}
.y14{bottom:537.733334pt;}
.y13{bottom:566.400000pt;}
.y12{bottom:595.066667pt;}
.y11{bottom:623.733334pt;}
.y10{bottom:652.400000pt;}
.yf{bottom:681.066667pt;}
.ye{bottom:709.733334pt;}
.yc{bottom:738.400000pt;}
.ya{bottom:767.066667pt;}
.y9{bottom:816.266666pt;}
.y8{bottom:849.066667pt;}
.y7{bottom:885.066667pt;}
.y6{bottom:921.066667pt;}
.y5{bottom:949.066667pt;}
.y4{bottom:985.066667pt;}
.y3{bottom:1018.933333pt;}
.y2{bottom:1044.533334pt;}
.y1{bottom:1068.533334pt;}
.h5{height:30.666667pt;}
.h6{height:47.526042pt;}
.h2{height:57.031250pt;}
.h3{height:61.783854pt;}
.h4{height:76.041667pt;}
.h1{height:558.000000pt;}
.h0{height:1122.666667pt;}
.w2{width:41.199999pt;}
.w5{width:79.733332pt;}
.w3{width:113.733337pt;}
.w4{width:236.266663pt;}
.w6{width:239.000000pt;}
.w1{width:700.666667pt;}
.w0{width:793.799967pt;}
.x8{left:8.354667pt;}
.xc{left:10.045333pt;}
.x6{left:11.706667pt;}
.xf{left:16.600000pt;}
.xe{left:19.676001pt;}
.x1{left:47.266668pt;}
.x0{left:50.000000pt;}
.xa{left:67.020002pt;}
.x3{left:75.600001pt;}
.x2{left:85.450668pt;}
.x7{left:88.866666pt;}
.x11{left:99.600001pt;}
.x5{left:113.400002pt;}
.x10{left:115.600001pt;}
.x9{left:200.599996pt;}
.x4{left:262.734665pt;}
.x14{left:338.729335pt;}
.xb{left:434.866659pt;}
.xd{left:512.600016pt;}
.x13{left:554.723984pt;}
.x12{left:573.154648pt;}
}
