﻿@model DichVuMotCua.Models.loaithutuc

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <body>
        <h2>Xóa Trường</h2>

        @model DichVuMotCua.Models.loaithutuc

        @{
            ViewBag.Title = "Delete";
            Layout = "~/Views/Shared/_Layout.cshtml";
        }

        <h2>Xóa Thủ Tục</h2>

        <h3>Bạn Có Muốn Xóa Thủ Tục Này?</h3>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.name)
                </dd>

                <dt>

                    @Html.DisplayNameFor(model => model.loai)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.loai)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Xóa" class="btn btn-default" /> |
                    @Html.ActionLink("Trở Lại", "Index")
                </div>
            }
        </div>
        <div>
            @Html.ActionLink("Trở Lại", "Index")
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </body>