﻿@model DichVuMotCua.Models.loaithutuc

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <body>
        <h2>Chi Tiết Thủ Tục</h2>

        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.loai)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.loai)
                </dd>

            </dl>
        </div>
        </div>
        <div>
            @Html.ActionLink("Trở Lại", "Index")
        </div>
    </body>
