﻿@model DichVuMotCua.Models.loaithutuc

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <body>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.id)

                <div class="form-group">
                    @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="name">Loại Thủ Tục</label>
                    <div class="col-md-10">
                        <select name="loai">
                            <option value="1">Cấp Giấy Chứng Nhận</option>
                            <option value="2">Cấp In Thẻ Sinh Viên</option>
                            <option value="3">Cập Nhật Thông Tin</option>
                            <option value="4">Tiếp Tục Học</option>
                            <option value="5">Xin Thôi Học</option>
                        </select>
                        <span class="field-validation-valid text-danger" data-valmsg-for="name" data-valmsg-replace="true"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Lưu Lại" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </body>
