﻿@model IEnumerable<DichVuMotCua.Models.taikhoan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminMaster.cshtml";
    var session = (DichVuMotCua.Models.taikhoan)Session[DichVuMotCua.Content.CommonConstants.ADMIN_SESSION];
}
@if(session == null)
{
    Response.Redirect("/Admin/Login/Index");
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>

        <th>Quyền </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    @if (item.name == null)
    {
        item.name = "chưa cập nhật";
    }

    @if (item.address == null)
    {
        item.address = "chưa cập nhật";
    }
    <td>
        @Html.DisplayFor(modelItem => item.name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.address)
    </td>

    @if (item.role == 2)
    {
        <td>Học Sinh</td>
    }
    else if (item.role == 1)
    {
        <td>Công Tác Học Vụ</td>
    }
    else
    {
        <td>Công Tác Sinh Viên</td>
    }



<td>
    @Html.ActionLink("Sửa", "Edit", new { id = item.id }) |
    @Html.ActionLink("Xóa", "Delete", new { id = item.id }) |
    @Html.ActionLink("Gán Quyền", "setRole", new { id = item.id }) | 
    <a href="/Admin/quyenhs/setQuyenTT/@(item.id)">Gán Quyền Thủ Tục</a> |
    <a href="/Admin/quyenhs/dsQuyenTT/@(item.id)">Danh Sách Quyền</a>

</td>
</tr>
    }

</table>
