﻿@model DichVuMotCua.Models.quyenhs

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/AdminMaster.cshtml";
}

<h2>Set quyền thủ tục</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @{List<SelectListItem> listItems = new List<SelectListItem>();

            listItems.Add(new SelectListItem
            {
                Text = ViewBag.taikhoan.email,
                Value = ViewBag.taikhoan.id.ToString()
            });
        }


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.id_user, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.DropDownList("id_user", new SelectList(listItems, "Value", "Text"))
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.id_thutuc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="id_thutuc" name="id_thutuc">
                    <option value="12">Cấp Bản Sao Văn Bằng</option>
                    <option value="13">Đăng Ký Chương Trình Học Nhanh</option>
                    <option value="15">Đăng Ký Học Phần Thay Thế</option>
                    <option value="16">Đăng Ký Học Theo Tiến Độ Chậm</option>
                    <option value="17">Đề Nghị Cấp Bảng Điểm</option>
                    <option value="18">Đề Nghị Chứng Thực Văn Bằng</option>
                    <option value="20">Đối Chiếu Chương Trình Đào Tạo</option>
                    <option value="21">Đơn Đăng Ký Cải Thiện Điểm</option>
                    <option value="22">Đơn Phúc Khảo</option>
                    <option value="23">Đơn Rút Bớt Học Phần</option>
                    <option value="24">Đơn Xét Tốt Nghiệp Sớm</option>
                    <option value="26">Đơn Xin Chuyển Ngành</option>
                    <option value="27">Đơn Xin Nhập Học</option>
                    <option value="28">Đơn Xin Tạm Ngừng Học</option>
                    <option value="29">Đơn Xin Thôi Học Rút Hồ Sơ</option>
                    <option value="30">Giấy Giới Thiệu Thực Tập</option>
                    <option value="31">Giấy Xác Nhận Đề Cương</option>
                    <option value="32">Giấy Xác Nhận Hoàn Thành Chương Trình Đào Tạo</option>
                    <option value="33">Học Hai Chương Trình</option>
                    <option value="34">Kế Hoạch Học Tập</option>
                    <option value="35">Mô Tả Chương Trình Đào Tạo</option>
                    <option value="36">Thi Cải Thiện Điểm</option>
                    <option value="37">Tốt Nghiệp Tạm Thời</option>
                    <option value="38">Xác Nhận Kết Quả Học Tập</option>
                    <option value="39">Xác Nhận Thời Gian Thực Tập</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Set Quyền" class="btn btn-default" />
            </div>
        </div>
    </div>
}

