﻿@model IEnumerable<DichVuMotCua.Models.quyen>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminMaster.cshtml";
}

<h2>Set quyền</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th></th>
    </tr>
    @{List<SelectListItem> listItems = new List<SelectListItem>();}
    @foreach (var item in Model)
    {

        listItems.Add(new SelectListItem
        {
            Text = item.name,
            Value = item.id.ToString()
        });
    }
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.DropDownList("role", new SelectList(listItems, "Value", "Text"))
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    }
</table>
