﻿@using demonuget.Models

<div class="col-md-4">
    <section id="socialLoginForm">
        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
    </section>
</div>
</div>
@{
    demonuget.Controllers.Contraint.URL = this.Request.QueryString["url"];
    

}

<script>document.getElementById("VanLang").click();</script>