﻿@model DichVuMotCua.Models.thutuc

@{
    ViewBag.Title = "Bo luu ket qua hoc tap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
    <style type="text/css">
        <!--
        span.cls_004 {
            font-family: Tahoma,serif;
            font-size: 11.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_004 {
            font-family: Tahoma,serif;
            font-size: 11.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_006 {
            font-family: Tahoma,serif;
            font-size: 11.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_006 {
            font-family: Tahoma,serif;
            font-size: 11.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_014 {
            font-family: Times,serif;
            font-size: 11.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: underline
        }

        div.cls_014 {
            font-family: Times,serif;
            font-size: 11.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_015 {
            font-family: Tahoma,serif;
            font-size: 11.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: underline
        }

        div.cls_015 {
            font-family: Tahoma,serif;
            font-size: 11.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_005 {
            font-family: "Calibri",serif;
            font-size: 11.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_005 {
            font-family: "Calibri",serif;
            font-size: 11.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_009 {
            font-family: Times,serif;
            font-size: 18.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_009 {
            font-family: Times,serif;
            font-size: 18.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_010 {
            font-family: Tahoma,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_010 {
            font-family: Tahoma,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_011 {
            font-family: Tahoma,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_011 {
            font-family: Tahoma,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_013 {
            font-family: Tahoma,serif;
            font-size: 10.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: underline
        }

        div.cls_013 {
            font-family: Tahoma,serif;
            font-size: 10.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_003 {
            font-family: Tahoma,serif;
            font-size: 10.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_003 {
            font-family: Tahoma,serif;
            font-size: 10.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_012 {
            font-family: Times,serif;
            font-size: 10.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_012 {
            font-family: Times,serif;
            font-size: 10.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        footer {
            margin-top: 923px;
        }

        input {
            height: 19px;
        }
        -->
    </style>
    <script type="text/javascript" src="a50676da-4c2a-11ea-a5fd-0cc47a792c0a_id_a50676da-4c2a-11ea-a5fd-0cc47a792c0a_files/wz_jsgraphics.js"></script>
</head>
<body>
    <div style="position:absolute;left:50%;margin-left:-297px;top:140px;width:595px;height:900px;border-style:outset;overflow:hidden">
        <div style="position:absolute;left:0px;top:0px">
            <img src="a50676da-4c2a-11ea-a5fd-0cc47a792c0a_id_a50676da-4c2a-11ea-a5fd-0cc47a792c0a_files/background1.jpg" width=595 height=842>
        </div>
        <div style="position:absolute;left:85.22px;top:28.28px" class="cls_004"><span class="cls_004">BỘ GIÁO DỤC VÀ ĐÀO TẠO</span></div>
        <div style="        position: absolute;
        left: 328.87px;
        top: 28.28px" class="cls_004"><span class="cls_004">CỘNG HÒA X­ã HỘI CHỦ NGHĨA VIỆT NAM</span></div>
        <div style="position:absolute;left:71.66px;top:41.48px" class="cls_006"><span class="cls_006">TRƯỜNG ĐẠI HỌC VĂN LANG</span></div>
        <div style="position:absolute;left:361.75px;top:41.48px" class="cls_014"><span class="cls_014">Độc lập</span><span class="cls_015"> - Tự do - Hạnh phúc</span></div>
        <div style="position:absolute;left:80.42px;top:54.32px" class="cls_005"><span class="cls_005">Soá:</span></div>
        <div style="position:absolute;left:127.20px;top:54.32px" class="cls_005"><span class="cls_005">/20... /ÑT-VL/BLKQHT</span></div>
        <div style="position:absolute;left:185.93px;top:91.66px" class="cls_009"><span class="cls_009">ĐƠN XIN BẢO LƯU KẾT QUẢ</span></div>
        <div style="position:absolute;left:141.74px;top:125.74px" class="cls_010"><span class="cls_010">Kính gửi:</span></div>
        <div style="position:absolute;left:226.85px;top:125.74px" class="cls_010"><span class="cls_010">Ban Giám Hiệu Trường Đại học Văn Lang</span></div>
        <div style="position:absolute;left:226.85px;top:146.14px" class="cls_010"><span class="cls_010">Ban Chủ Nhiệm Khoa</span><span class="cls_011">……CNTT..</span></div>
        <form action="/thutucs/BaoLuuKetQuaHocTap" enctype="multipart/form-data" method="post">
            <div style="position:absolute;left:56.64px;top:171.10px" class="cls_011"><span class="cls_011">Tôi tên:</span></div>
            <div style="position:absolute;left:126.86px;top:171.10px" class="cls_011">
                <span class="cls_011">
                    <input type="text" name="thutuc1" style="
    width: 119px;" required/>
                </span>
            </div>
            <div style="position:absolute;left:255.29px;top:171.10px" class="cls_011">
                <span class="cls_011">
                    Mã số SV: <input type="text" id="thutuc2" name="thutuc2" style="
    width: 119px;" required/>
                </span>
            </div>
            <div style="position:absolute;left:56.64px;top:196.18px" class="cls_011">
                <span class="cls_011">
                    Ngày sinh:<input type="date" name="thutuc3" style="
    width: 119px;" required/>.Nơi sinh: <input type="text" name="thutuc4" style="
    width: 119px;" required/>
                </span>
            </div>
            <div style="position:absolute;left:56.64px;top:221.14px" class="cls_011"><span class="cls_011">Đang là sinh viên lớp:</span></div>
            <div style="position:absolute;left:186.77px;top:221.14px" class="cls_011">
                <span class="cls_011">
                    <input type="text" name="thutuc5" style="
    width: 119px;" required/>..Khoa:
                </span>
            </div>
            <div style="position:absolute;left:349.37px;top:221.14px" class="cls_011">
                <span class="cls_011">
                    <input type="text" name="thutuc0" style="
    width: 119px;" required/>
                </span>
            </div>
            <div style="position:absolute;left:56.64px;top:246.13px" class="cls_011">
                <span class="cls_011">
                    Hiện thường trú tại:<input type="text" name="thutuc6" style="
    width: 404px;" required/>
                </span>
            </div>
            <div style="position:absolute;left:57.60px;top:271.21px" class="cls_011"><span class="cls_011">Số điện thoại:</span></div>
            <div style="position:absolute;left:163.98px;top:271.21px" class="cls_011">
                <span class="cls_011">
                    <input type="text" name="thutuc7" style="
    width: 119px;" required/>
                </span>
            </div>
            <div style="position:absolute;left:56.64px;top:296.17px" class="cls_011"><span class="cls_011">Trong thời gian học tập tại Trường, tôi đã hoàn tất các học kỳ đạt điểm TBC cụ thể như sau:</span></div>
            <div style="position:absolute;left:84.98px;top:321.13px" class="cls_011">
                <span class="cls_011">
                    Học kỳ 1: <input type="text" name="thutuc8" style="
    width: 119px;" />..Học kỳ 2:<input type="text" name="thutuc9" style="
    width: 119px;" />.Học kỳ 3: <input type="text" name="thutuc10" style="
    width: 79px;" />
                </span>
            </div>
            <div style="position:absolute;left:84.98px;top:346.21px" class="cls_011">
                <span class="cls_011">
                    Học kỳ 4: <input type="text" name="thutuc11" style="
    width: 119px;" />.Học kỳ 5: <input type="text" name="thutuc12" style="
    width: 119px;" />Học kỳ 6:
                </span>
            </div>
            <div style="position:absolute;left:494.42px;top:346.21px" class="cls_011">
                <span class="cls_011">
                    <input type="text" name="thutuc13" style="
    width: 78px;" />
                </span>
            </div>
            <div style="position:absolute;left:56.64px;top:371.17px" class="cls_011"><span class="cls_011">(Đính kèm bảng điểm)</span></div>
            <div style="position:absolute;left:56.64px;top:396.13px" class="cls_011">
                <span class="cls_011">
                    Tôi xin bảo lưu kết quả học tập, từ: <input type="date" name="thutuc14" style="
    width: 119px;" required/>. đến:<input type="date" name="thutuc15" style="
    width: 119px;" required/>
                </span>
            </div>
            <div style="position:absolute;left:56.64px;top:421.23px" class="cls_011">
                <span class="cls_011">
                    Lý do xin bảo lưu: <input type="text" name="thutuc16" style="
    width: 119px;" required/>
                </span>
            </div>
            <div style="position:absolute;left:84.98px;top:471.15px" class="cls_011"><span class="cls_011">Kính mong Nhà trường chấp thuận.</span></div>
            <div style="position:absolute;left:84.98px;top:496.23px" class="cls_011"><span class="cls_011">Tôi xin chkn thành cám ơn.</span></div>
            <div style="position:absolute;left:336.79px;top:525.15px" class="cls_011"><span class="cls_011">.................., ngày</span></div>
            <div style="position:absolute;left:460.46px;top:525.15px" class="cls_011"><span class="cls_011">tháng</span></div>
            <div style="position:absolute;left:516.08px;top:525.15px" class="cls_011"><span class="cls_011">năm 20...</span></div>
            <div style="position:absolute;left:56.64px;top:539.67px" class="cls_010"><span class="cls_010">Ý kiến của phụ huynh SV</span></div>
            <div style="position:absolute;left:409.39px;top:539.67px" class="cls_010"><span class="cls_010">Người ljm đơn</span></div>
            <div style="position:absolute;left:382.15px;top:554.19px" class="cls_010"><span class="cls_010">(Kê tên & ghi rõ họ tên)</span></div>
            <div style="position:absolute;left:56.64px;top:655.62px" class="cls_010"><span class="cls_010">BAN CHỦ NHIỆM KHOA</span></div>
            <div style="position:absolute;left:259.25px;top:655.62px" class="cls_010"><span class="cls_010">KT.HIỆU TRƯỞNG</span></div>
            <div style="position:absolute;left:423.79px;top:655.62px" class="cls_010"><span class="cls_010">PHÒNG ĐÀO TẠO</span></div>
            <div style="position:absolute;left:254.09px;top:670.14px" class="cls_010"><span class="cls_010">PHÓ HIỆU TRƯỞNG</span></div>
            <div style="position:absolute;left:56.64px;top:792.32px" class="cls_013"><span class="cls_013">Ghi chú:</span></div>
            <div style="position:absolute;left:70.82px;top:804.44px" class="cls_003"><span class="cls_003">- Sinh virn nhận mẫu đơn này tại VP Khoa</span></div>
            <div style="position:absolute;left:70.82px;top:815.72px" class="cls_012"><span class="cls_012">hoặc Phòng Đào tạo (P.103B) - miễn phí</span></div>
            <input type="hidden" id="thutucname0" name="thutucname0" value="Khoa" class="btn btn-default" />
            <input type="hidden" id="thutucname1" name="thutucname1" value="Họ T&#234;n" class="btn btn-default" />
            <input type="hidden" id="thutucname2" name="thutucname2" value="M&#227; SV" class="btn btn-default" />
            <input type="hidden" id="thutucname3" name="thutucname3" value="Ng&#224;y Sinh" class="btn btn-default" />
            <input type="hidden" id="thutucname4" name="thutucname4" value="Nơi Sinh" class="btn btn-default" />
            <input type="hidden" id="thutucname5" name="thutucname5" value="Lớp" class="btn btn-default" />
            <input type="hidden" id="thutucname6" name="thutucname6" value="Thường Tr&#250;" class="btn btn-default" />
            <input type="hidden" id="thutucname7" name="thutucname7" value="SĐT" class="btn btn-default" />
            <input type="hidden" id="thutucname8" name="thutucname8" value="TBC Học Kỳ 1" class="btn btn-default" />
            <input type="hidden" id="thutucname9" name="thutucname9" value="TBC Học Kỳ 2" class="btn btn-default" />
            <input type="hidden" id="thutucname10" name="thutucname10" value="TBC Học Kỳ 3" class="btn btn-default" />
            <input type="hidden" id="thutucname11" name="thutucname11" value="TBC Học Kỳ 4" class="btn btn-default" />
            <input type="hidden" id="thutucname12" name="thutucname12" value="TBC Học Kỳ 5" class="btn btn-default" />
            <input type="hidden" id="thutucname13" name="thutucname13" value="TBC Học Kỳ 6" class="btn btn-default" />
            <input type="hidden" id="thutucname14" name="thutucname14" value="Bảo Lưu Từ" class="btn btn-default" />









            <div style="position:absolute;left:70.82px;top:835.72px" class="cls_012">
                <span class="cls_012">
                    <button class="btn btn-primary hBack" type="button">Trở Lại</button>
                    <input type="submit" id="andsubmit" value="Gửi hồ sơ" class="btn btn-default" style="display:none" />
                    <a href="#" id="submit" class="btn btn-success success" data-toggle="modal" data-target="#modal-dialog">Gửi hồ sơ</a>
                </span>
            </div>
    </div>
    </form>
</body>
</html>


