﻿@model DichVuMotCua.Models.thutuc

@{
    ViewBag.Title = "Bảo Lưu Kết Quả Tuyển Sinh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
    <style type="text/css">
        <!--
        span.cls_002 {
            font-family: Tahoma,serif;
            font-size: 11.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_002 {
            font-family: Tahoma,serif;
            font-size: 11.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_003 {
            font-family: Tahoma,serif;
            font-size: 11.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_003 {
            font-family: Tahoma,serif;
            font-size: 11.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_004 {
            font-family: Arial,serif;
            font-size: 9.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_004 {
            font-family: Arial,serif;
            font-size: 9.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_006 {
            font-family: Tahoma,serif;
            font-size: 18.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_006 {
            font-family: Tahoma,serif;
            font-size: 18.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_009 {
            font-family: Tahoma,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_009 {
            font-family: Tahoma,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_010 {
            font-family: Tahoma,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_010 {
            font-family: Tahoma,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        footer {
            margin-top: 923px;
        }

        input {
            height: 19px;
        }
        -->
    </style>
    <script type="text/javascript" src="ccf9def2-4c2a-11ea-a5fd-0cc47a792c0a_id_ccf9def2-4c2a-11ea-a5fd-0cc47a792c0a_files/wz_jsgraphics.js"></script>
</head>
<body>
    <form action="/thutucs/BaoLuuKetQuaTuyenSinh" enctype="multipart/form-data" method="post">
        <div style="position:absolute;left:50%;margin-left:-297px;top:140px;width:595px;height:842px;border-style:outset;overflow:hidden">
            <div style="position:absolute;left:0px;top:0px">
                <img src="ccf9def2-4c2a-11ea-a5fd-0cc47a792c0a_id_ccf9def2-4c2a-11ea-a5fd-0cc47a792c0a_files/background1.jpg" width=595 height=842>
            </div>
            <div style="position:absolute;left:88.58px;top:28.28px" class="cls_002"><span class="cls_002">BỘ GIÁO DỤC VÀ ĐÀO TẠO</span></div>
            <div style="position:absolute;left:348.31px;top:28.28px" class="cls_002"><span class="cls_002">CỘNG  HÒA X­ HỘI CHỦ NGHĨA VIỆT NAM</span></div>
            <div style="position: absolute; left: 75.02px; top: 41.60px" class="cls_003"><span class="cls_003">TRƯỜNG ĐẠI HỌC VĂN LANG</span></div>
            <div style="position:absolute;left:369.67px;top:41.60px" class="cls_002"><span class="cls_002">Độc lập - Tự do - Hạnh phúc</span></div>
            <div style="position:absolute;left:98.54px;top:54.80px" class="cls_002"><span class="cls_002">Số:</span></div>
            <div style="position:absolute;left:147.95px;top:54.80px" class="cls_002"><span class="cls_002">/………/VL-ĐT</span></div>
            <div style="position:absolute;left:427.39px;top:54.80px" class="cls_004"><span class="cls_004"> </span></div>
            <div style="position:absolute;left:145.46px;top:108.70px" class="cls_006"><span class="cls_006">ĐƠN BẢO LƯU KẾT QUẢ TUYỂN SINH</span></div>
            <div style="position:absolute;left:128.66px;top:143.02px" class="cls_009"><span class="cls_009">Kính gửi:     Hiệu trưởng Trường Đại học Văn Lang</span></div>
            <div style="position:absolute;left:56.64px;top:201.46px" class="cls_010"><span class="cls_010">Tôi tên:     <input type="text" name="thutuc0" required/></span></div>
            <div style="position:absolute;left:350.23px;top:201.46px" class="cls_010"><span class="cls_010">Mã số SV: <input type="text" name="thutuc1" required/></span></div>
            <div style="position:absolute;left:56.64px;top:233.50px" class="cls_010"><span class="cls_010">Ngày/tháng/năm sinh: <input type="date" name="thutuc2" style="width: 131px;" required/></span></div>
            <div style="position:absolute;left:323.95px;top:233.50px" class="cls_010"><span class="cls_010">Nơi sinh:   <input type="text" name="thutuc3" required/></span></div>
            <div style="position:absolute;left:56.64px;top:265.57px" class="cls_010"><span class="cls_010">Số báo danh (ghi đầy đủ phần số viết phần chữ):  <input type="text" name="thutuc4" required/></span></div>
            <div style="position:absolute;left:56.64px;top:297.49px" class="cls_010"><span class="cls_010">Tôi đã tham dự kỳ thi tuyển sinh năm…<input type="date" name="thutuc5" style="width: 58px;" required/></span></div>
            <div style="position:absolute;left:337.87px;top:297.49px" class="cls_010"><span class="cls_010">trúng tuyển vào ngành: <input type="text" name="thutuc6" style="width: 107px;" required/></span></div>
            <div style="position:absolute;left:57.60px;top:329.53px" class="cls_010"><span class="cls_010"> Mã ngành: <input type="text" name="thutuc7" required/></span></div>
            <div style="position:absolute;left:56.64px;top:361.57px" class="cls_010"><span class="cls_010">Với tổng điểm thi của tổ hợp xét tuyển/điểm chuẩn: <input type="text" name="thutuc8" required/>/30</span></div>
            <div style="position:absolute;left:56.64px;top:393.49px" class="cls_010"><span class="cls_010">Nay tôi làm đơn xin được bảo lưu kết quả tuyển sinh đến năm   <input type="date" name="thutuc9" required/></span></div>
            <div style="position:absolute;left:56.64px;top:425.55px" class="cls_010"><span class="cls_010">Lý do: <input type="text" name="thutuc10" required/></span></div>
            <div style="position:absolute;left:92.66px;top:535.59px" class="cls_010"><span class="cls_010">Kính mong Trường Đại học Văn Lang chấp thuận.</span></div>
            <div style="position:absolute;left:92.66px;top:555.51px" class="cls_010"><span class="cls_010">Tôi xin chân thành cảm ơn.</span></div>
            <div style="position:absolute;left:334.51px;top:584.58px" class="cls_010"><span class="cls_010">.................., ngày</span></div>
            <div style="position:absolute;left:458.18px;top:584.58px" class="cls_010"><span class="cls_010">tháng</span></div>
            <div style="position:absolute;left:513.80px;top:584.58px" class="cls_010"><span class="cls_010">năm 2017</span></div>
            <div style="position:absolute;left:426.79px;top:599.10px" class="cls_009"><span class="cls_009">Kính đơn</span></div>
            <div style="position:absolute;left:86.78px;top:613.50px" class="cls_009"><span class="cls_009">TL. HIỆU TRƯỞNG</span></div>
            <div style="position:absolute;left:391.51px;top:613.50px" class="cls_009"><span class="cls_009">(Ký và ghi rõ họ tên)</span></div>
            <div style="position:absolute;left:56.64px;top:628.02px" class="cls_009"><span class="cls_009">TRƯỞNG PHÒNG ĐÀO TẠO</span></div>
            <div style="position:absolute;left:56.64px;top:642.54px" class="cls_010"><span class="cls_010">Đồng ý cho Sinh viên bảo lưu kết quả tuyển sinh</span></div>
            <div style="position:absolute;left:56.64px;top:656.94px" class="cls_010"><span class="cls_010">Hẹn:</span></div>
            <div style="position:absolute;left:56.64px;top:700px" class="cls_010">
                <span class="cls_010">
                    <button class="btn btn-primary hBack" type="button">Trở Lại</button>
                    <input type="submit" id="andsubmit" value="Gửi hồ sơ" class="btn btn-default" style="display:none" />
                    <a href="#" id="submit" class="btn btn-success success" data-toggle="modal" data-target="#modal-dialog">Gửi hồ sơ</a>
                    </
                </span>
            </div>

            <input type="hidden" id="thutucname0" name="thutucname0" value="Họ T&#234;n" class="btn btn-default" />
            <input type="hidden" id="thutucname1" name="thutucname1" value="M&#227; SV" class="btn btn-default" />
            <input type="hidden" id="thutucname2" name="thutucname2" value="Năm Sinh" class="btn btn-default" />
            <input type="hidden" id="thutucname3" name="thutucname3" value="Nơi Sinh" class="btn btn-default" />
            <input type="hidden" id="thutucname4" name="thutucname4" value="Số B&#225;o Danh" class="btn btn-default" />
            <input type="hidden" id="thutucname5" name="thutucname5" value="Năm Thi Tuyển" class="btn btn-default" />
            <input type="hidden" id="thutucname6" name="thutucname6" value="Ng&#224;nh Tr&#250;ng Tuyển" class="btn btn-default" />
            <input type="hidden" id="thutucname7" name="thutucname7" value="M&#227; Ng&#224;nh" class="btn btn-default" />
            <input type="hidden" id="thutucname8" name="thutucname8" value="Tổng Điểm" class="btn btn-default" />
            <input type="hidden" id="thutucname9" name="thutucname9" value="Bảo Lưu Đến" class="btn btn-default" />
            <input type="hidden" id="thutucname10" name="thutucname10" value="L&#253; Do" class="btn btn-default" />
        </div>
    </form>
</body>
</html>


