﻿@model DichVuMotCua.Models.thutuc

@{
    ViewBag.Title = "CapGiayChungNhan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <body>
        @using (Html.BeginForm("CapGiayChungNhan",
             "thutucs",
             FormMethod.Post,
             new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label class="control-label col-md-2" for="tenthutuc">Tiêu Đề</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                    </div>
                </div>
                @if (ViewBag.chitietthutuc != null)
                {
                    for (int i = 0; i < ViewBag.chitietthutuc.Count; i++)
                    {
                        ViewBag.thongtinthutuc = "thutuc" + i;
                        ViewBag.thongtinthutucname = "thutucname" + i;
                        <div class="form-group">
                            <label class="control-label col-md-2" for="name">@ViewBag.chitietthutuc[i].name</label>
                            <div class="col-md-10">a
                                <input type="hidden" id="@ViewBag.thongtinthutucname" name="@ViewBag.thongtinthutucname" value="@ViewBag.chitietthutuc[i].name">
                                <input class="form-control text-box single-line" data-val="true" data-val-length="The field name must be a string with a maximum length of 255." data-val-length-max="255" id="@ViewBag.thongtinthutuc" name="@ViewBag.thongtinthutuc" type="text" value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="name" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                    }
                }

                <div class="form-group">
                    <label class="control-label col-md-2" for="anh">File</label>
                    <div class="col-md-10">
                        <input type="file" name="file" id="file" /><br><br>
                    </div>
                </div>




                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-default" />
                    </div>
                </div>

            </div>
        }
    </body>

