﻿@model DichVuMotCua.Models.thutuc

@{
    ViewBag.Title = "Chuyển Điểm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
    <style type="text/css">
        <!--
        span.cls_002 {
            font-family: "Calibri",serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_002 {
            font-family: "Calibri",serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_003 {
            font-family: "Calibri Bold",serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_003 {
            font-family: "Calibri Bold",serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_004 {
            font-family: "Calibri Bold",serif;
            font-size: 18.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_004 {
            font-family: "Calibri Bold",serif;
            font-size: 18.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_007 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_007 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        footer {
            margin-top: 923px;
        }

        input {
            height: 19px;
        }
        -->
    </style>
    <script type="text/javascript" src="49962aea-6f96-11ea-8b25-0cc47a792c0a_id_49962aea-6f96-11ea-8b25-0cc47a792c0a_files/wz_jsgraphics.js"></script>
</head>
<body>
    <form action="/thutucs/ChuyenDiem" enctype="multipart/form-data" method="post">
        <input name="__RequestVerificationToken" type="hidden" value="Zt8rg16DySIJpa1VtHbZsvJ45Me2dIhzk_hp7nPPUTCd0rqqHb4R_KkpmTEgN4yAUaI3ltu5zLt7nGKOLOqzYP2bLCM9fcoREKaCKqqixck1" />        <div class="form-horizontal">

            <input type="hidden" id="thutucname0" name="thutucname0" value="Họ T&#234;n">
            <input type="hidden" id="thutucname1" name="thutucname1" value="M&#227; SV">
            <input type="hidden" id="thutucname2" name="thutucname2" value="Năm Sinh">
            <input type="hidden" id="thutucname3" name="thutucname3" value="Lớp">
            <input type="hidden" id="thutucname4" name="thutucname4" value="Khoa">
            <input type="hidden" id="thutucname5" name="thutucname5" value="Học Kỳ">
            <input type="hidden" id="thutucname6" name="thutucname6" value="Kh&#243;a">
            <input type="hidden" id="thutucname7" name="thutucname7" value="Trường">
            <input type="hidden" id="thutucname8" name="thutucname8" value="Kh&#243;a Đ&#227; Học">
            <input type="hidden" id="thutucname9" name="thutucname9" value="HP1">
            <input type="hidden" id="thutucname10" name="thutucname10" value="HP2">
            <input type="hidden" id="thutucname11" name="thutucname11" value="HP3">
            <input type="hidden" id="thutucname12" name="thutucname12" value="HP4">
            <input type="hidden" id="thutucname13" name="thutucname13" value="HP5">
            <input type="hidden" id="thutucname14" name="thutucname14" value="HP6">
            <input type="hidden" id="thutucname15" name="thutucname15" value="C&#243; Trong HP đang học">
            <input type="hidden" id="thutucname16" name="thutucname16" value="TBTL">
            <input type="hidden" id="thutucname17" name="thutucname17" value="Trường C&#243; Điểm Chuyển ĐI">
            <input type="hidden" id="thutucname18" name="thutucname18" value="Trường C&#243; Điểm Chuyển Đến">
            <input type="hidden" id="thutucname19" name="thutucname19" value="ĐVHT1">
            <input type="hidden" id="thutucname20" name="thutucname20" value="ĐVHT2">
            <input type="hidden" id="thutucname21" name="thutucname21" value="ĐVHT3">
            <input type="hidden" id="thutucname22" name="thutucname22" value="ĐVHT4">
            <input type="hidden" id="thutucname23" name="thutucname23" value="ĐVHT5">
            <input type="hidden" id="thutucname24" name="thutucname24" value="ĐVHT6">
            <input type="hidden" id="thutucname25" name="thutucname25" value="D1">
            <input type="hidden" id="thutucname26" name="thutucname26" value="D2">
            <input type="hidden" id="thutucname27" name="thutucname27" value="D3">
            <input type="hidden" id="thutucname28" name="thutucname28" value="D4">
            <input type="hidden" id="thutucname29" name="thutucname29" value="D5">
            <input type="hidden" id="thutucname30" name="thutucname30" value="D6">
            <input type="hidden" id="thutucname31" name="thutucname31" value="GC1">
            <input type="hidden" id="thutucname32" name="thutucname32" value="GC2">
            <input type="hidden" id="thutucname33" name="thutucname33" value="GC3">
            <input type="hidden" id="thutucname34" name="thutucname34" value="GC4">
            <input type="hidden" id="thutucname35" name="thutucname35" value="GC5">
            <input type="hidden" id="thutucname36" name="thutucname36" value="GC6">



            <div style="position:absolute;left:50%;margin-left:-306px;top:140px;width:612px;height:792px;border-style:outset;overflow:hidden">
                <div style="position:absolute;left:0px;top:0px">
                    <img src="49962aea-6f96-11ea-8b25-0cc47a792c0a_id_49962aea-6f96-11ea-8b25-0cc47a792c0a_files/background1.jpg" width=612 height=792>
                </div>
                <div style="position:absolute;left:70.94px;top:27.72px" class="cls_002"><span class="cls_002">BỘ GIÁO DỤC VÀ ĐÀO TẠO</span></div>
                <div style="position:absolute;left:270.65px;top:27.72px" class="cls_002"><span class="cls_002">CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</span></div>
                <div style="position:absolute;left:96.50px;top:42.36px" class="cls_003"><span class="cls_003">ĐẠI HỌC VĂN LANG</span></div>
                <div style="position:absolute;left:304.37px;top:42.36px" class="cls_002"><span class="cls_002">ĐỘC LẬP - TỰ DO - HẠNH PHÚC</span></div>
                <div style="position:absolute;left:90.02px;top:57.00px" class="cls_002"><span class="cls_002">SỐ: </span></div>
                <div style="position:absolute;left:137.82px;top:57.00px" class="cls_002"><span class="cls_002">/VL/DT/CĐ</span></div>
                <div style="position:absolute;left:228.29px;top:86.18px" class="cls_004"><span class="cls_004">ĐƠN CHUYỂN ĐIỂM</span></div>
                <div style="position:absolute;left:70.94px;top:135.14px" class="cls_002"><span class="cls_002">Họ Và Tên :  <input type="text" name="thutuc0" required/></span></div>
                <div style="position:absolute;left:411.19px;top:135.14px" class="cls_002"><span class="cls_002">MSSV :<input type="text" name="thutuc1" style="width: 153px;" required/></span></div>
                <div style="position:absolute;left:70.94px;top:164.54px" class="cls_002"><span class="cls_002">Ngày Sinh: <input type="date" name="thutuc2" style="width: 83px;" required/></span></div>
                <div style="position:absolute;left:212.69px;top:164.54px" class="cls_002"><span class="cls_002">Lớp :  <input type="text" name="thutuc3" style="width: 89px;" />   Khoa :  <input type="text" name="thutuc4" />      ĐH Văn Lang</span></div>
                <div style="position:absolute;left:70.94px;top:190.58px" class="cls_002"><span class="cls_002">Hiện Đang Học Học Kỳ :  <input type="text" name="thutuc5" required/> Khóa  <input type="text" name="thutuc6" required/></span></div>
                <div style="position:absolute;left:70.94px;top:216.74px" class="cls_002"><span class="cls_002">Đã Học Tại Trường :   <input type="text" name="thutuc7" required/></span></div>
                <div style="position:absolute;left:413.95px;top:216.74px" class="cls_002"><span class="cls_002">Khóa :  <input type="text" name="thutuc8" style="width: 150px;" required/></span></div>
                <div style="position:absolute;left:70.94px;top:246.17px" class="cls_002"><span class="cls_002">(Có bảng điểm kèm theo) , các học phần sau :</span></div>
                <div style="position:absolute;left:76.58px;top:281.93px" class="cls_002"><span class="cls_002">TT</span></div>
                <div style="position:absolute;left:173.66px;top:281.93px" class="cls_002"><span class="cls_002">TÊN HỌC PHẦN</span></div>
                <div style="position:absolute;left:350.11px;top:281.93px" class="cls_002"><span class="cls_002">SỐ ĐVHT</span></div>
                <div style="position:absolute;left:422.59px;top:281.93px" class="cls_002"><span class="cls_002">ĐIỂM</span></div>
                <div style="position:absolute;left:485.38px;top:281.93px" class="cls_002"><span class="cls_002">GHI CHÚ</span></div>
                <div style="position:absolute;left:79.34px;top:309.05px" class="cls_002"><span class="cls_002">1</span></div>
                <div style="position:absolute;left:101.81px;top:309.05px" class="cls_002"><span class="cls_002"> <input type="text" name="thutuc9" style="width: 235px;" /></span></div>
                <div style="position:absolute;left:342.75px;top:309.05px" class="cls_002"><span class="cls_002"> <input type="text" name="thutuc19" style="width: 68px;" /></span></div>
                <div style="position:absolute;left:412.79px;top:309.05px" class="cls_002"><span class="cls_002"> <input type="text" name="thutuc25" style="width: 54px;" /></span></div>
                <div style="position:absolute;left:470.38px;top:309.05px" class="cls_002"><span class="cls_002"> <input type="text" name="thutuc31" style="width: 68px;" /></span></div>
                <div style="position:absolute;left:79.34px;top:336.17px" class="cls_002"><span class="cls_002">2</span></div>
                <div style="position:absolute;left:101.81px;top:336.17px" class="cls_002"><span class="cls_002">  <input type="text" name="thutuc10" style="width: 235px;"</span></div>
                <div style="position:absolute;left:342.75px;top:336.17px" class="cls_002"><span class="cls_002"> <input type="text" name="thutuc20" style="width: 68px;" /></span></div>
                <div style="position:absolute;left:412.79px;top:336.17px" class="cls_002"><span class="cls_002"> <input type="text" name="thutuc26" style="width: 54px;" /></span></div>
                <div style="position:absolute;left:470.38px;top:336.17px" class="cls_002"><span class="cls_002"> <input type="text" name="thutuc32" style="width: 68px;" /></span></div>
                <div style="position:absolute;left:79.34px;top:363.41px" class="cls_002"><span class="cls_002">3</span></div>
                <div style="position:absolute;left:101.81px;top:363.41px" class="cls_002"><span class="cls_002">  <input type="text" name="thutuc11" style="width: 235px;" /></span></div>
                <div style="position:absolute;left:342.75px;top:363.41px" class="cls_002"><span class="cls_002"> <input type="text" name="thutuc21" style="width: 68px;" /></span></div>
                <div style="position:absolute;left:412.79px;top:363.41px" class="cls_002"><span class="cls_002"> <input type="text" name="thutuc27" style="width: 54px;" /></span></div>
                <div style="position:absolute;left:470.38px;top:363.41px" class="cls_002"><span class="cls_002"> <input type="text" name="thutuc33" style="width: 68px;" /></span></div>
                <div style="position:absolute;left:79.34px;top:390.53px" class="cls_002"><span class="cls_002">4</span></div>
                <div style="position:absolute;left:101.81px;top:390.53px" class="cls_002"><span class="cls_002"> <input type="text" name="thutuc12" style="width: 235px;" /></span></div>
                <div style="position:absolute;left:342.75px;top:390.53px" class="cls_002"><span class="cls_002"> <input type="text" name="thutuc22" style="width: 68px;" /></span></div>
                <div style="position:absolute;left:412.79px;top:390.53px" class="cls_002"><span class="cls_002"> <input type="text" name="thutuc28" style="width: 54px;" /></span></div>
                <div style="position:absolute;left:470.38px;top:390.53px" class="cls_002"><span class="cls_002"> <input type="text" name="thutuc34" style="width: 68px;" /></span></div>
                <div style="position:absolute;left:79.34px;top:417.67px" class="cls_002"><span class="cls_002">5</span></div>
                <div style="position:absolute;left:101.81px;top:417.67px" class="cls_002"><span class="cls_002">  <input type="text" name="thutuc13" style="width: 235px;" /></span></div>
                <div style="position:absolute;left:342.75px;top:417.67px" class="cls_002"><span class="cls_002"> <input type="text" name="thutuc23" style="width: 68px;" /></span></div>
                <div style="position:absolute;left:412.79px;top:417.67px" class="cls_002"><span class="cls_002"> <input type="text" name="thutuc29" style="width: 54px;" /></span></div>
                <div style="position:absolute;left:470.38px;top:417.67px" class="cls_002"><span class="cls_002"> <input type="text" name="thutuc35" style="width: 68px;" /></span></div>
                <div style="position:absolute;left:79.34px;top:444.79px" class="cls_002"><span class="cls_002">6</span></div>
                <div style="position:absolute;left:101.81px;top:444.79px" class="cls_002"><span class="cls_002"> <input type="text" name="thutuc14" style="width: 235px;" /></span></div>
                <div style="position:absolute;left:342.75px;top:444.79px" class="cls_002"><span class="cls_002"> <input type="text" name="thutuc24" style="width: 68px;" /></span></div>
                <div style="position:absolute;left:412.79px;top:444.79px" class="cls_002"><span class="cls_002"><input type="text" name="thutuc30" style="width: 54px;" /></span></div>
                <div style="position:absolute;left:470.38px;top:444.79px" class="cls_002"><span class="cls_002"> <input type="text" name="thutuc36" style="width: 68px;" /></span></div>
                <div style="position:absolute;left:70.94px;top:465.91px" class="cls_002"><span class="cls_002">Các học phần trên :</span></div>
                <div style="position:absolute;left:99.26px;top:480.67px" class="cls_002"><span class="cls_002">1. Có trong học kỳ hiện tại đang học:  <input type="text" name="thutuc15" /></span></div>
                <div style="position:absolute;left:99.26px;top:509.95px" class="cls_002"><span class="cls_002">2. Điểm TBTL tính tới thời điểm xin chuyển điểm:  <input type="text" name="thutuc16" /></span></div>
                <div style="position:absolute;left:106.94px;top:539.23px" class="cls_007"><span class="cls_007">-</span></div>
                <div style="position:absolute;left:124.94px;top:539.23px" class="cls_002"><span class="cls_002">Trường có điểm đi :  <input type="text" name="thutuc17" /></span></div>
                <div style="position:absolute;left:106.94px;top:561.87px" class="cls_007"><span class="cls_007">-</span></div>
                <div style="position:absolute;left:124.94px;top:561.87px" class="cls_002"><span class="cls_002">Trường có điểm đến :  <input type="text" name="thutuc18" /></span></div>
                <div style="position:absolute;left:288.77px;top:583.18px" class="cls_002"><span class="cls_002">Tp.Hoà Chí Minh, ngày        tháng       năm</span></div>
                <div style="position:absolute;left:301.13px;top:597.82px" class="cls_002"><span class="cls_002">Người làm đơn (Ký và ghi rõ họ tên)</span></div>
                <div style="position:absolute;left:106.94px;top:685.78px" class="cls_002"><span class="cls_002">Ý KIẾN CHỦ NHIỆM KHOA</span></div>
                <div style="position:absolute;left:394.99px;top:685.78px" class="cls_002"><span class="cls_002">PHÒNG ĐÀO TẠO</span></div>

                <div style="position:absolute;left:413.99px;top: 938px;" class="cls_002"><span class="cls_002">
    <button class="btn btn-primary hBack" type="button">Trở Lại</button>
    <input type="submit" id="andsubmit" value="Gửi hồ sơ" class="btn btn-default" style="display:none" />
    <a href="#" id="submit" class="btn btn-success success" data-toggle="modal" data-target="#modal-dialog">Gửi hồ sơ</a>
</span></div>
            </div>
    </form>
</body>
</html>
