﻿@{
    var session = (DichVuMotCua.Models.taikhoan)Session[DichVuMotCua.Content.CommonConstants.USER_SESSION];
}
<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
    <style type="text/css">
        <!--
        span.cls_003 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_003 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_004 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_004 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_006 {
            font-family: Times,serif;
            font-size: 16.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_006 {
            font-family: Times,serif;
            font-size: 16.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_005 {
            font-family: Times,serif;
            font-size: 11.7px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_005 {
            font-family: Times,serif;
            font-size: 11.7px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_002 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_002 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_009 {
            font-family: Times,serif;
            font-size: 14.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_009 {
            font-family: Times,serif;
            font-size: 14.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_012 {
            font-family: Times,serif;
            font-size: 14.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: underline
        }

        div.cls_012 {
            font-family: Times,serif;
            font-size: 14.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_010 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: italic;
            text-decoration: none
        }

        div.cls_010 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: italic;
            text-decoration: none
        }

        span.cls_007 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_007 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_011 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: italic;
            text-decoration: none
        }

        div.cls_011 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: italic;
            text-decoration: none
        }
        -->
        footer {
            margin-top: 923px;
        }

        input {
            height: 15px;
        }
    </style>
    <script type="text/javascript" src="~/static/html/DangKyChuongTrinhHocNhanh_files/wz_jsgraphics.js"></script>
</head>
<body>
    <form  enctype="multipart/form-data" method="post">
        <input name="__RequestVerificationToken" type="hidden" value="Zt8rg16DySIJpa1VtHbZsvJ45Me2dIhzk_hp7nPPUTCd0rqqHb4R_KkpmTEgN4yAUaI3ltu5zLt7nGKOLOqzYP2bLCM9fcoREKaCKqqixck1" />        <div class="form-horizontal">
            <input type="hidden" id="thutucname1" name="thutucname1" value="[DATA1]">
            <input type="hidden" id="thutucname2" name="thutucname2" value="[DATA2]">
            <input type="hidden" id="thutucname3" name="thutucname3" value="[DATA3]">
            <input type="hidden" id="thutucname4" name="thutucname4" value="[DATA4]">
            <input type="hidden" id="thutucname5" name="thutucname5" value="[DATA5]">
            <input type="hidden" id="thutucname6" name="thutucname6" value="[DATA6]">
            <input type="hidden" id="thutucname7" name="thutucname7" value="[DATA7]">
            <input type="hidden" id="thutucname8" name="thutucname8" value="[DATA8]">
            <input type="hidden" id="thutucname9" name="thutucname9" value="[DATA9]">
            <input type="hidden" id="thutucname10" name="thutucname10" value="[DATA10]">
            <input type="hidden" id="thutucname11" name="thutucname11" value="[DATA11]">
            <input type="hidden" id="thutucname12" name="thutucname12" value="[DATA12]">
            <input type="hidden" id="thutucname13" name="thutucname13" value="[DATA13]">
            <input type="hidden" id="thutucname14" name="thutucname14" value="[DATA14]">
            <input type="hidden" id="thutucname15" name="thutucname15" value="[DATA15]">
            <input type="hidden" id="thutucname16" name="thutucname16" value="[DATA16]">
            <input type="hidden" id="thutucname17" name="thutucname17" value="[DATA17]">
            <input type="hidden" id="thutucname18" name="thutucname18" value="[DATA18]">
            <input type="hidden" id="thutucname19" name="thutucname19" value="[DATA19]">
            <input type="hidden" id="thutucname20" name="thutucname20" value="[DATA20]">
            <input type="hidden" id="thutucname21" name="thutucname21" value="[DATA21]">
            <input type="hidden" id="thutucname22" name="thutucname22" value="[DATA22]">
            <input type="hidden" id="thutucname23" name="thutucname23" value="[DATA23]">
            <input type="hidden" id="thutucname24" name="thutucname24" value="[DATA24]">
            <input type="hidden" id="thutucname25" name="thutucname25" value="[DATA25]">
            <input type="hidden" id="thutucname26" name="thutucname26" value="[DATA26]">

            <div style="position:absolute;left:50%;margin-left:-297px;top:145px;width:594px;height:842px;border-style:outset;overflow:hidden">
                <div style="position:absolute;left:0px;top:0px">
                    <img src="~/static/html/DangKyChuongTrinhHocNhanh_files/background.jpg" width=594 height=842>
                </div>
                <div style="position:absolute;left:208.37px;top:45.36px" class="cls_003"><span class="cls_003">TRƯỜNG ĐẠI HỌC VĂN LANG</span></div>
                <div style="position:absolute;left:418.90px;top:53.52px" class="cls_004"><span class="cls_004">Mã hiệu:</span></div>
                <div style="position:absolute;left:418.90px;top:69.38px" class="cls_004"><span class="cls_004">Lần ban hành:</span></div>
                <div style="position:absolute;left:199.49px;top:71.06px" class="cls_006"><span class="cls_006">QUY TRÌNH GIẢI QUYẾT</span></div>
                <div style="position:absolute;left:418.90px;top:85.22px" class="cls_004"><span class="cls_004">Ngày hiệu lực:</span><span class="cls_005"> …/…/…</span></div>
                <div style="position:absolute;left:188.57px;top:92.30px" class="cls_006"><span class="cls_006">CÁC HOẠT ĐỘNG QUẢN LÝ</span></div>
                <div style="position:absolute;left:418.90px;top:101.06px" class="cls_004"><span class="cls_004">Trang: </span><span class="cls_005">…/…</span></div>
                <div style="position:absolute;left:223.49px;top:113.42px" class="cls_006"><span class="cls_006">ĐÀO TẠO TẠI HUB</span></div>
                <div style="position:absolute;left:419.26px;top:148.94px" class="cls_002"><span class="cls_002">BM.QT.PĐT.01.13</span></div>
                <div style="position:absolute;left:176.09px;top:163.94px" class="cls_002"><span class="cls_002">CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</span></div>
                <div style="position:absolute;left:229.97px;top:178.94px" class="cls_002"><span class="cls_002">Độc lập - Tự do - Hạnh phúc</span></div>
                <div style="position:absolute;left:95.18px;top:188.30px" class="cls_004"><span class="cls_004">Số:  ……………….</span></div>
                <div style="position:absolute;left:162.98px;top:211.58px" class="cls_009"><span class="cls_009">ĐƠN ĐĂNG KÝ</span><span class="cls_012"> HỌC THEO TIẾ</span><span class="cls_009">N ĐỘ NHANH</span></div>
                <div style="position:absolute;left:141.74px;top:239.93px" class="cls_010"><span class="cls_010">Kính gửi: </span><span class="cls_002">Phòng Đào tạo</span></div>
                <div style="position:absolute;left:198.53px;top:260.93px" class="cls_002"><span class="cls_002">Khoa </span><span class="cls_007"><input type="text" name="thutuc1" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[0].value)" required style="width: 303px;" /></span></div>
                <div style="position:absolute;left:198.53px;top:281.81px" class="cls_002"><span class="cls_002">Thầy/Cô </span><span class="cls_007"><input type="text" name="thutuc2" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[1].value)" required style="" /></span></div>
                <div style="position:absolute;left:449.98px;top:281.81px" class="cls_002"><span class="cls_002">(cố vấn học tập)</span></div>
                <div style="position:absolute;left:85.10px;top:296.81px" class="cls_007"><span class="cls_007">Em tên:. <input type="text" name="thutuc3" value="@(session.name)" readonly style="width: 115px;" /></span></div>
                <div style="position:absolute;left:333.09px;top:296.81px" class="cls_007"><span class="cls_007">Mã số SV: <input type="text" name="thutuc4" value="@(session.email.Substring(0,session.email.IndexOf("@")))" readonly style="" /></span></div>
                <div style="position:absolute;left:85.10px;top:316.25px" class="cls_007"><span class="cls_007">Ngày sinh: <input type="date" name="thutuc5" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[4].value)" required style="width: 126px;" /></span></div>
                <div style="position:absolute;left:271.93px;top:316.25px" class="cls_007"><span class="cls_007">Nơi sinh: <input type="text" name="thutuc6" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[5].value)" required style="width: 93px;" /></span></div>
                <div style="position:absolute;left:419.95px;top:316.25px" class="cls_007"><span class="cls_007">SĐT:<input type="number" name="thutuc7" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[6].value)" required style="width: 123px;" /></span></div>
                <div style="position:absolute;left:85.10px;top:335.69px" class="cls_007"><span class="cls_007">Hiện đang là sinh viên Lớp: <input type="text" name="thutuc8" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[7].value)" required style="" /></span></div>
                <div style="position:absolute;left:381.22px;top:335.69px" class="cls_007"><span class="cls_007">Ngành: <input type="text" name="thutuc9" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[8].value)" required style="" /></span></div>
                <div style="position:absolute;left:85.10px;top:355.13px" class="cls_007"><span class="cls_007">Khoa:@Html.DropDownList("thutuc10", new SelectList(ViewBag.khoa, "Value", "Text", ViewBag.noidung == null ? "" : ViewBag.noidung[9].value))</span></div>
                <div style="position:absolute;left:85.10px;top:374.57px" class="cls_007"><span class="cls_007">Học kỳ vừa qua em đạt điểm trung bình học kỳ:  <input type="number" name="thutuc11" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[10].value)" required style="" /></span></div>
                <div style="position:absolute;left:85.10px;top:394.01px" class="cls_007"><span class="cls_007">Theo quy định của trường em đủ điều kiện đăng ký học theo tiến độ nhanh các môn</span></div>
                <div style="position:absolute;left:85.10px;top:413.47px" class="cls_007"><span class="cls_007">học sau để rút ngắn thời gian đào tạo:</span></div>
                <div style="position:absolute;left:85.10px;top:432.91px" class="cls_007"><span class="cls_007">1. Học phần: <input type="text" name="thutuc12" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[11].value)" required style="width: 133px;" />(số tín chỉ: <input type="number" name="thutuc13" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[12].value)" required style="width: 56px;" />), Lớp đăng ký:  <input type="text" name="thutuc14" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[13].value)" required style="width: 82px;" /></span></div>
                <div style="position:absolute;left:85.10px;top:452.35px" class="cls_007"><span class="cls_007">2. Học phần: <input type="text" name="thutuc15" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[14].value)" required style="width: 133px;" />(số tín chỉ: <input type="number" name="thutuc16" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[15].value)" required style="width: 56px;" />), Lớp đăng ký:  <input type="text" name="thutuc17" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[16].value)" required style="width: 82px;" /></span></div>
                <div style="position:absolute;left:85.10px;top:471.79px" class="cls_007"><span class="cls_007">3. Học phần: <input type="text" name="thutuc18" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[17].value)" required style="width: 133px;" />(số tín chỉ: <input type="number" name="thutuc19" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[18].value)" required style="width: 56px;" />), Lớp đăng ký:  <input type="text" name="thutuc20" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[19].value)" required style="width: 82px;" /></span></div>
                <div style="position:absolute;left:85.10px;top:491.23px" class="cls_007"><span class="cls_007">4. Học phần: <input type="text" name="thutuc21" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[20].value)" required style="width: 133px;" />(số tín chỉ: <input type="number" name="thutuc22" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[21].value)" required style="width: 56px;" />), Lớp đăng ký:  <input type="text" name="thutuc23" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[22].value)" required style="width: 82px;" /></span></div>
                <div style="position:absolute;left:85.10px;top:510.67px" class="cls_007"><span class="cls_007">5. Học phần: <input type="text" name="thutuc24" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[23].value)" required style="width: 133px;" />(số tín chỉ: <input type="number" name="thutuc25" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[24].value)" required style="width: 56px;" />), Lớp đăng ký:  <input type="text" name="thutuc26" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[25].value)" required style="width: 82px;" /></span></div>
                <div style="position:absolute;left:113.42px;top:529.99px" class="cls_007"><span class="cls_007">Em xin cam đoan quyết định của em đã được gia đình chấp thuận, và xin hứa chấp</span></div>
                <div style="position:absolute;left:85.10px;top:544.99px" class="cls_007"><span class="cls_007">hành đúng mọi quy định của Nhà trường về vấn đề học theo tiến độ nhanh. Kính mong</span></div>
                <div style="position:absolute;left:85.10px;top:559.87px" class="cls_007"><span class="cls_007">Nhà trường xem xét.</span></div>
                <div style="position:absolute;left:121.10px;top:580.90px" class="cls_007"><span class="cls_007">Em xin chân thành cám ơn.</span></div>
                <div style="position:absolute;left:310.15px;top:595.90px" class="cls_011"><span class="cls_011">.................., ngày</span></div>
                <div style="position:absolute;left:423.04px;top:595.90px" class="cls_011"><span class="cls_011">tháng</span></div>
                <div style="position:absolute;left:475.35px;top:595.90px" class="cls_011"><span class="cls_011">năm 20...</span></div>
                <div style="        position: absolute;
        left: 99.50px;
        top: 616.78px
" class="cls_002"><span class="cls_002">Ý KIẾN CỦA PHỤ HUYNH SV</span></div>
                <div style="position:absolute;left:384.19px;top:616.78px" class="cls_002"><span class="cls_002">NGƯỜI LÀM ĐƠN</span></div>
                <div style="position:absolute;left:99.50px;top:715.90px" class="cls_002"><span class="cls_002">Ý KIẾN CỐ VẤN HỌC TẬP</span></div>
                <div style="        position: absolute;
        left: 302.95px;
        top: 715.90px" class="cls_002"><span class="cls_002">Ý KIẾN KHOA</span></div>
                <div style="position:absolute;left:427.54px;top:715.90px" class="cls_002"><span class="cls_002">PHÒNG ĐÀO TẠO</span></div>
            </div>

            <div style="position:absolute;left:808.99px;top: 938px;" class="cls_002">
                <span class="cls_002">
                    <button class="btn btn-primary hBack" type="button">Trở Lại</button>
                    <input type="submit" id="andsubmit" value="Gửi hồ sơ" class="btn btn-default" style="display:none" />
                    <a href="#" id="submit" class="btn btn-success success" data-toggle="modal" data-target="#modal-dialog">Gửi hồ sơ</a>
                </span>
            </div>
        </div>
    </form>
</body>
</html>
