﻿@model DichVuMotCua.Models.thutuc

@{
    ViewBag.Title = "CapGiayChungNhan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
    <style type="text/css">
        <!--
        span.cls_002 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_002 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_003 {
            font-family: Times,serif;
            font-size: 11.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_003 {
            font-family: Times,serif;
            font-size: 11.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_004 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_004 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_006 {
            font-family: Times,serif;
            font-size: 14.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_006 {
            font-family: Times,serif;
            font-size: 14.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_008 {
            font-family: Times,serif;
            font-size: 10.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_008 {
            font-family: Times,serif;
            font-size: 10.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_009 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: italic;
            text-decoration: none
        }

        div.cls_009 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: italic;
            text-decoration: none
        }

        span.cls_011 {
            font-family: Times,serif;
            font-size: 10.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_011 {
            font-family: Times,serif;
            font-size: 10.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        footer {
            margin-top: 923px;
        }

        input {
            height: 19px;
        }
        -->
    </style>
    <script type="text/javascript" src="ec7ea18e-74f9-11ea-8b25-0cc47a792c0a_id_ec7ea18e-74f9-11ea-8b25-0cc47a792c0a_files/wz_jsgraphics.js"></script>
</head>
<body>

    <form action="/thutucs/DangKyHocVuot" enctype="multipart/form-data" method="post">
        <input name="__RequestVerificationToken" type="hidden" value="KR12l42Rc6hDZ3xuuDK2JBI-18w2yBzvb4CnKej1odjs6_JVtAH0Rgz16xTP7cYkDa-cSc5d4s6tj6mmeXsZOesVX1CqBm5xNigDcTe4hYs1" />



        <div style="position:absolute;left:50%;margin-left:-297px;top:140px;width:595px;height:842px;border-style:outset;overflow:hidden">
            <div style="position:absolute;left:0px;top:0px">
                <img src="ec7ea18e-74f9-11ea-8b25-0cc47a792c0a_id_ec7ea18e-74f9-11ea-8b25-0cc47a792c0a_files/background1.jpg" width=595 height=842>
            </div>
            <div style="position:absolute;left:35.28px;top:27.08px" class="cls_002"><span class="cls_002">TRƯỜNG ĐẠI HỌC VĂN LANG</span></div>
            <div style="position:absolute;left:311.83px;top:28.04px" class="cls_003"><span class="cls_003">CỘNG HÒA X­ HỘI CHỦ NGHĨA VIỆT NAM</span></div>
            <div style="position:absolute;left:64.10px;top:41.00px" class="cls_004"><span class="cls_004">PHÑNG ĐÀO TẠO</span></div>
            <div style="position:absolute;left:354.43px;top:41.00px" class="cls_003"><span class="cls_003">Độc Lập - Tự Do - Hạnh Ph~c</span></div>
            <div style="position:absolute;left:149.06px;top:73.78px" class="cls_006"><span class="cls_006">ĐƠN ĐĂNG KÝ HỌC VƯỢT MỘT SỐ HỌC PHẦN</span></div>
            <div style="position:absolute;left:149.90px;top:89.86px" class="cls_006"><span class="cls_006">HỌC KỲ …1…… - NH : ……2020…………………</span></div>
            <div style="position:absolute;left:84.98px;top:119.62px" class="cls_002"><span class="cls_002">Họ và tên : <input type="text" id="thutuc0" name="thutuc0" required/></span></div>
            <div style="position:absolute;left:365.23px;top:119.62px" class="cls_002"><span class="cls_002">Mã số SV: <input type="text" id="thutuc1" name="thutuc1" required/></span></div>
            <div style="position:absolute;left:84.98px;top:141.82px" class="cls_002"><span class="cls_002">Ngày sinh: <input type="date" id="thutuc2" name="thutuc2" style="width: 108px;" required/></span></div>
            <div style="position:absolute;left:253.01px;top:141.82px" class="cls_002"><span class="cls_002">Lớp: <input type="text" id="thutuc3" name="thutuc3" required/></span></div>
            <div style="position:absolute;left:84.98px;top:169.78px" class="cls_002"><span class="cls_002">Khoa:  <input type="text" id="thutuc4" name="thutuc4" style="width: 125px;" required/></span></div>
            <div style="position:absolute;left:253.01px;top:169.78px" class="cls_002"><span class="cls_002">Ngành:<input type="text" id="thutuc5" name="thutuc5" required/></span></div>
            <div style="position:absolute;left:84.98px;top:197.74px" class="cls_002"><span class="cls_002">Đã hoàn tất <input type="text" id="thutuc6" name="thutuc6" style="width: 60px;" required/> học kỳ, đạt điểm Trung bình chung như sau:</span></div>
            <div style="position:absolute;left:85.34px;top:223.42px" class="cls_002"><span class="cls_002">-   Học kỳ: <input type="text" id="thutuc7" name="thutuc7" style="width: 40px;" /></span></div>
            <div style="position:absolute;left:177.50px;top:223.42px" class="cls_002"><span class="cls_002">năm học:</span></div>
            <div style="position:absolute;left:239.93px;top:223.42px" class="cls_002"><span class="cls_002"><input type="text" id="thutuc8" name="thutuc8" style="width: 40px;" required/></span></div>
            <div style="position:absolute;left:293.93px;top:223.42px" class="cls_002"><span class="cls_002">đạt:</span></div>
            <div style="position:absolute;left:347.95px;top:223.42px" class="cls_002"><span class="cls_002"><input type="text" id="thutuc9" name="thutuc9" required/></span></div>
            <div style="position:absolute;left:85.34px;top:248.41px" class="cls_002"><span class="cls_002">-   Học kỳ: <input type="text" id="thutuc10" name="thutuc10" style="width: 40px;" /></span></div>
            <div style="position:absolute;left:156.50px;top:248.41px" class="cls_002"><span class="cls_002"></span></div>
            <div style="position:absolute;left:177.50px;top:248.41px" class="cls_002"><span class="cls_002">năm học:</span></div>
            <div style="position:absolute;left:239.93px;top:248.41px" class="cls_002"><span class="cls_002"><input type="text" id="thutuc11" name="thutuc11" style="width: 40px;" /></span></div>
            <div style="position:absolute;left:293.93px;top:248.41px" class="cls_002"><span class="cls_002">đạt:</span></div>
            <div style="position:absolute;left:344.95px;top:248.41px" class="cls_002"><span class="cls_002"><input type="text" id="thutuc12" name="thutuc12" /></span></div>
            <div style="position:absolute;left:85.34px;top:273.37px" class="cls_002"><span class="cls_002">-   Học kỳ: <input type="text" id="thutuc13" name="thutuc13" style="width: 40px;" /></span></div>
            <div style="position:absolute;left:156.50px;top:273.37px" class="cls_002"><span class="cls_002"></span></div>
            <div style="position:absolute;left:177.50px;top:273.37px" class="cls_002"><span class="cls_002">năm học:</span></div>
            <div style="position:absolute;left:242.93px;top:273.37px" class="cls_002"><span class="cls_002"><input type="text" id="thutuc14" name="thutuc14" style="width: 40px;" /></span></div>
            <div style="position:absolute;left:293.93px;top:273.37px" class="cls_002"><span class="cls_002">đạt:</span></div>
            <div style="position:absolute;left:347.95px;top:273.37px" class="cls_002"><span class="cls_002"><input type="text" id="thutuc15" name="thutuc15" /></span></div>
            <div style="position:absolute;left:85.34px;top:298.45px" class="cls_002"><span class="cls_002">-   Học kỳ:<input type="text" id="thutuc16" name="thutuc16" style="width: 40px;" /></span></div>
            <div style="position:absolute;left:156.50px;top:298.45px" class="cls_002"><span class="cls_002"></span></div>
            <div style="position:absolute;left:177.50px;top:298.45px" class="cls_002"><span class="cls_002">năm học:</span></div>
            <div style="position:absolute;left:245.93px;top:298.45px" class="cls_002"><span class="cls_002"><input type="text" id="thutuc17" name="thutuc17" style="width: 40px;" /></span></div>
            <div style="position:absolute;left:293.93px;top:298.45px" class="cls_002"><span class="cls_002">đạt:</span></div>
            <div style="position:absolute;left:350.95px;top:298.45px" class="cls_002"><span class="cls_002"><input type="text" id="thutuc18" name="thutuc18" /></span></div>
            <div style="position:absolute;left:85.34px;top:323.41px" class="cls_002"><span class="cls_002">-   Học kỳ: <input type="text" id="thutuc19" name="thutuc19" style="width: 40px;" /></span></div>
            <div style="position:absolute;left:156.50px;top:323.41px" class="cls_002"><span class="cls_002"></span></div>
            <div style="position:absolute;left:177.50px;top:323.41px" class="cls_002"><span class="cls_002">năm học:</span></div>
            <div style="position:absolute;left:248.93px;top:323.41px" class="cls_002"><span class="cls_002"><input type="text" id="thutuc20" name="thutuc20" style="width: 40px;" /></span></div>
            <div style="position:absolute;left:293.93px;top:323.41px" class="cls_002"><span class="cls_002">đạt:</span></div>
            <div style="position:absolute;left:353.95px;top:323.41px" class="cls_002"><span class="cls_002"><input type="text" id="thutuc21" name="thutuc21" /></span></div>
            <div style="position:absolute;left:85.34px;top:348.37px" class="cls_002"><span class="cls_002">-   Học kỳ: <input type="text" id="thutuc22" name="thutuc22" style="width: 40px;" /></span></div>
            <div style="position:absolute;left:177.50px;top:348.37px" class="cls_002"><span class="cls_002">năm học:</span></div>
            <div style="position:absolute;left:251.93px;top:348.37px" class="cls_002"><span class="cls_002"><input type="text" id="thutuc23" name="thutuc23" style="width: 40px;" /></span></div>
            <div style="position:absolute;left:293.93px;top:348.37px" class="cls_002"><span class="cls_002">đạt:</span></div>
            <div style="position:absolute;left:353.95px;top:348.37px" class="cls_002"><span class="cls_002"><input type="text" id="thutuc24" name="thutuc24" /></span></div>
            <div style="position:absolute;left:85.34px;top:373.45px" class="cls_002"><span class="cls_002">Xin đăng kê học vượt một số học phần sau:</span></div>
            <div style="position:absolute;left:92.06px;top:405.87px" class="cls_008"><span class="cls_008">TT</span></div>
            <div style="position:absolute;left:134.42px;top:405.87px" class="cls_008"><span class="cls_008">M­ MÔN HỌC</span></div>
            <div style="position:absolute;left:232.13px;top:405.87px" class="cls_008"><span class="cls_008">TÊN HỌC PHẦN ĐĂNG KÝ</span></div>
            <div style="position:absolute;left:383.71px;top:405.87px" class="cls_008"><span class="cls_008">SỐ ĐVHT</span></div>
            <div style="position:absolute;left:458.86px;top:405.87px" class="cls_008"><span class="cls_008">GHI CHÚ</span></div>
            <div style="position:absolute;left:127.58px;top:423.39px" class="cls_002"><span class="cls_002"><input type="text" id="thutuc25" name="thutuc25" style="width: 83px;" /></span></div>
            <div style="position:absolute;left:224.09px;top:423.39px" class="cls_002"><span class="cls_002"><input type="text" id="thutuc26" name="thutuc26" style="width: 141px;" /></span></div>
            <div style="position:absolute;left:380.11px;top:423.39px" class="cls_002"><span class="cls_002"><input type="text" id="thutuc27" name="thutuc27" style="width: 49px;" /></span></div>
            <div style="position:absolute;left:443.02px;top:423.39px" class="cls_002"><span class="cls_002"><input type="text" id="thutuc28" name="thutuc28" style="width: 75px;" /></span></div>
            <div style="position:absolute;left:95.78px;top:429.39px" class="cls_002"><span class="cls_002">1</span></div>
            <div style="position:absolute;left:127.58px;top:450.63px" class="cls_002"><span class="cls_002"><input type="text" id="thutuc29" name="thutuc29" style="width: 83px;" /></span></div>
            <div style="position:absolute;left:221.09px;top:450.63px" class="cls_002"><span class="cls_002"><input type="text" id="thutuc30" name="thutuc30" style="width: 141px;" /></span></div>
            <div style="position:absolute;left:380.11px;top:450.63px" class="cls_002"><span class="cls_002"><input type="text" id="thutuc31" name="thutuc31" style="width: 49px;" /></span></div>
            <div style="position:absolute;left:443.02px;top:450.63px" class="cls_002"><span class="cls_002"><input type="text" id="thutuc32" name="thutuc32" style="width: 75px;" /></span></div>
            <div style="position:absolute;left:95.78px;top:456.63px" class="cls_002"><span class="cls_002">2</span></div>
            <div style="position:absolute;left:127.58px;top:477.75px" class="cls_002"><span class="cls_002"><input type="text" id="thutuc33" name="thutuc33" style="width: 83px;" /></span></div>
            <div style="position:absolute;left:221.09px;top:477.75px" class="cls_002"><span class="cls_002"><input type="text" id="thutuc34" name="thutuc34" style="width: 141px;" /></span></div>
            <div style="position:absolute;left:380.11px;top:477.75px" class="cls_002"><span class="cls_002"><input type="text" id="thutuc35" name="thutuc35" style="width: 49px;" /></span></div>
            <div style="position:absolute;left:443.02px;top:477.75px" class="cls_002"><span class="cls_002"><input type="text" id="thutuc36" name="thutuc36" style="width: 75px;" /></span></div>
            <div style="position:absolute;left:95.78px;top:483.75px" class="cls_002"><span class="cls_002">3</span></div>
            <div style="position:absolute;left:127.58px;top:504.99px" class="cls_002"><span class="cls_002"><input type="text" id="thutuc37" name="thutuc37" style="width: 83px;" /></span></div>
            <div style="position:absolute;left:221.09px;top:504.99px" class="cls_002"><span class="cls_002"><input type="text" id="thutuc38" name="thutuc38" style="width: 141px;" /></span></div>
            <div style="position:absolute;left:380.11px;top:504.99px" class="cls_002"><span class="cls_002"><input type="text" id="thutuc39" name="thutuc39" style="width: 49px;" /></span></div>
            <div style="position:absolute;left:443.02px;top:504.99px" class="cls_002"><span class="cls_002"><input type="text" id="thutuc40" name="thutuc40" style="width: 75px;" /></span></div>
            <div style="position:absolute;left:95.78px;top:510.99px" class="cls_002"><span class="cls_002">4</span></div>
            <div style="position:absolute;left:308.69px;top:546.03px" class="cls_009"><span class="cls_009">Ngày</span></div>
            <div style="position:absolute;left:358.03px;top:546.03px" class="cls_009"><span class="cls_009">tháng</span></div>
            <div style="position:absolute;left:412.37px;top:546.03px" class="cls_009"><span class="cls_009">năm 20</span></div>
            <div style="position:absolute;left:379.87px;top:559.83px" class="cls_002"><span class="cls_002">Sinh viên</span></div>
            <div style="position:absolute;left:360.67px;top:573.75px" class="cls_011"><span class="cls_011">(Kê và ghi rõ họ tên)</span></div>
            <div style="position:absolute;left:56.64px;top:665.58px" class="cls_002"><span class="cls_002">Ý KIẾN CỦA BCN KHOA</span></div>
            <div style="position:absolute;left:380.71px;top:665.58px" class="cls_002"><span class="cls_002">PHÒNG ĐÀO TẠO</span></div>
            <input type="hidden" id="thutucname0" name="thutucname0" value="Họ T&#234;n">
            <input type="hidden" id="thutucname1" name="thutucname1" value="M&#227; SV">
            <input type="hidden" id="thutucname2" name="thutucname2" value="Ng&#224;y Sinh">
            <input type="hidden" id="thutucname3" name="thutucname3" value="Lớp">
            <input type="hidden" id="thutucname4" name="thutucname4" value="Khoa">
            <input type="hidden" id="thutucname5" name="thutucname5" value="Ng&#224;nh">
            <input type="hidden" id="thutucname6" name="thutucname6" value="Ho&#224;n Tất">
            <input type="hidden" id="thutucname7" name="thutucname7" value="HK1">
            <input type="hidden" id="thutucname8" name="thutucname8" value="Năm1">
            <input type="hidden" id="thutucname9" name="thutucname9" value="Đạt1">
            <input type="hidden" id="thutucname10" name="thutucname10" value="HK2">
            <input type="hidden" id="thutucname11" name="thutucname11" value="Năm2">
            <input type="hidden" id="thutucname12" name="thutucname12" value="Đạt2">
            <input type="hidden" id="thutucname13" name="thutucname13" value="HK3">
            <input type="hidden" id="thutucname14" name="thutucname14" value="Năm3">
            <input type="hidden" id="thutucname15" name="thutucname15" value="Đạt3">
            <input type="hidden" id="thutucname16" name="thutucname16" value="HK4">
            <input type="hidden" id="thutucname17" name="thutucname17" value="Đạt4">
            <input type="hidden" id="thutucname18" name="thutucname18" value="Năm4">
            <input type="hidden" id="thutucname19" name="thutucname19" value="HK5">
            <input type="hidden" id="thutucname20" name="thutucname20" value="Đạt5">
            <input type="hidden" id="thutucname21" name="thutucname21" value="Năm5">
            <input type="hidden" id="thutucname22" name="thutucname22" value="HK6">
            <input type="hidden" id="thutucname23" name="thutucname23" value="Đạt6">
            <input type="hidden" id="thutucname24" name="thutucname24" value="Năm6">
            <input type="hidden" id="thutucname25" name="thutucname25" value="MM1">
            <input type="hidden" id="thutucname26" name="thutucname26" value="HP1">
            <input type="hidden" id="thutucname27" name="thutucname27" value="DVHT1">
            <input type="hidden" id="thutucname28" name="thutucname28" value="GC1">
            <input type="hidden" id="thutucname29" name="thutucname29" value="MM2">
            <input type="hidden" id="thutucname30" name="thutucname30" value="HP2">
            <input type="hidden" id="thutucname31" name="thutucname31" value="DVHT2">
            <input type="hidden" id="thutucname32" name="thutucname32" value="GC2">
            <input type="hidden" id="thutucname33" name="thutucname33" value="MM3">
            <input type="hidden" id="thutucname34" name="thutucname34" value="HP3">
            <input type="hidden" id="thutucname35" name="thutucname35" value="DVHT3">
            <input type="hidden" id="thutucname36" name="thutucname36" value="GC3">
            <input type="hidden" id="thutucname37" name="thutucname37" value="MM4">
            <input type="hidden" id="thutucname38" name="thutucname38" value="HP4">
            <input type="hidden" id="thutucname39" name="thutucname39" value="DVHT4">
            <input type="hidden" id="thutucname40" name="thutucname40" value="GC4">


            <div style="position:absolute;left:380.71px;top:700.58px" class="cls_002">
                <button class="btn btn-primary hBack" type="button">Trở Lại</button>
                <input type="submit" id="andsubmit" value="Gửi hồ sơ" class="btn btn-default" style="display:none" />
                <a href="#" id="submit" class="btn btn-success success" data-toggle="modal" data-target="#modal-dialog">Gửi hồ sơ</a>
            </div>
        </div>
    </form>
</body>
</html>



