﻿@{
    var session = (DichVuMotCua.Models.taikhoan)Session[DichVuMotCua.Content.CommonConstants.USER_SESSION];
}
<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
    <style type="text/css">
        <!--
        span.cls_003 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_003 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_004 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_004 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_006 {
            font-family: Times,serif;
            font-size: 16.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_006 {
            font-family: Times,serif;
            font-size: 16.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_005 {
            font-family: Times,serif;
            font-size: 11.7px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_005 {
            font-family: Times,serif;
            font-size: 11.7px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_002 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_002 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_007 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_007 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_009 {
            font-family: Arial,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_009 {
            font-family: Arial,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_010 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: italic;
            text-decoration: none
        }

        div.cls_010 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: italic;
            text-decoration: none
        }
        -->
        footer {
            margin-top: 923px;
        }

        input {
            height: 19px;
        }
    </style>
    <script type="text/javascript" src="DangKyHocLai_files/wz_jsgraphics.js"></script>
</head>
<body>
    <form  enctype="multipart/form-data" method="post">
        <input name="__RequestVerificationToken" type="hidden" value="Zt8rg16DySIJpa1VtHbZsvJ45Me2dIhzk_hp7nPPUTCd0rqqHb4R_KkpmTEgN4yAUaI3ltu5zLt7nGKOLOqzYP2bLCM9fcoREKaCKqqixck1" />        <div class="form-horizontal">
            <input type="hidden" id="thutucname1" name="thutucname1" value="[DATA1]">
            <input type="hidden" id="thutucname2" name="thutucname2" value="[DATA2]">
            <input type="hidden" id="thutucname3" name="thutucname3" value="[DATA3]">
            <input type="hidden" id="thutucname4" name="thutucname4" value="[DATA4]">
            <input type="hidden" id="thutucname5" name="thutucname5" value="[DATA5]">
            <input type="hidden" id="thutucname6" name="thutucname6" value="[DATA6]">
            <input type="hidden" id="thutucname7" name="thutucname7" value="[DATA7]">
            <input type="hidden" id="thutucname8" name="thutucname8" value="[DATA8]">
            <input type="hidden" id="thutucname9" name="thutucname9" value="[DATA9]">
            <input type="hidden" id="thutucname10" name="thutucname10" value="[DATA10]">
            <input type="hidden" id="thutucname11" name="thutucname11" value="[DATA11]">
            <input type="hidden" id="thutucname12" name="thutucname12" value="[DATA12]">
            <input type="hidden" id="thutucname13" name="thutucname13" value="[DATA13]">
            <input type="hidden" id="thutucname14" name="thutucname14" value="[DATA14]">
            <input type="hidden" id="thutucname15" name="thutucname15" value="[DATA15]">
            <input type="hidden" id="thutucname16" name="thutucname16" value="[DATA16]">
            <input type="hidden" id="thutucname17" name="thutucname17" value="[DATA17]">
            <input type="hidden" id="thutucname18" name="thutucname18" value="[DATA18]">
            <input type="hidden" id="thutucname19" name="thutucname19" value="[DATA19]">
            <input type="hidden" id="thutucname20" name="thutucname20" value="[DATA20]">
            <input type="hidden" id="thutucname21" name="thutucname21" value="[DATA21]">
            <input type="hidden" id="thutucname22" name="thutucname22" value="[DATA22]">
            <input type="hidden" id="thutucname23" name="thutucname23" value="[DATA23]">
            <input type="hidden" id="thutucname24" name="thutucname24" value="[DATA24]">
            <input type="hidden" id="thutucname25" name="thutucname25" value="[DATA25]">
            <input type="hidden" id="thutucname26" name="thutucname26" value="[DATA26]">
            <input type="hidden" id="thutucname27" name="thutucname27" value="[DATA27]">
            <input type="hidden" id="thutucname28" name="thutucname28" value="[DATA28]">
            <input type="hidden" id="thutucname29" name="thutucname29" value="[DATA29]">
            <input type="hidden" id="thutucname30" name="thutucname30" value="[DATA30]">
            <input type="hidden" id="thutucname31" name="thutucname31" value="[DATA31]">
            <input type="hidden" id="thutucname32" name="thutucname32" value="[DATA32]">
            <input type="hidden" id="thutucname33" name="thutucname33" value="[DATA33]">
            <input type="hidden" id="thutucname34" name="thutucname34" value="[DATA34]">
            <input type="hidden" id="thutucname35" name="thutucname35" value="[DATA35]">
            <input type="hidden" id="thutucname36" name="thutucname36" value="[DATA36]">
            <input type="hidden" id="thutucname37" name="thutucname37" value="[DATA37]">
            <input type="hidden" id="thutucname38" name="thutucname38" value="[DATA38]">
            <input type="hidden" id="thutucname39" name="thutucname39" value="[DATA39]">
            <input type="hidden" id="thutucname40" name="thutucname40" value="[DATA40]">
            <input type="hidden" id="thutucname41" name="thutucname41" value="[DATA41]">

            <div style="position:absolute;left:50%;margin-left:-297px;top:145px;width:594px;height:842px;border-style:outset;overflow:hidden">
                <div style="position:absolute;left:0px;top:0px">
                    <img src="DangKyHocLai_files/background.jpg" width=594 height=842>
                </div>
                <div style="position:absolute;left:208.37px;top:45.36px" class="cls_003"><span class="cls_003">TRƯỜNG ĐẠI HỌC VĂN LANG</span></div>
                <div style="position:absolute;left:418.90px;top:53.52px" class="cls_004"><span class="cls_004">Mã hiệu:</span></div>
                <div style="position:absolute;left:418.90px;top:69.38px" class="cls_004"><span class="cls_004">Lần ban hành:</span></div>
                <div style="position:absolute;left:199.49px;top:71.06px" class="cls_006"><span class="cls_006">QUY TRÌNH GIẢI QUYẾT</span></div>
                <div style="position:absolute;left:418.90px;top:85.22px" class="cls_004"><span class="cls_004">Ngày hiệu lực:</span><span class="cls_005"> …/…/…</span></div>
                <div style="position:absolute;left:188.57px;top:92.30px" class="cls_006"><span class="cls_006">CÁC HOẠT ĐỘNG QUẢN LÝ</span></div>
                <div style="position:absolute;left:418.90px;top:101.06px" class="cls_004"><span class="cls_004">Trang: </span><span class="cls_005">…/…</span></div>
                <div style="position:absolute;left:223.49px;top:113.42px" class="cls_006"><span class="cls_006">ĐÀO TẠO TẠI HUB</span></div>
                <div style="position:absolute;left:433.66px;top:148.94px" class="cls_002"><span class="cls_002">BM.QT.PĐT.01.17</span></div>
                <div style="position:absolute;left:85.10px;top:163.94px" class="cls_007"><span class="cls_007">TRƯỜNG ĐẠI HỌC VĂN LANG</span></div>
                <div style="position:absolute;left:85.10px;top:183.38px" class="cls_002"><span class="cls_002">PHÒNG ĐÀO TẠO</span></div>
                <div style="position:absolute;left:173.45px;top:208.82px" class="cls_002"><span class="cls_002">PHIẾU ĐĂNG KÝ HỌC LẠI / HỌC CẢI THIỆN</span></div>
                <div style="position:absolute;left:248.57px;top:223.82px" class="cls_002"><span class="cls_002">HK … - NĂM HỌC …</span></div>
                <div style="position:absolute;left:85.10px;top:249.29px" class="cls_007"><span class="cls_007">Họ và tên sinh viên: <input type="text" name="thutuc1" value="@(session.name)" readonly style="" /></span></div>
                <div style="position:absolute;left:368.71px;top:249.29px" class="cls_007"><span class="cls_007">Mã sinh viên: <input type="text" name="thutuc2" value="@(session.email.Substring(0,session.email.IndexOf("@")))" readonly style="" /></span></div>
                <div style="position:absolute;left:85.10px;top:268.61px" class="cls_007"><span class="cls_007">Lớp: <input type="text" name="thutuc3" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[2].value)" required style="" pattern="(k|K){1}[0-9]{2,2}[A-Za-z0-9]+"/></span></div>
                <div style="position:absolute;left:198.53px;top:268.61px" class="cls_007"><span class="cls_007">Ngành đào tạo: <input type="text" name="thutuc4" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[3].value)" required style="" /></span></div>
                <div style="position:absolute;left:85.10px;top:288.05px" class="cls_007"><span class="cls_007">Khoá: <input type="text" name="thutuc5" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[4].value)" required style="" /></span></div>
                <div style="position:absolute;left:85.10px;top:307.49px" class="cls_007"><span class="cls_007">Đăng ký học lại / học cải thiện các học phần sau:</span></div>
                <div style="position:absolute;left:111.74px;top:327.41px" class="cls_007"><span class="cls_007">Mã học</span></div>
                <div style="position:absolute;left:451.66px;top:327.41px" class="cls_007"><span class="cls_007">Thời</span></div>
                <div style="position:absolute;left:512.38px;top:327.41px" class="cls_007"><span class="cls_007">Loại</span></div>
                <div style="position:absolute;left:77.54px;top:337.13px" class="cls_007"><span class="cls_007">TT</span></div>
                <div style="position:absolute;left:198.17px;top:337.13px" class="cls_007"><span class="cls_007">Tên học phần</span></div>
                <div style="position:absolute;left:311.47px;top:337.13px" class="cls_007"><span class="cls_007">Số tín chỉ</span></div>
                <div style="position:absolute;left:375.19px;top:337.13px" class="cls_007"><span class="cls_007">Mã nhóm</span></div>
                <div style="position:absolute;left:118.70px;top:346.85px" class="cls_007"><span class="cls_007">phần</span></div>
                <div style="position:absolute;left:438.58px;top:346.85px" class="cls_007"><span class="cls_007">khóa biểu</span></div>
                <div style="position:absolute;left:503.50px;top:346.85px" class="cls_007"><span class="cls_007">đăng ký</span></div>
                <div style="position:absolute;left:374.59px;top:366.89px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc9" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[8].value)" required style="" /></span></div>
                <div style="position:absolute;left:440.62px;top:366.89px" class="cls_007"><span class="cls_007">[DATA1</span></div>
                <div style="position:absolute;left:503.98px;top:366.89px" class="cls_007"><span class="cls_007">[DATA</span></div>
                <div style="position:absolute;left:82.22px;top:376.61px" class="cls_007"><span class="cls_007">1</span></div>
                <div style="position:absolute;left:105.74px;top:376.61px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc6" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[5].value)" required style="" /></span></div>
                <div style="position:absolute;left:208.01px;top:376.61px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc7" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[6].value)" required style="" /></span></div>
                <div style="position:absolute;left:310.75px;top:376.61px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc8" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[7].value)" required style="" /></span></div>
                <div style="position:absolute;left:458.62px;top:386.21px" class="cls_007"><span class="cls_007">0]</span></div>
                <div style="position:absolute;left:515.62px;top:386.21px" class="cls_007"><span class="cls_007">11]</span></div>
                <div style="position:absolute;left:107.90px;top:406.27px" class="cls_007"><span class="cls_007">[DATA1</span></div>
                <div style="position:absolute;left:312.91px;top:406.27px" class="cls_007"><span class="cls_007">[DATA1</span></div>
                <div style="position:absolute;left:376.75px;top:406.27px" class="cls_007"><span class="cls_007">[DATA1</span></div>
                <div style="position:absolute;left:440.62px;top:406.27px" class="cls_007"><span class="cls_007">[DATA1</span></div>
                <div style="position:absolute;left:503.98px;top:406.27px" class="cls_007"><span class="cls_007">[DATA</span></div>
                <div style="position:absolute;left:82.22px;top:415.99px" class="cls_007"><span class="cls_007">2</span></div>
                <div style="position:absolute;left:204.77px;top:415.99px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc13" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[12].value)" required style="" /></span></div>
                <div style="position:absolute;left:126.02px;top:425.71px" class="cls_007"><span class="cls_007">2]</span></div>
                <div style="position:absolute;left:331.03px;top:425.71px" class="cls_007"><span class="cls_007">4]</span></div>
                <div style="position:absolute;left:394.87px;top:425.71px" class="cls_007"><span class="cls_007">5]</span></div>
                <div style="position:absolute;left:458.62px;top:425.71px" class="cls_007"><span class="cls_007">6]</span></div>
                <div style="position:absolute;left:515.62px;top:425.71px" class="cls_007"><span class="cls_007">17]</span></div>
                <div style="position:absolute;left:107.90px;top:445.63px" class="cls_007"><span class="cls_007">[DATA1</span></div>
                <div style="position:absolute;left:312.91px;top:445.63px" class="cls_007"><span class="cls_007">[DATA2</span></div>
                <div style="position:absolute;left:376.75px;top:445.63px" class="cls_007"><span class="cls_007">[DATA2</span></div>
                <div style="position:absolute;left:440.62px;top:445.63px" class="cls_007"><span class="cls_007">[DATA2</span></div>
                <div style="position:absolute;left:503.98px;top:445.63px" class="cls_007"><span class="cls_007">[DATA</span></div>
                <div style="position:absolute;left:82.22px;top:455.35px" class="cls_007"><span class="cls_007">3</span></div>
                <div style="position:absolute;left:204.77px;top:455.35px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc19" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[1].value)" required style="" /></span></div>
                <div style="position:absolute;left:126.02px;top:465.07px" class="cls_007"><span class="cls_007">8]</span></div>
                <div style="position:absolute;left:331.03px;top:465.07px" class="cls_007"><span class="cls_007">0]</span></div>
                <div style="position:absolute;left:394.87px;top:465.07px" class="cls_007"><span class="cls_007">1]</span></div>
                <div style="position:absolute;left:458.62px;top:465.07px" class="cls_007"><span class="cls_007">2]</span></div>
                <div style="position:absolute;left:515.62px;top:465.07px" class="cls_007"><span class="cls_007">23]</span></div>
                <div style="position:absolute;left:107.90px;top:484.99px" class="cls_007"><span class="cls_007">[DATA2</span></div>
                <div style="position:absolute;left:312.91px;top:484.99px" class="cls_007"><span class="cls_007">[DATA2</span></div>
                <div style="position:absolute;left:376.75px;top:484.99px" class="cls_007"><span class="cls_007">[DATA2</span></div>
                <div style="position:absolute;left:440.62px;top:484.99px" class="cls_007"><span class="cls_007">[DATA2</span></div>
                <div style="position:absolute;left:503.98px;top:484.99px" class="cls_007"><span class="cls_007">[DATA</span></div>
                <div style="position:absolute;left:82.22px;top:494.71px" class="cls_007"><span class="cls_007">4</span></div>
                <div style="position:absolute;left:204.77px;top:494.71px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc25" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[7].value)" required style="" /></span></div>
                <div style="position:absolute;left:126.02px;top:504.43px" class="cls_007"><span class="cls_007">4]</span></div>
                <div style="position:absolute;left:331.03px;top:504.43px" class="cls_007"><span class="cls_007">6]</span></div>
                <div style="position:absolute;left:394.87px;top:504.43px" class="cls_007"><span class="cls_007">7]</span></div>
                <div style="position:absolute;left:458.62px;top:504.43px" class="cls_007"><span class="cls_007">8]</span></div>
                <div style="position:absolute;left:515.62px;top:504.43px" class="cls_007"><span class="cls_007">29]</span></div>
                <div style="position:absolute;left:107.90px;top:524.35px" class="cls_007"><span class="cls_007">[DATA3</span></div>
                <div style="position:absolute;left:312.91px;top:524.35px" class="cls_007"><span class="cls_007">[DATA3</span></div>
                <div style="position:absolute;left:376.75px;top:524.35px" class="cls_007"><span class="cls_007">[DATA3</span></div>
                <div style="position:absolute;left:440.62px;top:524.35px" class="cls_007"><span class="cls_007">[DATA3</span></div>
                <div style="position:absolute;left:503.98px;top:524.35px" class="cls_007"><span class="cls_007">[DATA</span></div>
                <div style="position:absolute;left:82.22px;top:534.07px" class="cls_007"><span class="cls_007">5</span></div>
                <div style="position:absolute;left:204.77px;top:534.07px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc31" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[13].value)" required style="" /></span></div>
                <div style="position:absolute;left:126.02px;top:543.79px" class="cls_007"><span class="cls_007">0]</span></div>
                <div style="position:absolute;left:331.03px;top:543.79px" class="cls_007"><span class="cls_007">2]</span></div>
                <div style="position:absolute;left:394.87px;top:543.79px" class="cls_007"><span class="cls_007">3]</span></div>
                <div style="position:absolute;left:458.62px;top:543.79px" class="cls_007"><span class="cls_007">4]</span></div>
                <div style="position:absolute;left:515.62px;top:543.79px" class="cls_007"><span class="cls_007">35]</span></div>
                <div style="position:absolute;left:107.90px;top:563.71px" class="cls_007"><span class="cls_007">[DATA3</span></div>
                <div style="position:absolute;left:312.91px;top:563.71px" class="cls_007"><span class="cls_007">[DATA3</span></div>
                <div style="position:absolute;left:376.75px;top:563.71px" class="cls_007"><span class="cls_007">[DATA3</span></div>
                <div style="position:absolute;left:440.62px;top:563.71px" class="cls_007"><span class="cls_007">[DATA4</span></div>
                <div style="position:absolute;left:503.98px;top:563.71px" class="cls_007"><span class="cls_007">[DATA</span></div>
                <div style="position:absolute;left:82.22px;top:573.46px" class="cls_007"><span class="cls_007">6</span></div>
                <div style="position:absolute;left:204.77px;top:573.46px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc37" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[19].value)" required style="" /></span></div>
                <div style="position:absolute;left:126.02px;top:583.18px" class="cls_007"><span class="cls_007">6]</span></div>
                <div style="position:absolute;left:331.03px;top:583.18px" class="cls_007"><span class="cls_007">8]</span></div>
                <div style="position:absolute;left:394.87px;top:583.18px" class="cls_007"><span class="cls_007">9]</span></div>
                <div style="position:absolute;left:458.62px;top:583.18px" class="cls_007"><span class="cls_007">0]</span></div>
                <div style="position:absolute;left:515.62px;top:583.18px" class="cls_007"><span class="cls_007">41]</span></div>
                <div style="position:absolute;left:76.22px;top:606.94px" class="cls_007"><span class="cls_007">Tổng số tín chỉ học lại / học cải thiện:</span></div>
                <div style="position:absolute;left:85.10px;top:630.58px" class="cls_002"><span class="cls_002">* Ghi chú:</span></div>
                <div style="position:absolute;left:103.10px;top:646.42px" class="cls_009"><span class="cls_009">• </span><span class="cls_007">  SV phải điền đầy đủ và chính xác các thông tin vào phiếu đăng ký tín chỉ.</span></div>
                <div style="position:absolute;left:103.10px;top:662.26px" class="cls_009"><span class="cls_009">• </span><span class="cls_007">  Loại đăng ký: SV phải ghi rõ (học lại, cải thiện hay chính thức).</span></div>
                <div style="position:absolute;left:378.43px;top:692.26px" class="cls_010"><span class="cls_010">Ngày…….tháng…….năm 20…</span></div>
                <div style="position:absolute;left:85.10px;top:722.14px" class="cls_002"><span class="cls_002">PHÒNG ĐÀO TẠO</span></div>
                <div style="position:absolute;left:434.26px;top:722.14px" class="cls_002"><span class="cls_002">SINH VIÊN</span></div>
                <div style="position:absolute;left:413.50px;top:737.14px" class="cls_010"><span class="cls_010">(ký, ghi rõ họ và tên)</span></div>
            </div>

            <div style="position:absolute;left:413.99px;top: 938px;" class="cls_002">
                <span class="cls_002">
                    <button class="btn btn-primary hBack" type="button">Trở Lại</button>
                    <input type="submit" id="andsubmit" value="Gửi hồ sơ" class="btn btn-default" style="display:none" />
                    <a href="#" id="submit" class="btn btn-success success" data-toggle="modal" data-target="#modal-dialog">Gửi hồ sơ</a>
                </span>
            </div>
        </div>
    </form>
</body>
</html>
