﻿@model DichVuMotCua.Models.thutuc

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Bạn Có Muốn Xóa Thủ Tục Này</h3>


    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xác Nhận" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }

