﻿@{
    var session = (DichVuMotCua.Models.taikhoan)Session[DichVuMotCua.Content.CommonConstants.USER_SESSION];
}
<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
    <style type="text/css">
        <!--
        span.cls_003 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_003 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_004 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_004 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_006 {
            font-family: Times,serif;
            font-size: 16.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_006 {
            font-family: Times,serif;
            font-size: 16.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_005 {
            font-family: Times,serif;
            font-size: 11.7px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_005 {
            font-family: Times,serif;
            font-size: 11.7px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_002 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_002 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_007 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_007 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_010 {
            font-family: Arial,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_010 {
            font-family: Arial,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }
        -->
        footer {
            margin-top: 923px;
        }

        input {
            height: 19px;
            width: 87px;
        }
    </style>
    <script type="text/javascript" src="DeNghiCapBangDiem_files/wz_jsgraphics.js"></script>
</head>
<body>
    <form  enctype="multipart/form-data" method="post">
        <input name="__RequestVerificationToken" type="hidden" value="Zt8rg16DySIJpa1VtHbZsvJ45Me2dIhzk_hp7nPPUTCd0rqqHb4R_KkpmTEgN4yAUaI3ltu5zLt7nGKOLOqzYP2bLCM9fcoREKaCKqqixck1" />        <div class="form-horizontal">
            <input type="hidden" id="thutucname1" name="thutucname1" value="[DATA1]">
            <input type="hidden" id="thutucname2" name="thutucname2" value="[DATA2]">
            <input type="hidden" id="thutucname3" name="thutucname3" value="[DATA3]">
            <input type="hidden" id="thutucname4" name="thutucname4" value="[DATA4]">
            <input type="hidden" id="thutucname5" name="thutucname5" value="[DATA5]">
            <input type="hidden" id="thutucname6" name="thutucname6" value="[DATA6]">
            <input type="hidden" id="thutucname7" name="thutucname7" value="[DATA7]">
            <input type="hidden" id="thutucname8" name="thutucname8" value="[DATA8]">
            <input type="hidden" id="thutucname9" name="thutucname9" value="[DATA9]">
            <input type="hidden" id="thutucname10" name="thutucname10" value="[DATA10]">
            <input type="hidden" id="thutucname11" name="thutucname11" value="[DATA11]">
            <input type="hidden" id="thutucname12" name="thutucname12" value="[DATA12]">

            <div style="position:absolute;left:50%;margin-left:-297px;top:145px;width:594px;height:842px;border-style:outset;overflow:hidden">
                <div style="position:absolute;left:0px;top:0px">
                    <img src="~/static/html/DeNghiCapBangDiem_files/background.jpg" width=594 height=842>
                </div>
                <div style="position:absolute;left:208.37px;top:45.36px" class="cls_003"><span class="cls_003">TRƯỜNG ĐẠI HỌC VĂN LANG</span></div>
                <div style="position:absolute;left:418.90px;top:53.52px" class="cls_004"><span class="cls_004">Mã hiệu:</span></div>
                <div style="position:absolute;left:418.90px;top:69.38px" class="cls_004"><span class="cls_004">Lần ban hành:</span></div>
                <div style="position:absolute;left:199.49px;top:71.06px" class="cls_006"><span class="cls_006">QUY TRÌNH GIẢI QUYẾT</span></div>
                <div style="position:absolute;left:418.90px;top:85.22px" class="cls_004"><span class="cls_004">Ngày hiệu lực:</span><span class="cls_005"> …/…/…</span></div>
                <div style="position:absolute;left:188.57px;top:92.30px" class="cls_006"><span class="cls_006">CÁC HOẠT ĐỘNG QUẢN LÝ</span></div>
                <div style="position:absolute;left:418.90px;top:101.06px" class="cls_004"><span class="cls_004">Trang: </span><span class="cls_005">…/…</span></div>
                <div style="position:absolute;left:223.49px;top:113.42px" class="cls_006"><span class="cls_006">ĐÀO TẠO TẠI HUB</span></div>
                <div style="position:absolute;left:407.62px;top:149.06px" class="cls_002"><span class="cls_002">BM.QT.PĐT.01.24</span></div>
                <div style="position:absolute;left:193.85px;top:190.94px" class="cls_002"><span class="cls_002">PHIẾU ĐỀ NGHỊ CẤP BẢNG ĐIỂM</span></div>
                <div style="position:absolute;left:85.10px;top:211.82px" class="cls_007"><span class="cls_007">Họ và tên SV: <input type="text" name="thutuc1" value="@(session.name)" readonly style="width: 194px;" /></span></div>
                <div style="position:absolute;left:372.82px;top:211.82px" class="cls_007"><span class="cls_007">Mã số SV: <input type="text" name="thutuc2" value="@(session.email.Substring(0,session.email.IndexOf("@")))" readonly style="width: 149px;" /></span></div>
                <div style="position:absolute;left:85.10px;top:234.29px" class="cls_007"><span class="cls_007">Ngày sinh: <input type="date" name="thutuc3" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[2].value)" required style="" /></span></div>
                <div style="position:absolute;left:233.93px;top:234.29px" class="cls_007"><span class="cls_007">Nơi sinh: <input type="text" name="thutuc4" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[3].value)" required style="width: 102px;" /></span></div>
                <div style="position:absolute;left:389.95px;top:234.29px" class="cls_007"><span class="cls_007">Số điện thoại:<input type="text" name="thutuc5" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[4].value)" required style="width: 117px;" /></span></div>
                <div style="position:absolute;left:85.10px;top:256.73px" class="cls_007"><span class="cls_007">Lớp: <input type="text" name="thutuc6" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[5].value)" required style="width: 118px;" pattern="(k|K){1}[0-9]{2,2}[A-Za-z0-9]+"/></span></div>
                <div style="position:absolute;left:233.93px;top:256.73px" class="cls_007"><span class="cls_007">Khoa: @Html.DropDownList("thutuc7", new SelectList(ViewBag.khoa, "Value", "Text", ViewBag.noidung == null ? "" : ViewBag.noidung[6].value))</span></div>
                <div style="position:absolute;left:85.10px;top:279.17px" class="cls_007"><span class="cls_007">Chuyên ngành: <input type="text" name="thutuc8" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[7].value)" required style="width: 412px;" /></span></div>
                <div style="position:absolute;left:85.10px;top:301.61px" class="cls_007"><span class="cls_007">Lý do đề nghị: <input type="text" name="thutuc9" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[8].value)" required style="width: 415px;" /></span></div>
                <div style="position:absolute;left:85.10px;top:346.37px" class="cls_007"><span class="cls_007">Đánh dấu (X) vào ô chọn nội dung xác nhận dưới đây:</span></div>
                <div style="position:absolute;left:81.26px;top:369.41px" class="cls_002"><span class="cls_002">1.  Toàn khóa:</span></div>
                <div style="position:absolute;left:81.38px;top:392.33px" class="cls_002"><span class="cls_002">2.</span><span class="cls_010"> </span><span class="cls_002">Theo học kỳ: </span><span class="cls_007">HK1:</span></div>
                <div style="position:absolute;left:245.77px;top:392.33px" class="cls_007"><span class="cls_007">HK2:</span></div>
                <div style="position:absolute;left:310.42px;top:392.33px" class="cls_007"><span class="cls_007">HK3:</span></div>
                <div style="position:absolute;left:371.72px;top:392.33px" class="cls_007"><span class="cls_007">HK4:</span></div>
                <div style="position:absolute;left:433.14px;top:392.33px" class="cls_007"><span class="cls_007">HK5:</span></div>
                <div style="position:absolute;left:99.26px;top:422.23px" class="cls_007"><span class="cls_007">HK6:</span></div>
                <div style="position:absolute;left:163.82px;top:422.23px" class="cls_007"><span class="cls_007">HK7:</span></div>
                <div style="        position: absolute;
        left: 228.47px;
        top: 422.23px" class="cls_007"><span class="cls_007">HK8:</span></div>
                <div style="position:absolute;left:299.51px;top:422.23px" class="cls_007"><span class="cls_007">HK9:</span></div>
                <div style="position:absolute;left:377.14px;top:422.23px" class="cls_007"><span class="cls_007">HK10:</span></div>
                <div style="position:absolute;left:78.02px;top:452.23px" class="cls_002"><span class="cls_002">Ngôn ngữ: </span><span class="cls_007">Tiếng Việt:</span></div>
                <div style="        position: absolute;
        left: 228.76px;
        top: 452.23px" class="cls_007"><span class="cls_007">……….. bản;     Tiếng Anh:</span></div>
                <div style="        position: absolute;
        left: 408.28px;
        top: 452.23px
" class="cls_007"><span class="cls_007">………Bản</span></div>
                <div style="        position: absolute;
        left: 78.02px;
        top: 473.11px
" class="cls_002"><span class="cls_002">Hình thức nhận bảng điểm: </span><span class="cls_007">trực tiếp</span><span class="cls_002"> </span><span class="cls_007">tại HUB:</span></div>
                <div style="position:absolute;left:371.20px;top:473.11px" class="cls_007"><span class="cls_007">Gửi Bưu điện:</span></div>
                <div style="position:absolute;left:78.02px;top:494.11px" class="cls_002"><span class="cls_002">Yêu cầu khác:</span><span class="cls_007"> niêm phong:</span></div>
                <div style="        position: absolute;
        left: 286.85px;
        top: 523.99px" class="cls_007"><span class="cls_007">………….., ngày …….. tháng …… năm ……..</span></div>
                <div style="position:absolute;left:316.99px;top:538.87px" class="cls_007"><span class="cls_007">Người đề nghị (ký, ghi rõ họ và tên)</span></div>
                <div style="position:absolute;left:89.66px;top:672.82px" class="cls_002"><span class="cls_002">Thông tin về chuyển khoản lệ phí cấp bảng điểm (áp dụng đối với trường hợp</span></div>
                <div style="position:absolute;left:89.66px;top:687.82px" class="cls_002"><span class="cls_002">nhận hồ sơ qua đường bưu điện):</span></div>
                <div style="position:absolute;left:89.66px;top:705.70px" class="cls_007"><span class="cls_007">- Tên người nộp tiền: <input type="text" name="thutuc10" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[9].value)" required style="" /></span></div>
                <div style="position:absolute;left:89.66px;top:723.70px" class="cls_007"><span class="cls_007">- Ngày nộp tiền: <input type="text" name="thutuc11" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[10].value)" required style="" /></span></div>
                <div style="position:absolute;left:89.66px;top:741.48px" class="cls_007"><span class="cls_007">- Nội dung nộp tiền: <input type="text" name="thutuc12" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[11].value)" required style="" /></span></div>
            </div>

            <div style="position:absolute;left: 755.99px;top: 942px;" class="cls_002">
                <span class="cls_002">
                    <button class="btn btn-primary hBack" type="button">Trở Lại</button>
                    <input type="submit" id="andsubmit" value="Gửi hồ sơ" class="btn btn-default" style="display:none" />
                    <a href="#" id="submit" class="btn btn-success success" data-toggle="modal" data-target="#modal-dialog">Gửi hồ sơ</a>
                </span>
            </div>
        </div>
    </form>
</body>
</html>
