﻿@{
    var session = (DichVuMotCua.Models.taikhoan)Session[DichVuMotCua.Content.CommonConstants.USER_SESSION];
}
<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
    <style type="text/css">
        <!--
        span.cls_003 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_003 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_004 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_004 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_006 {
            font-family: Times,serif;
            font-size: 16.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_006 {
            font-family: Times,serif;
            font-size: 16.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_005 {
            font-family: Times,serif;
            font-size: 11.7px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_005 {
            font-family: Times,serif;
            font-size: 11.7px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_002 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_002 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_007 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_007 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_010 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: italic;
            text-decoration: none
        }

        div.cls_010 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: italic;
            text-decoration: none
        }
        -->
        footer {
            margin-top: 923px;
        }

        input {
            height: 19px;
        }
    </style>
    <script type="text/javascript" src="DeNghiChungThucVanBang_files/wz_jsgraphics.js"></script>
</head>
<body>
    <form  enctype="multipart/form-data" method="post">
        <input name="__RequestVerificationToken" type="hidden" value="Zt8rg16DySIJpa1VtHbZsvJ45Me2dIhzk_hp7nPPUTCd0rqqHb4R_KkpmTEgN4yAUaI3ltu5zLt7nGKOLOqzYP2bLCM9fcoREKaCKqqixck1" />        <div class="form-horizontal">
            <input type="hidden" id="thutucname1" name="thutucname1" value="[DATA1]">
            <input type="hidden" id="thutucname2" name="thutucname2" value="[DATA2]">
            <input type="hidden" id="thutucname3" name="thutucname3" value="[DATA3]">
            <input type="hidden" id="thutucname4" name="thutucname4" value="[DATA4]">
            <input type="hidden" id="thutucname5" name="thutucname5" value="[DATA5]">
            <input type="hidden" id="thutucname6" name="thutucname6" value="[DATA6]">
            <input type="hidden" id="thutucname7" name="thutucname7" value="[DATA7]">
            <input type="hidden" id="thutucname8" name="thutucname8" value="[DATA8]">
            <input type="hidden" id="thutucname9" name="thutucname9" value="[DATA9]">
            <input type="hidden" id="thutucname10" name="thutucname10" value="[DATA10]">
            <input type="hidden" id="thutucname11" name="thutucname11" value="[DATA11]">
            <input type="hidden" id="thutucname12" name="thutucname12" value="[DATA12]">
            <input type="hidden" id="thutucname13" name="thutucname13" value="[DATA13]">

            <div style="position:absolute;left:50%;margin-left:-297px;top:145px;width:594px;height:842px;border-style:outset;overflow:hidden">
                <div style="position:absolute;left:0px;top:0px">
                    <img src="~/static/html/DeNghiChungThucVanBang_files/background.jpg" width=594 height=842>
                </div>
                <div style="position:absolute;left:208.37px;top:45.36px" class="cls_003"><span class="cls_003">TRƯỜNG ĐẠI HỌC VĂN LANG</span></div>
                <div style="position:absolute;left:418.90px;top:53.52px" class="cls_004"><span class="cls_004">Mã hiệu:</span></div>
                <div style="position:absolute;left:418.90px;top:69.38px" class="cls_004"><span class="cls_004">Lần ban hành:</span></div>
                <div style="position:absolute;left:199.49px;top:71.06px" class="cls_006"><span class="cls_006">QUY TRÌNH GIẢI QUYẾT</span></div>
                <div style="position:absolute;left:418.90px;top:85.22px" class="cls_004"><span class="cls_004">Ngày hiệu lực:</span><span class="cls_005"> …/…/…</span></div>
                <div style="position:absolute;left:188.57px;top:92.30px" class="cls_006"><span class="cls_006">CÁC HOẠT ĐỘNG QUẢN LÝ</span></div>
                <div style="position:absolute;left:418.90px;top:101.06px" class="cls_004"><span class="cls_004">Trang: </span><span class="cls_005">…/…</span></div>
                <div style="position:absolute;left:223.49px;top:113.42px" class="cls_006"><span class="cls_006">ĐÀO TẠO TẠI HUB</span></div>
                <div style="position:absolute;left:433.66px;top:149.06px" class="cls_002"><span class="cls_002">BM.QT.PĐT.01.33</span></div>
                <div style="position:absolute;left:176.09px;top:176.30px" class="cls_002"><span class="cls_002">CỘNG HOÀ XÃ HỘI CHỦ NGHĨA VIỆT NAM</span></div>
                <div style="position:absolute;left:229.97px;top:196.46px" class="cls_002"><span class="cls_002">Độc lập - Tự do - Hạnh phúc</span></div>
                <div style="position:absolute;left:142.46px;top:236.45px" class="cls_002"><span class="cls_002">ĐƠN ĐỀ NGHỊ CHỨNG THỰC VĂN BẰNG, CHỨNG CHỈ</span></div>
                <div style="position:absolute;left:190.25px;top:256.49px" class="cls_002"><span class="cls_002">DO TRƯỜNG ĐẠI HỌC VĂN LANG CẤP</span></div>
                <div style="position:absolute;left:181.25px;top:290.21px" class="cls_002"><span class="cls_002">Kính gửi</span><span class="cls_007">: Hiệu trưởng Trường Đại học Văn Lang</span></div>
                <div style="position:absolute;left:85.10px;top:331.85px" class="cls_007"><span class="cls_007">Tôi tên là:<input type="text" name="thutuc1" value="@(session.name)" readonly style="width: 223px;" /></span></div>
                <div style="position:absolute;left:374.97px;top:331.85px" class="cls_007"><span class="cls_007">CMND/CCCD số: <input type="number" name="thutuc2" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[1].value)" required style="width: 111px;" /></span></div>
                <div style="position:absolute;left:85.10px;top:354.29px" class="cls_007"><span class="cls_007">Ngày sinh: <input type="date" name="thutuc3" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[2].value)" required style="width: 123px;" /></span></div>
                <div style="position:absolute;left:268.93px;top:354.29px" class="cls_007"><span class="cls_007">Nơi sinh: <input type="text" name="thutuc4" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[3].value)" required style="width: 101px;" /></span></div>
                <div style="position:absolute;left:433.93px;top:354.29px" class="cls_007"><span class="cls_007">SĐT: <input type="number" name="thutuc5" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[4].value)" required style="width: 120px;" /></span></div>
                <div style="position:absolute;left:85.10px;top:376.73px" class="cls_007"><span class="cls_007">Lớp: <input type="text" name="thutuc6" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[5].value)" required style="width: 120px;" pattern="(k|K){1}[0-9]{2,2}[A-Za-z0-9]+"/></span></div>
                <div style="position:absolute;left:233.93px;top:376.73px" class="cls_007"><span class="cls_007">Khóa: <input type="text" name="thutuc7" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[6].value)" required style="width: 317px;" /></span></div>
                <div style="position:absolute;left:85.10px;top:399.17px" class="cls_007"><span class="cls_007">Ngành đào tạo: <input type="text" name="thutuc8" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[7].value)" required style="width: 418px;" /></span></div>
                <div style="position:absolute;left:85.10px;top:421.63px" class="cls_007"><span class="cls_007">Số điện thoại: <input type="text" name="thutuc9" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[8].value)" required style="width: 83px;" /></span></div>
                <div style="position:absolute;left:244.25px;top:421.63px" class="cls_007"><span class="cls_007">Email:<input type="text" name="thutuc10" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[9].value)" required style="width: 307px;" /></span></div>
                <div style="position:absolute;left:85.10px;top:444.07px" class="cls_007"><span class="cls_007">Tôi viết đơn này kính đề nghị nhà trường thực hiện chứng thực văn bằng /chứng chỉ</span></div>
                <div style="position:absolute;left:85.10px;top:466.39px" class="cls_007"><span class="cls_007">của tôi để tôi bổ sung hồ sơ cá nhân.</span></div>
                <div style="position:absolute;left:85.10px;top:496.87px" class="cls_010"><span class="cls_010">Kèm theo đơn này bản sao giấy tờ phục vụ cho quá trình xác thực văn bằng/chứng chỉ</span></div>
                <div style="position:absolute;left:85.10px;top:513.91px" class="cls_010"><span class="cls_010">của tôi.</span></div>
                <div style="position:absolute;left:85.10px;top:542.95px" class="cls_010"><span class="cls_010">Trân trọng.</span></div>
                <div style="position:absolute;left:351.55px;top:571.78px" class="cls_007"><span class="cls_007">..........., </span><span class="cls_010">ngày</span></div>
                <div style="position:absolute;left:437.94px;top:571.78px" class="cls_010"><span class="cls_010">tháng     năm 20</span></div>
                <div style="position:absolute;left:392.35px;top:588.82px" class="cls_002"><span class="cls_002">KÍNH ĐƠN</span></div>
                <div style="position:absolute;left:372.79px;top:603.82px" class="cls_007"><span class="cls_007">(ký và ghi rõ họ tên)</span></div>
                <div style="position: absolute; left: 93.74px; top: 701.98px" class="cls_002"><span class="cls_002">Thông tin về chuyển khoản lệ phí chứng thực (áp dụng đối với trường hợp</span></div>
                <div style="position:absolute;left:93.74px;top:716.98px" class="cls_002"><span class="cls_002">nhận hồ sơ qua đường bưu điện):</span></div>
                <div style="        position: absolute;
        left: 93.74px;
        top: 734.86px" class="cls_007"><span class="cls_007">- Tên người nộp tiền: <input type="text" name="thutuc11" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[10].value)" required style="" /></span></div>
                <div style="position:absolute;left:93.74px;top:752.88px" class="cls_007"><span class="cls_007">- Ngày nộp tiền: <input type="date" name="thutuc12" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[11].value)" required style="margin-left: 26px;" /></span></div>
                <div style="position:absolute;left:93.74px;top:770.64px" class="cls_007"><span class="cls_007">- Nội dung nộp tiền: <input type="text" name="thutuc13" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[12].value)" required style="margin-left: 5px;" /></span></div>
            </div>

            <div style="position:absolute;left:742px;top: 907px;" class="cls_002">
                <span class="cls_002">
                    <button class="btn btn-primary hBack" type="button">Trở Lại</button>
                    <input type="submit" id="andsubmit" value="Gửi hồ sơ" class="btn btn-default" style="display:none" />
                    <a href="#" id="submit" class="btn btn-success success" data-toggle="modal" data-target="#modal-dialog">Gửi hồ sơ</a>
                </span>
            </div>
        </div>
    </form>
</body>
</html>
