﻿@{
    var session = (DichVuMotCua.Models.taikhoan)Session[DichVuMotCua.Content.CommonConstants.USER_SESSION];
}
<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
    <style type="text/css">
        <!--
        span.cls_003 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_003 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_004 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_004 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_006 {
            font-family: Times,serif;
            font-size: 16.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_006 {
            font-family: Times,serif;
            font-size: 16.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_005 {
            font-family: Times,serif;
            font-size: 11.7px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_005 {
            font-family: Times,serif;
            font-size: 11.7px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_002 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_002 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_007 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_007 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_010 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: underline
        }

        div.cls_010 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_009 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: italic;
            text-decoration: none
        }

        div.cls_009 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: italic;
            text-decoration: none
        }
        -->
        footer {
            margin-top: 923px;
        }

        input {
            height: 19px;
        }
    </style>
    <script type="text/javascript" src="DieuChinhKeHoachHocTap_files/wz_jsgraphics.js"></script>
</head>
<body>
    <form  enctype="multipart/form-data" method="post">
        <input name="__RequestVerificationToken" type="hidden" value="Zt8rg16DySIJpa1VtHbZsvJ45Me2dIhzk_hp7nPPUTCd0rqqHb4R_KkpmTEgN4yAUaI3ltu5zLt7nGKOLOqzYP2bLCM9fcoREKaCKqqixck1" />        <div class="form-horizontal">
            <input type="hidden" id="thutucname1" name="thutucname1" value="[DATA1]">
            <input type="hidden" id="thutucname2" name="thutucname2" value="[DATA2]">
            <input type="hidden" id="thutucname3" name="thutucname3" value="[DATA3]">
            <input type="hidden" id="thutucname4" name="thutucname4" value="[DATA4]">
            <input type="hidden" id="thutucname5" name="thutucname5" value="[DATA5]">
            <input type="hidden" id="thutucname6" name="thutucname6" value="[DATA6]">
            <input type="hidden" id="thutucname7" name="thutucname7" value="[DATA7]">
            <input type="hidden" id="thutucname8" name="thutucname8" value="[DATA8]">
            <input type="hidden" id="thutucname9" name="thutucname9" value="[DATA9]">
            <input type="hidden" id="thutucname10" name="thutucname10" value="[DATA10]">
            <input type="hidden" id="thutucname11" name="thutucname11" value="[DATA11]">
            <input type="hidden" id="thutucname12" name="thutucname12" value="[DATA12]">
            <input type="hidden" id="thutucname13" name="thutucname13" value="[DATA13]">
            <input type="hidden" id="thutucname14" name="thutucname14" value="[DATA14]">
            <input type="hidden" id="thutucname15" name="thutucname15" value="[DATA15]">
            <input type="hidden" id="thutucname16" name="thutucname16" value="[DATA16]">
            <input type="hidden" id="thutucname17" name="thutucname17" value="[DATA17]">
            <input type="hidden" id="thutucname18" name="thutucname18" value="[DATA18]">
            <input type="hidden" id="thutucname19" name="thutucname19" value="[DATA19]">
            <input type="hidden" id="thutucname20" name="thutucname20" value="[DATA20]">
            <input type="hidden" id="thutucname21" name="thutucname21" value="[DATA21]">
            <input type="hidden" id="thutucname22" name="thutucname22" value="[DATA22]">
            <input type="hidden" id="thutucname23" name="thutucname23" value="[DATA23]">
            <input type="hidden" id="thutucname24" name="thutucname24" value="[DATA24]">
            <input type="hidden" id="thutucname25" name="thutucname25" value="[DATA25]">
            <input type="hidden" id="thutucname26" name="thutucname26" value="[DATA26]">
            <input type="hidden" id="thutucname27" name="thutucname27" value="[DATA27]">
            <input type="hidden" id="thutucname28" name="thutucname28" value="[DATA28]">
            <input type="hidden" id="thutucname29" name="thutucname29" value="[DATA29]">
            <input type="hidden" id="thutucname30" name="thutucname30" value="[DATA30]">
            <input type="hidden" id="thutucname31" name="thutucname31" value="[DATA31]">
            <input type="hidden" id="thutucname32" name="thutucname32" value="[DATA32]">
            <input type="hidden" id="thutucname33" name="thutucname33" value="[DATA33]">
            <input type="hidden" id="thutucname34" name="thutucname34" value="[DATA34]">
            <input type="hidden" id="thutucname35" name="thutucname35" value="[DATA35]">

            <div style="position:absolute;left:50%;margin-left:-297px;top:145px;width:594px;height:842px;border-style:outset;overflow:hidden">
                <div style="position:absolute;left:0px;top:0px">
                    <img src="~/static/html/DieuChinhKeHoachHocTap_files/background.jpg" width=594 height=842>
                </div>
                <div style="position:absolute;left:208.37px;top:45.36px" class="cls_003"><span class="cls_003">TRƯỜNG ĐẠI HỌC VĂN LANG</span></div>
                <div style="position:absolute;left:418.90px;top:53.52px" class="cls_004"><span class="cls_004">Mã hiệu:</span></div>
                <div style="position:absolute;left:418.90px;top:69.38px" class="cls_004"><span class="cls_004">Lần ban hành:</span></div>
                <div style="position:absolute;left:199.49px;top:71.06px" class="cls_006"><span class="cls_006">QUY TRÌNH GIẢI QUYẾT</span></div>
                <div style="position:absolute;left:418.90px;top:85.22px" class="cls_004"><span class="cls_004">Ngày hiệu lực:</span><span class="cls_005"> …/…/…</span></div>
                <div style="position:absolute;left:188.57px;top:92.30px" class="cls_006"><span class="cls_006">CÁC HOẠT ĐỘNG QUẢN LÝ</span></div>
                <div style="position:absolute;left:418.90px;top:101.06px" class="cls_004"><span class="cls_004">Trang: </span><span class="cls_005">…/…</span></div>
                <div style="position:absolute;left:223.49px;top:113.42px" class="cls_006"><span class="cls_006">ĐÀO TẠO TẠI HUB</span></div>
                <div style="position:absolute;left:419.26px;top:148.94px" class="cls_002"><span class="cls_002">BM.QT.PĐT.01.16</span></div>
                <div style="position:absolute;left:99.50px;top:163.94px" class="cls_007"><span class="cls_007">TRƯỜNG ĐẠI HỌC VĂN LANG</span></div>
                <div style="position:absolute;left:125.42px;top:178.94px" class="cls_002"><span class="cls_002">PH</span><span class="cls_010">ÒNG ĐÀO</span><span class="cls_002"> TẠO</span></div>
                <div style="position:absolute;left:131.30px;top:199.82px" class="cls_002"><span class="cls_002">Số: </span><span class="cls_007">………………</span></div>
                <div style="position:absolute;left:149.18px;top:231.62px" class="cls_002"><span class="cls_002">PHIẾU ĐĂNG KÝ ĐIỀU CHỈNH KẾ HOẠCH HỌC TẬP</span></div>
                <div style="position:absolute;left:217.61px;top:250.61px" class="cls_002"><span class="cls_002">HK…</span><span class="cls_010">- NĂM HỌC………</span><span class="cls_002">……….</span></div>
                <div style="position:absolute;left:85.10px;top:278.69px" class="cls_007"><span class="cls_007">Họ và tên sinh viên: <input type="text" name="thutuc1" value="@(session.name)" readonly style="" /></span></div>
                <div style="position:absolute;left:389.95px;top:278.69px" class="cls_007"><span class="cls_007">Mã sinh viên: <input type="text" name="thutuc2" value="@(session.email.Substring(0,session.email.IndexOf("@")))" readonly style="" /></span></div>
                <div style="position:absolute;left:85.10px;top:298.13px" class="cls_007"><span class="cls_007">Lớp: <input type="text" name="thutuc3" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[2].value)" required style="" /></span></div>
                <div style="position:absolute;left:201.77px;top:298.13px" class="cls_007"><span class="cls_007">Ngành đào tạo: <input type="text" name="thutuc4" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[3].value)" required style="" /></span></div>
                <div style="position:absolute;left:428.62px;top:298.13px" class="cls_007"><span class="cls_007">Khoá: <input type="text" name="thutuc5" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[4].value)" required style="" /></span></div>
                <div style="position:absolute;left:85.10px;top:317.57px" class="cls_002"><span class="cls_002">Đăng ký điều chỉnh các học phần như sau:</span></div>
                <div style="position:absolute;left:107.54px;top:341.69px" class="cls_007"><span class="cls_007">Mã học</span></div>
                <div style="position:absolute;left:173.81px;top:341.69px" class="cls_007"><span class="cls_007">Tên học</span></div>
                <div style="position:absolute;left:304.03px;top:341.69px" class="cls_007"><span class="cls_007">TKB điều</span></div>
                <div style="position:absolute;left:521.62px;top:341.69px" class="cls_007"><span class="cls_007">Ghi</span></div>
                <div style="position:absolute;left:76.94px;top:349.25px" class="cls_007"><span class="cls_007">TT</span></div>
                <div style="position:absolute;left:241.97px;top:349.25px" class="cls_007"><span class="cls_007">TKB cũ</span></div>
                <div style="position:absolute;left:394.99px;top:349.25px" class="cls_007"><span class="cls_007">Lý do điều chỉnh</span></div>
                <div style="position:absolute;left:114.50px;top:356.69px" class="cls_007"><span class="cls_007">phần</span></div>
                <div style="position:absolute;left:182.21px;top:356.69px" class="cls_007"><span class="cls_007">phần</span></div>
                <div style="position:absolute;left:299.11px;top:356.69px" class="cls_007"><span class="cls_007">chỉnh (mới)</span></div>
                <div style="position:absolute;left:521.98px;top:356.69px" class="cls_007"><span class="cls_007">chú</span></div>
                <div style="position:absolute;left:242.45px;top:373.37px" class="cls_007"><span class="cls_007">[DATA</span></div>
                <div style="position:absolute;left:304.15px;top:373.37px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc9" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[8].value)" required style="" /></span></div>
                <div style="position:absolute;left:515.50px;top:373.37px" class="cls_007"><span class="cls_007">[DAT</span></div>
                <div style="position:absolute;left:106.94px;top:378.17px" class="cls_007"><span class="cls_007">[DATA</span></div>
                <div style="position:absolute;left:81.62px;top:385.61px" class="cls_007"><span class="cls_007">1</span></div>
                <div style="position:absolute;left:169.22px;top:385.61px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc7" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[6].value)" required style="" /></span></div>
                <div style="position:absolute;left:373.75px;top:385.61px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc10" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[9].value)" required style="" /></span></div>
                <div style="position:absolute;left:257.33px;top:388.37px" class="cls_007"><span class="cls_007">8]</span></div>
                <div style="position:absolute;left:515.50px;top:388.37px" class="cls_007"><span class="cls_007">A11]</span></div>
                <div style="position:absolute;left:121.82px;top:393.17px" class="cls_007"><span class="cls_007">6]</span></div>
                <div style="position:absolute;left:242.45px;top:413.35px" class="cls_007"><span class="cls_007">[DATA</span></div>
                <div style="position:absolute;left:300.91px;top:413.35px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc15" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[14].value)" required style="" /></span></div>
                <div style="position:absolute;left:515.74px;top:413.35px" class="cls_007"><span class="cls_007">[DAT</span></div>
                <div style="position:absolute;left:106.94px;top:422.95px" class="cls_007"><span class="cls_007">[DATA</span></div>
                <div style="position:absolute;left:81.62px;top:430.51px" class="cls_007"><span class="cls_007">2</span></div>
                <div style="position:absolute;left:165.98px;top:430.51px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc13" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[12].value)" required style="" /></span></div>
                <div style="position:absolute;left:254.09px;top:428.23px" class="cls_007"><span class="cls_007">14]</span></div>
                <div style="position:absolute;left:373.75px;top:430.51px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc16" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[15].value)" required style="" /></span></div>
                <div style="position:absolute;left:517.90px;top:428.23px" class="cls_007"><span class="cls_007">A17]</span></div>
                <div style="position:absolute;left:118.58px;top:437.95px" class="cls_007"><span class="cls_007">12]</span></div>
                <div style="position:absolute;left:242.45px;top:463.03px" class="cls_007"><span class="cls_007">[DATA</span></div>
                <div style="position:absolute;left:300.91px;top:463.03px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc21" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[3].value)" required style="" /></span></div>
                <div style="position:absolute;left:515.74px;top:463.03px" class="cls_007"><span class="cls_007">[DAT</span></div>
                <div style="position:absolute;left:106.94px;top:469.03px" class="cls_007"><span class="cls_007">[DATA</span></div>
                <div style="position:absolute;left:81.62px;top:476.59px" class="cls_007"><span class="cls_007">3</span></div>
                <div style="position:absolute;left:165.98px;top:476.59px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc19" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[1].value)" required style="" /></span></div>
                <div style="position:absolute;left:254.09px;top:478.03px" class="cls_007"><span class="cls_007">20]</span></div>
                <div style="position:absolute;left:373.75px;top:476.59px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc22" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[4].value)" required style="" /></span></div>
                <div style="position:absolute;left:517.90px;top:478.03px" class="cls_007"><span class="cls_007">A23]</span></div>
                <div style="position:absolute;left:118.58px;top:484.03px" class="cls_007"><span class="cls_007">18]</span></div>
                <div style="position:absolute;left:242.45px;top:505.51px" class="cls_007"><span class="cls_007">[DATA</span></div>
                <div style="position:absolute;left:300.91px;top:505.51px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc27" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[9].value)" required style="" /></span></div>
                <div style="position:absolute;left:515.74px;top:505.51px" class="cls_007"><span class="cls_007">[DAT</span></div>
                <div style="position:absolute;left:106.94px;top:511.63px" class="cls_007"><span class="cls_007">[DATA</span></div>
                <div style="position:absolute;left:81.62px;top:519.07px" class="cls_007"><span class="cls_007">4</span></div>
                <div style="position:absolute;left:165.98px;top:519.07px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc25" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[7].value)" required style="" /></span></div>
                <div style="position:absolute;left:254.09px;top:520.51px" class="cls_007"><span class="cls_007">26]</span></div>
                <div style="position:absolute;left:373.75px;top:519.07px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc28" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[10].value)" required style="" /></span></div>
                <div style="position:absolute;left:517.90px;top:520.51px" class="cls_007"><span class="cls_007">A29]</span></div>
                <div style="position:absolute;left:118.58px;top:526.51px" class="cls_007"><span class="cls_007">24]</span></div>
                <div style="position:absolute;left:242.45px;top:547.99px" class="cls_007"><span class="cls_007">[DATA</span></div>
                <div style="position:absolute;left:300.91px;top:547.99px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc33" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[15].value)" required style="" /></span></div>
                <div style="position:absolute;left:515.74px;top:547.99px" class="cls_007"><span class="cls_007">[DAT</span></div>
                <div style="position:absolute;left:106.94px;top:553.99px" class="cls_007"><span class="cls_007">[DATA</span></div>
                <div style="position:absolute;left:81.62px;top:561.55px" class="cls_007"><span class="cls_007">5</span></div>
                <div style="position:absolute;left:165.98px;top:561.55px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc31" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[13].value)" required style="" /></span></div>
                <div style="position:absolute;left:254.09px;top:562.99px" class="cls_007"><span class="cls_007">32]</span></div>
                <div style="position:absolute;left:373.75px;top:561.55px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc34" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[16].value)" required style="" /></span></div>
                <div style="position:absolute;left:517.90px;top:562.99px" class="cls_007"><span class="cls_007">A35]</span></div>
                <div style="position:absolute;left:118.58px;top:568.99px" class="cls_007"><span class="cls_007">30]</span></div>
                <div style="position:absolute;left:242.45px;top:590.50px" class="cls_007"><span class="cls_007">[DATA</span></div>
                <div style="position:absolute;left:300.91px;top:590.50px" class="cls_007"><span class="cls_007">[DATA39]</span></div>
                <div style="position:absolute;left:515.74px;top:590.50px" class="cls_007"><span class="cls_007">[DAT</span></div>
                <div style="position:absolute;left:106.94px;top:593.26px" class="cls_007"><span class="cls_007">[DATA</span></div>
                <div style="position:absolute;left:81.62px;top:600.70px" class="cls_007"><span class="cls_007">6</span></div>
                <div style="position:absolute;left:165.98px;top:600.70px" class="cls_007"><span class="cls_007">[DATA37]</span></div>
                <div style="position:absolute;left:373.75px;top:600.70px" class="cls_007"><span class="cls_007">[DATA40]</span></div>
                <div style="position:absolute;left:254.09px;top:605.38px" class="cls_007"><span class="cls_007">38]</span></div>
                <div style="position:absolute;left:517.90px;top:605.38px" class="cls_007"><span class="cls_007">A41]</span></div>
                <div style="position:absolute;left:118.58px;top:608.14px" class="cls_007"><span class="cls_007">36]</span></div>
                <div style="position:absolute;left:378.43px;top:641.26px" class="cls_009"><span class="cls_009">Ngày…….tháng…….năm 20…</span></div>
                <div style="position:absolute;left:85.10px;top:671.26px" class="cls_002"><span class="cls_002">PHÒNG ĐÀO TẠO</span></div>
                <div style="position:absolute;left:434.26px;top:671.26px" class="cls_002"><span class="cls_002">SINH VIÊN</span></div>
                <div style="position:absolute;left:413.50px;top:686.14px" class="cls_009"><span class="cls_009">(ký, ghi rõ họ và tên)</span></div>
            </div>

            <div style="position:absolute;left:413.99px;top: 938px;" class="cls_002">
                <span class="cls_002">
                    <button class="btn btn-primary hBack" type="button">Trở Lại</button>
                    <input type="submit" id="andsubmit" value="Gửi hồ sơ" class="btn btn-default" style="display:none" />
                    <a href="#" id="submit" class="btn btn-success success" data-toggle="modal" data-target="#modal-dialog">Gửi hồ sơ</a>
                </span>
            </div>
        </div>
    </form>
</body>
</html>
