﻿@{
    var session = (DichVuMotCua.Models.taikhoan)Session[DichVuMotCua.Content.CommonConstants.USER_SESSION];
}
<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
    <style type="text/css">
        <!--
        span.cls_003 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_003 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_004 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_004 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_006 {
            font-family: Times,serif;
            font-size: 16.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_006 {
            font-family: Times,serif;
            font-size: 16.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_005 {
            font-family: Times,serif;
            font-size: 11.7px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_005 {
            font-family: Times,serif;
            font-size: 11.7px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_009 {
            font-family: Times,serif;
            font-size: 14.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_009 {
            font-family: Times,serif;
            font-size: 14.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_010 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: italic;
            text-decoration: none
        }

        div.cls_010 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: italic;
            text-decoration: none
        }

        span.cls_007 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_007 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }
        -->
        footer {
            margin-top: 923px;
        }

        input {
            height: 19px;
        }
    </style>
    <script type="text/javascript" src="DoiChieuChuongTrinhDaoTao_files/wz_jsgraphics.js"></script>
</head>
<body>
    <form  enctype="multipart/form-data" method="post">
        <input name="__RequestVerificationToken" type="hidden" value="Zt8rg16DySIJpa1VtHbZsvJ45Me2dIhzk_hp7nPPUTCd0rqqHb4R_KkpmTEgN4yAUaI3ltu5zLt7nGKOLOqzYP2bLCM9fcoREKaCKqqixck1" />        <div class="form-horizontal">
            <input type="hidden" id="thutucname1" name="thutucname1" value="[DATA1]">
            <input type="hidden" id="thutucname2" name="thutucname2" value="[DATA2]">
            <input type="hidden" id="thutucname3" name="thutucname3" value="[DATA3]">
            <input type="hidden" id="thutucname4" name="thutucname4" value="[DATA4]">
            <input type="hidden" id="thutucname5" name="thutucname5" value="[DATA5]">
            <input type="hidden" id="thutucname6" name="thutucname6" value="[DATA6]">
            <input type="hidden" id="thutucname7" name="thutucname7" value="[DATA7]">
            <input type="hidden" id="thutucname8" name="thutucname8" value="[DATA8]">
            <input type="hidden" id="thutucname9" name="thutucname9" value="[DATA9]">
            <input type="hidden" id="thutucname10" name="thutucname10" value="[DATA10]">
            <input type="hidden" id="thutucname11" name="thutucname11" value="[DATA11]">
            <input type="hidden" id="thutucname12" name="thutucname12" value="[DATA12]">
            <input type="hidden" id="thutucname13" name="thutucname13" value="[DATA13]">
            <input type="hidden" id="thutucname14" name="thutucname14" value="[DATA14]">
            <input type="hidden" id="thutucname15" name="thutucname15" value="[DATA15]">
            <input type="hidden" id="thutucname16" name="thutucname16" value="[DATA16]">
            <input type="hidden" id="thutucname17" name="thutucname17" value="[DATA17]">
            <input type="hidden" id="thutucname18" name="thutucname18" value="[DATA18]">
            <input type="hidden" id="thutucname19" name="thutucname19" value="[DATA19]">
            <input type="hidden" id="thutucname20" name="thutucname20" value="[DATA20]">
            <input type="hidden" id="thutucname21" name="thutucname21" value="[DATA21]">
            <input type="hidden" id="thutucname22" name="thutucname22" value="[DATA22]">
            <input type="hidden" id="thutucname23" name="thutucname23" value="[DATA23]">
            <input type="hidden" id="thutucname24" name="thutucname24" value="[DATA24]">
            <input type="hidden" id="thutucname25" name="thutucname25" value="[DATA25]">
            <input type="hidden" id="thutucname26" name="thutucname26" value="[DATA26]">
            <input type="hidden" id="thutucname27" name="thutucname27" value="[DATA27]">
            <input type="hidden" id="thutucname28" name="thutucname28" value="[DATA28]">
            <input type="hidden" id="thutucname29" name="thutucname29" value="[DATA29]">
            <input type="hidden" id="thutucname30" name="thutucname30" value="[DATA30]">
            <input type="hidden" id="thutucname31" name="thutucname31" value="[DATA31]">
            <input type="hidden" id="thutucname32" name="thutucname32" value="[DATA32]">
            <input type="hidden" id="thutucname33" name="thutucname33" value="[DATA33]">
            <input type="hidden" id="thutucname34" name="thutucname34" value="[DATA34]">
            <input type="hidden" id="thutucname35" name="thutucname35" value="[DATA35]">
            <input type="hidden" id="thutucname36" name="thutucname36" value="[DATA36]">
            <input type="hidden" id="thutucname37" name="thutucname37" value="[DATA37]">
            <input type="hidden" id="thutucname38" name="thutucname38" value="[DATA38]">
            <input type="hidden" id="thutucname39" name="thutucname39" value="[DATA39]">
            <input type="hidden" id="thutucname40" name="thutucname40" value="[DATA40]">

            <div style="position:absolute;left:50%;margin-left:-297px;top:145px;width:594px;height:842px;border-style:outset;overflow:hidden">
                <div style="position:absolute;left:0px;top:0px">
                    <img src="~/static/html/DoiChieuChuongTrinhDaoTao_files/background.jpg" width=594 height=842>
                </div>
                <div style="position:absolute;left:208.37px;top:45.36px" class="cls_003"><span class="cls_003">TRƯỜNG ĐẠI HỌC VĂN LANG</span></div>
                <div style="position:absolute;left:418.90px;top:53.52px" class="cls_004"><span class="cls_004">Mã hiệu:</span></div>
                <div style="position:absolute;left:418.90px;top:69.38px" class="cls_004"><span class="cls_004">Lần ban hành:</span></div>
                <div style="position:absolute;left:199.49px;top:71.06px" class="cls_006"><span class="cls_006">QUY TRÌNH GIẢI QUYẾT</span></div>
                <div style="position:absolute;left:418.90px;top:85.22px" class="cls_004"><span class="cls_004">Ngày hiệu lực:</span><span class="cls_005"> …/…/…</span></div>
                <div style="position:absolute;left:188.57px;top:92.30px" class="cls_006"><span class="cls_006">CÁC HOẠT ĐỘNG QUẢN LÝ</span></div>
                <div style="position:absolute;left:418.90px;top:101.06px" class="cls_004"><span class="cls_004">Trang: </span><span class="cls_005">…/…</span></div>
                <div style="position:absolute;left:223.49px;top:113.42px" class="cls_006"><span class="cls_006">ĐÀO TẠO TẠI HUB</span></div>
                <div style="position:absolute;left:159.50px;top:148.82px" class="cls_009"><span class="cls_009">PHẦN ĐỐI CHIẾU CHƯƠNG TRÌNH ĐÀO TẠO</span></div>
                <div style="position:absolute;left:155.90px;top:165.02px" class="cls_010"><span class="cls_010">(kèm đơn chuyển ngành, phần này do Phụ trách học vụ ghi)</span></div>
                <div style="position:absolute;left:85.10px;top:204.98px" class="cls_007"><span class="cls_007">Họ và tên sinh viên:<input type="text" name="thutuc1" value="@(session.name)" readonly style="width: 178px;" /></span></div>
                <div style="position:absolute;left:371.02px;top:204.98px" class="cls_007"><span class="cls_007">Mã số SV: <input type="text" name="thutuc2" value="@(session.email.Substring(0,session.email.IndexOf("@")))" readonly style="width: 158px;" /></span></div>
                <div style="position:absolute;left:85.10px;top:229.94px" class="cls_007"><span class="cls_007">Xếp vào lớp: <input type="text" name="thutuc3" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[2].value)" required style="width: 126px;" /></span></div>
                <div style="position:absolute;left:283.61px;top:229.94px" class="cls_007"><span class="cls_007">Ngành: <input type="text" name="thutuc4" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[3].value)" required style="width: 260px;" /></span></div>
                <div style="position:absolute;left:85.10px;top:255.05px" class="cls_007"><span class="cls_007">Các học phần sinh viên phải trả nợ do lệch chương trình:</span></div>
                <div style="position:absolute;left:96.86px;top:276.53px" class="cls_007"><span class="cls_007">TT</span></div>
                <div style="position:absolute;left:136.34px;top:276.53px" class="cls_007"><span class="cls_007">MÃ HP</span></div>
                <div style="position:absolute;left:252.89px;top:276.53px" class="cls_007"><span class="cls_007">TÊN HỌC PHẦN</span></div>
                <div style="position:absolute;left:413.86px;top:276.53px" class="cls_007"><span class="cls_007">SỐ ĐVHT</span></div>
                <div style="position:absolute;left:487.66px;top:276.53px" class="cls_007"><span class="cls_007">GHI CHÚ</span></div>
                <div style="position:absolute;left:90.74px;top:291.89px" class="cls_007"><span class="cls_007">1</span></div>
                <div style="position:absolute;left:129.74px;top:291.89px" class="cls_007">
                    <span class="cls_007">
                        <input type="text" name="thutuc5" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[4].value)" required style="width: 61px;
    margin-top: 5px;" />
                    </span>
                </div>
                <div style="position:absolute;left:198.41px;top:291.89px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc6" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[5].value)" required style="margin-top: 5px;width: 203px;" /></span></div>
                <div style="position:absolute;left:412.90px;top:291.89px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc7" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[6].value)" required style="width: 59px;margin-top: 5px;" /></span></div>
                <div style="position:absolute;left:481.54px;top:291.89px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc8" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[7].value)" required style="width: 66px;margin-top: 5px;" /></span></div>
                <div style="position:absolute;left:90.74px;top:321.41px" class="cls_007"><span class="cls_007">2</span></div>
                <div style="position:absolute;left:129.74px;top:321.41px" class="cls_007">
                    <span class="cls_007">
                        <input type="text" name="thutuc9" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[8].value)" required style="width: 61px;
    margin-top: 5px;" />
                    </span>
                </div>
                <div style="position:absolute;left:198.41px;top:321.41px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc10" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[9].value)" required style="margin-top: 5px;width: 203px;" /></span></div>
                <div style="position:absolute;left:412.90px;top:321.41px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc11" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[10].value)" required style="width: 59px;margin-top: 5px;" /></span></div>
                <div style="position:absolute;left:481.54px;top:321.41px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc12" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[11].value)" required style="width: 66px;margin-top: 5px;" /></span></div>
                <div style="position:absolute;left:90.74px;top:350.81px" class="cls_007"><span class="cls_007">3</span></div>
                <div style="position:absolute;left:129.74px;top:350.81px" class="cls_007">
                    <span class="cls_007">
                        <input type="text" name="thutuc13" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[12].value)" required style="width: 61px;
    margin-top: 5px;" />
                    </span>
                </div>
                <div style="position:absolute;left:198.41px;top:350.81px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc14" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[13].value)" required style="margin-top: 5px;width: 203px;" /></span></div>
                <div style="position:absolute;left:412.90px;top:350.81px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc15" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[14].value)" required style="width: 59px;margin-top: 5px;" /></span></div>
                <div style="position:absolute;left:481.54px;top:350.81px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc16" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[15].value)" required style="width: 66px;margin-top: 5px;" /></span></div>
                <div style="position:absolute;left:90.74px;top:380.33px" class="cls_007"><span class="cls_007">4</span></div>
                <div style="position:absolute;left:129.74px;top:380.33px" class="cls_007">
                    <span class="cls_007">
                        <input type="text" name="thutuc17" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[16].value)" required style="width: 61px;
    margin-top: 5px;" />
                    </span>
                </div>
                <div style="position:absolute;left:198.41px;top:380.33px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc18" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[0].value)" required style="margin-top: 5px;width: 203px;" /></span></div>
                <div style="position:absolute;left:412.90px;top:380.33px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc19" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[1].value)" required style="width: 59px;margin-top: 5px;" /></span></div>
                <div style="position:absolute;left:481.54px;top:380.33px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc20" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[2].value)" required style="width: 66px;margin-top: 5px;" /></span></div>
                <div style="position:absolute;left:90.74px;top:409.75px" class="cls_007"><span class="cls_007">5</span></div>
                <div style="position:absolute;left:129.74px;top:409.75px" class="cls_007">
                    <span class="cls_007">
                        <input type="text" name="thutuc21" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[3].value)" required style="width: 61px;
    margin-top: 5px;" />
                    </span>
                </div>
                <div style="position:absolute;left:198.41px;top:409.75px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc22" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[4].value)" required style="margin-top: 5px;width: 203px;" /></span></div>
                <div style="position:absolute;left:412.90px;top:409.75px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc23" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[5].value)" required style="width: 59px;margin-top: 5px;" /></span></div>
                <div style="position:absolute;left:481.54px;top:409.75px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc24" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[6].value)" required style="width: 66px;margin-top: 5px;" /></span></div>
                <div style="position:absolute;left:90.74px;top:439.15px" class="cls_007"><span class="cls_007">6</span></div>
                <div style="position:absolute;left:129.74px;top:439.15px" class="cls_007">
                    <span class="cls_007">
                        <input type="text" name="thutuc25" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[7].value)" required style="width: 61px;
    margin-top: 5px;" />
                    </span>
                </div>
                <div style="position:absolute;left:198.41px;top:439.15px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc26" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[8].value)" required style="margin-top: 5px;width: 203px;" /></span></div>
                <div style="position:absolute;left:412.90px;top:439.15px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc27" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[9].value)" required style="width: 59px;margin-top: 5px;" /></span></div>
                <div style="position:absolute;left:481.54px;top:439.15px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc28" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[10].value)" required style="width: 66px;margin-top: 5px;" /></span></div>
                <div style="position:absolute;left:90.74px;top:468.67px" class="cls_007"><span class="cls_007">7</span></div>
                <div style="position:absolute;left:129.74px;top:468.67px" class="cls_007">
                    <span class="cls_007">
                        <input type="text" name="thutuc29" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[11].value)" required style="width: 61px;
    margin-top: 5px;" />
                    </span>
                </div>
                <div style="        position: absolute;
        left: 198.41px;
        top: 468.67px
" class="cls_007"><span class="cls_007"><input type="text" name="thutuc30" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[12].value)" required style="margin-top: 5px;width: 203px;" /></span></div>
                <div style="position:absolute;left:412.90px;top:468.67px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc31" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[13].value)" required style="width: 59px;margin-top: 5px;" /></span></div>
                <div style="position:absolute;left:481.54px;top:468.67px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc32" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[14].value)" required style="width: 66px;margin-top: 5px;" /></span></div>
                <div style="position:absolute;left:90.74px;top:498.07px" class="cls_007"><span class="cls_007">8</span></div>
                <div style="position:absolute;left:129.74px;top:498.07px" class="cls_007">
                    <span class="cls_007">
                        <input type="text" name="thutuc33" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[15].value)" required style="width: 61px;
    margin-top: 5px;" />
                    </span>
                </div>
                <div style="position:absolute;left:198.41px;top:498.07px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc34" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[16].value)" required style="margin-top: 5px;width: 203px;" /></span></div>
                <div style="position:absolute;left:412.90px;top:498.07px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc34" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[16].value)" required style="width: 59px;margin-top: 5px;" /></span></div>
                <div style="position:absolute;left:481.54px;top:498.07px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc35" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[17].value)" required style="width: 66px;margin-top: 5px;" /></span></div>
                <div style="position:absolute;left:90.74px;top:527.59px" class="cls_007"><span class="cls_007">9</span></div>
                <div style="position:absolute;left:129.74px;top:527.59px" class="cls_007">
                    <span class="cls_007">
                        <input type="text" name="thutuc36" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[18].value)" required style="width: 61px;
    margin-top: 5px;" />
                    </span>
                </div>
                <div style="position:absolute;left:198.41px;top:527.59px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc37" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[19].value)" required style="margin-top: 5px;width: 203px;" /></span></div>
                <div style="position:absolute;left:412.90px;top:527.59px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc38" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[20].value)" required style="width: 59px;margin-top: 5px;" /></span></div>
                <div style="        position: absolute;
        left: 481.54px;
        top: 527.59px
" class="cls_007"><span class="cls_007"><input type="text" name="thutuc39" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[21].value)" required style="width: 66px;margin-top: 5px;" /></span></div>
                <div style="position:absolute;left:85.10px;top:567.07px" class="cls_007"><span class="cls_007">Ghi chú: Sinh viên liên hệ Phòng Đào tạo (cơ sở 1) đăng ký trả nợ các học phần trên để</span></div>
                <div style="position:absolute;left:85.10px;top:592.06px" class="cls_007"><span class="cls_007">hoàn tất chương trình đào tạo.</span></div>
                <div style="position:absolute;left:106.82px;top:635.14px" class="cls_007"><span class="cls_007">SINH VIÊN</span></div>
                <div style="position:absolute;left:383.71px;top:635.14px" class="cls_007"><span class="cls_007">PHỤ TRÁCH HỌC VỤ</span></div>
                <div style="
        position: absolute;
        left: 91.46px;
        top: 653.14px
   " class="cls_007"><span class="cls_007">(Ký và ghi họ tên)</span></div>
                <div style="position: absolute; left: 360.07px; top: 653.14px" class="cls_007"><span class="cls_007">(Ký xác nhận đã đối chiếu CTĐT)</span></div>
            </div>

            <div style="position:absolute;left:806px;top: 938px;" class="cls_002">
                <span class="cls_002">
                    <button class="btn btn-primary hBack" type="button">Trở Lại</button>
                    <input type="submit" id="andsubmit" value="Gửi hồ sơ" class="btn btn-default" style="display:none" />
                    <a href="#" id="submit" class="btn btn-success success" data-toggle="modal" data-target="#modal-dialog">Gửi hồ sơ</a>
                </span>
            </div>
        </div>
    </form>
</body>
</html>
