﻿@{
    var session = (DichVuMotCua.Models.taikhoan)Session[DichVuMotCua.Content.CommonConstants.USER_SESSION];
}
<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
    <style type="text/css">
        <!--
        span.cls_003 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_003 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_004 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_004 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_006 {
            font-family: Times,serif;
            font-size: 16.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_006 {
            font-family: Times,serif;
            font-size: 16.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_005 {
            font-family: Times,serif;
            font-size: 11.7px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_005 {
            font-family: Times,serif;
            font-size: 11.7px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_002 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_002 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_017 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: underline
        }

        div.cls_017 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_009 {
            font-family: Times,serif;
            font-size: 14.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_009 {
            font-family: Times,serif;
            font-size: 14.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_018 {
            font-family: Times,serif;
            font-size: 14.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: underline
        }

        div.cls_018 {
            font-family: Times,serif;
            font-size: 14.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_010 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: italic;
            text-decoration: none
        }

        div.cls_010 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: italic;
            text-decoration: none
        }

        span.cls_007 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_007 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_012 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: italic;
            text-decoration: none
        }

        div.cls_012 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: italic;
            text-decoration: none
        }

        span.cls_013 {
            font-family: Times,serif;
            font-size: 14.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_013 {
            font-family: Times,serif;
            font-size: 14.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_016 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: italic;
            text-decoration: underline
        }

        div.cls_016 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: italic;
            text-decoration: none
        }

        span.cls_015 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: italic;
            text-decoration: none
        }

        div.cls_015 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: italic;
            text-decoration: none
        }
        -->
        footer {
            margin-top: 923px;
        }

        input {
            height: 19px;
        }
    </style>
    <script type="text/javascript" src="DonDangKyCaiThienDiem_files/wz_jsgraphics.js"></script>
</head>
<body>
    <form  enctype="multipart/form-data" method="post">
        <input name="__RequestVerificationToken" type="hidden" value="Zt8rg16DySIJpa1VtHbZsvJ45Me2dIhzk_hp7nPPUTCd0rqqHb4R_KkpmTEgN4yAUaI3ltu5zLt7nGKOLOqzYP2bLCM9fcoREKaCKqqixck1" />        <div class="form-horizontal">
            <input type="hidden" id="thutucname1" name="thutucname1" value="[DATA1]">
            <input type="hidden" id="thutucname2" name="thutucname2" value="[DATA2]">
            <input type="hidden" id="thutucname3" name="thutucname3" value="[DATA3]">
            <input type="hidden" id="thutucname4" name="thutucname4" value="[DATA4]">
            <input type="hidden" id="thutucname5" name="thutucname5" value="[DATA5]">
            <input type="hidden" id="thutucname6" name="thutucname6" value="[DATA6]">
            <input type="hidden" id="thutucname7" name="thutucname7" value="[DATA7]">
            <input type="hidden" id="thutucname8" name="thutucname8" value="[DATA8]">
            <input type="hidden" id="thutucname9" name="thutucname9" value="[DATA9]">
            <input type="hidden" id="thutucname10" name="thutucname10" value="[DATA10]">
            <input type="hidden" id="thutucname11" name="thutucname11" value="[DATA11]">
            <input type="hidden" id="thutucname12" name="thutucname12" value="[DATA12]">
            <input type="hidden" id="thutucname13" name="thutucname13" value="[DATA13]">
            <input type="hidden" id="thutucname14" name="thutucname14" value="[DATA14]">
            <input type="hidden" id="thutucname15" name="thutucname15" value="[DATA15]">
            <input type="hidden" id="thutucname16" name="thutucname16" value="[DATA16]">
            <input type="hidden" id="thutucname17" name="thutucname17" value="[DATA17]">
            <input type="hidden" id="thutucname18" name="thutucname18" value="[DATA18]">
            <input type="hidden" id="thutucname19" name="thutucname19" value="[DATA19]">
            <input type="hidden" id="thutucname20" name="thutucname20" value="[DATA20]">
            <input type="hidden" id="thutucname21" name="thutucname21" value="[DATA21]">
            <input type="hidden" id="thutucname22" name="thutucname22" value="[DATA22]">
            <input type="hidden" id="thutucname23" name="thutucname23" value="[DATA23]">
            <input type="hidden" id="thutucname24" name="thutucname24" value="[DATA24]">
            <input type="hidden" id="thutucname25" name="thutucname25" value="[DATA25]">

            <div style="position:absolute;left:50%;margin-left:-297px;top:145px;width:594px;height:842px;border-style:outset;overflow:hidden">
                <div style="position:absolute;left:0px;top:0px">
                    <img src="~/static/html/DonDangKyCaiThienDiem_files/background.jpg" width=594 height=842>
                </div>
                <div style="position:absolute;left:208.37px;top:45.36px" class="cls_003"><span class="cls_003">TRƯỜNG ĐẠI HỌC VĂN LANG</span></div>
                <div style="position:absolute;left:418.90px;top:53.52px" class="cls_004"><span class="cls_004">Mã hiệu:</span></div>
                <div style="position:absolute;left:418.90px;top:69.38px" class="cls_004"><span class="cls_004">Lần ban hành:</span></div>
                <div style="position:absolute;left:199.49px;top:71.06px" class="cls_006"><span class="cls_006">QUY TRÌNH GIẢI QUYẾT</span></div>
                <div style="position:absolute;left:418.90px;top:85.22px" class="cls_004"><span class="cls_004">Ngày hiệu lực:</span><span class="cls_005"> …/…/…</span></div>
                <div style="position:absolute;left:188.57px;top:92.30px" class="cls_006"><span class="cls_006">CÁC HOẠT ĐỘNG QUẢN LÝ</span></div>
                <div style="position:absolute;left:418.90px;top:101.06px" class="cls_004"><span class="cls_004">Trang: </span><span class="cls_005">…/…</span></div>
                <div style="position:absolute;left:223.49px;top:113.42px" class="cls_006"><span class="cls_006">ĐÀO TẠO TẠI HUB</span></div>
                <div style="position:absolute;left:433.66px;top:148.94px" class="cls_002"><span class="cls_002">BM.QT.PĐT.01.18</span></div>
                <div style="position:absolute;left:176.09px;top:163.94px" class="cls_002"><span class="cls_002">CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</span></div>
                <div style="position:absolute;left:229.97px;top:178.82px" class="cls_017"><span class="cls_017">Độc lập - Tự do - Hạnh phúc</span></div>
                <div style="position:absolute;left:187.25px;top:214.58px" class="cls_009"><span class="cls_009">ĐƠN ĐĂNG KÝ THI CẢI THIỆN ĐIỂM</span></div>
                <div style="position:absolute;left:187.01px;top:233.69px" class="cls_009"><span class="cls_009">(Dành cho si</span><span class="cls_018">nh viên khóa 22 </span><span class="cls_009">trở về trước)</span></div>
                <div style="position:absolute;left:164.42px;top:270.89px" class="cls_010"><span class="cls_010">Kính gửi:</span></div>
                <div style="position:absolute;left:239.69px;top:270.89px" class="cls_002"><span class="cls_002">Hiệu trưởng Trường Đại học Văn Lang</span></div>
                <div style="position:absolute;left:85.10px;top:297.89px" class="cls_007"><span class="cls_007">Họ tên sinh viên : <input type="text" name="thutuc1" value="@(session.name)" readonly style="width: 242px;" /></span></div>
                <div style="position:absolute;left:425.38px;top:297.89px" class="cls_007"><span class="cls_007">MSSV : <input type="text" name="thutuc2" value="@(session.email.Substring(0,session.email.IndexOf("@")))" readonly style="width: 113px;" /></span></div>
                <div style="position:absolute;left:85.10px;top:318.89px" class="cls_007"><span class="cls_007">Ngày sinh :  <input type="date" name="thutuc3" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[2].value)" required style="width: 103px;" /></span></div>
                <div style="position:absolute;left:255.29px;top:318.89px" class="cls_007"><span class="cls_007">Lớp : <input type="text" name="thutuc4" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[3].value)" required style="width: 297px;" pattern="(k|K){1}[0-9]{2,2}[A-Za-z0-9]+"/></span></div>
                <div style="position:absolute;left:85.10px;top:339.77px" class="cls_007"><span class="cls_007">Khoa : @Html.DropDownList("thutuc5", new SelectList(ViewBag.khoa, "Value", "Text", ViewBag.noidung == null ? "" : ViewBag.noidung[4].value))</span></div>
                <div style="position:absolute;left:315.19px;top:339.77px" class="cls_007"><span class="cls_007">Ngành: <input type="text" name="thutuc6" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[5].value)" required style="width: 227px;" /></span></div>
                <div style="position:absolute;left:85.10px;top:360.77px" class="cls_007"><span class="cls_007">Đăng ký thi cải thiện một số học phần sau:</span></div>
                <div style="position:absolute;left:322.87px;top:383.57px" class="cls_007"><span class="cls_007">ĐVHT/</span></div>
                <div style="position:absolute;left:90.74px;top:391.13px" class="cls_007"><span class="cls_007">TT</span></div>
                <div style="position:absolute;left:162.86px;top:391.13px" class="cls_007"><span class="cls_007">TÊN HỌC PHẦN</span></div>
                <div style="position:absolute;left:394.63px;top:391.13px" class="cls_007"><span class="cls_007">ĐIỂM</span></div>
                <div style="position:absolute;left:464.98px;top:391.13px" class="cls_007"><span class="cls_007">GHI CHÚ</span></div>
                <div style="position:absolute;left:319.15px;top:398.57px" class="cls_007"><span class="cls_007">TÍN CHỈ</span></div>
                <div style="position:absolute;left:95.42px;top:421.51px" class="cls_007"><span class="cls_007">1</span></div>
                <div style="position:absolute;left:184.49px;top:421.51px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc7" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[6].value)" required style="margin-left: -72px;width: 190px;" /></span></div>
                <div style="position:absolute;left:317.11px;top:421.51px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc8" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[7].value)" required style="width: 61px;margin-left: -5px;" /></span></div>
                <div style="position:absolute;left:385.63px;top:421.51px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc9" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[8].value)" required style="margin-left: -4px;width: 61px;" /></span></div>
                <div style="position:absolute;left:463.06px;top:421.51px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc10" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[9].value)" required style="margin-left: -15px;width: 86px;" /></span></div>
                <div style="position:absolute;left:95.42px;top:448.99px" class="cls_007"><span class="cls_007">2</span></div>
                <div style="position:absolute;left:181.25px;top:448.99px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc11" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[10].value)" required style="margin-left: -69px;width: 190px;" /></span></div>
                <div style="position:absolute;left:313.87px;top:448.99px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc12" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[11].value)" required style="width: 61px;" /></span></div>
                <div style="position:absolute;left:382.39px;top:448.99px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc13" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[12].value)" required style="width: 61px;" /></span></div>
                <div style="position:absolute;left:463.06px;top:448.99px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc14" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[13].value)" required style="margin-left: -15px;width: 86px;" /></span></div>
                <div style="position:absolute;left:95.42px;top:476.47px" class="cls_007"><span class="cls_007">3</span></div>
                <div style="position:absolute;left:181.25px;top:476.47px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc15" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[14].value)" required style="margin-left: -69px;width: 190px;" /></span></div>
                <div style="position:absolute;left:313.87px;top:476.47px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc16" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[15].value)" required style="width: 61px;" /></span></div>
                <div style="position:absolute;left:382.39px;top:476.47px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc17" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[16].value)" required style="width: 61px;" /></span></div>
                <div style="position:absolute;left:463.06px;top:476.47px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc18" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[0].value)" required style="margin-left: -15px;width: 86px;" /></span></div>
                <div style="position:absolute;left:95.42px;top:503.83px" class="cls_007"><span class="cls_007">4</span></div>
                <div style="position:absolute;left:181.25px;top:503.83px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc19" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[1].value)" required style="margin-left: -69px;width: 190px;" /></span></div>
                <div style="position:absolute;left:313.87px;top:503.83px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc20" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[2].value)" required style="width: 61px;" /></span></div>
                <div style="        position: absolute;
        left: 382.39px;
        top: 503.83px
" class="cls_007"><span class="cls_007"><input type="text" name="thutuc21" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[3].value)" required style="width: 61px;" /></span></div>
                <div style="position:absolute;left:463.06px;top:503.83px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc22" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[4].value)" required style="margin-left: -15px;width: 86px;" /></span></div>
                <div style="position:absolute;left:85.10px;top:531.31px" class="cls_007"><span class="cls_007">Thời gian thi cải thiện: Học kỳ: <input type="number" name="thutuc23" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[5].value)" required style="" />Năm học: <input type="number" name="thutuc24" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[6].value)" required style="" /></span></div>
                <div style="position:absolute;left:85.10px;top:552.31px" class="cls_007"><span class="cls_007">Lý do thi cải thiện điểm: <textarea rows="2" name="thutuc25" value="" required style="width: 361px;">@(ViewBag.noidung == null ? "":ViewBag.noidung[7].value)</textarea></span></div>
                <div style="position:absolute;left:85.10px;top:594.22px" class="cls_007"><span class="cls_007">Tôi đồng ý hủy kết quả thi lần 1 và chấp nhận kết quả thi cải thiện.</span></div>
                <div style="position:absolute;left:291.07px;top:621.22px" class="cls_012"><span class="cls_012">TP. Hồ Chí Minh, ngày</span></div>
                <div style="position:absolute;left:435.75px;top:621.22px" class="cls_012"><span class="cls_012">tháng</span></div>
                <div style="position:absolute;left:488.06px;top:621.22px" class="cls_012"><span class="cls_012">năm 20…</span></div>
                <div style="position:absolute;left:99.50px;top:641.98px" class="cls_004"><span class="cls_004">TL.HIỆU TRƯỞNG</span></div>
                <div style="position:absolute;left:418.66px;top:641.98px" class="cls_004"><span class="cls_004">Người làm đơn</span></div>
                <div style="position:absolute;left:99.50px;top:655.66px" class="cls_013"><span class="cls_013">PHÒNG ĐÀO TẠO</span></div>
                <div style="        position: absolute;
        left: 409.18px;
        top: 656.74px
" class="cls_012"><span class="cls_012">(ký và ghi họ tên)</span></div>
                <div style="        position: absolute;
        left: 85.10px;
        top: 740.76px
" class="cls_016"><span class="cls_016">Lưu ý:</span><span class="cls_015"> SV chỉ được đăng ký thi cải thiện điểm các HP có dự thi lần 1 trong học kỳ hiện tại.</span></div>
            </div>

            <div style="position:absolute;left:818px;top: 945px;" class="cls_002">
                <span class="cls_002">
                    <button class="btn btn-primary hBack" type="button">Trở Lại</button>
                    <input type="submit" id="andsubmit" value="Gửi hồ sơ" class="btn btn-default" style="display:none" />
                    <a href="#" id="submit" class="btn btn-success success" data-toggle="modal" data-target="#modal-dialog">Gửi hồ sơ</a>
                </span>
            </div>
        </div>
    </form>
</body>
</html>
