﻿@{
    var session = (DichVuMotCua.Models.taikhoan)Session[DichVuMotCua.Content.CommonConstants.USER_SESSION];
}
<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
    <style type="text/css">
        <!--
        span.cls_003 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_003 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_004 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_004 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_006 {
            font-family: Times,serif;
            font-size: 16.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_006 {
            font-family: Times,serif;
            font-size: 16.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_005 {
            font-family: Times,serif;
            font-size: 11.7px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_005 {
            font-family: Times,serif;
            font-size: 11.7px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_002 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_002 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_007 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_007 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_009 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: italic;
            text-decoration: none
        }

        div.cls_009 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: italic;
            text-decoration: none
        }
        -->
        footer {
            margin-top: 923px;
        }

        input {
            height: 18px;
        }
    </style>
    <script type="text/javascript" src="DonRutBotHocPhan_files/wz_jsgraphics.js"></script>
</head>
<body>
    <form  enctype="multipart/form-data" method="post">
        <input name="__RequestVerificationToken" type="hidden" value="Zt8rg16DySIJpa1VtHbZsvJ45Me2dIhzk_hp7nPPUTCd0rqqHb4R_KkpmTEgN4yAUaI3ltu5zLt7nGKOLOqzYP2bLCM9fcoREKaCKqqixck1" />        <div class="form-horizontal">
            <input type="hidden" id="thutucname1" name="thutucname1" value="[DATA1]">
            <input type="hidden" id="thutucname2" name="thutucname2" value="[DATA2]">
            <input type="hidden" id="thutucname3" name="thutucname3" value="[DATA3]">
            <input type="hidden" id="thutucname4" name="thutucname4" value="[DATA4]">
            <input type="hidden" id="thutucname5" name="thutucname5" value="[DATA5]">
            <input type="hidden" id="thutucname6" name="thutucname6" value="[DATA6]">
            <input type="hidden" id="thutucname7" name="thutucname7" value="[DATA7]">
            <input type="hidden" id="thutucname8" name="thutucname8" value="[DATA8]">
            <input type="hidden" id="thutucname9" name="thutucname9" value="[DATA9]">
            <input type="hidden" id="thutucname10" name="thutucname10" value="[DATA10]">
            <input type="hidden" id="thutucname11" name="thutucname11" value="[DATA11]">
            <input type="hidden" id="thutucname12" name="thutucname12" value="[DATA12]">
            <input type="hidden" id="thutucname13" name="thutucname13" value="[DATA13]">
            <input type="hidden" id="thutucname14" name="thutucname14" value="[DATA14]">
            <input type="hidden" id="thutucname15" name="thutucname15" value="[DATA15]">
            <input type="hidden" id="thutucname16" name="thutucname16" value="[DATA16]">
            <input type="hidden" id="thutucname17" name="thutucname17" value="[DATA17]">
            <input type="hidden" id="thutucname18" name="thutucname18" value="[DATA18]">
            <input type="hidden" id="thutucname19" name="thutucname19" value="[DATA19]">
            <input type="hidden" id="thutucname20" name="thutucname20" value="[DATA20]">
            <input type="hidden" id="thutucname21" name="thutucname21" value="[DATA21]">
            <input type="hidden" id="thutucname22" name="thutucname22" value="[DATA22]">
            <input type="hidden" id="thutucname23" name="thutucname23" value="[DATA23]">
            <input type="hidden" id="thutucname24" name="thutucname24" value="[DATA24]">
            <input type="hidden" id="thutucname25" name="thutucname25" value="[DATA25]">
            <input type="hidden" id="thutucname26" name="thutucname26" value="[DATA26]">

            <div style="position:absolute;left:50%;margin-left:-297px;top:145px;width:594px;height:842px;border-style:outset;overflow:hidden">
                <div style="position:absolute;left:0px;top:0px">
                    <img src="~/static/html/DonRutBotHocPhan_files/background.jpg" width=594 height=842>
                </div>
                <div style="position:absolute;left:208.37px;top:45.36px" class="cls_003"><span class="cls_003">TRƯỜNG ĐẠI HỌC VĂN LANG</span></div>
                <div style="position:absolute;left:418.90px;top:53.52px" class="cls_004"><span class="cls_004">Mã hiệu:</span></div>
                <div style="position:absolute;left:418.90px;top:69.38px" class="cls_004"><span class="cls_004">Lần ban hành:</span></div>
                <div style="position:absolute;left:199.49px;top:71.06px" class="cls_006"><span class="cls_006">QUY TRÌNH GIẢI QUYẾT</span></div>
                <div style="position:absolute;left:418.90px;top:85.22px" class="cls_004"><span class="cls_004">Ngày hiệu lực:</span><span class="cls_005"> …/…/…</span></div>
                <div style="position:absolute;left:188.57px;top:92.30px" class="cls_006"><span class="cls_006">CÁC HOẠT ĐỘNG QUẢN LÝ</span></div>
                <div style="position:absolute;left:418.90px;top:101.06px" class="cls_004"><span class="cls_004">Trang: </span><span class="cls_005">…/…</span></div>
                <div style="position:absolute;left:223.49px;top:113.42px" class="cls_006"><span class="cls_006">ĐÀO TẠO TẠI HUB</span></div>
                <div style="position:absolute;left:433.66px;top:148.94px" class="cls_002"><span class="cls_002">BM.QT.PĐT.01.15</span></div>
                <div style="position:absolute;left:85.10px;top:163.94px" class="cls_007"><span class="cls_007">TRƯỜNG ĐẠI HỌC VĂN LANG</span></div>
                <div style="position:absolute;left:85.10px;top:183.38px" class="cls_002"><span class="cls_002">PHÒNG ĐÀO TẠO</span></div>
                <div style="position:absolute;left:171.38px;top:208.82px" class="cls_002"><span class="cls_002">PHIẾU ĐĂNG KÝ RÚT BỚT (HỦY) HỌC PHẦN</span></div>
                <div style="position:absolute;left:248.57px;top:223.82px" class="cls_002"><span class="cls_002">HK… - NĂM HỌC …</span></div>
                <div style="position:absolute;left:85.10px;top:249.29px" class="cls_007"><span class="cls_007">Họ và tên sinh viên: <input type="text" name="thutuc1" value="@(session.name)" readonly style="width: 172px;" /></span></div>
                <div style="position:absolute;left:368.71px;top:249.29px" class="cls_007"><span class="cls_007">Mã sinh viên: <input type="text" name="thutuc2" value="@(session.email.Substring(0,session.email.IndexOf("@")))" readonly style="" /></span></div>
                <div style="position:absolute;left:85.10px;top:268.61px" class="cls_007"><span class="cls_007">Lớp: <input type="text" name="thutuc3" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[2].value)" required style="width: 84px;" pattern="(k|K){1}[0-9]{2,2}[A-Za-z0-9]+"/></span></div>
                <div style="position:absolute;left:198.53px;top:268.61px" class="cls_007"><span class="cls_007">Ngành đào tạo: <input type="text" name="thutuc4" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[3].value)" required style="width: 295px;" /></span></div>
                <div style="position:absolute;left:85.10px;top:288.05px" class="cls_007"><span class="cls_007">Khoá: <input type="text" name="thutuc5" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[4].value)" required style="" /></span></div>
                <div style="position:absolute;left:85.10px;top:307.49px" class="cls_007"><span class="cls_007">Đăng ký rút bớt (hủy) các học phần sau:</span></div>
                <div style="position:absolute;left:89.42px;top:331.25px" class="cls_007"><span class="cls_007">TT</span></div>
                <div style="position:absolute;left:129.38px;top:331.25px" class="cls_007"><span class="cls_007">Mã học phần</span></div>
                <div style="position:absolute;left:299.83px;top:331.25px" class="cls_007"><span class="cls_007">Tên học phần</span></div>
                <div style="position:absolute;left:473.26px;top:331.25px" class="cls_007"><span class="cls_007">Số tín chỉ</span></div>
                <div style="position:absolute;left:94.10px;top:358.85px" class="cls_007"><span class="cls_007">1</span></div>
                <div style="position:absolute;left:137.78px;top:358.85px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc6" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[5].value)" required style="margin-left: -23px;width: 97px;" /></span></div>
                <div style="position:absolute;left:309.55px;top:358.85px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc7" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[6].value)" required style="width: 233px;margin-left: -91px;" /></span></div>
                <div style="position:absolute;left:472.54px;top:358.85px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc8" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[7].value)" required style="margin-left: -15px;width: 80px;" /></span></div>
                <div style="position:absolute;left:94.10px;top:386.33px" class="cls_007"><span class="cls_007">2</span></div>
                <div style="position:absolute;left:137.78px;top:386.33px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc9" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[8].value)" required style="margin-left: -23px;width: 97px;" /></span></div>
                <div style="position:absolute;left:309.55px;top:386.33px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc10" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[9].value)" required style="width: 233px;margin-left: -91px;" /></span></div>
                <div style="position:absolute;left:472.54px;top:386.33px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc11" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[10].value)" required style="margin-left: -15px;width: 80px;" /></span></div>
                <div style="position:absolute;left:94.10px;top:413.95px" class="cls_007"><span class="cls_007">3</span></div>
                <div style="position:absolute;left:137.78px;top:413.95px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc12" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[11].value)" required style="margin-left: -23px;width: 97px;" /></span></div>
                <div style="position:absolute;left:309.55px;top:413.95px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc13" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[12].value)" required style="width: 233px;margin-left: -91px;" /></span></div>
                <div style="position:absolute;left:472.54px;top:413.95px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc14" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[13].value)" required style="margin-left: -15px;width: 80px;" /></span></div>
                <div style="position:absolute;left:94.10px;top:441.55px" class="cls_007"><span class="cls_007">4</span></div>
                <div style="position:absolute;left:134.54px;top:441.55px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc15" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[14].value)" required style="margin-left: -20px;width: 97px;" /></span></div>
                <div style="position:absolute;left:306.31px;top:441.55px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc16" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[15].value)" required style="width: 233px;margin-left: -88px;" /></span></div>
                <div style="position:absolute;left:469.30px;top:441.55px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc17" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[16].value)" required style="margin-left: -12px;width: 80px;" /></span></div>
                <div style="position:absolute;left:94.10px;top:469.03px" class="cls_007"><span class="cls_007">5</span></div>
                <div style="position:absolute;left:134.54px;top:469.03px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc18" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[17].value)" required style="margin-left: -20px;width: 97px;" /></span></div>
                <div style="position:absolute;left:306.31px;top:469.03px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc19" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[18].value)" required style="width: 233px;margin-left: -88px;" /></span></div>
                <div style="position:absolute;left:469.30px;top:469.03px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc20" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[19].value)" required style="margin-left: -12px;width: 80px;" /></span></div>
                <div style="position:absolute;left:94.10px;top:496.63px" class="cls_007"><span class="cls_007">6</span></div>
                <div style="        position: absolute;
        left: 134.54px;
        top: 496.63px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc21" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[20].value)" required style="margin-left: -20px;width: 97px;" /></span></div>
                <div style="position:absolute;left:306.31px;top:496.63px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc22" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[21].value)" required style="width: 233px;margin-left: -88px;" /></span></div>
                <div style="position:absolute;left:469.30px;top:496.63px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc23" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[22].value)" required style="margin-left: -12px;width: 80px;" /></span></div>
                <div style="position:absolute;left:330.31px;top:524.11px" class="cls_007"><span class="cls_007">Tổng số tín chỉ rút bớt:</span></div>
                <div style="position:absolute;left:85.10px;top:559.87px" class="cls_007"><span class="cls_007">Lý do hủy đăng ký: <textarea rows="2" name="thutuc24" value="" required style="width: 361px;">@(ViewBag.noidung == null ? "":ViewBag.noidung[23].value)</textarea></span></div>
                <div style="position:absolute;left:85.10px;top:613.78px" class="cls_007"><span class="cls_007">CVHT ghi chú những điều chỉnh (nếu có): <input type="text" name="thutuc25" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[24].value)" required style="" /></span></div>
                <div style="position:absolute;left:85.10px;top:637.66px" class="cls_002"><span class="cls_002">Tổng số tín chỉ đăng ký trong học kỳ:</span><span class="cls_007"> <input type="number" name="thutuc26" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[25].value)" required style="" /></span></div>
                <div style="position: absolute; left: 340.15px; top: 657.10px " class="cls_007"><span class="cls_007">N</span><span class="cls_009">gày……… tháng………năm </span><span class="cls_007"> 20……</span></div>
                <div style="position:absolute;left:114.62px;top:688.54px" class="cls_002"><span class="cls_002">PHÒNG ĐÀO TẠO</span></div>
                <div style="position:absolute;left:301.15px;top:688.54px" class="cls_002"><span class="cls_002">CỐ VẤN HỌC TẬP</span></div>
                <div style="position:absolute;left:453.70px;top:688.54px" class="cls_002"><span class="cls_002">SINH VIÊN</span></div>
            </div>

            <div style="position:absolute;left:800px;top: 938px;" class="cls_002">
                <span class="cls_002">
                    <button class="btn btn-primary hBack" type="button">Trở Lại</button>
                    <input type="submit" id="andsubmit" value="Gửi hồ sơ" class="btn btn-default" style="        display: none
" />
                    <a href="#" id="submit" class="btn btn-success success" data-toggle="modal" data-target="#modal-dialog">Gửi hồ sơ</a>
                </span>
            </div>
        </div>
    </form>
</body>
</html>
