﻿@{
    var session = (DichVuMotCua.Models.taikhoan)Session[DichVuMotCua.Content.CommonConstants.USER_SESSION];
}
<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
    <style type="text/css">
        <!--
        span.cls_003 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_003 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_004 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_004 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_006 {
            font-family: Times,serif;
            font-size: 16.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_006 {
            font-family: Times,serif;
            font-size: 16.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_005 {
            font-family: Times,serif;
            font-size: 11.7px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_005 {
            font-family: Times,serif;
            font-size: 11.7px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_002 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_002 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_009 {
            font-family: Times,serif;
            font-size: 14.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_009 {
            font-family: Times,serif;
            font-size: 14.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_010 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: italic;
            text-decoration: none
        }

        div.cls_010 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: italic;
            text-decoration: none
        }

        span.cls_007 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_007 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_011 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: italic;
            text-decoration: none
        }

        div.cls_011 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: italic;
            text-decoration: none
        }
        -->
        footer {
            margin-top: 923px;
        }

        input {
            height: 19px;
        }
    </style>
    <script type="text/javascript" src="DonXinThoiHocRutHoSo_files/wz_jsgraphics.js"></script>
</head>
<body>
    <form enctype="multipart/form-data" method="post">
        <input name="__RequestVerificationToken" type="hidden" value="Zt8rg16DySIJpa1VtHbZsvJ45Me2dIhzk_hp7nPPUTCd0rqqHb4R_KkpmTEgN4yAUaI3ltu5zLt7nGKOLOqzYP2bLCM9fcoREKaCKqqixck1" />        <div class="form-horizontal">
            <input type="hidden" id="thutucname1" name="thutucname1" value="[DATA1]">
            <input type="hidden" id="thutucname2" name="thutucname2" value="[DATA2]">
            <input type="hidden" id="thutucname3" name="thutucname3" value="[DATA3]">
            <input type="hidden" id="thutucname4" name="thutucname4" value="[DATA4]">
            <input type="hidden" id="thutucname5" name="thutucname5" value="[DATA5]">
            <input type="hidden" id="thutucname6" name="thutucname6" value="[DATA6]">
            <input type="hidden" id="thutucname7" name="thutucname7" value="[DATA7]">
            <input type="hidden" id="thutucname8" name="thutucname8" value="[DATA8]">
            <input type="hidden" id="thutucname9" name="thutucname9" value="[DATA9]">

            <div style="position:absolute;left:50%;margin-left:-297px;top:145px;width:594px;height:842px;border-style:outset;overflow:hidden">
                <div style="position:absolute;left:0px;top:0px">
                    <img src="~/static/html/DonXinThoiHocRutHoSo_files/background.jpg" width=594 height=842>
                </div>
                <div style="position:absolute;left:208.37px;top:45.36px" class="cls_003"><span class="cls_003">TRƯỜNG ĐẠI HỌC VĂN LANG</span></div>
                <div style="position:absolute;left:418.90px;top:53.52px" class="cls_004"><span class="cls_004">Mã hiệu:</span></div>
                <div style="position:absolute;left:418.90px;top:69.38px" class="cls_004"><span class="cls_004">Lần ban hành:</span></div>
                <div style="position:absolute;left:199.49px;top:71.06px" class="cls_006"><span class="cls_006">QUY TRÌNH GIẢI QUYẾT</span></div>
                <div style="position:absolute;left:418.90px;top:85.22px" class="cls_004"><span class="cls_004">Ngày hiệu lực:</span><span class="cls_005"> …/…/…</span></div>
                <div style="position:absolute;left:188.57px;top:92.30px" class="cls_006"><span class="cls_006">CÁC HOẠT ĐỘNG QUẢN LÝ</span></div>
                <div style="position:absolute;left:418.90px;top:101.06px" class="cls_004"><span class="cls_004">Trang: </span><span class="cls_005">…/…</span></div>
                <div style="position:absolute;left:223.49px;top:113.42px" class="cls_006"><span class="cls_006">ĐÀO TẠO TẠI HUB</span></div>
                <div style="position:absolute;left:419.26px;top:148.94px" class="cls_002"><span class="cls_002">BM.QT.PĐT.01.10</span></div>
                <div style="position:absolute;left:176.09px;top:163.94px" class="cls_002"><span class="cls_002">CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</span></div>
                <div style="position:absolute;left:229.97px;top:178.94px" class="cls_002"><span class="cls_002">Độc lập - Tự do - Hạnh phúc</span></div>
                <div style="position:absolute;left:95.18px;top:188.30px" class="cls_004"><span class="cls_004">Số: ……………….</span></div>
                <div style="position:absolute;left:201.89px;top:217.58px" class="cls_009"><span class="cls_009">ĐƠN XIN THÔI HỌC, RÚT HỒ SƠ</span></div>
                <div style="position:absolute;left:170.18px;top:251.93px" class="cls_010"><span class="cls_010">Kính gửi: </span><span class="cls_002">Hiệu trưởng Trường Đại học Văn Lang</span></div>
                <div style="position:absolute;left:85.10px;top:272.93px" class="cls_007"><span class="cls_007">Tôi tên:</span></div>
                <div style="position:absolute;left:151.82px;top:272.93px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc1" value="@(session.name)" readonly style="width: 247px;" /></span></div>
                <div style="position:absolute;left:420.79px;top:272.93px" class="cls_007"><span class="cls_007">Mã số SV: <input type="text" name="thutuc2" value="@(session.email.Substring(0,session.email.IndexOf("@")))" readonly style="width: 97px;" /></span></div>
                <div style="position:absolute;left:85.10px;top:295.37px" class="cls_007"><span class="cls_007">Ngày sinh: <input type="date" name="thutuc3" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[2].value)" required style="" /></span></div>
                <div style="position:absolute;left:389.95px;top:295.37px" class="cls_007"><span class="cls_007">Nơi sinh: <input type="text" name="thutuc4" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[3].value)" required style="" /></span></div>
                <div style="position:absolute;left:85.10px;top:317.81px" class="cls_007"><span class="cls_007">Đang là sinh viên Lớp:.. <input type="text" name="thutuc5" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[4].value)" required style="" /></span></div>
                <div style="position:absolute;left:356.54px;top:317.81px" class="cls_007"><span class="cls_007">Khoa: <input type="text" name="thutuc6" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[5].value)" required style="" /></span></div>
                <div style="position:absolute;left:85.10px;top:340.25px" class="cls_007"><span class="cls_007">Hiện thường trú tại: <input type="text" name="thutuc7" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[6].value)" required style="" /></span></div>
                <div style="position:absolute;left:85.10px;top:362.57px" class="cls_007"><span class="cls_007">Số điện thoại: <input type="number" name="thutuc8" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[7].value)" required style="" /></span></div>
                <div style="position:absolute;left:85.10px;top:385.01px" class="cls_007"><span class="cls_007">Nay, tôi viết đơn này xin được thôi học, rút hồ sơ sinh viên hiện đang được lưu trữ tại</span></div>
                <div style="position:absolute;left:85.10px;top:407.47px" class="cls_007"><span class="cls_007">trường.</span></div>
                <div style="position:absolute;left:85.10px;top:429.91px" class="cls_007"><span class="cls_007">Lý do: <textarea rows="2" type="text" name="thutuc9" value="" required style="width: 361px;">@(ViewBag.noidung == null ? "":ViewBag.noidung[8].value)</textarea></span></div>
                <div style="position:absolute;left:121.10px;top:497.23px" class="cls_007"><span class="cls_007">Tôi xin cam đoan quyết định của tôi đã được gia đình chấp thuận. Kính mong</span></div>
                <div style="position:absolute;left:121.10px;top:519.55px" class="cls_007"><span class="cls_007">Nhà trường xem xét.</span></div>
                <div style="position:absolute;left:121.10px;top:541.99px" class="cls_007"><span class="cls_007">Tôi xin chân thành cám ơn.</span></div>
                <div style="position: absolute; left: 310.99px; top: 570.43px" class="cls_007"><span class="cls_007">.................., ngày</span></div>
                <div style="position:absolute;left:423.88px;top:570.43px" class="cls_007"><span class="cls_007">tháng</span></div>
                <div style="position:absolute;left:475.47px;top:570.43px" class="cls_007"><span class="cls_007">năm 20...</span></div>
                <div style="position:absolute;left:99.50px;top:587.38px" class="cls_002"><span class="cls_002">Ý KIẾN CỦA PHỤ HUYNH SV</span></div>
                <div style="position:absolute;left:384.19px;top:587.38px" class="cls_002"><span class="cls_002">NGƯỜI LÀM ĐƠN</span></div>
                <div style="position:absolute;left:101.66px;top:604.30px" class="cls_002"><span class="cls_002">(</span><span class="cls_011">ghi ý kiến, ký tên, ghi rõ họ tên</span></div>
                <div style="position:absolute;left:376.75px;top:604.30px" class="cls_011"><span class="cls_011">(Ký tên &amp; ghi rõ họ tên)</span></div>
                <div style="position:absolute;left:135.02px;top:619.30px" class="cls_011"><span class="cls_011">và quan hệ với SV)</span></div>
                <div style="position:absolute;left:380.35px;top:695.98px" class="cls_002"><span class="cls_002">TL. HIỆU TRƯỞNG</span></div>
                <div style="position:absolute;left:351.55px;top:712.90px" class="cls_002"><span class="cls_002">TRƯỞNG PHÒNG ĐÀO TẠO</span></div>
            </div>

            <div style="position:absolute;left:800px;top: 938px;" class="cls_002">
                <span class="cls_002">
                    <button class="btn btn-primary hBack" type="button">Trở Lại</button>
                    <input type="submit" id="andsubmit" value="Gửi hồ sơ" class="btn btn-default" style="display:none" />
                    <a href="#" id="submit" class="btn btn-success success" data-toggle="modal" data-target="#modal-dialog">Gửi hồ sơ</a>
                </span>
            </div>
        </div>
    </form>
</body>
</html>
