﻿@{
    var session = (DichVuMotCua.Models.taikhoan)Session[DichVuMotCua.Content.CommonConstants.USER_SESSION];
}
<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
    <style type="text/css">
        <!--
        span.cls_003 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_003 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_004 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_004 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_006 {
            font-family: Times,serif;
            font-size: 16.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_006 {
            font-family: Times,serif;
            font-size: 16.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_005 {
            font-family: Times,serif;
            font-size: 11.7px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_005 {
            font-family: Times,serif;
            font-size: 11.7px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_002 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_002 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_010 {
            font-family: Times,serif;
            font-size: 14.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_010 {
            font-family: Times,serif;
            font-size: 14.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_007 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_007 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_012 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: italic;
            text-decoration: none
        }

        div.cls_012 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: italic;
            text-decoration: none
        }
        -->
        footer {
            margin-top: 923px;
        }

        input {
            height: 15px;
        }
    </style>
    <script type="text/javascript" src="DonXinTamNgungHoc_files/wz_jsgraphics.js"></script>
</head>
<body>
    <form enctype="multipart/form-data" method="post">
        <input name="__RequestVerificationToken" type="hidden" value="Zt8rg16DySIJpa1VtHbZsvJ45Me2dIhzk_hp7nPPUTCd0rqqHb4R_KkpmTEgN4yAUaI3ltu5zLt7nGKOLOqzYP2bLCM9fcoREKaCKqqixck1" />        <div class="form-horizontal">
            <input type="hidden" id="thutucname1" name="thutucname1" value="[DATA1]">
            <input type="hidden" id="thutucname2" name="thutucname2" value="[DATA2]">
            <input type="hidden" id="thutucname3" name="thutucname3" value="[DATA3]">
            <input type="hidden" id="thutucname4" name="thutucname4" value="[DATA4]">
            <input type="hidden" id="thutucname5" name="thutucname5" value="[DATA5]">
            <input type="hidden" id="thutucname6" name="thutucname6" value="[DATA6]">
            <input type="hidden" id="thutucname7" name="thutucname7" value="[DATA7]">
            <input type="hidden" id="thutucname8" name="thutucname8" value="[DATA8]">
            <input type="hidden" id="thutucname9" name="thutucname9" value="[DATA9]">
            <input type="hidden" id="thutucname10" name="thutucname10" value="[DATA10]">
            <input type="hidden" id="thutucname11" name="thutucname11" value="[DATA11]">
            <input type="hidden" id="thutucname12" name="thutucname12" value="[DATA12]">
            <input type="hidden" id="thutucname13" name="thutucname13" value="[DATA13]">
            <input type="hidden" id="thutucname14" name="thutucname14" value="[DATA14]">
            <input type="hidden" id="thutucname15" name="thutucname15" value="[DATA15]">
            <input type="hidden" id="thutucname16" name="thutucname16" value="[DATA16]">
            <input type="hidden" id="thutucname17" name="thutucname17" value="[DATA17]">
            <input type="hidden" id="thutucname18" name="thutucname18" value="[DATA18]">
            <input type="hidden" id="thutucname19" name="thutucname19" value="[DATA19]">
            <input type="hidden" id="thutucname20" name="thutucname20" value="[DATA20]">
            <input type="hidden" id="thutucname21" name="thutucname21" value="[DATA21]">
            <input type="hidden" id="thutucname22" name="thutucname22" value="[DATA22]">
            <input type="hidden" id="thutucname23" name="thutucname23" value="[DATA23]">
            <input type="hidden" id="thutucname24" name="thutucname24" value="[DATA24]">
            <input type="hidden" id="thutucname25" name="thutucname25" value="[DATA25]">
            <input type="hidden" id="thutucname26" name="thutucname26" value="[DATA26]">
            <input type="hidden" id="thutucname27" name="thutucname27" value="[DATA27]">
            <input type="hidden" id="thutucname28" name="thutucname28" value="[DATA28]">
            <input type="hidden" id="thutucname29" name="thutucname29" value="[DATA29]">
            <input type="hidden" id="thutucname30" name="thutucname30" value="[DATA30]">
            <input type="hidden" id="thutucname31" name="thutucname31" value="[DATA31]">
            <input type="hidden" id="thutucname32" name="thutucname32" value="[DATA32]">
            <input type="hidden" id="thutucname33" name="thutucname33" value="[DATA33]">
            <input type="hidden" id="thutucname34" name="thutucname34" value="[DATA34]">
            <input type="hidden" id="thutucname35" name="thutucname35" value="[DATA35]">
            <input type="hidden" id="thutucname36" name="thutucname36" value="[DATA36]">
            <input type="hidden" id="thutucname37" name="thutucname37" value="[DATA37]">
            <input type="hidden" id="thutucname38" name="thutucname38" value="[DATA38]">
            <input type="hidden" id="thutucname39" name="thutucname39" value="[DATA39]">
            <input type="hidden" id="thutucname40" name="thutucname40" value="[DATA40]">
            <input type="hidden" id="thutucname41" name="thutucname41" value="[DATA41]">
            <input type="hidden" id="thutucname42" name="thutucname42" value="[DATA42]">
            <input type="hidden" id="thutucname43" name="thutucname43" value="[DATA43]">
            <input type="hidden" id="thutucname44" name="thutucname44" value="[DATA44]">

            <div style="position:absolute;left:50%;margin-left:-297px;top:145px;width:594px;height:842px;border-style:outset;overflow:hidden">
                <div style="position:absolute;left:0px;top:0px">
                    <img src="~/static/html/DonXinTamNgungHoc_files/background.jpg" width=594 height=842>
                </div>
                <div style="position:absolute;left:208.37px;top:45.36px" class="cls_003"><span class="cls_003">TRƯỜNG ĐẠI HỌC VĂN LANG</span></div>
                <div style="position:absolute;left:418.90px;top:53.52px" class="cls_004"><span class="cls_004">Mã hiệu:</span></div>
                <div style="position:absolute;left:418.90px;top:69.38px" class="cls_004"><span class="cls_004">Lần ban hành:</span></div>
                <div style="position:absolute;left:199.49px;top:71.06px" class="cls_006"><span class="cls_006">QUY TRÌNH GIẢI QUYẾT</span></div>
                <div style="position:absolute;left:418.90px;top:85.22px" class="cls_004"><span class="cls_004">Ngày hiệu lực:</span><span class="cls_005"> …/…/…</span></div>
                <div style="position:absolute;left:188.57px;top:92.30px" class="cls_006"><span class="cls_006">CÁC HOẠT ĐỘNG QUẢN LÝ</span></div>
                <div style="position:absolute;left:418.90px;top:101.06px" class="cls_004"><span class="cls_004">Trang: </span><span class="cls_005">…/…</span></div>
                <div style="position:absolute;left:223.49px;top:113.42px" class="cls_006"><span class="cls_006">ĐÀO TẠO TẠI HUB</span></div>
                <div style="position:absolute;left:433.66px;top:148.94px" class="cls_002"><span class="cls_002">BM.QT.PĐT.01.04</span></div>
                <div style="position:absolute;left:190.01px;top:163.82px" class="cls_003"><span class="cls_003">CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</span></div>
                <div style="position:absolute;left:239.81px;top:177.62px" class="cls_003"><span class="cls_003">Độc lập - Tự do - Hạnh phúc</span></div>
                <div style="position:absolute;left:87.02px;top:186.74px" class="cls_004"><span class="cls_004">Số: ………………..</span></div>
                <div style="position:absolute;left:221.09px;top:209.30px" class="cls_010"><span class="cls_010">ĐƠN XIN TẠM NGỪNG HỌC</span></div>
                <div style="position:absolute;left:164.42px;top:231.62px" class="cls_002"><span class="cls_002">Kính gửi:      Hiệu trưởng Trường Đại học Văn Lang</span></div>
                <div style="position:absolute;left:85.10px;top:246.53px" class="cls_007"><span class="cls_007">Họ và tên :<input type="text" name="thutuc1" value="@(session.name)" readonly style="width: 247px;" /></span></div>
                <div style="position:absolute;left:393.67px;top:246.53px" class="cls_007"><span class="cls_007">Mã số SV:<input type="text" name="thutuc2" value="@(session.email.Substring(0,session.email.IndexOf("@")))" readonly style="" /></span></div>
                <div style="position:absolute;left:85.10px;top:264.41px" class="cls_007"><span class="cls_007">Ngày sinh :<input type="date" name="thutuc3" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[2].value)" required style="" /></span></div>
                <div style="position:absolute;left:281.45px;top:264.41px" class="cls_007"><span class="cls_007">Lớp :<input type="text" name="thutuc4" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[3].value)" required style="width: 80px;" pattern="(k|K){1}[0-9]{2,2}[A-Za-z0-9]+"/></span></div>
                <div style="position:absolute;left:393.67px;top:264.41px" class="cls_007"><span class="cls_007">Khoa:@Html.DropDownList("thutuc5", new SelectList(ViewBag.khoa, "Value", "Text", ViewBag.noidung == null ? "" : ViewBag.noidung[4].value))</span></div>
                <div style="position:absolute;left:85.10px;top:282.41px" class="cls_007"><span class="cls_007">Đã học: <input type="number" name="thutuc6" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[5].value)" required style="" /></span></div>
                <div style="position:absolute;left:393.67px;top:282.41px" class="cls_007"><span class="cls_007">học kỳ, đạt điểm trung bình</span></div>
                <div style="position:absolute;left:85.10px;top:300.29px" class="cls_007"><span class="cls_007">chung học tập như sau :<input type="text" name="thutuc7" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[6].value)" required style="" /></span></div>
                <div style="position:absolute;left:85.10px;top:318.29px" class="cls_007"><span class="cls_007">Số ĐVHT/Tín chỉ tích lũy/tổng số ĐVHT/Tín chỉ:<input type="number" name="thutuc8" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[7].value)" required style="width: 96px;" /></span></div>
                <div style="position:absolute;left:446.74px;top:318.29px" class="cls_007"><span class="cls_007">/<input type="number" name="thutuc9" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[8].value)" required style="width:100px" /></span></div>
                <div style="position:absolute;left:85.10px;top:336.17px" class="cls_007"><span class="cls_007">Các học phần chưa đạt:</span></div>
                <div style="position:absolute;left:108.26px;top:360.65px" class="cls_002"><span class="cls_002">MÃ HỌC</span></div>
                <div style="position:absolute;left:354.67px;top:360.65px" class="cls_002"><span class="cls_002">SỐ</span></div>
                <div style="position:absolute;left:408.34px;top:358.73px" class="cls_002"><span class="cls_002">THỜI GIAN ĐĂNG KÝ</span></div>
                <div style="position:absolute;left:74.30px;top:368.21px" class="cls_002"><span class="cls_002">TT</span></div>
                <div style="position:absolute;left:201.53px;top:368.21px" class="cls_002"><span class="cls_002">TÊN HỌC PHẦN</span></div>
                <div style="position:absolute;left:117.02px;top:375.65px" class="cls_002"><span class="cls_002">PHẦN</span></div>
                <div style="position:absolute;left:344.47px;top:375.65px" class="cls_002"><span class="cls_002">ĐVHT</span></div>
                <div style="position:absolute;left:447.94px;top:373.61px" class="cls_002"><span class="cls_002">HỌC LẠI</span></div>
                <div style="position:absolute;left:106.58px;top:394.13px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc10" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[9].value)" required style="width: 61px;" /></span></div>
                <div style="position:absolute;left:222.53px;top:394.13px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc11" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[10].value)" required style="margin-left: -38px;" /></span></div>
                <div style="position:absolute;left:334.39px;top:394.13px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc12" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[11].value)" required style="width: 57px;" /></span></div>
                <div style="position:absolute;left:447.10px;top:394.13px" class="cls_007"><span class="cls_007"><input type="date" name="thutuc13" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[12].value)" required style="margin-left: -39px;" /></span></div>
                <div style="position:absolute;left:79.70px;top:397.13px" class="cls_007"><span class="cls_007">1</span></div>
                <div style="position:absolute;left:106.58px;top:415.63px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc14" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[13].value)"  style="width: 61px;" /></span></div>
                <div style="position:absolute;left:222.53px;top:415.63px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc15" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[14].value)"  style="margin-left: -38px;" /></span></div>
                <div style="position:absolute;left:334.39px;top:415.63px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc16" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[15].value)"  style="width: 57px;" /></span></div>
                <div style="position:absolute;left:447.10px;top:415.63px" class="cls_007"><span class="cls_007"><input type="date" name="thutuc17" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[16].value)"  style="margin-left: -39px;" /></span></div>
                <div style="position:absolute;left:79.70px;top:418.63px" class="cls_007"><span class="cls_007">2</span></div>
                <div style="position:absolute;left:106.58px;top:436.99px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc18" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[17].value)"  style="width: 61px;" /></span></div>
                <div style="position:absolute;left:222.53px;top:436.99px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc19" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[18].value)"  style="margin-left: -38px;" /></span></div>
                <div style="position:absolute;left:334.39px;top:436.99px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc20" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[19].value)"  style="width: 57px;" /></span></div>
                <div style="position:absolute;left:447.10px;top:436.99px" class="cls_007"><span class="cls_007"><input type="date" name="thutuc21" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[20].value)"  style="margin-left: -39px;" /></span></div>
                <div style="position:absolute;left:79.70px;top:439.99px" class="cls_007"><span class="cls_007">3</span></div>
                <div style="position:absolute;left:106.58px;top:458.47px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc22" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[21].value)"  style="width: 61px;" /></span></div>
                <div style="position:absolute;left:222.53px;top:458.47px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc23" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[22].value)"  style="margin-left: -38px;" /></span></div>
                <div style="position:absolute;left:334.39px;top:458.47px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc24" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[23].value)"  style="width: 57px;" /></span></div>
                <div style="position:absolute;left:447.10px;top:458.47px" class="cls_007"><span class="cls_007"><input type="date" name="thutuc25" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[24].value)"  style="margin-left: -39px;" /></span></div>
                <div style="position:absolute;left:79.70px;top:461.47px" class="cls_007"><span class="cls_007">4</span></div>
                <div style="position:absolute;left:106.58px;top:479.95px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc26" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[25].value)"  style="width: 61px;" /></span></div>
                <div style="position:absolute;left:222.53px;top:479.95px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc27" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[26].value)"  style="margin-left: -38px;" /></span></div>
                <div style="position:absolute;left:334.39px;top:479.95px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc28" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[27].value)"  style="width: 57px;" /></span></div>
                <div style="position:absolute;left:447.10px;top:479.95px" class="cls_007"><span class="cls_007"><input type="date" name="thutuc29" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[28].value)"  style="margin-left: -39px;" /></span></div>
                <div style="        position: absolute;
        left: 79.70px;
        top: 482.95px" class="cls_007"><span class="cls_007">5</span></div>
                <div style="position:absolute;left:106.58px;top:501.43px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc30" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[29].value)"  style="width: 61px;" /></span></div>
                <div style="position:absolute;left:222.53px;top:501.43px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc31" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[30].value)"  style="margin-left: -38px;" /></span></div>
                <div style="position:absolute;left:334.39px;top:501.43px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc32" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[31].value)"  style="width: 57px;" /></span></div>
                <div style="position:absolute;left:447.10px;top:501.43px" class="cls_007"><span class="cls_007"><input type="date" name="thutuc33" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[32].value)"  style="margin-left: -39px;" /></span></div>
                <div style="        position: absolute;
        left: 79.70px;
        top: 504.43px" class="cls_007"><span class="cls_007">6</span></div>
                <div style="position:absolute;left:106.58px;top:522.79px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc34" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[33].value)"  style="width: 61px;" /></span></div>
                <div style="position:absolute;left:222.53px;top:522.79px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc35" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[34].value)"  style="margin-left: -38px;" /></span></div>
                <div style="position:absolute;left:334.39px;top:522.79px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc36" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[35].value)"  style="width: 57px;" /></span></div>
                <div style="position:absolute;left:447.10px;top:522.79px" class="cls_007"><span class="cls_007"><input type="date" name="thutuc37" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[36].value)"  style="margin-left: -39px;" /></span></div>
                <div style="position:absolute;left:79.70px;top:525.79px" class="cls_007"><span class="cls_007">7</span></div>
                <div style="position:absolute;left:106.58px;top:544.27px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc38" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[37].value)"  style="width: 61px;" /></span></div>
                <div style="position:absolute;left:222.53px;top:544.27px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc39" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[38].value)"  style="margin-left: -38px;" /></span></div>
                <div style="position:absolute;left:334.39px;top:544.27px" class="cls_007"><span class="cls_007"><input type="text" name="thutuc40" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[39].value)"  style="width: 57px;" /></span></div>
                <div style="position:absolute;left:447.10px;top:544.27px" class="cls_007"><span class="cls_007"><input type="date" name="thutuc41" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[40].value)"  style="margin-left: -39px;" /></span></div>
                <div style="position:absolute;left:79.70px;top:547.27px" class="cls_007"><span class="cls_007">8</span></div>
                <div style="position:absolute;left:85.10px;top:574.66px" class="cls_007"><span class="cls_007">Xin tạm ngừng học: từ   <input type="date" name="thutuc42" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[41].value)" required style="" /></span></div>
                <div style="position:absolute;left:397.03px;top:574.66px" class="cls_007"><span class="cls_007">đến..<input type="date" name="thutuc43" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[42].value)" required style="" /></span></div>
                <div style="position: absolute; left: 85.10px; top: 592.66px" class="cls_007"><span class="cls_007">Lý do tạm ngừng học: <textarea rows="2" name="thutuc44" value="" required style="width: 361px;">@(ViewBag.noidung == null ? "":ViewBag.noidung[43].value)</textarea></span></div>
                <div style="position:absolute;left:85.10px;top:635.54px" class="cls_007"><span class="cls_007">Trong thời gian tạm ngừng học, tôi xin cam kết đăng ký học lại các học phần chưa đạt.</span></div>
                <div style="position:absolute;left:291.07px;top:653.66px" class="cls_012"><span class="cls_012">TP. Hồ Chí Minh, ngày</span></div>
                <div style="position:absolute;left:435.75px;top:653.66px" class="cls_012"><span class="cls_012">tháng</span></div>
                <div style="position:absolute;left:488.06px;top:653.66px" class="cls_012"><span class="cls_012">năm 20…</span></div>
                <div style="position:absolute;left:85.10px;top:675.98px" class="cls_002"><span class="cls_002">XÁC NHẬN CỦA PHỤ HUYNH</span></div>
                <div style="        position: absolute;
        left: 434.98px;
        top: 675.98px" class="cls_002"><span class="cls_002">Sinh viên</span></div>
                <div style=" position: absolute; left: 413.86px; top: 690.98px" class="cls_012"><span class="cls_012">(Ký và ghi họ tên)</span></div>
                <div style="position:absolute;left:114.62px;top:765.64px" class="cls_002"><span class="cls_002">PHÒNG ĐÀO TẠO</span></div>
                <div style="position:absolute;left:413.50px;top:765.64px" class="cls_002"><span class="cls_002">HIỆU TRƯỞNG</span></div>
            </div>

            <div style="position:absolute;left:800px;top: 938px;" class="cls_002">
                <span class="cls_002">
                    <button class="btn btn-primary hBack" type="button">Trở Lại</button>
                    <input type="submit" id="andsubmit" value="Gửi hồ sơ" class="btn btn-default" style="display:none" />
                    <a href="#" id="submit" class="btn btn-success success" data-toggle="modal" data-target="#modal-dialog">Gửi hồ sơ</a>
                </span>
            </div>
        </div>
    </form>
</body>
</html>
