﻿
@{
    var session = (DichVuMotCua.Models.taikhoan)Session[DichVuMotCua.Content.CommonConstants.USER_SESSION];
}
<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
    <style type="text/css">
        <!--
        span.cls_003 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_003 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_004 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_004 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_006 {
            font-family: Times,serif;
            font-size: 16.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_006 {
            font-family: Times,serif;
            font-size: 16.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_005 {
            font-family: Times,serif;
            font-size: 11.7px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_005 {
            font-family: Times,serif;
            font-size: 11.7px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_002 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_002 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_009 {
            font-family: Times,serif;
            font-size: 14.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_009 {
            font-family: Times,serif;
            font-size: 14.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_010 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: italic;
            text-decoration: none
        }

        div.cls_010 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: italic;
            text-decoration: none
        }

        span.cls_007 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_007 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_011 {
            font-family: Arial,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_011 {
            font-family: Arial,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }
        -->
        footer {
            margin-top: 923px;
        }

        input {
            height: 15px;
        }
    </style>
    <script type="text/javascript" src="DonXinNhapHoc_files/wz_jsgraphics.js"></script>
</head>
<body>
    <form enctype="multipart/form-data" method="post">
        <input name="__RequestVerificationToken" type="hidden" value="Zt8rg16DySIJpa1VtHbZsvJ45Me2dIhzk_hp7nPPUTCd0rqqHb4R_KkpmTEgN4yAUaI3ltu5zLt7nGKOLOqzYP2bLCM9fcoREKaCKqqixck1" />        <div class="form-horizontal">
            <input type="hidden" id="thutucname1" name="thutucname1" value="[DATA1]">
            <input type="hidden" id="thutucname2" name="thutucname2" value="[DATA2]">
            <input type="hidden" id="thutucname3" name="thutucname3" value="[DATA3]">
            <input type="hidden" id="thutucname4" name="thutucname4" value="[DATA4]">
            <input type="hidden" id="thutucname5" name="thutucname5" value="[DATA5]">
            <input type="hidden" id="thutucname6" name="thutucname6" value="[DATA6]">
            <input type="hidden" id="thutucname7" name="thutucname7" value="[DATA7]">
            <input type="hidden" id="thutucname8" name="thutucname8" value="[DATA8]">
            <input type="hidden" id="thutucname9" name="thutucname9" value="[DATA9]">
            <input type="hidden" id="thutucname10" name="thutucname10" value="[DATA10]">
            <input type="hidden" id="thutucname11" name="thutucname11" value="[DATA11]">
            <input type="hidden" id="thutucname12" name="thutucname12" value="[DATA12]">
            <input type="hidden" id="thutucname13" name="thutucname13" value="[DATA13]">
            <input type="hidden" id="thutucname14" name="thutucname14" value="[DATA14]">

            <div style="position:absolute;left:50%;margin-left:-297px;top:145px;width:594px;height:842px;border-style:outset;overflow:hidden">
                <div style="position:absolute;left:0px;top:0px">
                    <img src="~/static/html/DonXinNhapHoc_files/background.jpg" width=594 height=842>
                </div>
                <div style="position:absolute;left:208.37px;top:45.36px" class="cls_003"><span class="cls_003">TRƯỜNG ĐẠI HỌC VĂN LANG</span></div>
                <div style="position:absolute;left:418.90px;top:53.52px" class="cls_004"><span class="cls_004">Mã hiệu:</span></div>
                <div style="position:absolute;left:418.90px;top:69.38px" class="cls_004"><span class="cls_004">Lần ban hành:</span></div>
                <div style="position:absolute;left:199.49px;top:71.06px" class="cls_006"><span class="cls_006">QUY TRÌNH GIẢI QUYẾT</span></div>
                <div style="position:absolute;left:418.90px;top:85.22px" class="cls_004"><span class="cls_004">Ngày hiệu lực:</span><span class="cls_005"> …/…/…</span></div>
                <div style="position:absolute;left:188.57px;top:92.30px" class="cls_006"><span class="cls_006">CÁC HOẠT ĐỘNG QUẢN LÝ</span></div>
                <div style="position:absolute;left:418.90px;top:101.06px" class="cls_004"><span class="cls_004">Trang: </span><span class="cls_005">…/…</span></div>
                <div style="position:absolute;left:223.49px;top:113.42px" class="cls_006"><span class="cls_006">ĐÀO TẠO TẠI HUB</span></div>
                <div style="position:absolute;left:419.26px;top:148.94px" class="cls_002"><span class="cls_002">BM.QT.PĐT.01.05</span></div>
                <div style="position:absolute;left:176.09px;top:163.94px" class="cls_002"><span class="cls_002">CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</span></div>
                <div style="position:absolute;left:229.97px;top:178.82px" class="cls_002"><span class="cls_002">Độc lập - Tự do - Hạnh phúc</span></div>
                <div style="position:absolute;left:92.66px;top:216.14px" class="cls_004"><span class="cls_004">Số:…………………</span></div>
                <div style="position:absolute;left:92.66px;top:229.94px" class="cls_004"><span class="cls_004">…………</span></div>
                <div style="position:absolute;left:212.57px;top:241.13px" class="cls_009"><span class="cls_009">ĐƠN XIN NHẬP HỌC</span></div>
                <div style="position:absolute;left:170.18px;top:276.29px" class="cls_010"><span class="cls_010">Kính gửi: </span><span class="cls_002">Ban Giám Hiệu Trường Đại học Văn Lang</span></div>
                <div style="position:absolute;left:170.18px;top:293.21px" class="cls_002"><span class="cls_002">Ban </span><span class="cls_010">Chủ</span><span class="cls_002"> Nhiệm Khoa</span></div>
                <div style="position:absolute;left:85.10px;top:323.09px" class="cls_007"><span class="cls_007">Tôi tên: <input type="text" name="thutuc1" value="@(session.name)" readonly style="" /></span></div>
                <div style="position:absolute;left:389.95px;top:323.09px" class="cls_007"><span class="cls_007">Mã số SV: <input type="text" name="thutuc2" value="@(session.email.Substring(0,session.email.IndexOf("@")))" readonly style="" /></span></div>
                <div style="position:absolute;left:85.10px;top:338.09px" class="cls_007"><span class="cls_007">Ngày sinh: <input type="text" name="thutuc3" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[2].value)" required style="width: 106px;" /></span></div>
                <div style="position:absolute;left:255.29px;top:338.09px" class="cls_007"><span class="cls_007">Nơi sinh: <input type="text" name="thutuc4" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[3].value)" required style="" /></span></div>
                <div style="position:absolute;left:85.10px;top:352.97px" class="cls_007"><span class="cls_007">Hiện thường trú tại: <input type="text" name="thutuc5" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[4].value)" required style="" /></span></div>
                <div style="position:absolute;left:85.10px;top:367.97px" class="cls_007"><span class="cls_007">Số điện thoại: <input type="text" name="thutuc6" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[5].value)" required style="" /></span></div>
                <div style="position:absolute;left:85.10px;top:382.85px" class="cls_007"><span class="cls_007">Trong thời gian học tập tại Trường, tôi đã hòan tất các học kỳ đạt điểm Trung bình</span></div>
                <div style="position:absolute;left:85.10px;top:397.85px" class="cls_007"><span class="cls_007">chung như sau:</span></div>
                <div style="position:absolute;left:113.42px;top:412.87px" class="cls_007"><span class="cls_007">Học kỳ 1: <input type="text" name="thutuc7" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[6].value)" required style="width: 76px;" /></span></div>
                <div style="position:absolute;left:248.21px;top:412.87px" class="cls_007"><span class="cls_007">Học kỳ 2: <input type="text" name="thutuc8" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[7].value)" required style="width: 90px;" /></span></div>
                <div style="position:absolute;left:397.03px;top:412.87px" class="cls_007"><span class="cls_007">Học kỳ 3: <input type="text" name="thutuc9" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[8].value)" required style="" /></span></div>
                <div style="position:absolute;left:113.42px;top:427.75px" class="cls_007"><span class="cls_007">Học kỳ 4: <input type="text" name="thutuc10" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[9].value)" required style="width: 76px;" /></span></div>
                <div style="position:absolute;left:248.21px;top:427.75px" class="cls_007"><span class="cls_007">Học kỳ 5: <input type="text" name="thutuc11" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[10].value)" required style="width: 90px;" /></span></div>
                <div style="position:absolute;left:397.03px;top:427.75px" class="cls_007"><span class="cls_007">Học kỳ 6: <input type="text" name="thutuc12" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[11].value)" required style="" /></span></div>
                <div style="position:absolute;left:85.10px;top:442.75px" class="cls_007"><span class="cls_007">Trong năm học 20.…. - 20.….  tôi thuộc diện:</span></div>
                <div style="position:absolute;left:88.34px;top:457.63px" class="cls_007"><span class="cls_007">1. Tạm dừng</span></div>
                <div style="position:absolute;left:164.66px;top:457.63px" class="cls_011"><span class="cls_011"></span></div>
                <div style="position:absolute;left:212.69px;top:457.63px" class="cls_007"><span class="cls_007">2. Bảo lưu kết quả học tập</span></div>
                <div style="position:absolute;left:365.47px;top:457.63px" class="cls_011"><span class="cls_011"></span></div>
                <div style="position:absolute;left:396.55px;top:457.63px" class="cls_007"><span class="cls_007">3. Bảo lưu KQ tuyển sinh</span></div>
                <div style="position:absolute;left:85.10px;top:471.31px" class="cls_011"><span class="cls_011"></span></div>
                <div style="position:absolute;left:85.10px;top:486.31px" class="cls_007"><span class="cls_007">Lý do khác: <input type="text" name="thutuc13" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[12].value)" required style="" /></span></div>
                <div style="position:absolute;left:85.10px;top:531.19px" class="cls_007"><span class="cls_007">Đính kèm hồ sơ (mục 1,2,3): <input type="text" name="thutuc14" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[13].value)" required style="" /></span></div>
                <div style="position:absolute;left:121.10px;top:546.07px" class="cls_007"><span class="cls_007">Kính xin Nhà trường xét cho tôi được nhập học trong năm học 20</span></div>
                <div style="position:absolute;left:482.38px;top:546.07px" class="cls_007"><span class="cls_007">- 20..….</span></div>
                <div style="position:absolute;left:121.10px;top:561.07px" class="cls_007"><span class="cls_007">Tôi xin chân thành cảm ơn.</span></div>
                <div style="position:absolute;left:318.79px;top:578.02px" class="cls_007"><span class="cls_007">.................., ngày</span></div>
                <div style="position:absolute;left:431.68px;top:578.02px" class="cls_007"><span class="cls_007">tháng</span></div>
                <div style="position:absolute;left:483.27px;top:578.02px" class="cls_007"><span class="cls_007">năm 20</span></div>
                <div style="position:absolute;left:85.10px;top:594.94px" class="cls_002"><span class="cls_002">Ý kiến của phòng Đào tạo</span></div>
                <div style="position:absolute;left:440.26px;top:594.94px" class="cls_002"><span class="cls_002">Người làm đơn</span></div>
                <div style="        position: absolute;
        left: 404.83px;
        top: 611.86px" class="cls_002"><span class="cls_002">(Ký tên &amp; ghi rõ họ tên)</span></div>
                <div style="position:absolute;left:271.85px;top:686.74px" class="cls_002"><span class="cls_002">HIỆU TRƯỞNG</span></div>
            </div>

            <div style="position:absolute;left:800px;top: 938px;" class="cls_002">
                <span class="cls_002">
                    <button class="btn btn-primary hBack" type="button">Trở Lại</button>
                    <input type="submit" id="andsubmit" value="Gửi hồ sơ" class="btn btn-default" style="display:none" />
                    <a href="#" id="submit" class="btn btn-success success" data-toggle="modal" data-target="#modal-dialog">Gửi hồ sơ</a>
                </span>
            </div>
        </div>
    </form>
</body>
</html>
