﻿@model DichVuMotCua.Models.loaithutuc
@{
    ViewBag.Title = "Bảo Lưu Kết Quả Học Tập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <h2>Danh Sách Học Vượt</h2>
    <table class="table">
        <tr>
            <th>
                id
            </th>
            <th>
                Tên Thủ Tục
            </th>
            @{

                int iCount = 0;
            }
            @foreach (var item in ViewBag.loaithutuc)
            {
                iCount++;
                if (iCount > 19)
                {
                    break;
                }
                <th>
                    @item.name
                </th>
            }
            <th>
                Thao Tác
            </th>

        </tr>
        @{
            var isCheck = false;
           
        }
        @foreach (var item in ViewBag.thutuc)
        {
            
            <tr>
                <td>
                    @item.id
                </td>
                <td>
                    @item.name
                </td>

                @for (int i = 0; i < 19; i++)
                {
                    isCheck = false;
                    foreach (var chitietthutuc in ViewBag.chitietthutuc)
                    {
                        if (chitietthutuc.noidung == ViewBag.loaithutuc[i].name && chitietthutuc.thutuc == item.id)
                        {
                            <td>
                                @chitietthutuc.value
                            </td>
                            isCheck = true;
                        }


                    }
                    if (!isCheck)
                    {
                        <td>
                            NULL
                        </td>
                    }

                }

            <td>
                @Html.ActionLink("Chi Tiết", "Details", new { id = item.id, idForm = 10 })
                /
                @Html.ActionLink("Xóa", "Delete", new { id = item.id, form = "DSDangKyHocVuot" })/
                @if (item.nguoiduyet != null)
                {
                   if (item.ngaylay == null)
{
<!--Modal: Login with Avatar Form-->
<div class="modal fade" id="HenNgayLay-@item.id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
 aria-hidden="true">
<div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
<!--Content-->
<div class="modal-content">

<!--Header-->
<div class="modal-header">
<img src="https://previews.123rf.com/images/victor85/victor851711/victor85171100326/90448522-mail-icon-with-long-shadow-flat-design-style-round-icon-mail-silhouette-simple-circle-icon-modern-fl.jpg" alt="avatar" class="rounded-circle img-responsive" width="200">
</div>
<!--Body-->
<div class="modal-body text-center mb-1">


<form action="HenNgayLay/@item.id" method="post">
<input type="date" name="ngaylay" id="ngaylayhs" />
<input type="hidden" name="form" value="DSDangKyHocVuot" />
<input type="submit" value="submit" />

</form>


</div>

</div>
<!--/.Content-->
</div>
</div>
<!--Modal: Login with Avatar Form-->

<div class="text-center">
<a href="" data-toggle="modal" data-target="#HenNgayLay-@item.id">
Hẹn Ngày Lấy
</a>
</div>
}
else if(item.tinhtrang == null)
{
@Html.ActionLink("Xác Nhận Đã Lấy", "DaLay", new { id = item.id, form = "DSDangKyHocVuot" })
}
else
{
<span>Đã Lấy</span>
}
                }
                else
                {
                    @Html.ActionLink("Duyệt", "Duyet", new { id = item.id, form = "DSDangKyHocVuot" })
                }

            </td>
            </tr>
        }

    </table>
</body>





