﻿@model DichVuMotCua.Models.loaithutuc
@{
    ViewBag.Title = "DSCapGiayChungNhan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <body>
        <h2>Danh Sách</h2>
        <table class="table">
            <tr>
                <th>
                    id
                </th>
                <th>
                    Tên Thủ Tục
                </th>
				@{

                int iCount = 0;
				}
                @foreach (var item in ViewBag.loaithutuc)
                {
					iCount++;
					if (iCount > 7)
                {
                    break;
                }
                    <th>
                        @item.hienthi
                    </th>
                }
                <th>
                    Thao Tác
                </th>

            </tr>
            @{
                var isCheck = false;
            }
            @foreach (var item in ViewBag.thutuc)
            {
                <tr>
                    <td>
                        @item.id
                    </td>
                    <td>
                        @item.name
                    </td>

                    @for (int i = 0; i < ViewBag.loaithutuc.Count; i++)
                    {
                        isCheck = false;
                        foreach (var chitietthutuc in ViewBag.chitietthutuc)
                        {
                            if (chitietthutuc.noidung == ViewBag.loaithutuc[i].name && chitietthutuc.thutuc == item.id)
                            {
                                <td>
                                    @chitietthutuc.value
                                </td>
                                isCheck = true;
                            }


                        }
                        if (!isCheck)
                        {
                            <td>
                                NULL
                            </td>
                        }
						
						if(i> 5)
                    {
                        break;
                    }

                    }

                <td>
                    @Html.ActionLink("Chi Tiết", "Details", new { id = item.id, idForm = 20 })
                    /
                    @Html.ActionLink("Xóa", "Delete", new { id = item.id, form = "DSDOICHIEUCHUONGTRINHDAOTAO" })/
                    @if (item.nguoiduyet != null)
                    {
                        if (item.ngaylay == null)
                        {
                            <!--Modal: Login with Avatar Form-->
                            <div class="modal fade" id="HenNgayLay-@item.id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
                                    <!--Content-->
                                    <div class="modal-content">

                                        <!--Header-->
                                        <div class="modal-header">
                                            <img src="https://previews.123rf.com/images/victor85/victor851711/victor85171100326/90448522-mail-icon-with-long-shadow-flat-design-style-round-icon-mail-silhouette-simple-circle-icon-modern-fl.jpg" alt="avatar" class="rounded-circle img-responsive" width="200">
                                        </div>
                                        <!--Body-->
                                        <div class="modal-body text-center mb-1">


                                            <form action="HenNgayLay/@item.id" method="post">
                                                <input type="date" name="ngaylay" id="ngaylayhs" />
                                                <input type="hidden" name="form" value="DSDOICHIEUCHUONGTRINHDAOTAO" />
                                                <input type="submit" value="submit" />

                                            </form>


                                        </div>

                                    </div>
                                    <!--/.Content-->
                                </div>
                            </div>
                            <!--Modal: Login with Avatar Form-->

                            <div class="text-center">
                                <a href="" data-toggle="modal" data-target="#HenNgayLay-@item.id">
                                    Hẹn Ngày Lấy
                                </a>
                            </div>
                        }
                        else if (item.tinhtrang == null)
                        {
                            @Html.ActionLink("Xác Nhận Đã Lấy", "DaLay", new { id = item.id, form = "DSDOICHIEUCHUONGTRINHDAOTAO" })
                        }
                        else
                        {
                            <span>Đã Lấy</span>
                        }
                    }
                    else
                    {
                        @Html.ActionLink("Duyệt", "Duyet", new { id = item.id, form = "DSDOICHIEUCHUONGTRINHDAOTAO" })
                    }/
                    @if (item.ghichu != null && item.nguoiduyet == null)
                    {
                        <button type="button" data-toggle="modal" data-target="#myModal">
                            xem nội dung
                        </button>

                        <!-- The Modal -->
                        <div class="modal" id="myModal">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Nội Dung Yêu Cầu</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        @(item.ghichu)
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                    else if (item.nguoiduyet == null)
                    {
                        <!--Modal: Login with Avatar Form-->
                        <div class="modal fade" id="modalLoginAvatar-@item.id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
                                <!--Content-->
                                <div class="modal-content">

                                    <!--Header-->
                                    <div class="modal-header">
                                        <img src="https://previews.123rf.com/images/victor85/victor851711/victor85171100326/90448522-mail-icon-with-long-shadow-flat-design-style-round-icon-mail-silhouette-simple-circle-icon-modern-fl.jpg" alt="avatar" class="rounded-circle img-responsive" width="200">
                                    </div>
                                    <!--Body-->
                                    <div class="modal-body text-center mb-1">


                                        <form action="YeuCauSua/@item.id" method="post">
                                            <input type="text" name="noidung" />
                                            <input type="hidden" name="form" value="DSDOICHIEUCHUONGTRINHDAOTAO" />
                                            <input type="submit" value="submit" />

                                        </form>


                                    </div>

                                </div>
                                <!--/.Content-->
                            </div>
                        </div>
                        <!--Modal: Login with Avatar Form-->

                        <div class="text-center">
                            <a href="" data-toggle="modal" data-target="#modalLoginAvatar-@item.id">
                                yêu cầu sửa
                            </a>
                        </div>
                    }

                </td>
                </tr>
            }

        </table>
    </body>


