﻿@{
    var session = (DichVuMotCua.Models.taikhoan)Session[DichVuMotCua.Content.CommonConstants.USER_SESSION];
}
<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
    <style type="text/css">
        <!--
        span.cls_003 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_003 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_004 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_004 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_006 {
            font-family: Times,serif;
            font-size: 16.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_006 {
            font-family: Times,serif;
            font-size: 16.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_005 {
            font-family: Times,serif;
            font-size: 11.7px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_005 {
            font-family: Times,serif;
            font-size: 11.7px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_002 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_002 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_007 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_007 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }
        -->
        footer {
            margin-top: 923px;
        }

        input {
            height: 19px;
        }
    </style>
    <script type="text/javascript" src="GiayGioiThieuThucTap_files/wz_jsgraphics.js"></script>
</head>
<body>
    <form  enctype="multipart/form-data" method="post">
        <input name="__RequestVerificationToken" type="hidden" value="Zt8rg16DySIJpa1VtHbZsvJ45Me2dIhzk_hp7nPPUTCd0rqqHb4R_KkpmTEgN4yAUaI3ltu5zLt7nGKOLOqzYP2bLCM9fcoREKaCKqqixck1" />        <div class="form-horizontal">
            <input type="hidden" id="thutucname1" name="thutucname1" value="[DATA1]">
            <input type="hidden" id="thutucname2" name="thutucname2" value="[DATA2]">
            <input type="hidden" id="thutucname3" name="thutucname3" value="[DATA3]">
            <input type="hidden" id="thutucname4" name="thutucname4" value="[DATA4]">
            <input type="hidden" id="thutucname5" name="thutucname5" value="[DATA5]">
            <input type="hidden" id="thutucname6" name="thutucname6" value="[DATA6]">
            <input type="hidden" id="thutucname7" name="thutucname7" value="[DATA7]">

            <div style="position:absolute;left:50%;margin-left:-297px;top:145px;width:594px;height:842px;border-style:outset;overflow:hidden">
                <div style="position:absolute;left:0px;top:0px">
                    <img src="~/static/html/GiayGioiThieuThucTap_files/background.jpg" width=594 height=842>
                </div>
                <div style="position:absolute;left:208.37px;top:45.36px" class="cls_003"><span class="cls_003">TRƯỜNG ĐẠI HỌC VĂN LANG</span></div>
                <div style="position:absolute;left:418.90px;top:53.52px" class="cls_004"><span class="cls_004">Mã hiệu:</span></div>
                <div style="position:absolute;left:418.90px;top:69.38px" class="cls_004"><span class="cls_004">Lần ban hành:</span></div>
                <div style="position:absolute;left:199.49px;top:71.06px" class="cls_006"><span class="cls_006">QUY TRÌNH GIẢI QUYẾT</span></div>
                <div style="position:absolute;left:418.90px;top:85.22px" class="cls_004"><span class="cls_004">Ngày hiệu lực:</span><span class="cls_005"> …/…/…</span></div>
                <div style="position:absolute;left:188.57px;top:92.30px" class="cls_006"><span class="cls_006">CÁC HOẠT ĐỘNG QUẢN LÝ</span></div>
                <div style="position:absolute;left:418.90px;top:101.06px" class="cls_004"><span class="cls_004">Trang: </span><span class="cls_005">…/…</span></div>
                <div style="position:absolute;left:223.49px;top:113.42px" class="cls_006"><span class="cls_006">ĐÀO TẠO TẠI HUB</span></div>
                <div style="position:absolute;left:433.66px;top:149.06px" class="cls_002"><span class="cls_002">BM.QT.PĐT.01.26</span></div>
                <div style="position:absolute;left:85.10px;top:169.94px" class="cls_007"><span class="cls_007">TRƯỜNG ĐẠI HỌC VĂN LANG</span></div>
                <div style="position:absolute;left:120.74px;top:189.38px" class="cls_002"><span class="cls_002">PHÒNG ĐÀO TẠO</span></div>
                <div style="position:absolute;left:133.58px;top:234.29px" class="cls_002"><span class="cls_002">PHIẾU ĐỀ NGHỊ CẤP GIẤY GIỚI THIỆU ĐỂ ĐI THỰC TẬP</span></div>
                <div style="position:absolute;left:85.10px;top:276.41px" class="cls_007"><span class="cls_007">Họ và tên sinh viên: <input type="text" name="thutuc1" value="@(session.name)" readonly style="width: 169px;" /></span></div>
                <div style="position:absolute;left:368.71px;top:276.41px" class="cls_007"><span class="cls_007">Mã sinh viên: <input type="text" name="thutuc2" value="@(session.email.Substring(0,session.email.IndexOf("@")))" readonly style="" /></span></div>
                <div style="position:absolute;left:85.10px;top:295.85px" class="cls_007"><span class="cls_007">Lớp: <input type="text" name="thutuc3" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[2].value)" required style="margin-left: 7px; width: 80px;" pattern="(k|K){1}[0-9]{2,2}[A-Za-z0-9]+" /></span></div>
                <div style="position:absolute;left:202.53px;top:295.85px" class="cls_007"><span class="cls_007">Ngành đào tạo: <input type="text" name="thutuc4" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[3].value)" required style="margin-left: 22px;" /></span></div>
                <div style="position:absolute;left:85.10px;top:315.29px" class="cls_007"><span class="cls_007">Khóa: <input type="text" name="thutuc5" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[4].value)" required style="width: 80px;" /></span></div>
                <div style="position:absolute;left:201.77px;top:315.29px" class="cls_007"><span class="cls_007">Khoa: @Html.DropDownList("thutuc6", new SelectList(ViewBag.khoa, "Value", "Text", ViewBag.noidung == null ? "" : ViewBag.noidung[5].value))</span></div>
                <div style="position:absolute;left:85.10px;top:334.73px" class="cls_007"><span class="cls_007">Tên Cơ quan/công ty đến liên hệ thực tập: <input type="text" name="thutuc7" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[6].value)" required style="" /></span></div>
                <div style="position:absolute;left:85.10px;top:373.61px" class="cls_007"><span class="cls_007">Kính đề nghị Nhà trường cấp Giấy giới thiệu để liên hệ thực tập.</span></div>
                <div style="position:absolute;left:85.10px;top:393.05px" class="cls_007"><span class="cls_007">Em xin chân thành cảm ơn</span></div>
                <div style="position:absolute;left:305.83px;top:415.39px" class="cls_007"><span class="cls_007">……….ngày ……… tháng …….năm 20…..</span></div>
                <div style="position:absolute;left:378.91px;top:434.83px" class="cls_007"><span class="cls_007">SINH VIÊN</span></div>
                <div style="position:absolute;left:366.07px;top:454.27px" class="cls_007"><span class="cls_007">(ghi rõ họ và tên)</span></div>
            </div>

            <div style="        position: absolute;
        left: 800px;
        top: 938px;" class="cls_002">
                <span class="cls_002">
                    <button class="btn btn-primary hBack" type="button">Trở Lại</button>
                    <input type="submit" id="andsubmit" value="Gửi hồ sơ" class="btn btn-default" style="display:none" />
                    <a href="#" id="submit" class="btn btn-success success" data-toggle="modal" data-target="#modal-dialog">Gửi hồ sơ</a>
                </span>
            </div>
        </div>
    </form>
</body>
</html>
