﻿
@{
    var session = (DichVuMotCua.Models.taikhoan)Session[DichVuMotCua.Content.CommonConstants.USER_SESSION];
}
<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
    <style type="text/css">
        <!--
        span.cls_003 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_003 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_004 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_004 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_006 {
            font-family: Times,serif;
            font-size: 16.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_006 {
            font-family: Times,serif;
            font-size: 16.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_005 {
            font-family: Times,serif;
            font-size: 11.7px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_005 {
            font-family: Times,serif;
            font-size: 11.7px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_002 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_002 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_009 {
            font-family: Times,serif;
            font-size: 14.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_009 {
            font-family: Times,serif;
            font-size: 14.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_012 {
            font-family: Times,serif;
            font-size: 14.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: underline
        }

        div.cls_012 {
            font-family: Times,serif;
            font-size: 14.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_010 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: italic;
            text-decoration: none
        }

        div.cls_010 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: italic;
            text-decoration: none
        }

        span.cls_007 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_007 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_011 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: italic;
            text-decoration: none
        }

        div.cls_011 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: italic;
            text-decoration: none
        }
        -->
        footer {
            margin-top: 923px;
        }

        input {
            height: 19px;
        }
    </style>
    <script type="text/javascript" src="GiayXacNhanHoanThanhChuongTrinhDaoTao_files/wz_jsgraphics.js"></script>
</head>
<body>
    <form enctype="multipart/form-data" method="post">
        <input name="__RequestVerificationToken" type="hidden" value="Zt8rg16DySIJpa1VtHbZsvJ45Me2dIhzk_hp7nPPUTCd0rqqHb4R_KkpmTEgN4yAUaI3ltu5zLt7nGKOLOqzYP2bLCM9fcoREKaCKqqixck1" />        <div class="form-horizontal">
            <input type="hidden" id="thutucname1" name="thutucname1" value="[DATA1]">
            <input type="hidden" id="thutucname2" name="thutucname2" value="[DATA2]">
            <input type="hidden" id="thutucname3" name="thutucname3" value="[DATA3]">
            <input type="hidden" id="thutucname4" name="thutucname4" value="[DATA4]">
            <input type="hidden" id="thutucname5" name="thutucname5" value="[DATA5]">
            <input type="hidden" id="thutucname6" name="thutucname6" value="[DATA6]">
            <input type="hidden" id="thutucname7" name="thutucname7" value="[DATA7]">
            <input type="hidden" id="thutucname8" name="thutucname8" value="[DATA8]">
            <input type="hidden" id="thutucname9" name="thutucname9" value="[DATA9]">
            <input type="hidden" id="thutucname10" name="thutucname10" value="[DATA10]">
            <input type="hidden" id="thutucname11" name="thutucname11" value="[DATA11]">
            <input type="hidden" id="thutucname12" name="thutucname12" value="[DATA12]">

            <div style="position:absolute;left:50%;margin-left:-297px;top:145px;width:594px;height:842px;border-style:outset;overflow:hidden">
                <div style="position:absolute;left:0px;top:0px">
                    <img src="~/static/html/GiayXacNhanHoanThanhChuongTrinhDaoTao_files/background.jpg" width=594 height=842>
                </div>
                <div style="position:absolute;left:208.37px;top:45.36px" class="cls_003"><span class="cls_003">TRƯỜNG ĐẠI HỌC VĂN LANG</span></div>
                <div style="position:absolute;left:418.90px;top:53.52px" class="cls_004"><span class="cls_004">Mã hiệu:</span></div>
                <div style="position:absolute;left:418.90px;top:69.38px" class="cls_004"><span class="cls_004">Lần ban hành:</span></div>
                <div style="position:absolute;left:199.49px;top:71.06px" class="cls_006"><span class="cls_006">QUY TRÌNH GIẢI QUYẾT</span></div>
                <div style="position:absolute;left:418.90px;top:85.22px" class="cls_004"><span class="cls_004">Ngày hiệu lực:</span><span class="cls_005"> …/…/…</span></div>
                <div style="position:absolute;left:188.57px;top:92.30px" class="cls_006"><span class="cls_006">CÁC HOẠT ĐỘNG QUẢN LÝ</span></div>
                <div style="position:absolute;left:418.90px;top:101.06px" class="cls_004"><span class="cls_004">Trang: </span><span class="cls_005">…/…</span></div>
                <div style="position:absolute;left:223.49px;top:113.42px" class="cls_006"><span class="cls_006">ĐÀO TẠO TẠI HUB</span></div>
                <div style="position:absolute;left:407.62px;top:149.06px" class="cls_002"><span class="cls_002">BM.QT.PĐT.01.28</span></div>
                <div style="position:absolute;left:176.09px;top:169.94px" class="cls_002"><span class="cls_002">CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</span></div>
                <div style="position:absolute;left:229.97px;top:184.82px" class="cls_002"><span class="cls_002">Độc lập - Tự do - Hạnh phúc</span></div>
                <div style="position:absolute;left:95.54px;top:194.54px" class="cls_004"><span class="cls_004">Số: ……………….</span></div>
                <div style="position:absolute;left:188.81px;top:217.58px" class="cls_009"><span class="cls_009">ĐƠN ĐỀ NGHỊ CẤP GIẤY XÁC NHẬN</span></div>
                <div style="position:absolute;left:170.54px;top:235.73px" class="cls_009"><span class="cls_009">HOÀN THÀNH</span><span class="cls_012"> CHƯƠNG TRÌN</span><span class="cls_009">H ĐÀO TẠO</span></div>
                <div style="position:absolute;left:141.74px;top:269.93px" class="cls_010"><span class="cls_010">Kính gửi: </span><span class="cls_002">Phòng Đào tạo</span></div>
                <div style="position:absolute;left:85.10px;top:297.05px" class="cls_007"><span class="cls_007">Họ và tên SV:<input type="text" name="thutuc1" value="@(session.name)" readonly style="width: 190px;" /></span></div>
                <div style="position:absolute;left:353.28px;top:297.05px" class="cls_007"><span class="cls_007">Mã số SV: <input type="text" name="thutuc2" value="@(session.email.Substring(0,session.email.IndexOf("@")))" readonly
 style="" /></span></div>
                <div style="position:absolute;left:85.10px;top:319.49px" class="cls_007"><span class="cls_007">Ngày sinh: <input type="date" name="thutuc3" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[2].value)" required style="width: 125px;" /></span></div>
                <div style="position:absolute;left:271.93px;top:319.49px" class="cls_007"><span class="cls_007">Nơi sinh: <input type="text" name="thutuc4" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[3].value)" required style="width: 100px;" /></span></div>
                <div style="position:absolute;left:428.95px;top:319.49px" class="cls_007"><span class="cls_007">SĐT: <input type="number" name="thutuc5" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[4].value)" required style="width: 100px;" /></span></div>
                <div style="position:absolute;left:85.10px;top:341.81px" class="cls_007"><span class="cls_007">Lớp: <input type="text" name="thutuc6" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[5].value)" required style="width: 117px;" pattern="(k|K){1}[0-9]{2,2}[A-Za-z0-9]+"/></span></div>
                <div style="position:absolute;left:233.93px;top:341.81px" class="cls_007"><span class="cls_007">Khóa: <input type="text" name="thutuc7" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[6].value)" required style="" /></span></div>
                <div style="position:absolute;left:85.10px;top:364.25px" class="cls_007"><span class="cls_007">Khoa: @Html.DropDownList("thutuc8", new SelectList(ViewBag.khoa, "Value", "Text", ViewBag.noidung == null ? "" : ViewBag.noidung[7].value))</span></div>
                <div style="position:absolute;left:85.10px;top:386.69px" class="cls_007"><span class="cls_007">Hiện em đã học xong chương trình đào tạo Ngành: <input type="text" name="thutuc9" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[8].value)" required style="" /></span></div>
                <div style="position:absolute;left:85.10px;top:431.59px" class="cls_007"><span class="cls_007">tại Trường Đại học Văn Lang. Tổng số điểm tích lũy toàn khóa là: <input type="number" name="thutuc10" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[9].value)" required style="" /></span></div>
                <div style="position:absolute;left:85.10px;top:454.03px" class="cls_007"><span class="cls_007">Điểm trung bình chung tích lũy toàn khóa là: <input type="number" name="thutuc11" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[10].value)" required style="" /></span></div>
                <div style="position:absolute;left:85.10px;top:476.47px" class="cls_007"><span class="cls_007">Kính đề nghị Nhà trường câp cho em Giấy xác nhận hoàn thành chương trình đào tạo.</span></div>
                <div style="position:absolute;left:85.10px;top:498.79px" class="cls_007"><span class="cls_007">Lý do: <textarea cols="2" type="text" name="thutuc12" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[11].value)" required style="width: 244px;" ></textarea></span></div>
                <div style="position:absolute;left:85.10px;top:588.58px" class="cls_007"><span class="cls_007">Kính mong được sự chấp thuận.</span></div>
                <div style="position:absolute;left:85.10px;top:611.02px" class="cls_007"><span class="cls_007">Em xin chân thành cảm ơn</span></div>
                <div style="position:absolute;left:292.87px;top:633.46px" class="cls_007"><span class="cls_007">……………., ngày …… tháng ….. năm 20…..</span></div>
                <div style="position:absolute;left:421.42px;top:655.78px" class="cls_007"><span class="cls_007">SINH VIÊN</span></div>
                <div style="        position: absolute;
        left: 399.31px;
        top: 678.22px" class="cls_011"><span class="cls_011">(Ký và ghi rõ họ tên)</span></div>
            </div>

            <div style="position:absolute;left:800px;top: 938px;" class="cls_002">
                <span class="cls_002">
                    <button class="btn btn-primary hBack" type="button">Trở Lại</button>
                    <input type="submit" id="andsubmit" value="Gửi hồ sơ" class="btn btn-default" style="display:none" />
                    <a href="#" id="submit" class="btn btn-success success" data-toggle="modal" data-target="#modal-dialog">Gửi hồ sơ</a>
                </span>
            </div>
        </div>
    </form>
</body>
</html>
