﻿@{
    var session = (DichVuMotCua.Models.taikhoan)Session[DichVuMotCua.Content.CommonConstants.USER_SESSION];
}
@model DichVuMotCua.Models.thutuc

@{
    ViewBag.Title = "CapGiayChungNhan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
    <style type="text/css">
        <!--
        span.cls_002 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_002 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_003 {
            font-family: Times,serif;
            font-size: 11.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_003 {
            font-family: Times,serif;
            font-size: 11.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_004 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_004 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_013 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: underline
        }

        div.cls_013 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_006 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_006 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_007 {
            font-family: Times,serif;
            font-size: 14.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_007 {
            font-family: Times,serif;
            font-size: 14.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_009 {
            font-family: Times,serif;
            font-size: 10.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_009 {
            font-family: Times,serif;
            font-size: 10.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_010 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: italic;
            text-decoration: none
        }

        div.cls_010 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: italic;
            text-decoration: none
        }

        span.cls_012 {
            font-family: Times,serif;
            font-size: 10.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_012 {
            font-family: Times,serif;
            font-size: 10.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        footer {
            margin-top: 923px;
        }

        input {
            height: 19px;
        }
        -->
    </style>
    <script type="text/javascript" src="c52f13cc-6fa7-11ea-8b25-0cc47a792c0a_id_c52f13cc-6fa7-11ea-8b25-0cc47a792c0a_files/wz_jsgraphics.js"></script>
</head>
<body>
    <form action="/thutucs/HocCham" enctype="multipart/form-data" method="post">
        <input name="__RequestVerificationToken" type="hidden" value="9MnltNaRGuLfMCcpSyJfb36Hbic--RTFmnxgbB2vtja_TT9-DOaTDseB2Z9fvloKqdJjnYwJtoaGSeUhrH9FddWTIG7GSgH-FlBzV5o4rt01" />

        <input type="hidden" id="thutucname0" name="thutucname0" value="Họ T&#234;n">
        <input type="hidden" id="thutucname1" name="thutucname1" value="M&#227; SV">
        <input type="hidden" id="thutucname2" name="thutucname2" value="Ng&#224;y Sinh">
        <input type="hidden" id="thutucname3" name="thutucname3" value="Lớp">
        <input type="hidden" id="thutucname4" name="thutucname4" value="Khoa">
        <input type="hidden" id="thutucname5" name="thutucname5" value="Ng&#224;nh">
        <input type="hidden" id="thutucname7" name="thutucname7" value="HK1">
        <input type="hidden" id="thutucname8" name="thutucname8" value="NH1">
        <input type="hidden" id="thutucname9" name="thutucname9" value="D1">
        <input type="hidden" id="thutucname10" name="thutucname10" value="HK2">
        <input type="hidden" id="thutucname11" name="thutucname11" value="NH2">
        <input type="hidden" id="thutucname12" name="thutucname12" value="D2">
        <input type="hidden" id="thutucname13" name="thutucname13" value="HK3">
        <input type="hidden" id="thutucname14" name="thutucname14" value="NH3">
        <input type="hidden" id="thutucname15" name="thutucname15" value="D3">
        <input type="hidden" id="thutucname16" name="thutucname16" value="HK4">
        <input type="hidden" id="thutucname17" name="thutucname17" value="NH4">
        <input type="hidden" id="thutucname18" name="thutucname18" value="D4">
        <input type="hidden" id="thutucname19" name="thutucname19" value="MH1">
        <input type="hidden" id="thutucname20" name="thutucname20" value="HP1">
        <input type="hidden" id="thutucname21" name="thutucname21" value="ĐVHT1">
        <input type="hidden" id="thutucname22" name="thutucname22" value="GC1">
        <input type="hidden" id="thutucname23" name="thutucname23" value="MH2">
        <input type="hidden" id="thutucname24" name="thutucname24" value="HP2">
        <input type="hidden" id="thutucname25" name="thutucname25" value="ĐVHT2">
        <input type="hidden" id="thutucname26" name="thutucname26" value="GC2">
        <input type="hidden" id="thutucname27" name="thutucname27" value="MH3">
        <input type="hidden" id="thutucname28" name="thutucname28" value="HP3">
        <input type="hidden" id="thutucname29" name="thutucname29" value="ĐVHT3">
        <input type="hidden" id="thutucname30" name="thutucname30" value="GC3">
        <input type="hidden" id="thutucname31" name="thutucname31" value="MH4">
        <input type="hidden" id="thutucname32" name="thutucname32" value="HP4">
        <input type="hidden" id="thutucname33" name="thutucname33" value="ĐVHT4">
        <input type="hidden" id="thutucname34" name="thutucname34" value="GC4">
        <input type="hidden" id="thutucname35" name="thutucname35" value="L&#253; Do">


        <div style="position:absolute;left:50%;margin-left:-297px;top:140px;width:595px;height:842px;border-style:outset;overflow:hidden">
            <div style="position:absolute;left:0px;top:0px">
                <img src="c52f13cc-6fa7-11ea-8b25-0cc47a792c0a_id_c52f13cc-6fa7-11ea-8b25-0cc47a792c0a_files/background1.jpg" width=595 height=842>
            </div>
            <div style="position:absolute;left:35.28px;top:27.08px" class="cls_002"><span class="cls_002">TRƯỜNG  ĐẠI HỌC VĂN LANG</span></div>
            <div style="position:absolute;left:311.83px;top:28.04px" class="cls_003"><span class="cls_003">CỘNG HÒA X­ HỘI CHỦ NGHĨA VIỆT NAM</span></div>
            <div style="position:absolute;left:64.10px;top:41.00px" class="cls_004"><span class="cls_004">PHÒNG ĐÀO TẠO</span></div>
            <div style="position:absolute;left:342.31px;top:41.00px" class="cls_013"><span class="cls_013">Độc Lập - Tự Do - Hạnh Ph~</span><span class="cls_006">c</span></div>
            <div style="position:absolute;left:94.58px;top:73.78px" class="cls_007"><span class="cls_007">ĐƠN ĐĂNG KÝ HỌC THEO TIẾN ĐỘ CHẬM MỘT SỐ HỌC PHẦN</span></div>
            <div style="position:absolute;left:146.42px;top:89.86px" class="cls_007"><span class="cls_007">HỌC KỲ ……… - NH : ………………………………</span></div>
            <div style="position:absolute;left:84.98px;top:119.62px" class="cls_002"><span class="cls_002">Họ và tên : <input type="text" name="thutuc0" required /></span></div>
            <div style="position:absolute;left:365.23px;top:119.62px" class="cls_002"><span class="cls_002">Mã số SV: <input type="text" name="thutuc1" required /></span></div>
            <div style="position:absolute;left:84.98px;top:141.82px" class="cls_002"><span class="cls_002">Ngày sinh: <input type="date" name="thutuc2" style="width: 106px;" required /></span></div>
            <div style="position:absolute;left:253.01px;top:141.82px" class="cls_002"><span class="cls_002">Lớp: <input type="text" name="thutuc3" required /></span></div>
            <div style="position:absolute;left:84.98px;top:163.78px" class="cls_002"><span class="cls_002">Khoa: <input type="text" name="thutuc4" style="width: 106px;" required /></span></div>
            <div style="position:absolute;left:253.01px;top:163.78px" class="cls_002"><span class="cls_002">Ngành: <input type="text" name="thutuc5" required /></span></div>
            <div style="position:absolute;left:84.98px;top:191.74px" class="cls_002"><span class="cls_002">Đã hoàn tất <input type="text" name="thutuc6" required /></span></div>
            <div style="position:absolute;left:319.16px;top:191.74px" class="cls_002"><span class="cls_002">học kỳ, đạt điểm Trung bình chung như sau:</span></div>
            <div style="position:absolute;left:85.34px;top:217.42px" class="cls_002"><span class="cls_002">-   Học kỳ: <input type="text" name="thutuc7" style="width: 106px;" required /></span></div>
            <div style="position:absolute;left:247.48px;top:217.42px" class="cls_002"><span class="cls_002">năm học: <input type="text" name="thutuc8" style="width: 93px;" required /></span></div>
            <div style="position:absolute;left:394.89px;top:217.42px" class="cls_002"><span class="cls_002">đạt: <input type="text" name="thutuc9" required /></span></div>
            <div style="position:absolute;left:85.34px;top:242.41px" class="cls_002"><span class="cls_002">-   Học kỳ: <input type="text" name="thutuc10" style="width: 106px;" required /></span></div>
            <div style="position:absolute;left:247.48px;top:242.41px" class="cls_002"><span class="cls_002">năm học: <input type="text" name="thutuc11" style="width: 93px;" /></span></div>
            <div style="position:absolute;left:394.89px;top:242.41px" class="cls_002"><span class="cls_002">đạt: <input type="text" name="thutuc12" /></span></div>
            <div style="position:absolute;left:85.34px;top:267.37px" class="cls_002"><span class="cls_002">-   Học kỳ: <input type="text" name="thutuc13" style="width: 106px;" /></span></div>
            <div style="position:absolute;left:247.48px;top:267.37px" class="cls_002"><span class="cls_002">năm học: <input type="text" name="thutuc14" style="width: 93px;" /></span></div>
            <div style="position:absolute;left:394.89px;top:267.37px" class="cls_002"><span class="cls_002">đạt: <input type="text" name="thutuc15" /></span></div>
            <div style="        position: absolute;
        left: 85.34px;
        top: 292.45px" class="cls_002"><span class="cls_002">-   Học kỳ: <input type="text" name="thutuc16" style="width: 106px;" /></span></div>
            <div style="position:absolute;left:247.48px;top:292.45px" class="cls_002"><span class="cls_002">năm học: <input type="text" name="thutuc17" style="width: 93px;" /></span></div>
            <div style="position:absolute;left:394.89px;top:292.45px" class="cls_002"><span class="cls_002">đạt: <input type="text" name="thutuc18" /></span></div>
            <div style="position:absolute;left:85.34px;top:317.41px" class="cls_002"><span class="cls_002">Xin đăng kê tạm hoãn một số học phần sau:</span></div>
            <div style="position:absolute;left:92.06px;top:349.81px" class="cls_009"><span class="cls_009">TT</span></div>
            <div style="position:absolute;left:134.42px;top:349.81px" class="cls_009"><span class="cls_009">M­ MÔN HỌC</span></div>
            <div style="position:absolute;left:232.13px;top:349.81px" class="cls_009"><span class="cls_009">TÊN HỌC PHẦN ĐĂNG KÝ</span></div>
            <div style="position:absolute;left:383.71px;top:349.81px" class="cls_009"><span class="cls_009">SỐ ĐVHT</span></div>
            <div style="position:absolute;left:458.86px;top:349.81px" class="cls_009"><span class="cls_009">GHI CHÚ</span></div>
            <div style="position:absolute;left:127.58px;top:367.33px" class="cls_002"><span class="cls_002"><input type="text" name="thutuc19" style="width: 86px;" required /></span></div>
            <div style="position:absolute;left:221.09px;top:367.33px" class="cls_002"><span class="cls_002"><input type="text" name="thutuc20" style="width: 138px;" required /></span></div>
            <div style="position:absolute;left:380.11px;top:367.33px" class="cls_002"><span class="cls_002"><input type="text" name="thutuc21" style="width: 59px;" required /></span></div>
            <div style="position:absolute;left:443.02px;top:367.33px" class="cls_002"><span class="cls_002"><input type="text" name="thutuc22" required /></span></div>
            <div style="position:absolute;left:95.78px;top:373.33px" class="cls_002"><span class="cls_002">1</span></div>
            <div style="position:absolute;left:127.58px;top:394.57px" class="cls_002"><span class="cls_002"><input type="text" name="thutuc23" style="width: 86px;" /></span></div>
            <div style="position:absolute;left:221.09px;top:394.57px" class="cls_002"><span class="cls_002"><input type="text" name="thutuc24" style="width: 138px;" /></span></div>
            <div style="position:absolute;left:380.11px;top:394.57px" class="cls_002"><span class="cls_002"><input type="text" name="thutuc25" style="width: 59px;" /></span></div>
            <div style="position:absolute;left:443.02px;top:394.57px" class="cls_002"><span class="cls_002"><input type="text" name="thutuc26" /></span></div>
            <div style="position:absolute;left:95.78px;top:400.57px" class="cls_002"><span class="cls_002">2</span></div>
            <div style="position:absolute;left:127.58px;top:421.83px" class="cls_002"><span class="cls_002"><input type="text" name="thutuc27" style="width: 86px;" /></span></div>
            <div style="position:absolute;left:221.09px;top:421.83px" class="cls_002"><span class="cls_002"><input type="text" name="thutuc28" style="width: 138px;" /></span></div>
            <div style="position:absolute;left:380.11px;top:421.83px" class="cls_002"><span class="cls_002"><input type="text" name="thutuc29" style="width: 59px;" /></span></div>
            <div style="position:absolute;left:443.02px;top:421.83px" class="cls_002"><span class="cls_002"><input type="text" name="thutuc30" /></span></div>
            <div style="position:absolute;left:95.78px;top:427.83px" class="cls_002"><span class="cls_002">3</span></div>
            <div style="position:absolute;left:127.58px;top:448.95px" class="cls_002"><span class="cls_002"><input type="text" name="thutuc31" style="width: 86px;" /></span></div>
            <div style="position:absolute;left:221.09px;top:448.95px" class="cls_002"><span class="cls_002"><input type="text" name="thutuc32" style="width: 138px;" /></span></div>
            <div style="position:absolute;left:380.11px;top:448.95px" class="cls_002"><span class="cls_002"><input type="text" name="thutuc33" style="width: 59px;" /></span></div>
            <div style="position:absolute;left:443.02px;top:448.95px" class="cls_002"><span class="cls_002"><input type="text" name="thutuc34" /></span></div>
            <div style="position:absolute;left:95.78px;top:454.95px" class="cls_002"><span class="cls_002">4</span></div>
            <div style="position:absolute;left:83.66px;top:489.99px" class="cls_002"><span class="cls_002">Lý do xin học chậm: <input type="text" name="thutuc35" required /></span></div>
            <div style="position:absolute;left:347.11px;top:600.42px" class="cls_010"><span class="cls_010">Ngày</span></div>
            <div style="position:absolute;left:396.42px;top:600.42px" class="cls_010"><span class="cls_010">tháng</span></div>
            <div style="position:absolute;left:450.75px;top:600.42px" class="cls_010"><span class="cls_010">năm 20</span></div>
            <div style="position:absolute;left:393.91px;top:614.22px" class="cls_002"><span class="cls_002">Sinh viên</span></div>
            <div style="position:absolute;left:374.71px;top:628.26px" class="cls_012"><span class="cls_012">(Kê và ghi rõ họ tên)</span></div>
            <div style="position:absolute;left:56.64px;top:692.34px" class="cls_002"><span class="cls_002">Ý KIẾN CỦA BCN KHOA</span></div>
            <div style="position:absolute;left:367.75px;top:706.14px" class="cls_002"><span class="cls_002">PHÒNG ĐÀO TẠO</span></div>
            <div style="position:absolute;left:367.75px;top:730.14px" class="cls_002">
                <span class="cls_002">
                    <button class="btn btn-primary hBack" type="button">Trở Lại</button>
                    <input type="submit" id="andsubmit" value="Gửi hồ sơ" class="btn btn-default" style="display:none" />
                    <a href="#" id="submit" class="btn btn-success success" data-toggle="modal" data-target="#modal-dialog">Gửi hồ sơ</a>
                </span>
            </div>
        </div>
    </form>
</body>
</html>
