﻿
@model DichVuMotCua.Models.loaithutuc
@{
    ViewBag.Title = "DSBaoLuuKetQuaTuyenSinh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <h2>Danh Sách Bảo Lưu Kết Quả Tuyển Sinh</h2>
    <table class="table">
        <tr>
            <th>
                id
            </th>
            <th>
                Tên Thủ Tục
            </th>
            @foreach (var item in ViewBag.loaithutuc)
            {
                <th>
                    @item.name
                </th>
            }
            <th>
                Thao Tác
            </th>

        </tr>
        @{
            var isCheck = false;
        }
        @foreach (var item in ViewBag.thutuc)
        {
            <tr>
                <td>
                    @item.id
                </td>
                <td>
                    @item.name
                </td>

                @for (int i = 0; i < ViewBag.loaithutuc.Count; i++)
                {
                    isCheck = false;
                    foreach (var chitietthutuc in ViewBag.chitietthutuc)
                    {
                        if (chitietthutuc.noidung == ViewBag.loaithutuc[i].name && chitietthutuc.thutuc == item.id)
                        {
                            <td>
                                @chitietthutuc.value
                            </td>
                            isCheck = true;
                        }


                    }
                    if (!isCheck)
                    {
                        <td>
                            NULL
                        </td>
                    }

                }

                <td>
                    @Html.ActionLink("Chi Tiết", "Details", new { id = item.id, idForm = 7 })
  
                </td>
            </tr>
        }

    </table>
</body>



