﻿@model DichVuMotCua.Models.loaithutuc
@{
    ViewBag.Title = "Danh Sách";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <h2>Danh Sách</h2>
    <table class="table">
        <tr>
            <th>
                id
            </th>
            <th>
                Tên Thủ Tục
            </th>
            @{

                int iCount = 0;
            }
            @foreach (var item in ViewBag.loaithutuc)
            {
                iCount++;
                if (iCount > 7)
                {
                    break;
                }
                <th>
                    @item.hienthi
                </th>
            }
            <th>
                Thao Tác
            </th>

        </tr>
        @{
            var isCheck = false;
        }
        @foreach (var item in ViewBag.thutuc)
        {

            <tr>
                <td>
                    @item.id
                </td>
                <td>
                    @item.name
                </td>

                @for (int i = 0; i < ViewBag.loaithutuc.Count; i++)
                {
                    isCheck = false;
                    foreach (var chitietthutuc in ViewBag.chitietthutuc)
                    {
                        if (chitietthutuc.noidung == ViewBag.loaithutuc[i].name && chitietthutuc.thutuc == item.id)
                        {
                            <td>
                                @chitietthutuc.value
                            </td>
                            isCheck = true;
                        }


                    }
                    if (!isCheck)
                    {
                        <td>
                            NULL
                        </td>
                    }
                    if (i > 5)
                    {
                        break;
                    }

                }

                 <td>
        @if (item.ghichu != null && item.nguoiduyet == null)
        {
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                yêu cầu sửa
            </button>

            <!-- The Modal -->
            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Nội Dung Yêu Cầu</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            @(item.ghichu)
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>
        }
        else
        {
            if (item.tinhtrang != null){ <span>Đã Lấy</span>} else { @(item.nguoiduyet == null ? "Chưa Duyệt": "Đã Duyệt") }
        }


    </td>
        <td>
            @Html.ActionLink("Sửa", "DANGKYHOCPHANTHAYTHE", new { id = item.id, idForm =15 })/
            @Html.ActionLink("Chi Tiết", "Details", new { id = item.id, idForm =15 })

        </td>
            </tr>
        }

    </table>
</body>



