﻿@model DichVuMotCua.Models.loaithutuc
@{
    ViewBag.Title = "Danh Sách Chuyển Điểmsss";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <h2>Danh Sách Chuyển Điểm</h2>
    <table class="table">
        <tr>
            <th>
                id
            </th>
            <th>
                Tên Thủ Tục
            </th>
            <th>
                Thao Tác
            </th>

        </tr>
        @foreach (var item in ViewBag.thutuc)
        {

            <tr>
                <td>
                    @item.id
                </td>
                <td>
                    @item.name
                </td>

                }

                <td>
                    @Html.ActionLink("Chi Tiết", "Details", new { id = item.id, idForm = 8 })
                    /
                    @Html.ActionLink("Xóa", "Delete", new { id = item.id, form = "DSChuyenDiem" })/
                    @if (item.nguoiduyet != null)
                    {
                        if (item.ngaylay == null)
{
<!--Modal: Login with Avatar Form-->
<div class="modal fade" id="HenNgayLay-@item.id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
 aria-hidden="true">
<div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
<!--Content-->
<div class="modal-content">

<!--Header-->
<div class="modal-header">
<img src="https://previews.123rf.com/images/victor85/victor851711/victor85171100326/90448522-mail-icon-with-long-shadow-flat-design-style-round-icon-mail-silhouette-simple-circle-icon-modern-fl.jpg" alt="avatar" class="rounded-circle img-responsive" width="200">
</div>
<!--Body-->
<div class="modal-body text-center mb-1">


<form action="HenNgayLay/@item.id" method="post">
<input type="date" name="ngaylay" id="ngaylayhs" />
<input type="hidden" name="form" value="HSThuTucDaTao" />
<input type="submit" value="submit" />

</form>


</div>

</div>
<!--/.Content-->
</div>
</div>
<!--Modal: Login with Avatar Form-->

<div class="text-center">
<a href="" data-toggle="modal" data-target="#HenNgayLay-@item.id">
Hẹn Ngày Lấy
</a>
</div>
}
else if(item.tinhtrang == null)
{
@Html.ActionLink("Xác Nhận Đã Lấy", "DaLay", new { id = item.id, form = "HSThuTucDaTao" })
}
else
{
<span>Đã Lấy</span>
}
                    }
                    else
                    {
                        @Html.ActionLink("Duyệt", "Duyet", new { id = item.id, form = "DSChuyenDiem" })
                    }
                </td>
            </tr>
        }

    </table>
</body>





