﻿@model DichVuMotCua.Models.loaithutuc
@{
    ViewBag.Title = "DSCapGiayChungNhan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <h2>Danh Sách Xin Thôi Học</h2>
    <table class="table">
        <tr>
            <th>
                id
            </th>
            @foreach (var item in ViewBag.loaithutuc)
            {
                <th>
                    @item.name
                </th>
            }
            <th>
                Tình Trạng
            </th>
            <th>
                Thao Tác
            </th>

        </tr>
        @{
            var isCheck = false;
        }
        @foreach (var item in ViewBag.thutuc)
        {
    <tr>
        <td>
            @item.id
        </td>
        @for (int i = 0; i < ViewBag.loaithutuc.Count; i++)
        {
            isCheck = false;
            foreach (var chitietthutuc in ViewBag.chitietthutuc)
            {
                if (chitietthutuc.noidung == ViewBag.loaithutuc[i].name && chitietthutuc.thutuc == item.id)
                {
                    <td>
                        @chitietthutuc.value
                    </td>
                    isCheck = true;
                }


            }
            if (!isCheck)
            {
                <td>
                    NULL
                </td>
            }

        }
    <td>
        @if (item.ghichu != null && item.nguoiduyet == null)
        {
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                yêu cầu sửa
            </button>

            <!-- The Modal -->
            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Nội Dung Yêu Cầu</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            @(item.ghichu)
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>
        }
        else
        {
            @(item.nguoiduyet == null ? "Chưa Duyệt": "Đã Duyệt")
        }


    </td>
        <td>
            @Html.ActionLink("Sửa", "XinThoiHoc", new { id = item.id, idForm = 5 })/
            @Html.ActionLink("Chi Tiết", "Details", new { id = item.id, idForm = 5 })

        </td>
    </tr>
        }

    </table>
</body>


