﻿@model IEnumerable<DichVuMotCua.Models.thutuc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nguoitao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nguoiduyet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.loaithutuc)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayNameFor(model => model.name)
    </td>
    <td>
        @Html.DisplayNameFor(model => model.nguoitao)
    </td>
    <td>
        @Html.DisplayNameFor(model => model.nguoiduyet)
    </td>
    <td>
        @Html.DisplayNameFor(model => model.loaithutuc)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
        @Html.ActionLink("Details", "Details", new { id = item.id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.id })
    </td>
</tr>
    }

</table>

