﻿@model System.Data.DataTable
@using System.Data;

@{
    ViewBag.Title = "Hồ Sơ Tổng Hợp";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var session = (DichVuMotCua.Models.taikhoan)Session[DichVuMotCua.Content.CommonConstants.USER_SESSION];
}

<h2>Danh Sách Thủ Tục Đang Xử Lý</h2>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://pagination.js.org/dist/2.1.5/pagination.min.js"></script>
<div>
    <input style="float: right;
    margin: 16px;
    width: 16%;
    height: 42px;" type="text" id="myInput" onkeyup="myFunction()" placeholder="Tìm Kiếm Thủ Tục..." title="Type in a name">
</div>
<table id="myTable" class="table table-striped table-inverse table-bordered table-hover" cellspacing="0" width="100%">
    @{
        int count = 0;
    }
    <thead>
        <tr>
            @if (session.role != 2)
            {
                <th class="th-sm">STT</th>
                <th class="th-sm">ID</th>
            }
            else
            {
                <th class="th-sm">STT</th>
            }

            <th class="th-sm">Loại Thủ Tục</th>
            @if (session.role != 2)
            {
                <th class="th-sm">Người Tạo</th>
            }

            <th class="th-sm">Người Duyệt</th>
            <th class="th-sm">Ngày Tạo</th>
            <th class="th-sm">Ngày Lấy</th>
            <th class="th-sm">Ghi Chú</th>
            <th class="th-sm">Thao Tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow row in Model.Rows)
        {
            count++;
        <tr>
            <td>@count</td>
            @foreach (DataColumn col in Model.Columns)
            {

                if (session.role == 2 && ("id".Equals(col.ColumnName.ToString().Trim()) || "nguoitao".Equals(col.ColumnName.ToString().Trim())))
                {
                    continue;
                }

                if ("id_thutuc".Equals(col.ColumnName.ToString().Trim()) || "thutucname".Equals(col.ColumnName.ToString().Trim()) || "tinhtrang".Equals(col.ColumnName.ToString().Trim()))
                {
                    continue;
                }
                <td>@(row[col.ColumnName] == null ? "Chưa Có" : row[col.ColumnName].ToString().IsEmpty() ? "Chưa Có" : row[col.ColumnName])</td>
            }
            @if (session != null && session.role != 2)
            {
                <td>
                    @Html.ActionLink("Chi Tiết", "Details", new { id = @row["id"], idForm = @row["id_thutuc"] })
                    /
                    @Html.ActionLink("Xóa", "Delete", new { id = @row["id"], form = "DS" + @row["thutucname"] })/
                    @if (!row["nguoiduyet"].ToString().IsEmpty())
                    {
                        if (row["ngaylay"].ToString().IsEmpty())
                        {
                            <!--Modal: Login with Avatar Form-->
                            <div class="modal fade" id="HenNgayLay-@row["id"]" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
                                    <!--Content-->
                                    <div class="modal-content">

                                        <!--Header-->
                                        <div class="modal-header">
                                            <img src="https://previews.123rf.com/images/victor85/victor851711/victor85171100326/90448522-mail-icon-with-long-shadow-flat-design-style-round-icon-mail-silhouette-simple-circle-icon-modern-fl.jpg" alt="avatar" class="rounded-circle img-responsive" width="200">
                                        </div>
                                        <!--Body-->
                                        <div class="modal-body text-center mb-1">


                                            <form action="HenNgayLay/@row["id"]" method="post">
                                                <input type="date" name="ngaylay" id="ngaylayhs" min="@(DateTime.Now.ToString("yyyy-MM-dd"))" />
                                                <input type="hidden" name="form" value="DS@(row["thutucname"])" />
                                                <input type="submit" value="submit" />

                                            </form>


                                        </div>

                                    </div>
                                    <!--/.Content-->
                                </div>
                            </div>
                            <!--Modal: Login with Avatar Form-->

                            <div class="text-center">
                                <a href="" data-toggle="modal" data-target="#HenNgayLay-@row["id"]">
                                    Hẹn Ngày Lấy
                                </a>
                            </div>
                        }
                        else if (@row["tinhtrang"].ToString().IsEmpty())
                        {
                            @Html.ActionLink("Xác Nhận Đã Lấy", "DaLay", new { id = @row["id"], form = "DS" + @row["thutucname"] })
                        }
                        else
                        {
                            <span>Đã Lấy</span>
                        }
                    }
                    else
                    {
                        @Html.ActionLink("Duyệt", "Duyet", new { id = @row["id"], form = "DS" + @row["thutucname"] })
                    }/
                    @if (!@row["ghichu"].ToString().IsEmpty() && !@row["nguoiduyet"].ToString().IsEmpty())
                    {
                        <button type="button" data-toggle="modal" data-target="#myModal">
                            xem nội dung
                        </button>

                        <!-- The Modal -->
                        <div class="modal" id="myModal">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Nội Dung Yêu Cầu</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        @(@row["ghichu"].ToString())
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                    else if (@row["nguoiduyet"].ToString().IsEmpty())
                    {
                        <!--Modal: Login with Avatar Form-->
                        <div class="modal fade" id="modalLoginAvatar-@row["id"]" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
                                <!--Content-->
                                <div class="modal-content">

                                    <!--Header-->
                                    <div class="modal-header">
                                        <img src="https://previews.123rf.com/images/victor85/victor851711/victor85171100326/90448522-mail-icon-with-long-shadow-flat-design-style-round-icon-mail-silhouette-simple-circle-icon-modern-fl.jpg" alt="avatar" class="rounded-circle img-responsive" width="200">
                                    </div>
                                    <!--Body-->
                                    <div class="modal-body text-center mb-1">


                                        <form action="YeuCauSua/@row["id"]" method="post">
                                            <input type="text" name="noidung" />
                                            <input type="hidden" name="form" value="DS@(row["thutucname"])" />
                                            <input type="submit" value="submit" />

                                        </form>


                                    </div>

                                </div>
                                <!--/.Content-->
                            </div>
                        </div>
                        <!--Modal: Login with Avatar Form-->

                        <div class="text-center">
                            <a href="" data-toggle="modal" data-target="#modalLoginAvatar-@row["id"]">
                                yêu cầu sửa
                            </a>
                        </div>
                    }

                </td>
            }
            else
            {

                <td>


                    @if (row["nguoiduyet"].ToString().IsEmpty() && row["tinhtrang"].ToString().IsEmpty())
                    {

                        @Html.ActionLink("Sửa", "" + @row["thutucname"], new { id = @row["id"], idForm = @row["id_thutuc"] })
                        <span>/</span>
                        @Html.ActionLink("Chi Tiết", "Details", new { id = @row["id"], idForm = @row["id_thutuc"] })
                        <span>/Chưa Duyệt</span>


                    }

                    @if (!row["nguoiduyet"].ToString().IsEmpty() && row["tinhtrang"].ToString().IsEmpty())
                    {


                        @Html.ActionLink("Chi Tiết", "Details", new { id = @row["id"], idForm = @row["id_thutuc"] })
                        <span>/Đã Duyệt</span>


                    }

                    @if (!row["nguoiduyet"].ToString().IsEmpty() && !row["tinhtrang"].ToString().IsEmpty())
                    {


                        @Html.ActionLink("Chi Tiết", "Details", new { id = @row["id"], idForm = @row["id_thutuc"] })
                        <span>/Đã Lây</span>


                    }




                </td>
            }


        </tr>
        }

    </tbody>

</table>
<div style="float: right">Tổng: @count Thủ Tục</div>
<div id="pagination" class="pagination" style="display: inline-block;"></div>

<script>
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue, idtd, isSearch = false;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        for (i = 1; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td");
            for (j = 0; j < td.length; j++) {
                idtd = tr[i].getElementsByTagName("td")[j];
                if (idtd) {
                    txtValue = idtd.textContent || idtd.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        //tr[i].style.display = "";
                        isSearch = true
                    } else {
                        //tr[i].style.display = "none";
                    }
                }
            }

            if (isSearch) {
                tr[i].style.display = "";
                isSearch = false;
            }
            else {
                tr[i].style.display = "none";
            }
        }
    }

    /*   let rows = []
   $('table tbody tr').each(function(i, row) {
       return rows.push(row);
   });
       $('#pagination').pagination({
       dataSource: rows,
       pageSize: 5,
       showGoInput: true,
       showGoButton: true,
           callback: function (data, pagination) {
           $('tbody').html(data);
       }
       })

       document.getElementsByTagName("ul")[2].className = 'pagination'
       var li = document.getElementsByTagName("ul")[2].getElementsByTagName("li");
       for (i = 0; i < li.length; i++) {
           li[i].classList.add('page-item');
       } */
</script>


