﻿@{
    var session = (DichVuMotCua.Models.taikhoan)Session[DichVuMotCua.Content.CommonConstants.USER_SESSION];
}
@model DichVuMotCua.Models.thutuc

@{
    ViewBag.Title = "XinThoiHoc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
    <style type="text/css">
        <!--
        span.cls_002 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_002 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_003 {
            font-family: Times,serif;
            font-size: 11.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_003 {
            font-family: Times,serif;
            font-size: 11.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_004 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_004 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_011 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: italic;
            text-decoration: underline
        }

        div.cls_011 {
            font-family: Times,serif;
            font-size: 13.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: italic;
            text-decoration: none
        }

        span.cls_006 {
            font-family: Times,serif;
            font-size: 16.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_006 {
            font-family: Times,serif;
            font-size: 16.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_007 {
            font-family: Times,serif;
            font-size: 10.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_007 {
            font-family: Times,serif;
            font-size: 10.0px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_008 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: italic;
            text-decoration: none
        }

        div.cls_008 {
            font-family: Times,serif;
            font-size: 12.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: italic;
            text-decoration: none
        }

        span.cls_010 {
            font-family: Times,serif;
            font-size: 10.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_010 {
            font-family: Times,serif;
            font-size: 10.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        footer {
            margin-top: 923px;
        }

        input {
            height: 19px;
        }
        -->
    </style>
    <script type="text/javascript" src="461830a2-69fb-11ea-8b25-0cc47a792c0a_id_461830a2-69fb-11ea-8b25-0cc47a792c0a_files/wz_jsgraphics.js"></script>
</head>
<body>

    <div style="position:absolute;left:50%;margin-left:-297px;top:140px;width:595px;height:842px;border-style:outset;overflow:hidden">
        <div style="position:absolute;left:0px;top:0px">
            <img src="~/static/maudangkytamdung.jpg" width=595 height=842 style="margin-top: 6px;
    margin-left: 9px;">

        </div>

        <div style="        position: absolute;
        left: 35.40px;
        top: 28.52px" class="cls_002"><span class="cls_002">TRƯỜNG ĐẠI HỌC VĂN LANG</span></div>
        <div style="position:absolute;left:311.83px;top:29.48px" class="cls_003"><span class="cls_003">CỘNG HÒA X­ HỘI CHỦ NGHĨA VIỆT NAM</span></div>
        <div style="position:absolute;left:64.10px;top:45.56px" class="cls_004"><span class="cls_004">PHÒNG ĐÀO TẠO</span></div>
        <div style="position:absolute;left:347.95px;top:45.56px" class="cls_011"><span class="cls_011">Độc lập - Tự do - Hạnh phúc</span></div>
        <div style="position:absolute;left:56.64px;top:65.72px" class="cls_002"><span class="cls_002">Số………/…………</span></div>
        <div style="position:absolute;left:196.97px;top:87.22px" class="cls_006"><span class="cls_006">ĐƠN XIN TẠM NGỪNG HỌC</span></div>
        <form enctype="multipart/form-data" method="post">

            <div style="position:absolute;left:84.98px;top:118.18px" class="cls_002"><span class="cls_002">Họ và tên : <input type="text" name="thutuc0" value="@(session.name)" style="width: 108px;" readonly /></span></div>
            <div style="position:absolute;left:365.23px;top:118.18px" class="cls_002"><span class="cls_002">Mã số SV:<input type="text" name="thutuc2" required="true" value="@(session.email.Substring(0,session.email.IndexOf("@")))" readonly /></span></div>
            <div style="position:absolute;left:84.98px;top:139.18px" class="cls_002"><span class="cls_002">Ngày sinh :<input type="date" name="thutuc1" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[1].value)" style="width: 108px;" required /></span></div>
            <div style="position:absolute;left:253.01px;top:139.18px" class="cls_002"><span class="cls_002">Lớp :<input type="text" name="thutuc3" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[3].value)" style="width: 82px;" required  pattern="(k|K){1}[0-9]{2,2}[A-Za-z0-9]+"/></span></div>
            <div style="position:absolute;left:365.23px;top:139.18px" class="cls_002"><span class="cls_002">Khoa: @Html.DropDownList("thutuc4", new SelectList(ViewBag.khoa, "Value", "Text", ViewBag.noidung == null ? "" : ViewBag.noidung[4].value))</span></div>
            <div style="position:absolute;left:84.98px;top:166.18px" class="cls_002"><span class="cls_002">Đã học <input type="number" name="thutuc5" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[5].value)" required /> học kỳ, đạt điểm trung bình chung học tập như sau :</span></div>
            <div style="position:absolute;left:84.98px;top:193.18px" class="cls_002"><span class="cls_002">Số ĐVHT tích lũy/tổng số ĐVHT: <input type="number" name="thutuc6" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[6].value)" style="width: 82px;" required min="0" max="4" />/4</span></div>
            <div style="position:absolute;left:85.34px;top:217.78px" class="cls_002"><span class="cls_002">Các học phần chưa đạt :</span></div>
            <div style="position:absolute;left:46.08px;top:252.73px" class="cls_007"><span class="cls_007">TT</span></div>
            <div style="position:absolute;left:72.98px;top:252.73px" class="cls_007"><span class="cls_007">M­ HỌC PHẦN</span></div>
            <div style="position:absolute;left:200.69px;top:252.73px" class="cls_007"><span class="cls_007">TÊN HỌC PHẦN</span></div>
            <div style="position:absolute;left:333.67px;top:252.73px" class="cls_007"><span class="cls_007">SỐ ĐVHT</span></div>
            <div style="position:absolute;left:399.19px;top:252.73px" class="cls_007"><span class="cls_007">THỜI GIAN ĐĂNG KÝ HỌC LẠI</span></div>
            <div style="position:absolute;left:72.86px;top:266.17px" class="cls_002"><span class="cls_002"><input type="text" name="mahocphan0" value="@(ViewBag.hocphan == null ? "":ViewBag.hocphan[0].mahocphan)" required /></span></div>
            <div style="position:absolute;left:156.62px;top:266.17px" class="cls_002"><span class="cls_002"><input type="text" name="tenhocphan0" value="@(ViewBag.hocphan == null ? "":ViewBag.hocphan[0].tenhocphan)" required /></span></div>
            <div style="position:absolute;left:332.35px;top:266.17px" class="cls_002"><span class="cls_002"><input type="text" name="soDVHT0" value="@(ViewBag.hocphan == null ? "":ViewBag.hocphan[0].soDVHT)" required /></span></div>
            <div style="position:absolute;left:390.67px;top:266.17px" class="cls_002"><span class="cls_002"><input type="date" name="thoigianhoclai0" value="@(ViewBag.hocphan == null ? "":ViewBag.hocphan[0].thoigianhoclai.Year > 2000 ? ViewBag.hocphan[0].thoigianhoclai.ToString("yyyy-MM-dd"): "")" required /></span></div>
            <div style="position:absolute;left:49.68px;top:272.17px" class="cls_002"><span class="cls_002">1</span></div>
            <div style="position:absolute;left:72.86px;top:287.65px" class="cls_002"><span class="cls_002"><input type="text" name="mahocphan1" value="@(ViewBag.hocphan == null ? "":ViewBag.hocphan[1].mahocphan)" /></span></div>
            <div style="position:absolute;left:156.62px;top:287.65px" class="cls_002"><span class="cls_002"><input type="text" name="tenhocphan1" value="@(ViewBag.hocphan == null ? "":ViewBag.hocphan[1].tenhocphan)" /></span></div>
            <div style="position:absolute;left:332.35px;top:287.65px" class="cls_002"><span class="cls_002"><input type="text" name="soDVHT1" value="@(ViewBag.hocphan == null ? "":ViewBag.hocphan[1].soDVHT)" /></span></div>
            <div style="position:absolute;left:390.67px;top:287.65px" class="cls_002"><span class="cls_002"><input type="date" name="thoigianhoclai1" value="@(ViewBag.hocphan == null ? "":ViewBag.hocphan[1].thoigianhoclai.Year > 2000 ? ViewBag.hocphan[1].thoigianhoclai.ToString("yyyy-MM-dd"): "")" /></span></div>
            <div style="position:absolute;left:49.68px;top:293.65px" class="cls_002"><span class="cls_002">2</span></div>
            <div style="position:absolute;left:72.86px;top:309.25px" class="cls_002"><span class="cls_002"><input type="text" name="mahocphan2" value="@(ViewBag.hocphan == null ? "":ViewBag.hocphan[2].mahocphan)" /></span></div>
            <div style="position:absolute;left:156.62px;top:309.25px" class="cls_002"><span class="cls_002"><input type="text" name="tenhocphan2" value="@(ViewBag.hocphan == null ? "":ViewBag.hocphan[2].tenhocphan)" /></span></div>
            <div style="position:absolute;left:332.35px;top:309.25px" class="cls_002"><span class="cls_002"><input type="text" name="soDVHT2" value="@(ViewBag.hocphan == null ? "":ViewBag.hocphan[2].soDVHT)" /></span></div>
            <div style="position:absolute;left:390.67px;top:309.25px" class="cls_002"><span class="cls_002"><input type="date" name="thoigianhoclai2" value="@(ViewBag.hocphan == null ? "":ViewBag.hocphan[2].thoigianhoclai.Year > 2000 ? ViewBag.hocphan[2].thoigianhoclai.ToString("yyyy-MM-dd"): "")" /></span></div>
            <div style="position:absolute;left:49.68px;top:315.25px" class="cls_002"><span class="cls_002">3</span></div>
            <div style="position:absolute;left:72.86px;top:330.73px" class="cls_002"><span class="cls_002"><input type="text" name="mahocphan3" value="@(ViewBag.hocphan == null ? "":ViewBag.hocphan[3].mahocphan)" /></span></div>
            <div style="position:absolute;left:156.62px;top:330.73px" class="cls_002"><span class="cls_002"><input type="text" name="tenhocphan3" value="@(ViewBag.hocphan == null ? "":ViewBag.hocphan[3].tenhocphan)" /></span></div>
            <div style="position:absolute;left:332.35px;top:330.73px" class="cls_002"><span class="cls_002"><input type="text" name="soDVHT3" value="@(ViewBag.hocphan == null ? "":ViewBag.hocphan[3].soDVHT)" /></span></div>
            <div style="position:absolute;left:390.67px;top:330.73px" class="cls_002"><span class="cls_002"><input type="date" name="thoigianhoclai3" value="@(ViewBag.hocphan == null ? "":ViewBag.hocphan[3].thoigianhoclai.Year > 2000 ? ViewBag.hocphan[3].thoigianhoclai.ToString("yyyy-MM-dd"): "")" /></span></div>
            <div style="position:absolute;left:49.68px;top:336.73px" class="cls_002"><span class="cls_002">4</span></div>
            <div style="position:absolute;left:72.86px;top:352.21px" class="cls_002"><span class="cls_002"><input type="text" name="mahocphan4" value="@(ViewBag.hocphan == null ? "":ViewBag.hocphan[4].mahocphan)" /></span></div>
            <div style="position:absolute;left:156.62px;top:352.21px" class="cls_002"><span class="cls_002"><input type="text" name="tenhocphan4" value="@(ViewBag.hocphan == null ? "":ViewBag.hocphan[4].tenhocphan)" /></span></div>
            <div style="position:absolute;left:332.35px;top:352.21px" class="cls_002"><span class="cls_002"><input type="text" name="soDVHT4" value="@(ViewBag.hocphan == null ? "":ViewBag.hocphan[4].soDVHT)" /></span></div>
            <div style="position:absolute;left:390.67px;top:352.21px" class="cls_002"><span class="cls_002"><input type="date" name="thoigianhoclai4" value="@(ViewBag.hocphan == null ? "":ViewBag.hocphan[4].thoigianhoclai.Year > 2000 ? ViewBag.hocphan[4].thoigianhoclai.ToString("yyyy-MM-dd"): "")" /></span></div>
            <div style="position:absolute;left:49.68px;top:358.21px" class="cls_002"><span class="cls_002">5</span></div>
            <div style="position:absolute;left:72.86px;top:373.69px" class="cls_002"><span class="cls_002"><input type="text" name="mahocphan5" value="@(ViewBag.hocphan == null ? "":ViewBag.hocphan[5].mahocphan)" /></span></div>
            <div style="position:absolute;left:156.62px;top:373.69px" class="cls_002"><span class="cls_002"><input type="text" name="tenhocphan5" value="@(ViewBag.hocphan == null ? "":ViewBag.hocphan[5].tenhocphan)" /></span></div>
            <div style="position:absolute;left:332.35px;top:373.69px" class="cls_002"><span class="cls_002"><input type="text" name="soDVHT5" value="@(ViewBag.hocphan == null ? "":ViewBag.hocphan[5].soDVHT)" /></span></div>
            <div style="position:absolute;left:390.67px;top:373.69px" class="cls_002"><span class="cls_002"><input type="date" name="thoigianhoclai5" value="@(ViewBag.hocphan == null ? "":ViewBag.hocphan[5].thoigianhoclai.Year > 2000 ? ViewBag.hocphan[5].thoigianhoclai.ToString("yyyy-MM-dd"): "")" /></span></div>
            <div style="position:absolute;left:49.68px;top:379.69px" class="cls_002"><span class="cls_002">6</span></div>
            <div style="position:absolute;left:72.86px;top:395.17px" class="cls_002"><span class="cls_002"><input type="text" name="mahocphan6" value="@(ViewBag.hocphan == null ? "":ViewBag.hocphan[6].mahocphan)" /></span></div>
            <div style="position:absolute;left:156.62px;top:395.17px" class="cls_002"><span class="cls_002"><input type="text" name="tenhocphan6" value="@(ViewBag.hocphan == null ? "":ViewBag.hocphan[6].tenhocphan)" /></span></div>
            <div style="position:absolute;left:332.35px;top:395.17px" class="cls_002"><span class="cls_002"><input type="text" name="soDVHT6" value="@(ViewBag.hocphan == null ? "":ViewBag.hocphan[6].soDVHT)" /></span></div>
            <div style="position:absolute;left:390.67px;top:395.17px" class="cls_002"><span class="cls_002"><input type="date" name="thoigianhoclai6" value="@(ViewBag.hocphan == null ? "":ViewBag.hocphan[6].thoigianhoclai.Year > 2000 ? ViewBag.hocphan[6].thoigianhoclai.ToString("yyyy-MM-dd"): "")" /></span></div>
            <div style="position:absolute;left:49.68px;top:401.17px" class="cls_002"><span class="cls_002">7</span></div>
            <div style="position:absolute;left:72.86px;top:416.67px" class="cls_002"><span class="cls_002"><input type="text" name="mahocphan7" value="@(ViewBag.hocphan == null ? "":ViewBag.hocphan[7].mahocphan)" /></span></div>
            <div style="position:absolute;left:156.62px;top:416.67px" class="cls_002"><span class="cls_002"><input type="text" name="tenhocphan7" value="@(ViewBag.hocphan == null ? "":ViewBag.hocphan[7].tenhocphan)" /></span></div>
            <div style="position:absolute;left:332.35px;top:416.67px" class="cls_002"><span class="cls_002"><input type="text" name="soDVHT7" value="@(ViewBag.hocphan == null ? "":ViewBag.hocphan[7].soDVHT)" /></span></div>
            <div style="position:absolute;left:390.67px;top:416.67px" class="cls_002"><span class="cls_002"><input type="date" name="thoigianhoclai7" value="@(ViewBag.hocphan == null ? "":ViewBag.hocphan[7].thoigianhoclai.Year > 2000 ? ViewBag.hocphan[7].thoigianhoclai.ToString("yyyy-MM-dd"): "")" /></span></div>
            <div style="position:absolute;left:49.68px;top:422.67px" class="cls_002"><span class="cls_002">8</span></div>
            <div style="position:absolute;left:72.86px;top:438.27px" class="cls_002"><span class="cls_002"><input type="text" name="mahocphan8" value="@(ViewBag.hocphan == null ? "":ViewBag.hocphan[8].mahocphan)" /></span></div>
            <div style="position:absolute;left:156.62px;top:438.27px" class="cls_002"><span class="cls_002"><input type="text" name="tenhocphan8" value="@(ViewBag.hocphan == null ? "":ViewBag.hocphan[8].tenhocphan)" /></span></div>
            <div style="position:absolute;left:332.35px;top:438.27px" class="cls_002"><span class="cls_002"><input type="text" name="soDVHT8" value="@(ViewBag.hocphan == null ? "":ViewBag.hocphan[8].soDVHT)" /></span></div>
            <div style="position:absolute;left:390.67px;top:438.27px" class="cls_002"><span class="cls_002"><input type="date" name="thoigianhoclai8" value="@(ViewBag.hocphan == null ? "":ViewBag.hocphan[8].thoigianhoclai.Year > 2000 ? ViewBag.hocphan[8].thoigianhoclai.ToString("yyyy-MM-dd"): "")" /></span></div>
            <div style="position:absolute;left:49.68px;top:444.27px" class="cls_002"><span class="cls_002">9</span></div>
            <div style="position:absolute;left:72.86px;top:459.75px" class="cls_002"><span class="cls_002"><input type="text" name="mahocphan9" value="@(ViewBag.hocphan == null ? "":ViewBag.hocphan[9].mahocphan)" /></span></div>
            <div style="position:absolute;left:156.62px;top:459.75px" class="cls_002"><span class="cls_002"><input type="text" name="tenhocphan9" value="@(ViewBag.hocphan == null ? "":ViewBag.hocphan[9].tenhocphan)" /></span></div>
            <div style="position:absolute;left:332.35px;top:459.75px" class="cls_002"><span class="cls_002"><input type="text" name="soDVHT9" value="@(ViewBag.hocphan == null ? "":ViewBag.hocphan[9].soDVHT)" /></span></div>
            <div style="position:absolute;left:390.67px;top:459.75px" class="cls_002"><span class="cls_002"><input type="date" name="thoigianhoclai9" value="@(ViewBag.hocphan == null ? "":ViewBag.hocphan[9].thoigianhoclai.Year > 2000 ? ViewBag.hocphan[9].thoigianhoclai.ToString("yyyy-MM-dd"): "")" /></span></div>

            <div style="position:absolute;left:46.68px;top:465.75px" class="cls_002"><span class="cls_002">10</span></div>
            <div style="position:absolute;left:36.34px;top:484.83px" class="cls_002"><span class="cls_002">Xin tạm ngừng học: từ <input type="date" name="thutuc7" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[7].value)" required /></span></div>
            <div style="position:absolute;left:326.71px;top:484.83px" class="cls_002"><span class="cls_002">đến <input type="date" name="thutuc8" value="@(ViewBag.noidung == null ? "":ViewBag.noidung[8].value)" required /></span></div>
            <div style="position:absolute;left:85.34px;top:508.83px" class="cls_002"><span class="cls_002">Lý do tạm ngừng học:<textarea rows="2" type="text" name="thutuc9" value="" style="width: 361px;" required>@(ViewBag.noidung == null ? "":ViewBag.noidung[9].value)</textarea></span></div>
            <div style="position:absolute;left:56.64px;top:556.83px" class="cls_002"><span class="cls_002">Trong thời gian tạm ngừng học, tôi xin cam kết đăng kê học lại các học phần chưa đạt.</span></div>
            <input type="hidden" id="count" name="count" value="9" class="btn btn-default" />
            <input type="hidden" id="thutucname0" name="thutucname0" value="Họ V&#224; T&#234;n" class="btn btn-default" />
            <input type="hidden" id="thutucname1" name="thutucname1" value="Ng&#224;y Sinh" class="btn btn-default" />
            <input type="hidden" id="thutucname2" name="thutucname2" value="M&#227; SV" class="btn btn-default" />
            <input type="hidden" id="thutucname3" name="thutucname3" value="Lớp" class="btn btn-default" />
            <input type="hidden" id="thutucname4" name="thutucname4" value="Khoa" class="btn btn-default" />
            <input type="hidden" id="thutucname5" name="thutucname5" value="Học K&#236; Đ&#227; Học" class="btn btn-default" />
            <input type="hidden" id="thutucname6" name="thutucname6" value="ĐVHT" class="btn btn-default" />
            <input type="hidden" id="thutucname7" name="thutucname7" value="Ng&#224;y Nghỉ" class="btn btn-default" />
            <input type="hidden" id="thutucname8" name="thutucname8" value="Ng&#224;y Đi Học" class="btn btn-default" />
            <input type="hidden" id="thutucname9" name="thutucname9" value="L&#253; Do" class="btn btn-default" />


            <div style="position:absolute;left:74.66px;top:592.86px" class="cls_002"><span class="cls_002">Ý KIẾN PHỤ HUYNH</span></div>
            <div style="position:absolute;left:367.51px;top:592.86px" class="cls_008"><span class="cls_008">Ngày ………tháng……...năm 20…..</span></div>
            <div style="position:absolute;left:429.91px;top:604.86px" class="cls_002"><span class="cls_002">Sinh viên</span></div>
            <div style="position:absolute;left:416.11px;top:618.90px" class="cls_010"><span class="cls_010">(Kê vj ghi họ tên)</span></div>
            <div style="position:absolute;left:56.64px;top:688.86px" class="cls_002"><span class="cls_002">BAN CHỦ NHIỆM KHOA</span></div>
            <div style="position:absolute;left:256.61px;top:688.86px" class="cls_002"><span class="cls_002">KT. HIỆU TRƯỞNG</span></div>
            <div style="position:absolute;left:421.75px;top:688.86px" class="cls_002"><span class="cls_002">PHÒNG ĐÀO TẠO</span></div>
            <div style="position:absolute;left:254.09px;top:700.86px" class="cls_002"><span class="cls_002">PHÓ HIỆU TRƯỞNG</span></div>
            <div style="position:absolute;left:400px;top:759.86px" class="cls_002">
                <span class="cls_002">
                    <button class="btn btn-primary hBack" type="button">Trở Lại</button>
                    <input type="submit" id="andsubmit" value="Gửi hồ sơ" class="btn btn-default" style="display:none" />
                    <a href="#" id="submit" class="btn btn-success success" data-toggle="modal" data-target="#modal-dialog" style="width: 95px;
    height: 38px;
    ">Gửi hồ sơ</a>

                </span>
            </div>

        </form>

    </div>

</body>
</html>


