﻿<!DOCTYPE html>
<html>
<body>
    <form id="myForm" method="post" action="http://@(HttpContext.Current.Request.Url.Host):51502/VanLangLogin/Index">
        <input type="hidden" name="username" value="@ViewBag.name"><br>
        <input type="hidden" name="url" value="@demonuget.Controllers.Contraint.URL"><br><br>
    </form>

    <script>document.getElementById("myForm").submit();</script>

</body>
</html>

