﻿<section class="home-slider owl-carousel">

    <div class="slider-item">

        <div class="overlay" style="opacity:0.85">
            <img class="mySildes" src="~/Content/assets/images/bg/01.jpg" />
        </div>

        <div class="container">

            <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
                <div class="col-md-6 ftco-animate">
                    <h1 class="mb-4">Cổng Hành Chính Trường Đại Học Văn Lang</h1>
                    <p>Cung cấp các dịch vụ nhanh gọn tiết kiệm thời gian</p>
                    <p><a href="#" class="btn btn-primary px-4 py-3 mt-3">Liên Hệ</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="slider-item">

        <div class="overlay" style="opacity:0.85">
            <img class="mySildes" src="~/Content/assets/images/bg/03.jpg" />
        </div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
                <div class="col-md-6 ftco-animate">
                    <img style="opacity:100%;padding:40px 0;" src="~/Content/assets/images/bg/logovl.png" />



                    <p><a href="https://tuyensinh.vanlanguni.edu.vn" class="btn btn-primary px-4 py-3 mt-3">Xem Thêm</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-services ftco-no-pb">
    <div class="container-wrap">
        <div class="row no-gutters">
            <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-primary">
                <div style="" class="media block-6 d-block text-center w-100">
                    <div class="icon d-flex justify-content-center align-items-center w-100">
                        <span class="flaticon-teacher"></span>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">Tiết Kiệm Thời Gian</h3>
                        <p>Cung cấp các thủ tục nhanh gọn online tiết kiệm tối đa thời gian.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-darken">
                <div style="" class="media block-6 d-block text-center w-100">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-reading"></span>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">Nhanh Gọn</h3>
                        <p>Giải quyết các thắc mắc xử lý hồ sơ nhanh gọn.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-primary">
                <div style="" class="media block-6 d-block text-center w-100">
                    <div class="icon d-flex ml-5 justify-content-center align-items-center">
                        <span class="flaticon-books"></span>
                    </div>
                    <div class="media-body  mt-4 ml-5 justify-content-center align-items-center">
                        <h3 class="heading ">Tra cứu dễ dàng</h3>
                        <p>Dễ dàng tra cứu thông tin hồ sơ.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-darken">
                <div style="" class="media block-6 d-block text-center w-100">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-diploma"></span>
                    </div>
                    <div class="media-body p-2 mt-4 ml-4">
                        <h3 class="heading">Mọi Lúc Mọi Nơi</h3>
                        <p>Tạo và quản lý hồ sơ mọi lúc mọi nơi.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div id="thutuc">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Danh Sác Hồ Sơ Công Tác Sinh Viên</h3>
                        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                    </div>
                    <div class="panel-body">
                        <div class="panel-body">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td class="form-name">
                                            <a class="name" href="http://@(HttpContext.Current.Request.Url.Host):44358/Account/Login?url=/thutucs/XinThoiHoc">
                                                <i class="fa fa-file-text" aria-hidden="true"></i> Xin Thôi Học
                                            </a>
                                        </td>
                                        <td>
                                            Thời gian: 5 Ngày
                                        </td>
                                        <td>
                                            Nộp online
                                        </td>
                                        <td>
                                            <span class="badge price">Không tính phí</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">2</td>
                                        <td class="form-name">
                                            <a class="name" href="http://@(HttpContext.Current.Request.Url.Host):44358/Account/Login?url=/thutucs/GIAYXACNHANDECUONG">
                                                <i class="fa fa-file-text" aria-hidden="true"></i> Giấy Xác Nhận Đề Cương
                                            </a>
                                        </td>
                                        <td>
                                            Thời gian: 2 Ngày
                                        </td>
                                        <td>
                                            Nộp online
                                        </td>
                                        <td>
                                            <span class="badge price">Không tính phí</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">3</td>
                                        <td class="form-name">
                                            <a class="name" href="http://@(HttpContext.Current.Request.Url.Host):44358/Account/Login?url=/thutucs/MOTACHUONGTRINHDAOTAO">
                                                <i class="fa fa-file-text" aria-hidden="true"></i>  Đề Nghị Cấp Giấy Mô Tả Chương Trình Đào Tạo
                                            </a>
                                        </td>
                                        <td>
                                            Thời gian: 5 Ngày
                                        </td>
                                        <td>
                                            Nộp online
                                        </td>
                                        <td>
                                            <span class="badge price badge-warning">Hết hạn</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">4</td>
                                        <td class="form-name">
                                            <a class="name" href="http://@(HttpContext.Current.Request.Url.Host):44358/Account/Login?url=/thutucs/THICAITHIENDIEM">
                                                <i class="fa fa-file-text" aria-hidden="true"></i> Đăng Ký Thi Cải Thiện Điểm
                                            </a>
                                        </td>
                                        <td>
                                            Thời gian: 5 Ngày
                                        </td>
                                        <td>
                                            Nộp online
                                        </td>
                                        <td>
                                            <span class="badge price">Không tính phí</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">5</td>
                                        <td class="form-name">
                                            <a class="name" href="http://@(HttpContext.Current.Request.Url.Host):44358/Account/Login?url=/thutucs/GIAYXACNHANHOANTHANHCHUONGTRINHDAOTAO">
                                                <i class="fa fa-file-text" aria-hidden="true"></i> Giấy Xác Nhận Hoàn Thành Chương Trình Đào Tạo
                                            </a>
                                        </td>
                                        <td>
                                            Thời gian: 7 Ngày
                                        </td>
                                        <td>
                                            Nộp online
                                        </td>
                                        <td>
                                            <span class="badge price">Không tính phí</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">6</td>
                                        <td class="form-name">
                                            <a class="name" href="http://@(HttpContext.Current.Request.Url.Host):44358/Account/Login?url=/thutucs/XACNHANTHOIGIANTHUCTAP">
                                                <i class="fa fa-file-text" aria-hidden="true"></i>  Đề Nghị Cấp Giấy Xác Nhận Thời Gian Học Tập
                                            </a>
                                        </td>
                                        <td>
                                            Thời gian: 10 Ngày
                                        </td>
                                        <td>
                                            Nộp online
                                        </td>
                                        <td>
                                            <span class="badge price">Không tính phí</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">7</td>
                                        <td class="form-name">
                                            <a class="name" href="http://@(HttpContext.Current.Request.Url.Host):44358/Account/Login?url=/thutucs/CAPBANSAOBANG">
                                                <i class="fa fa-file-text" aria-hidden="true"></i>  Cấp Bản Sao Văn Bằng
                                            </a>
                                        </td>
                                        <td>
                                            Thời gian: 5 Ngày
                                        </td>
                                        <td>
                                            Nộp online
                                        </td>
                                        <td>
                                            <span class="badge price">Không tính phí</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">8</td>
                                        <td class="form-name">
                                            <a class="name" href="http://@(HttpContext.Current.Request.Url.Host):44358/Account/Login?url=/thutucs/DANGKYCHUONGTRINHHOCNHANH">
                                                <i class="fa fa-file-text" aria-hidden="true"></i> Đăng Ký Chương Trình Học Nhanh
                                            </a>
                                        </td>
                                        <td>
                                            Thời gian: 5 Ngày
                                        </td>
                                        <td>
                                            Nộp online
                                        </td>
                                        <td>
                                            <span class="badge price">Không tính phí</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">9</td>
                                        <td class="form-name">
                                            <a class="name" href="http://@(HttpContext.Current.Request.Url.Host):44358/Account/Login?url=/thutucs/TOTNGHIEPTAMTHOI">
                                                <i class="fa fa-file-text" aria-hidden="true"></i>  Đề Nghị Cấp Giấy Tốt Nghiệp Tạm Thời
                                            </a>
                                        </td>
                                        <td>
                                            Thời gian: 5 Ngày
                                        </td>
                                        <td>
                                            Nộp tại Hub
                                        </td>
                                        <td>
                                            <span class="badge price">Không tính phí</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">10</td>
                                        <td class="form-name">
                                            <a class="name" href="/xem-thu-tuc-22">
                                                <i class="fa fa-file-text" aria-hidden="true"></i> Cấp bảng điểm
                                            </a>
                                        </td>
                                        <td>
                                            Thời gian: 4 Ngày
                                        </td>
                                        <td>
                                            Nộp online
                                        </td>
                                        <td>
                                            <span class="badge price">5.000 đ</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">11</td>
                                        <td class="form-name">
                                            <a class="name" href="/xem-thu-tuc-23">
                                                <i class="fa fa-file-text" aria-hidden="true"></i> Cấp Giấy Xác nhận kết quả học tập
                                            </a>
                                        </td>
                                        <td>
                                            Thời gian: 4 Ngày
                                        </td>
                                        <td>
                                            Nộp online
                                        </td>
                                        <td>
                                            <span class="badge price">Không tính phí</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">12</td>
                                        <td class="form-name">
                                            <a class="name" href="/xem-thu-tuc-26">
                                                <i class="fa fa-file-text" aria-hidden="true"></i> Cấp Giấy xác nhận nội dung ĐCCT
                                            </a>
                                        </td>
                                        <td>
                                            Thời gian: 4 Ngày
                                        </td>
                                        <td>
                                            Nộp online
                                        </td>
                                        <td>
                                            <span class="badge price">20.000 đ</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">13</td>
                                        <td class="form-name">
                                            <a class="name" href="/xem-thu-tuc-27">
                                                <i class="fa fa-file-text" aria-hidden="true"></i> Cấp Giấy xác nhận hoàn thành CTĐT
                                            </a>
                                        </td>
                                        <td>
                                            Thời gian: 4 Ngày
                                        </td>
                                        <td>
                                            Nộp online
                                        </td>
                                        <td>
                                            <span class="badge price">Không tính phí</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">14</td>
                                        <td class="form-name">
                                            <a class="name" href="/xem-thu-tuc-30">
                                                <i class="fa fa-file-text" aria-hidden="true"></i> Cấp Giấy xác nhận thời gian học tập
                                            </a>
                                        </td>
                                        <td>
                                            Thời gian: 4 Ngày
                                        </td>
                                        <td>
                                            Nộp online
                                        </td>
                                        <td>
                                            <span class="badge price">Không tính phí</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">15</td>
                                        <td class="form-name">
                                            <a class="name" href="/xem-thu-tuc-29">
                                                <i class="fa fa-file-text" aria-hidden="true"></i> Cấp bản mô tả CTĐT
                                            </a>
                                        </td>
                                        <td>
                                            Thời gian: 7 Ngày
                                        </td>
                                        <td>
                                            Nộp online
                                        </td>
                                        <td>
                                            <span class="badge price">Không tính phí</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">16</td>
                                        <td class="form-name">
                                            <a class="name" href="/xem-thu-tuc-49">
                                                <i class="fa fa-file-text" aria-hidden="true"></i> Cấp bản sao bằng tốt nghiệp từ sổ gốc
                                            </a>
                                        </td>
                                        <td>
                                            Thời gian: 40 Ngày
                                        </td>
                                        <td>
                                            Nộp online
                                        </td>
                                        <td>
                                            <span class="badge price">50.000 đ</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">17</td>
                                        <td class="form-name">
                                            <a class="name" href="/xem-thu-tuc-21">
                                                <i class="fa fa-file-text" aria-hidden="true"></i> Chuyển điểm, miễn học phần
                                            </a>
                                        </td>
                                        <td>
                                            Thời gian: 7 Ngày
                                        </td>
                                        <td>
                                            Nộp online
                                        </td>
                                        <td>
                                            <span class="badge price">Không tính phí</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Danh Sác Hồ Sơ Công Tác Học Vụ</h3>
                        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-down"></i></span>
                    </div>
                    <div class="panel-body">
                        <div class="panel-body">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td class="form-name">
                                            <a class="name" href="/xem-thu-tuc-5">
                                                <i class="fa fa-file-text" aria-hidden="true"></i> Nhập học lại
                                            </a>
                                        </td>
                                        <td>
                                            Thời gian: 5 Ngày
                                        </td>
                                        <td>
                                            Nộp online
                                        </td>
                                        <td>
                                            <span class="badge price">Không tính phí</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">2</td>
                                        <td class="form-name">
                                            <a class="name" href="/xem-thu-tuc-6">
                                                <i class="fa fa-file-text" aria-hidden="true"></i> Rút hồ sơ
                                            </a>
                                        </td>
                                        <td>
                                            Thời gian: 2 Ngày
                                        </td>
                                        <td>
                                            Nộp online
                                        </td>
                                        <td>
                                            <span class="badge price">Không tính phí</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">3</td>
                                        <td class="form-name">
                                            <a class="name" href="javascript:void(0)">
                                                <i class="fa fa-file-text" aria-hidden="true"></i> Chuyển ngành
                                            </a>
                                        </td>
                                        <td>
                                            Thời gian: 5 Ngày
                                        </td>
                                        <td>
                                            Nộp online
                                        </td>
                                        <td>
                                            <span class="badge price badge-warning">Hết hạn</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">4</td>
                                        <td class="form-name">
                                            <a class="name" href="/xem-thu-tuc-9">
                                                <i class="fa fa-file-text" aria-hidden="true"></i> Chuyển lớp
                                            </a>
                                        </td>
                                        <td>
                                            Thời gian: 5 Ngày
                                        </td>
                                        <td>
                                            Nộp online
                                        </td>
                                        <td>
                                            <span class="badge price">Không tính phí</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">5</td>
                                        <td class="form-name">
                                            <a class="name" href="/xem-thu-tuc-2">
                                                <i class="fa fa-file-text" aria-hidden="true"></i> Chuyển trường đi
                                            </a>
                                        </td>
                                        <td>
                                            Thời gian: 7 Ngày
                                        </td>
                                        <td>
                                            Nộp online
                                        </td>
                                        <td>
                                            <span class="badge price">Không tính phí</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">6</td>
                                        <td class="form-name">
                                            <a class="name" href="/xem-thu-tuc-1">
                                                <i class="fa fa-file-text" aria-hidden="true"></i> Chuyển trường đến
                                            </a>
                                        </td>
                                        <td>
                                            Thời gian: 10 Ngày
                                        </td>
                                        <td>
                                            Nộp online
                                        </td>
                                        <td>
                                            <span class="badge price">Không tính phí</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">7</td>
                                        <td class="form-name">
                                            <a class="name" href="/xem-thu-tuc-4">
                                                <i class="fa fa-file-text" aria-hidden="true"></i> Bảo lưu kết quả học tập
                                            </a>
                                        </td>
                                        <td>
                                            Thời gian: 5 Ngày
                                        </td>
                                        <td>
                                            Nộp online
                                        </td>
                                        <td>
                                            <span class="badge price">Không tính phí</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">8</td>
                                        <td class="form-name">
                                            <a class="name" href="/xem-thu-tuc-54">
                                                <i class="fa fa-file-text" aria-hidden="true"></i> Tạm ngừng học
                                            </a>
                                        </td>
                                        <td>
                                            Thời gian: 5 Ngày
                                        </td>
                                        <td>
                                            Nộp online
                                        </td>
                                        <td>
                                            <span class="badge price">Không tính phí</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">9</td>
                                        <td class="form-name">
                                            <a class="name" href="/xem-thu-tuc-53">
                                                <i class="fa fa-file-text" aria-hidden="true"></i> Bảo lưu kết quả tuyển sinh
                                            </a>
                                        </td>
                                        <td>
                                            Thời gian: 5 Ngày
                                        </td>
                                        <td>
                                            Nộp tại Hub
                                        </td>
                                        <td>
                                            <span class="badge price">Không tính phí</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">10</td>
                                        <td class="form-name">
                                            <a class="name" href="/xem-thu-tuc-22">
                                                <i class="fa fa-file-text" aria-hidden="true"></i> Cấp bảng điểm
                                            </a>
                                        </td>
                                        <td>
                                            Thời gian: 4 Ngày
                                        </td>
                                        <td>
                                            Nộp online
                                        </td>
                                        <td>
                                            <span class="badge price">5.000 đ</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">11</td>
                                        <td class="form-name">
                                            <a class="name" href="/xem-thu-tuc-23">
                                                <i class="fa fa-file-text" aria-hidden="true"></i> Cấp Giấy Xác nhận kết quả học tập
                                            </a>
                                        </td>
                                        <td>
                                            Thời gian: 4 Ngày
                                        </td>
                                        <td>
                                            Nộp online
                                        </td>
                                        <td>
                                            <span class="badge price">Không tính phí</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">12</td>
                                        <td class="form-name">
                                            <a class="name" href="/xem-thu-tuc-26">
                                                <i class="fa fa-file-text" aria-hidden="true"></i> Cấp Giấy xác nhận nội dung ĐCCT
                                            </a>
                                        </td>
                                        <td>
                                            Thời gian: 4 Ngày
                                        </td>
                                        <td>
                                            Nộp online
                                        </td>
                                        <td>
                                            <span class="badge price">20.000 đ</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">13</td>
                                        <td class="form-name">
                                            <a class="name" href="/xem-thu-tuc-27">
                                                <i class="fa fa-file-text" aria-hidden="true"></i> Cấp Giấy xác nhận hoàn thành CTĐT
                                            </a>
                                        </td>
                                        <td>
                                            Thời gian: 4 Ngày
                                        </td>
                                        <td>
                                            Nộp online
                                        </td>
                                        <td>
                                            <span class="badge price">Không tính phí</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">14</td>
                                        <td class="form-name">
                                            <a class="name" href="/xem-thu-tuc-30">
                                                <i class="fa fa-file-text" aria-hidden="true"></i> Cấp Giấy xác nhận thời gian học tập
                                            </a>
                                        </td>
                                        <td>
                                            Thời gian: 4 Ngày
                                        </td>
                                        <td>
                                            Nộp online
                                        </td>
                                        <td>
                                            <span class="badge price">Không tính phí</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">15</td>
                                        <td class="form-name">
                                            <a class="name" href="/xem-thu-tuc-29">
                                                <i class="fa fa-file-text" aria-hidden="true"></i> Cấp bản mô tả CTĐT
                                            </a>
                                        </td>
                                        <td>
                                            Thời gian: 7 Ngày
                                        </td>
                                        <td>
                                            Nộp online
                                        </td>
                                        <td>
                                            <span class="badge price">Không tính phí</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">16</td>
                                        <td class="form-name">
                                            <a class="name" href="/xem-thu-tuc-49">
                                                <i class="fa fa-file-text" aria-hidden="true"></i> Cấp bản sao bằng tốt nghiệp từ sổ gốc
                                            </a>
                                        </td>
                                        <td>
                                            Thời gian: 40 Ngày
                                        </td>
                                        <td>
                                            Nộp online
                                        </td>
                                        <td>
                                            <span class="badge price">50.000 đ</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">17</td>
                                        <td class="form-name">
                                            <a class="name" href="/xem-thu-tuc-21">
                                                <i class="fa fa-file-text" aria-hidden="true"></i> Chuyển điểm, miễn học phần
                                            </a>
                                        </td>
                                        <td>
                                            Thời gian: 7 Ngày
                                        </td>
                                        <td>
                                            Nộp online
                                        </td>
                                        <td>
                                            <span class="badge price">Không tính phí</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<style>
    body {
        background-color: azure;
    }
    .thutuc {
        background-color: azure;
        margin-top: 45px;
    }
    .row {
        margin-top: 40px;
        padding: 0 10px;
    }

    .clickable {
        cursor: pointer;
    }

    .panel-heading span {
        margin-top: -20px;
        font-size: 15px;

    }
    .container{
        padding 0;
    }
</style>
<script>
    $(document).on('click', '.panel-heading span.clickable', function (e) {
        var $this = $(this);
        if (!$this.hasClass('panel-collapsed')) {
            $this.parents('.panel').find('.panel-body').slideUp();
            $this.addClass('panel-collapsed');
            $this.find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');

        } else {
            $this.parents('.panel').find('.panel-body').slideDown();
            $this.removeClass('panel-collapsed');
            $this.find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');

        }
    })
</script>