﻿@model DichVuMotCua.Models.thutuc

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xóa Thủ Tục</h2>

<h3>Bạn có muốn xóa thủ tục này ?</h3>
<div>
    <h4>Thủ Tục</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nguoitao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nguoitao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nguoiduyet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nguoiduyet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.loaithutuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.loaithutuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ghichu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ghichu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngaylay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaylay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tinhtrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tinhtrang)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
