﻿@model DichVuMotCua.Models.thutuc

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chi Tiết</h2>

<div>
    <h4>Thủ Tục</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nguoitao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nguoitao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nguoiduyet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nguoiduyet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.loaithutuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.loaithutuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ghichu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ghichu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngaylay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaylay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tinhtrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tinhtrang)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Trở Lại", "Index")
</p>
