﻿@model System.Data.DataTable
@using System.Data;

@{
    Layout = "~/Areas/Admin/Views/Shared/AdminMaster.cshtml";
}

<h2>Danh Sách Thủ Tục Đang Xử Lý</h2>

<table class="table table-hover">
    @{
        int count = 0;
    }
    <thead>
        <tr>
            @foreach (DataColumn col in Model.Columns)
            {
                <th>@col.ColumnName</th>
              
            }
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow row in Model.Rows)
        {
            count++;
            <tr>
                @foreach (DataColumn col in Model.Columns)
                {
                    <td>@row[col.ColumnName]</td>

                }
            </tr>
        }
        Tổng: @count Thủ Tục
    </tbody>
</table>

</table>
