﻿@{
    var session = (DichVuMotCua.Models.taikhoan)Session[DichVuMotCua.Content.CommonConstants.USER_SESSION];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Trường đại học Văn Lang</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <link rel="stylesheet" href="~/Content/Home/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Home/css/animate.css">

    <link rel="stylesheet" href="~/Content/Home/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/Home/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/Home/css/magnific-popup.css">

    <link rel="stylesheet" href="~/Content/Home/css/aos.css">

    <link rel="stylesheet" href="~/Content/Home/css/ionicons.min.css">

    <link rel="stylesheet" href="~/Content/Home/css/flaticon.css">
    <link rel="stylesheet" href="~/Content/Home/css/icomoon.css">
    <link rel="stylesheet" href="~/Content/Home/css/style.css">
    
</head>
<body>
    <style>
        .container .row {
            padding: 0;
            margin: 0;
        }

        .topper {
            font-size: 14px;
            padding-top: 0;
            margin-top: 16px;
        }

        .container .no-gutters .login a {
            font-size: 13px;
        }

        #thutuc {
        }
        .full {
            width: 100%;
        }

        .gap {
            height: 30px;
            width: 100%;
            clear: both;
            display: block;
        }

        .footer {
            background: #002147;
            height: auto;
            padding-bottom: 30px;
            position: relative;
            width: 100%;
            border-bottom: 1px solid #CCCCCC;
            border-top: 1px solid #DDDDDD;
        }
        .footer img{
            margin-top:40px;
        }

            .footer p {
                margin: 0;
            }

            .footer img {
                max-width: 100%;
            }

            .footer h3 {
                color: white;
                font-size: 18px;
                font-weight: 600;
                line-height: 27px;
                padding: 40px 0 0px;
                text-transform: uppercase;
                margin-bottom: 15px;
            }

            .footer h4 {
                color: white;
                font-size: 2em;
                font-weight: 600;
                line-height: 38px;
                padding: 40px 0 10px;
                font-family: cursive;
                font-weight: lighter
            }

            .footer ul {
                font-size: 13px;
                list-style-type: none;
                margin-left: 0;
                padding-left: 0;
                margin-top: 0px;
                color: #7F8C8D;
                padding: 0 0 8px 0;
            }

        .email {
            border-bottom: 3px solid #fff;
        }

        .footer ul li a {
            padding: 0 0 12px 0;
            display: block;
        }

        .footer a {
            color: white;
            font-weight: lighter;
        }

        .footer p {
            color: white;
            font-weight: lighter;
            font-size:
        }

        .footer a:hover {
            text-decoration: none;
            font-weight: bold;
        }

        .supportLi h4 {
            font-size: 20px;
            font-weight: lighter;
            line-height: normal;
            margin-bottom: 0 !important;
            padding-bottom: 0;
        }

        .bg-gray {
            background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
            box-shadow: 0 1px 0 #B4B3B3;
        }

        }

        .footer a {
            color: #78828D
        }

        .footer-bottom {
            margin-top: 2em;
            border-top: 1px solid #DDDDDD;
            padding-top: 20px;
            padding-bottom: 10px;
        }

            .footer-bottom p.pull-left {
                font-size: 1em;
                margin-left: 310px;
            }

      
    </style>

    <div style="background-color:azure;" class="bg-top navbar-light">
        <div class="container">
            <div class="row no-gutters ">
                <div class="col-md-4 d-flex align-items-center py-4">
                    <img src="~/Content/assets/img/logo.PNG" alt="Đại học Văn Lang">
                </div>
                <div class="col-lg-8 d-block">
                    <div class="row d-flex">
                        <div class="col-md d-flex topper align-items-center align-items-stretch py-md-4">
                            <div class="icon d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
                            <div class="text">
                                <span>Văn Phòng</span>
                                <span>Toà nhà hành chính-CS3</span>

                            </div>
                        </div>
                        <div class="col-md d-flex topper align-items-center align-items-stretch py-md-4">
                            <div class="icon d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
                            <div class="text">
                                <span>Điện Thoại:</span>
                                <span> +028.71099221</span>
                            </div>
                        </div>
                        <div class="col-md topper d-flex align-items-center justify-content-end login">
                            <p class="mb-0">
                                <a href="http://@(HttpContext.Current.Request.Url.Host):44358/Account/Login" class="btn py-2 px-3 btn-primary d-flex align-items-center justify-content-center">
                                    <span>Đăng Nhập</span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav style="margin:1px 0;" class="navbar navbar-expand-lg navbar-dark bg-primary " id="ftco-navbar">
        <div class="container d-flex align-items-center px-4" style="margin-right:800px;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav mr-auto">
                    <li style="margin-right:60px" class="nav-item  active"><a href="index.html" class="nav-link pl-0 text-left">Trang Chủ</a></li>
                    <li class="nav-item"><a style="margin-right:60px;color:white;" href="#thutuc" class="nav-link">Thủ Tục</a></li>
                    <li style="margin-right:60px" class="nav-item"><a style="margin-right:60px;color:white;" href="#footer" class="nav-link">Liên Hệ</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->
    <style>
        .navbar-nav li a:hover {
            color: black;
        }
    </style>
    @RenderBody()
    <!-- End of Main Content -->
    <!-- Footer start -->
<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a href=""><img src="~/Content/assets/images/bg/logovl.png" alt=""></a>

                </div>
                <div class="col-lg-3 col-sm-2 col-xs-3">
                    <h3>Liên Hệ</h3>
                    <ul>
                        <li><a class="email" href="#">Điện thoại: 028.71099221- EXT: 3320</a></li>
                        <br />
                        <li> <p><strong>Trụ sở</strong>: 45 Nguyễn Khắc Nhu, P. Cô Giang, Q.1, Tp. HCM</p> </li>
                        <li> <p><strong>Cơ sở 2</strong>: 233A Phan Văn Trị , P.11, Q. Bình Thạnh, Tp. HCM</p> </li>
                        <li> <p>
                                 <strong>Cơ sở 3</strong>: 80/68 Dương Quảng Hàm, P.5, Q. Gò Vấp, Tp. HCM

    69/68 Đặng Thùy Trâm, P. 13, Q. Bình Thạnh, Tp. HCM
</p> </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-2 col-xs-3">
                    <ul>
                        <li> <h5> <a href="#" style="margin-top: 5em"> Trang Chủ</a> <h5></li>
                        <li> <h5><a href="#"> Thủ Tục</a> <h5></li>
                        <li> <h5><a href="#">Liên Hệ</a> <h5></li>
                     
                    </ul>
                </div>

                <!--/.row-->
            </div>
            <!--/.container-->
        </div>
        <!--/.footer-->

        <div class="footer-bottom">
            <div class="container">
                <p class="pull-left copyright">© 2020 - Bản Quyền Thuộc Trường Đại học Văn Lang </p>

            </div>
        </div>
        <!--/.footer-bottom-->

</footer>

    <!-- End of Content Wrapper -->
    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


    <script src="~/Content/Home/js/jquery.min.js"></script>
    <script src="~/Content/Home/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Content/Home/js/popper.min.js"></script>
    <script src="~/Content/Home/js/bootstrap.min.js"></script>
    <script src="~/Content/Home/js/jquery.easing.1.3.js"></script>
    <script src="~/Content/Home/js/jquery.waypoints.min.js"></script>
    <script src="~/Content/Home/js/jquery.stellar.min.js"></script>
    <script src="~/Content/Home/js/owl.carousel.min.js"></script>
    <script src="~/Content/Home/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/Home/js/aos.js"></script>
    <script src="~/Content/Home/js/jquery.animateNumber.min.js"></script>
    <script src="~/Content/Home/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/Content/Home/js/google-map.js"></script>
    <script src="~/Content/Home/js/main.js"></script>

</body>
</html>