﻿        <!-- Sidebar Holder -->
<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Chức năng hệ thống</h3>
    </div>

    <ul class="list-unstyled components">
        @*<p>Dummy Heading</p>*@
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Thủ tục</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li><a href="/thutucs/CapGiayChungNhan">Xin Cấp giấy xác nhận</a></li>
                <li><a href="/thutucs/DSCapGiayChungNhan">Danh Sách Cấp giấy xác nhận</a></li>
                <li><a href="/thutucs/CapNhatThongTin">Cập Nhật Thông Tin Sinh Viên</a></li>
                <li><a href="/thutucs/DSCapNhatThongTin">Danh Sách Cập Nhật Thông Tin Sinh Viên</a></li>
                <li><a href="/thutucs/CapInTheSinhVien">Cấp In Thẻ Sinh Viên</a></li>
                <li><a href="/thutucs/DSCapInTheSinhVien">Danh Sách Cấp In Thẻ Sinh Viên</a></li>
                <li><a href="/thutucs/XinThoiHoc">Xin Thôi Học</a></li>
                <li><a href="/thutucs/DSXinThoiHoc">Danh Sách Xin Thôi Học</a></li>
                <li><a href="/thutucs/TiepTucHoc">Tiếp Tục Học</a></li>
                <li><a href="/thutucs/DSTiepTucHoc">Danh Sách Tiếp Tục Học</a></li>
                <li><a href="/loaithutucs/Create">Thêm Trường</a></li>
                <li><a href="/loaithutucs/Index">Danh Sách Loại thủ tục</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Hồ Sơ</a>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Hồ Sơ</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li><a href="#">Tạo HS</a></li>
                <li><a href="#">Sửa HS Sơ</a></li>
                <li><a href="#">Xóa HS</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Thông Tin</a>
        </li>
        <li>
            <a href="#">Liên Hệ</a>
        </li>
    </ul>

    <ul class="list-unstyled CTAs">
       
    </ul>
</nav>
