﻿@{
    var session = (DichVuMotCua.Models.taikhoan)Session[DichVuMotCua.Content.CommonConstants.USER_SESSION];
    var isSpam = false;
    var thutucthongbao = 0;
    if (session != null)
    {
        thutucthongbao = DichVuMotCua.Content.CommonConstants.thutucthongbao(session.id);
        isSpam = DichVuMotCua.Content.CommonConstants.isSpam(session.id);
    }
    List<string> listSpam = new List<string>();
    listSpam.Add("CAPGIAYCHUNGNHAN");
    listSpam.Add("CAPINTHESINHVIEN");
    listSpam.Add("CAPNHATTHONGTIN");
    listSpam.Add("TIEPTUCHOC");
    listSpam.Add("XINTHOIHOC");
    listSpam.Add("BAOLUUKETQUAHOCTAP");
    listSpam.Add("BAOLUUKETQUATUYENSINH");
    listSpam.Add("CHUYENDIEM");
    listSpam.Add("HOCCHAM");
    listSpam.Add("HOCVUOT");
    listSpam.Add("CAPBANSAOBANG");
    listSpam.Add("DANGKYCHUONGTRINHHOCNHANH");
    listSpam.Add("DANGKYHOCLAI");
    listSpam.Add("DANGKYHOCPHANTHAYTHE");
    listSpam.Add("DANGKYHOCTHEOTIENDOCHAM");
    listSpam.Add("DENGHICAPBANGDIEM");
    listSpam.Add("DENGHICHUNGTHUCVANBANG");
    listSpam.Add("DIEUCHINHKEHOACHHOCTAP");
    listSpam.Add("DOICHIEUCHUONGTRINHDAOTAO");
    listSpam.Add("DONDANGKYCAITHIENDIEM");
    listSpam.Add("DONPHUCKHAO");
    listSpam.Add("DONRUTBOTHOCPHAN");
    listSpam.Add("DONXETTOTNGHIEPSOM");
    listSpam.Add("DONXINCHUYENLOP");
    listSpam.Add("DONXINCHUYENNGANH");
    listSpam.Add("DONXINNHAPHOC");
    listSpam.Add("DONXINTAMNGUNGHOC");
    listSpam.Add("DONXINTHOIHOCRUTHOSO");
    listSpam.Add("GIAYGIOITHIEUTHUCTAP");
    listSpam.Add("GIAYXACNHANDECUONG");
    listSpam.Add("GIAYXACNHANHOANTHANHCHUONGTRINHDAOTAO");
    listSpam.Add("HOCHAICHUONGTRINH");
    listSpam.Add("KEHOACHHOCTAP");
    listSpam.Add("MOTACHUONGTRINHDAOTAO");
    listSpam.Add("THICAITHIENDIEM");
    listSpam.Add("TOTNGHIEPTAMTHOI");
    listSpam.Add("XACNHANKETQUAHOCTAP");
    listSpam.Add("XACNHANTHOIGIANTHUCTAP");

}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dịch Vụ Một Cửa</title>

    <!-- Custom fonts for this template-->
    <link href="~/Content/student/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Content/student/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul style="background-color:#07294D;" class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center m-2" href="/">
                <div style="margin-right:20px;">
                     <img style="width:55px;height:100%;" src="~/Content/assets/images/bg/unnamed.png"/>
                  

                </div>
                <h3 style="color:white;margin-top:10px;">VHUB</h3>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
          

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed close-nav" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Thủ Tục</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Thủ Tục</h6>
                        @if (session.role == 2)
                        {
                            
                            <a class="collapse-item" href="/Menu/ThuTuc">Tạo Thủ Tục</a>
                            
                        }
                        else
                        {
                            <a class="collapse-item" href="/Menu/DSThuTuc">Danh Sách Thủ Tục </a>
                        }

                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed close-nav" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Hồ Sơ</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">

                        @if (session.role == 2)
                        {
                            <h6 class="collapse-header">Sơ Đã Đăng Ký</h6>

                            <a class="collapse-item" href="/thutucs/ListThuTuc">Danh Sách</a>

                        }
                        else
                        {
                            <h6 class="collapse-header">Hồ Sơ</h6>
                            <a class="collapse-item" href="/Menu/DSHoSo"> Hồ Sơ Đã Đăng Ký</a>
                            <a class="collapse-item" href="/thutucs/ListThuTuc">Danh Sách Đang Xử Lý</a>
                        }


                    </div>
                </div>
            </li>

           

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0 button-close-nav" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar  static-top shadow">
                    @if (session.role != 2)
                    {
                        <div style="width:800px;position:relative;height:100%;margin-left:-10px;">


                            <marquee behavior="scroll" direction="left" style="color: white; position: absolute; top: 14px;"><h4>Cổng Thông Tin Một Cửa Trường Đại học Văn Lang - Đạo Đức - Ý Chí - Sáng Tạo</h4></marquee>
                            <img style="height:55px; width:102%;" src="~/Content/assets/images/bg/3.jpg">

                        </div>
                    }
                    else
                    {
                        <div style="width:100%;position:relative;height:100%;margin-left:-10px;">


                            <marquee behavior="scroll" direction="left" style="color: white; position: absolute; top: 14px;"><h4>Cổng Thông Tin Một Cửa Trường Đại học Văn Lang - Đạo Đức - Ý Chí - Sáng Tạo</h4></marquee>
                            <img style="height:55px; width:102%;" src="~/Content/assets/images/bg/3.jpg">

                        </div>
                    }



                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">



                        @if (session.role != 2)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link" data-toggle="dropdown" href="" aria-expanded="false">
                                    <i class="far fa-bell"></i>
                                    <span class="badge badge-warning navbar-badge">@(thutucthongbao)</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style="left: inherit; right: 0px;">
                                    <span class="dropdown-item dropdown-header">Thông Báo</span>
                                    <div class="dropdown-divider"></div>
                                    <a href="/thutucs/ListThuTuc" class="dropdown-item">
                                        <i class="fas fa-envelope mr-2"></i> Bạn có @(thutucthongbao) thủ tục cần xử lý <br>
                                        <span class="float-right text-muted text-sm">  vui lòng tới trang phê duyệt thủ tục để tiến hành xử lý thủ tục</span>
                                    </a>

                                </div>
                            </li>
                        }

                        <div class="topbar-divider d-none d-sm-block">

                        </div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @if (session != null)
                                {

                                    try
                                    {
                                        <img src="data:image/jpg;base64,@Convert.ToBase64String(session.avatar)" class="rounded-circle z-depth-2" alt="Cinque Terre" data-holder-rendered="true" width="50" height="50">
                                    }
                                    catch (Exception)
                                    {

                                    }

                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">Xin chào  @(String.IsNullOrEmpty(session.name) ? session.email : session.name) </span>
                                    <span class="" sidebar-brand-icon rotate-n-15"></span>
                                    if (!HttpContext.Current.Request.Url.AbsolutePath.Contains("taikhoans/Edit") && String.IsNullOrEmpty(session.name))
                                    {
                                        Response.Redirect("/taikhoans/Edit/" + session.id);

                                    }
                                    if (!DichVuMotCua.Content.CommonConstants.isRole(HttpContext.Current.Request.Url.AbsolutePath.ToString().Split('/').Length > 2 ? HttpContext.Current.Request.Url.AbsolutePath.ToString().Split('/')[2].ToString().ToUpper() : "1", session.id) && session.role != 2)
                                    {
                                        Response.Redirect("/");
                                    }

                                    if (isSpam && session.role == 2 && listSpam.Contains(HttpContext.Current.Request.Url.AbsolutePath.ToString().Split('/').Length > 2 ? HttpContext.Current.Request.Url.AbsolutePath.ToString().Split('/')[2].ToString().ToUpper() : "1") && !Request.Url.AbsoluteUri.ToString().Contains("?"))
                                    {
                                        Response.Redirect("/");
                                    }

                                }
                                else
                                {
                                    if (!HttpContext.Current.Request.Url.AbsolutePath.Equals("/VanLangLogin/Index"))
                                    {
                                        Response.Redirect("/");
                                        return;
                                    }

                                }


                            </a>

                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="@("/taikhoans/Edit/"+session.id)">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/Home/Logout" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Đăng Xuất
                                </a>
                            </div>
                        </li>

                    </ul>


                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                @RenderBody()

                <div id="modal-dialog" class="modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4>Xác Nhận Submit form</h4>
                            </div>
                            <div class="modal-body">
                                <p>Bạn có muốn submit form..?</p>
                            </div>
                            <div class="modal-footer">
                                <a href="#" id="btnYes" class="btn confirm">Có</a>
                                <a href="#" id="btnNo" data-dismiss="modal" aria-hidden="true" class="btn secondary">Không</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            
            <!-- End of Main Content -->
            <!-- Footer start -->
            <footer class="irs-footer-field" style="    background: #1C1C1C;
    color: white;">
                <div class="container">
                    <div style="background-color:#1C1C1C;color:white;padding:40px; padding-left:26%">
                        © 2020 - Bản Quyền Thuộc Trường Đại học Văn Lang
                    </div>
                </div>
            </footer>

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Bạn Có Muốn Đăng Xuất?</h5>
                   
                </div>
                <div class="modal-body">Bạn có muốn đăng xuất khỏi hệ thống không.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/Home/Logout">Đăng Xuất</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/student/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/student/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Content/student/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Content/student/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/Content/student/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Content/student/js/demo/chart-area-demo.js"></script>
    <script src="~/Content/student/js/demo/chart-pie-demo.js"></script>
    <script>
        $(".hBack").on("click", function (e) {
            e.preventDefault();
            window.history.back();
        });

        $('#modal-dialog').on('show', function () {
            var link = $(this).data('link'),
                confirmBtn = $(this).find('.confirm');
        })


        $('#btnYes').click(function () {
            $('#btnNo').click();
            $('#andsubmit').click();

        });

        $('#close-nav').click(function () {
            $('#button-close-nav').click();


        });

        var today = new Date();
var dd = today.getDate();
var mm = today.getMonth()+1; //January is 0!
var yyyy = today.getFullYear();
 if(dd<10){
        dd='0'+dd
    } 
    if(mm<10){
        mm='0'+mm
    } 

        today = yyyy + '-' + mm + '-' + dd;
        if (document.getElementById("ngaylayhs")) {
            document.getElementById("ngaylayhs").setAttribute("min", today);
        }
    
    </script>
</body>

</html>




