﻿
@{
    var session = (DichVuMotCua.Models.taikhoan)Session[DichVuMotCua.Content.CommonConstants.USER_SESSION];
}
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from www.haui.edu.vn/vn by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 29 Dec 2019 12:20:12 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ĐẠI HỌC VĂN LANG" />
    <meta name="copyright" content="Copyright 2019 by http://www.vanlanguni.edu.vn" />
    <meta name="abstract" content="ĐẠI HỌC VĂN LANG" />
    <meta name="distribution" content="Global" />
    <meta name="keywords">
    <meta name="author" content="tungnv.com" />

    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="ĐẠI HỌC VĂN LANG" />
    <meta property="og:description" content="ĐẠI HỌC VĂN LANG" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="ĐẠI HỌC VĂN LANG" />
    <meta property="og:image" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="400" />
    <link rel="canonical" href="index.html" />
    <!-- Favicon -->
    @*<link href="~/Content/assets/images/favicon.png" rel="icon" type="image/png">
        <link href="~/Content/assets/images/favicon.png" rel="shortcut icon" type="image/png">*@

    <!-- Efinance Title -->
    <title>ĐẠI HỌC VĂN LANG</title>

    <!-- css file -->
    <link href="~/Content/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/stylef9e3.css?v=1.1" rel="stylesheet" />

    <!-- Responsive stylesheet -->
    <link href="~/Content/assets/css/responsive.css" rel="stylesheet" />
    <!-- script start from here -->
    <script type="text/javascript" src="~/Content/assets/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/bootstrap-dropdownhover.min.js"></script>
    <script async type="text/javascript">
        var oAppPath = 'vn.html', oDnnUrl = 'dnn/index.html', oTemplateApp = 'haui', oMediaUrl = 'media/index.html';
        var dnnUrlFull = oDnnUrl;
        var oRootUrl = 'index.html';
    </script>
    <script type="text/javascript" src="~/Content/assets/js/Interaction.js"></script>

</head>

<body>
    <!-- Main Header Start -->
    <header class="irs-main-header">
        <div class="irs-header-top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-sm-10 menu">
                        <ul>



                            <li>
                                @if (session != null)
                                {
                                <li class="">Xin chào @session.email</li>
                                <li class="hidden-xs"><a href="/Home/Logout">Đăng Xuất</a></li>
                                }
                                else
                                {
                                    if (!HttpContext.Current.Request.Url.AbsolutePath.Equals("/VanLangLogin/Index"))
                                    {
                                    Response.Redirect("/");
                                    return;
                                    }
              
                                }

                                </li>
                            </ul>
                        </div>

                        <div class="col-md-2 col-sm-2 text-right hidden-xs">
                            <div class="irs-header-top-col">
                                <div class="irs-social">

                                    <span class="changeLang">
                                        <a href="vn.html">
                                            <img src="~/Content/images/vn.jpg">
                                        </a>
                                        <a href="en.html">
                                            <img src="~/Content/images/en.jpg">
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="irs-header-nav scrollingto-fixed">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <nav class="navbar navbar-default irs-navbar">
                                <div class="container-fluid" style="padding-right: 0px">

                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                                                aria-expanded="false">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                        <a class="navbar-brand" href="vn.html">
                                            <img src="http://www.vanlanguni.edu.vn/images/logos/logo-vlu-8.png" alt="Đại học Văn Lang">
                                        </a>
                                    </div>
                                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                        @if (session != null)
                                        {
                                            <ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="flipInY">
                                                <li class="active">
                                                    <a href="vn.html"><i class="fa fa-home" aria-hidden="true" style="font-size: 20px"></i></a>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Thủ Tục<i class="fa fa-angle-down"></i></a>
                                                    <ul class="dropdown-menu dropdownhover-bottom">
                                                        @if (session.role == 2)
                                                        {
                                                            <li><a href="/thutucs/CapGiayChungNhan"></a></li>
                                                            <li><a href="/thutucs/XinThoiHoc">Xin Thôi Học</a></li>
                                                            <li><a href="/thutucs/BaoLuuKetQuaHocTap">Bảo Lưu Kết Quả Học Tập</a></li>

                                                            <li><a href="/thutucs/BaoLuuKetQuaTuyenSinh">Bảo Lưu Kết Quả Tuyển Sinh</a></li>


                                                            <li><a href="/thutucs/ChuyenDiem">Chuyển Điểm</a></li>

                                                            <li><a href="/thutucs/HocCham">Học Chậm</a></li>


                                                            <li><a href="/thutucs/DangKyHocVuot">Đăng Ký Học Vượt</a></li>

                                                        }
                                                        else
                                                        {
                                                            <li><a href="/thutucs/CapGiayChungNhan"></a></li>

                                                            <li><a href="/thutucs/DSXinThoiHoc">Danh Sách Xin Thôi Học</a></li>

                                                            <li><a href="/thutucs/DSBaoLuuKetQuaHocTap">Danh Sách Bảo Lưu Kết Quả Học Tập</a></li>
                                                            <li><a href="/thutucs/DSBaoLuuKetQuaTuyenSinh">Bảo Lưu Kết Quả Tuyển Sinh</a></li>

                                                            <li><a href="/thutucs/DSChuyenDiem">Danh Sách Chuyển Điểm</a></li>

                                                            <li><a href="/thutucs/DSHocCham">Danh Sách Học Chậm</a></li>
                                                            <li><a href="/thutucs/DSDangKyHocVuot">Danh Sách Học Vượt</a></li>

                                                        }

                                                    </ul>
                                                </li>

                                                <li class="dropdown">
                                                    <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hồ Sơ<i class="fa fa-angle-down"></i></a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="/thutucs/HSCapGiayChungNhan"></a></li>

                                                        <li><a href="/thutucs/HSXinThoiHoc">Danh Sách Xin Thôi Học</a></li>

                                                        <li><a href="/thutucs/HSBaoLuuKetQuaHocTap">Danh Sách Bảo Lưu Kết Quả Học Tập</a></li>
                                                        <li><a href="/thutucs/HSBaoLuuKetQuaTuyenSinh">Bảo Lưu Kết Quả Tuyển Sinh</a></li>

                                                        <li><a href="/thutucs/HSChuyenDiem">Danh Sách Chuyển Điểm</a></li>

                                                        <li><a href="/thutucs/HSHocCham">Danh Sách Học Chậm</a></li>
                                                        <li><a href="/thutucs/HSDangKyHocVuot">Danh Sách Học Vượt</a></li>
                                                    </ul>
                                                </li>

                                            </ul>
                                        }
                                    </div>
                                    <!-- /.navbar-collapse -->
                                </div>
                                <!-- /.container-fluid -->
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Header end -->
        @RenderBody();
        <div id="modal-dialog" class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="#" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                        <h3>Xác Nhận Submit form</h3>
                    </div>
                    <div class="modal-body">
                        <p>Bạn có muốn gửi thủ tục ?</p>
                    </div>
                    <div class="modal-footer">
                        <a href="#" id="btnYes" class="btn confirm">Có</a>
                        <a href="#" id="btnNo" data-dismiss="modal" aria-hidden="true" class="btn secondary">Không</a>
                    </div>
                </div>
            </div>
        </div>


        <!-- Footer start -->
        <footer>
            <div class="footer" id="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <a href=""><img src="~/Content/assets/images/bg/logovl.png" alt=""></a>

                        </div>
                        <div class="col-lg-3 col-sm-2 col-xs-3">
                            <h3>Liên Hệ</h3>
                            <ul>
                                <li><a class="email" href="#">Điện thoại: 028.71099221- EXT: 3320</a></li>
                                <br />
                                <li> <p><strong>Trụ sở</strong>: 45 Nguyễn Khắc Nhu, P. Cô Giang, Q.1, Tp. HCM</p> </li>
                                <li> <p><strong>Cơ sở 2</strong>: 233A Phan Văn Trị , P.11, Q. Bình Thạnh, Tp. HCM</p> </li>
                                <li>
                                    <p>
                                        <strong>Cơ sở 3</strong>: 80/68 Dương Quảng Hàm, P.5, Q. Gò Vấp, Tp. HCM

                                        69/68 Đặng Thùy Trâm, P. 13, Q. Bình Thạnh, Tp. HCM
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-sm-2 col-xs-3">
                            <ul>
                                <li> <h5> <a href="#" style="margin-top: 5em"> Trang Chủ</a> <h5></li>
                                <li> <h5><a href="#"> Thủ Tục</a> <h5></li>
                                <li> <h5><a href="#">Liên Hệ</a> <h5></li>

                            </ul>
                        </div>

                        <!--/.row-->
                    </div>
                    <!--/.container-->
                </div>
                <!--/.footer-->

                <div class="footer-bottom">
                    <div class="container">
                        <p class="pull-left copyright">© 2020 - Bản Quyền Thuộc Trường Đại học Văn Lang </p>

                    </div>
                </div>
                <!--/.footer-bottom-->

        </footer>

        <style>
            .navbar-right {
                /* float: right!important; */
                margin-right: -25px;
                float: left;
                /* width: 298px; */
                padding-top: 49px;
                padding-right: 41px;
            }
        </style>
        <script>
            $(".hBack").on("click", function (e) {
                e.preventDefault();
                window.history.back();
            });

            $('#modal-dialog').on('show', function () {
                var link = $(this).data('link'),
                    confirmBtn = $(this).find('.confirm');
            })


            $('#btnYes').click(function () {
                $('#btnNo').click();
                $('#andsubmit').click();

            });
        </script>
