﻿@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,600i,700');
@import "font-awesome.min.css";
@import "font-awesome-animation.min.css";
@import "jquery-ui.css";
@import "animate.min.css";
@import "animations.css";
@import "owl.css";
@import "isotop.css";
@import "fancyBox.css";
@import "icofont.css";
@import "material-design-iconic-font.css";

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #333;
    font-size: 14px;
    line-height: 26px;
    background-color: #ffffff;
    overflow-x: hidden;
    max-width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 10px;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: #333;
    text-decoration: none;
}

    a:hover,
    a:focus {
        color: #595959;
        text-decoration: none;
    }

    a:hover,
    a:focus {
        outline: none !important;
    }

    a img {
        border: none;
    }

iframe {
    border: none;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    margin-top: 0;
    margin-bottom: 10px;
}

.irs-section-title {
    text-align: center;
}

    .irs-section-title h2 {
        font-size: 30px;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

        .irs-section-title h2 span {
            color: #0d4e96;
        }

    .irs-section-title .irs-title-line {
        width: 180px;
        height: 2px;
        background: #333333;
        margin: 0 auto;
        margin-bottom: 30px;
        position: relative;
    }

        .irs-section-title .irs-title-line .irs-title-icon {
            position: absolute;
            top: -25px;
            left: 50%;
            margin-left: -25px;
            width: 50px;
            height: 50px;
            background: #ffffff;
        }

            .irs-section-title .irs-title-line .irs-title-icon i {
                color: #0d4e96;
                font-size: 30px;
                line-height: 50px;
            }

    .irs-section-title p {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: bold;
        color: #595959;
    }

.irs-layer-black {
    position: relative;
}

    .irs-layer-black:before {
        content: " ";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
        
    }

.irs-btn-transparent {
    padding: 4px 22px;
    background: none;
    border-radius: 0;
    color: #0d4e96;
    border: 1px solid #0d4e96;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

    .irs-btn-transparent:hover {
        color: #ffffff;
        background: #0d4e96;
        border-radius: 0;
        border: 1px solid #0d4e96;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

.irs-btn-transparent-two {
    color: #ffffff;
    font-weight: bold;
    background: #0d4e96;
    border-radius: 0;
    text-transform: uppercase;
    padding: 8px 30px;
    border: 1px solid #0d4e96;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.old {
    position: fixed;
    right: -27px;
    padding: 12px;
    font-size: 12px;
    font-weight: 100;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.irs-btn-transparent-two:hover {
    color: #6c6c6c;
    background: transparent;
    border: 1px solid #C1C1C1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.irs-btn-transparent-three {
    padding: 4px 26px;
    background: none;
    border-radius: 20px;
    border: 1px solid #999999;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

    .irs-btn-transparent-three:hover {
        color: #ffffff;
        background: #0d4e96;
        border: 1px solid #0d4e96;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

.irs-big-btn {
    background-color: #0d4e96;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: none;
    padding: 15px 50px;
    box-shadow: none;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

    .irs-big-btn:hover {
        color: #ffffff;
        background: #ea8e40;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

#scrollUp {
    bottom: 10px;
    right: 10px;
    padding: 8px 10px;
    background-color: #0d4e96;
}

    #scrollUp:before {
        content: "\f01b";
        font-family: FontAwesome;
        font-size: 26px;
        color: #ffffff;
        padding-top: 7px;
    }

.preloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999999;
    background-color: #ffffff;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../images/preloader.gif);
}

.irs-header-top-bar {
    background: #0d4e96;
}

    .irs-header-top-bar p {
        margin-top: 5px;
        margin-bottom: 5px;
        color: #ffffff;
    }

        .irs-header-top-bar p i {
            color: #ffffff;
            margin-right: 5px;
        }

.irs-social {
    margin-top: 3px;
}

    .irs-social a i {
        text-align: center;
        color: #ffffff;
        padding-top: 7px;
        margin-left: 10px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

        .irs-social a i:hover {
            color: #333333;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

.scroll-to-fixed-fixed {
    background: #ffffff;
    -webkit-box-shadow: 0px 8px 12px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 8px 12px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 8px 12px -10px rgba(0,0,0,0.75);
}

.navbar-brand {
    height: 55px;
    width: 260px;
    margin-right: 20px;
    padding: 0;
}

.navbar-brand-name {
    font-size: 15px;
    font-weight: bold;
    color: #333;
}

.irs-navbar {
    margin: 10px auto;
    border: none;
    background-color: transparent;
}

    .irs-navbar .navbar-nav > .active > a,
    .irs-navbar .navbar-nav > .active > a:focus,
    .irs-navbar .navbar-nav > .active > a:hover {
        color: #0d4e96;
        background: transparent;
    }

.scroll-to-fixed-fixed .irs-navbar .navbar-nav > .active > a {
    color: #0d4e96;
    background: transparent;
}

.irs-navbar .navbar-nav > li > a {
    padding-left: 7px;
    padding-right: 7px;
    font-size: 14px;
    font-weight: bold;
    color: #535353;
    text-transform: uppercase;
}

.irs-navbar .navbar-nav > .open > a {
    background-color: transparent;
}

    .irs-navbar .navbar-nav > .open > a:hover {
        background-color: transparent;
    }

.navbar-right .dropdown-menu {
    right: auto;
    box-shadow: none;
    border-top: 2px solid #0d4e96;
    border-radius: 0;
    padding: 0;
}

.irs-navbar .dropdown-menu > li > a {
    color: #535353;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 15px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

    .irs-navbar .dropdown-menu > li > a:hover {
        color: #0d4e96;
        padding-left: 10px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

.irs-log-reg {
    background: #0d4e96;
    text-align: center;
    color: #ffffff;
    padding: 5px 15px;
    margin-top: 30px;
}

    .irs-log-reg a {
        color: #ffffff;
    }

.ire-header-two {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

    .ire-header-two .irs-navbar .navbar-nav > li > a {
        color: #ffffff;
    }

        .ire-header-two .irs-navbar .navbar-nav > li > a:hover {
            color: #0d4e96;
        }

.smaller {
    background: #ffffff;
    -webkit-box-shadow: 0px 8px 12px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 8px 12px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 8px 12px -10px rgba(0,0,0,0.75);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.irs-logo-1 {
    display: none !important;
}

.smaller .irs-logo-1 {
    display: block !important;
}

.smaller .irs-logo-2 {
    display: none !important;
}

.smaller .irs-navbar .navbar-nav > li > a {
    color: #535353;
}

.irs-main-slider {
    position: relative;
}

.fade-carousel {
    position: relative;
    height: 310px;
}

    .fade-carousel .carousel-inner .item img {
        height: 310px;
        width: 1140px;
        background-size: cover;
        background-position: bottom center;
        background-repeat: no-repeat;
    }

.irs-main-slider .irs-big-btn {
    background: transparent;
    border: 1px solid #ffffff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

    .irs-main-slider .irs-big-btn:hover {
        background: #0d4e96;
        border-color: #0d4e96;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}

    .fade-carousel .carousel-indicators > li.active {
        width: 10px;
        opacity: 1;
    }

.fade-carousel .slides {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.irs-main-slider .carousel-indicators {
}

    .irs-main-slider .carousel-indicators li {
        width: 30px;
        height: 5px;
        background-color: #ffffff;
        border: none;
        margin: 0;
        border-radius: 0;
    }

    .irs-main-slider .carousel-indicators .active {
        background-color: #0d4e96;
    }

.irs-main-slider .fade-carousel .carousel-indicators > li.active {
    width: 30px;
    background-color: #0d4e96;
    border: none;
    margin: 0;
}

.irs-welcome-field {
    padding-top: 10px;
    position: relative;
}

    .irs-welcome-field h1 {
        /*font-size: 32px;*/
        /*margin-bottom: 20px;*/
    }

    .irs-welcome-field span {
        color: #0d4e96;
        font-size: 30px;
        font-weight: bold;
    }

    .irs-welcome-field i {
        color: #0d4e96;
        font-size: 80px;
    }

    .irs-welcome-field p {
        /*margin-top: 20px;*/
    }

.irs-about-field {
    padding: 30px 0;
}

    .irs-about-field .irs-section-title {
        margin-bottom: 50px;
    }

.irs-about-box {
    margin-bottom: 50px;
    text-align: center;
    padding: 10px 30px 20px 30px;
    border: 1px solid #e6e6e6;
    position: relative;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

    .irs-about-box:hover {
        border-color: #0d4e96;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }

.irs-about-icon {
    width: 60px;
    height: 60px;
    background: #ffffff;
    border: 1px solid #e6e6e6;
    text-align: center;
    position: absolute;
    left: 50%;
    top: -30px;
    margin-left: -30px;
    margin-bottom: 40px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.irs-about-box:hover .irs-about-icon {
    background: #0d4e96;
    border-color: #0d4e96;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.irs-about-icon i {
    color: #0d4e96;
    font-size: 40px;
    line-height: 60px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.irs-about-box:hover .irs-about-icon i {
    color: #ffffff;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.irs-about-box h4 {
    font-weight: bold;
    margin-top: 20px;
}

.irs-about-box p {
    margin-bottom: 25px;
}

.irs-col-padd-less {
    padding: 0;
}

.irs-divider-field {
    padding: 50px 0 50px;
    background: url(../images/bg/2.html);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

    .irs-divider-field .irs-divider-col {
        margin-bottom: 30px;
    }

        .irs-divider-field .irs-divider-col h2 {
            color: #ffffff;
            font-size: 44px;
            margin-bottom: 20px;
        }

        .irs-divider-field .irs-divider-col p {
            color: #e2e0e0;
            margin-bottom: 20px;
        }

    .irs-divider-field .irs-call-numbar {
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding: 40px 20px;
    }

    .irs-divider-field .irs-divider-col .irs-call-numbar h4 {
        color: #e2e0e0;
        font-size: 24px;
        margin-bottom: 0;
    }

        .irs-divider-field .irs-divider-col .irs-call-numbar h4 i {
            color: #0d4e96;
        }

.irs-courses-field {
    padding: 50px 0 50px;
}

.irs-courses-col {
    text-align: center;
    margin-bottom: 30px;
    background: #F7F7F7;
    overflow: hidden;
}

.irs-courses-img {
    position: relative;
    overflow: hidden;
}

#index-img {
    height: 150px;
    margin: 0;
}

.irs-blog-single-col #index-img {
    height: 100%;
    margin: 0;
}

.irs-courses-img-two {
    float: left;
    width: 33%;
}

.irs-courses-img img {
    background-size: cover;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.irs-courses-img-news img {
    background-size: cover;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.irs-courses-col:hover .irs-courses-img img {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.irs-time {
    position: absolute;
    top: -40px;
    right: -2px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.irs-courses-col:hover .irs-time {
    top: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.irs-time p a {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    background: #0d4e96;
    padding: 10px 18px;
}

.irs-courses-img-text {
    width: 100%;
    padding: 5px 0px;
    font-weight: bold;
    font-style: italic;
}

    .irs-courses-img-text ul li {
        float: right;
    }

        .irs-courses-img-text ul li p {
            color: #333;
            text-transform: capitalize;
        }

            .irs-courses-img-text ul li p i {
                margin-right: 5px;
            }

.irs-courses-content {
    padding: 10px 0 0 0;
}

.index-content {
    padding: 15px;
    height: 140px;
}

#index-content p {
    text-align: center;
}

#index-content a {
    margin-bottom: 10px;
}

#index-content-no-head {
    padding: 8px;
    min-height: 68px;
}

    #index-content-no-head p {
        text-align: center;
    }

    #index-content-no-head a {
        margin: 20px auto;
    }

#index-content-one {
    padding: 15px;
    height: 80px;
}

    #index-content-one p {
        text-align: center;
    }

    #index-content-one a {
        margin: 20px auto;
    }


.irs-courses-content-one {
    padding: 15px;
}

    .irs-courses-content-one p {
        text-align: justify;
    }

    .irs-courses-content-one a {
        margin: 20px auto;
        text-align: justify;
    }

.irs-courses-col ul {
    text-align: justify;
    color: #0E4F96;
    padding-left: 15px;
    font-size:14px;
    list-style-type: disc;
}

    .irs-courses-col ul li {
    }

        .irs-courses-col ul li a {
            color: #365b82;
        }

.irs-courses-content-two {
    float: left;
    text-align: left;
    width: 67%;
}

    .irs-courses-content-two .irs-pricing-range label {
        margin-left: 0;
    }

.irs-courses-content h4 {
    font-weight: bold;
}

    .irs-courses-content h4 a {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        color: #333333;
    }

.irs-courses-content p {
    height: 40%;
}

.irs-courses-single {
}

.irs-courses-col-single {
    background: none;
    text-align: left;
}

    .irs-courses-col-single .irs-courses-content {
        padding-left: 0;
    }

.irs-course-features {
}

    .irs-course-features h2 {
        font-size: 24px;
        border-bottom: 1px solid #cccccc;
        display: inline-block;
        margin-bottom: 20px;
        padding-bottom: 10px;
    }

    .irs-course-features ul {
        border: 1px solid #cccccc;
        margin-bottom: 30px;
    }

        .irs-course-features ul li {
            text-transform: capitalize;
            border-bottom: 1px solid #cccccc;
            padding: 10px 10px 10px 10px;
        }

            .irs-course-features ul li:last-child {
                font-size: 20px;
                font-weight: bold;
                color: #0d4e96;
                border-bottom: none;
            }

            .irs-course-features ul li span i {
                color: #0d4e96;
            }

.irs-comment-single h3 {
    color: #0d4e96;
}

.irs-comment-item {
    position: relative;
    padding-left: 100px;
    margin-bottom: 60px;
}

.irs-comment-item-right {
    margin-left: 100px;
}

.irs-comment-item img {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.irs-comment-content h4 a {
    font-size: 18px;
    color: #333333;
}

.irs-comment-content h6 a {
    color: #333333;
}

    .irs-comment-content h4 a:hover, .irs-comment-content h6 a:hover {
        color: #0d4e96;
    }

.irs-live-comment {
    margin-bottom: 60px;
}

.irs-blog-live-comment {
    margin-bottom: 0;
}

.irs-live-comment h3 {
    color: #0d4e96;
    margin-bottom: 30px;
}

.irs-live-comment .form-control {
    height: 40px;
    margin-bottom: 30px;
    border-radius: 0;
    box-shadow: none;
}

.irs-textarea {
    height: 100% !important;
    resize: none;
}

.irs-related-courses h3 {
    color: #0d4e96;
    margin-bottom: 30px;
}

.irs-counter-field {
    padding: 100px 0 50px;
    background: url(../images/bg/mid.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.irs-counter-col {
    margin-bottom: 50px;
    text-align: center;
}

    .irs-counter-col i {
        font-size: 80px;
        color: #0d4e96;
        font-weight: normal;
    }

    .irs-counter-col .irs-funfact {
        margin-top: 20px;
    }

    .irs-counter-col .irs-funfact {
        font-family: 'Montserrat', sans-serif;
        color: #ffffff;
        font-size: 32px;
    }

        .irs-counter-col .irs-funfact h4 {
            color: #ffffff;
            font-size: 18px;
            font-weight: 400;
            margin-top: 10px;
            margin-bottom: 0;
        }

.irs-side-bar {
    /*margin-bottom: 30px;*/
}

.irs-search-box {
    margin-bottom: 15px;
}

.irs-sidebar-title {
    font-weight: bold;
    font-size: 20px;
    color: #0d4e96;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(193, 193, 193, 0.5);
    display: block;
}

.irs-search-box .form-control {
    height: 45px;
    border-radius: 0;
    box-shadow: none;
}

    .irs-search-box .form-control:focus {
        border-color: #0d4e96;
    }

.irs-search-box .btn {
    height: 45px;
    border: 1px solid #0d4e96;
    border-radius: 0;
    padding: 8px 20px;
    color: #ffffff;
    background: #0d4e96;
}

.irs-post {
    margin-bottom: 10px;
}

    .irs-post .irs-post-item {
		min-height:55px;
        position: relative;
        text-align: justify;
        margin-bottom: 10px;
    }

        .irs-post .irs-post-item img {
            width: 70px;
            height: 60px;
            position: absolute;
            left: 0;
            top: 0;
        }

        .irs-post .irs-post-item h4 {
            text-transform: inherit;
            text-align: justify;
        }

        .irs-post .irs-post-item span {
            color: #0d4e96;
            font-size: 14px;
        }

.irs-categories {
    margin-bottom: 50px;
}

    .irs-categories ul li {
        margin-bottom: 15px;
    }

        .irs-categories ul li a:hover {
            color: #0d4e96;
        }

        .irs-categories ul li i {
            margin-right: 10px;
        }

.irs-video {
    margin-bottom: 10px;
}

.irs-tag-box ul li {
    float: left;
    margin-bottom: 25px;
    margin-right: 10px;
}

    .irs-tag-box ul li a {
        padding: 10px 14px;
        border: 1px solid #C1C1C1;
        background: transparent;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

        .irs-tag-box ul li a:hover {
            background: #0d4e96;
            color: #ffffff;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

.irs-instagram-box ul li {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

    .irs-instagram-box ul li img {
        width: 80px;
        height: 80px;
    }

.irs-testimonial-field {
    padding: 100px 0 100px;
    background: url(../images/bg/3.html);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

    .irs-testimonial-field img {
        position: absolute;
        bottom: 0;
        left: 5%;
        width: 350px;
        height: auto;
    }

.irs-transparent-space {
    height: 50px;
    width: 100%;
    background: transparent;
}

.irs-testimonial-single {
    background: rgba(28, 28, 28, 0.5);
    border: 3px solid rgba(244, 164, 96, 0.5);
    padding: 60px 40px 30px;
    text-align: center;
    position: relative;
}

    .irs-testimonial-single .irs-comment-icon {
        position: absolute;
        right: 100px;
        bottom: 0;
    }

        .irs-testimonial-single .irs-comment-icon i {
            font-size: 110px;
            color: #0d4e96;
            opacity: 0.2;
        }

    .irs-testimonial-single p {
        color: #ffffff;
        margin-bottom: 20px;
    }

    .irs-testimonial-single h4 {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 18px;
        color: #0d4e96;
        font-weight: 400;
    }

    .irs-testimonial-single h5 {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #ffffff;
    }

.irs-testimonial-field .owl-theme .owl-nav {
    margin-top: 30px;
}

.irs-testimonial-field .owl-theme .owl-dots .owl-dot span {
    width: 30px;
    height: 8px;
    background: #ffffff;
    border: 2px solid transparent;
    margin: 0 3px 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}

.irs-testimonial-field .owl-theme .owl-dots .owl-dot.active span,
.irs-testimonial-field .owl-theme .owl-dots .owl-dot:hover span {
    border: 2px solid #0d4e96;
    background: #ffffff;
}

.irs-teachers-field {
    padding: 50px 0 50px;
}

.irs-teachers-col {
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

    .irs-teachers-col .irs-teachers-name {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        background: rgba(0, 0, 0, 0.8);
        padding: 15px 25px;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }

    .irs-teachers-col:hover .irs-teachers-name {
        width: 90%;
        left: 50%;
        margin-left: -45%;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }

    .irs-teachers-col .irs-teachers-name h4 a {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #ffffff;
        margin-bottom: 5px;
    }

    .irs-teachers-col .irs-teachers-name p {
        font-size: 14px;
        color: #ffffff;
        text-transform: capitalize;
    }

.irs-teachers-social {
    position: absolute;
    top: -40px;
    right: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    padding: 5px 10px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.irs-teachers-col:hover .irs-teachers-social {
    top: 0;
    right: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.irs-teachers-social a i {
    color: #ffffff;
    margin-right: 10px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

    .irs-teachers-social a i:hover {
        color: #0d4e96;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }

.irs-pagination {
}

    .irs-pagination .pagination > li > a,
    .irs-pagination .pagination > li > span {
        padding: 8px 18px;
        color: #666666;
        background: #ffffff;
        border: 1px solid #DCD9D9;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }

        .irs-pagination .pagination > li > a:hover {
            color: #ffffff;
            background: #0d4e96;
            -webkit-transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            -ms-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
        }

.irs-teacher-single-field {
    padding: 50px 0 50px;
}

.irs-teacher-single-col {
    margin-bottom: 30px;
}

.irs-teacher-biography ul {
    margin-bottom: 30px;
}

    .irs-teacher-biography ul li {
        text-transform: capitalize;
        margin-bottom: 10px;
    }

        .irs-teacher-biography ul li strong {
            margin-right: 10px;
        }

        .irs-teacher-biography ul li i {
            color: #0d4e96;
        }

        .irs-teacher-biography ul li a i {
            margin-right: 5px;
            color: #595959;
        }

            .irs-teacher-biography ul li a i:hover {
                color: #0d4e96;
            }

.irs-other-teachers h3 {
    margin-bottom: 30px;
}

.irs-gallery-field {
    padding-top: 50px;
    margin-bottom: 50px;
}

.irs-img-hover {
    position: relative;
    margin-bottom: -1px;
}

    .irs-img-hover img {
        height: 250px;
    }

.irs-layer:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: rgba(0, 0, 0, 0.7);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.irs-img-hover:hover .irs-layer:before {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.irs-img-hover i {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -20px;
    text-align: center;
    font-size: 48px;
    color: #ffffff;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.irs-img-hover:hover i {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.irs-gallery-field-two {
    padding: 100px 0;
}

    .irs-gallery-field-two ul {
        margin-bottom: 20px;
    }

        .irs-gallery-field-two ul li {
            margin-bottom: 30px;
        }

            .irs-gallery-field-two ul li a {
                background-color: transparent;
                padding: 10px 20px;
                border: 1px solid #C1C1C1;
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -ms-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
            }

                .irs-gallery-field-two ul li a:hover {
                    border-color: #0d4e96;
                    color: #ffffff;
                    background-color: #0d4e96;
                    -webkit-transition: all 0.3s ease-in-out;
                    -moz-transition: all 0.3s ease-in-out;
                    -ms-transition: all 0.3s ease-in-out;
                    -o-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                }

.masonry-gallery .isotope-item {
    width: 25%;
}

.masonry-gallery .isotope-item {
    width: 33.33%;
}

.masonry-gallery .isotope-item {
    overflow: hidden;
}

.inner-page-content {
    padding-top: 50px;
}

.irs-blog-field {
    padding: 10px 0 0;
}

.irs-blog-col {
    margin-bottom: 0px;
}

    .irs-blog-col h3 {
        text-align: justify;
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .irs-blog-col .irs-courses-content p {
        margin-bottom: 0px;
    }

.irs-blog-field .irs-info-text {
    padding: 5px 20px;
    background: #0d4e96;
}

    .irs-blog-field .irs-info-text ul li {
        display: inline-block;
        margin-right: 10px;
        margin-left: 10px;
    }

        .irs-blog-field .irs-info-text ul li p i {
            color: #ffffff;
        }

        .irs-blog-field .irs-info-text ul li p a {
            color: #ffffff;
        }

.irs-blog-col .irs-courses-content h4 a {
    font-size: 18px;
}

/*.irs-blog-single-field {
    padding: 0;
}*/

.page {
    padding: 50px 0 50px;
}

.irs-blog-single-col {
    margin-bottom: 0px;
}

.irs-blog-single-field .irs-courses-content h6 {
    padding: 50px;
    background: #F7F7F7;
    font-size: 16px;
    line-height: 26px;
    border-left: 2px solid #0d4e96;
    margin-bottom: 50px;
    margin-top: 50px;
}

.irs-newsletter-field {
}

.irs-newsletter-col {
    margin-bottom: 30px;
}

.irs-newsletter-field h2 {
    margin-bottom: 20px;
}

.irs-newsletter-field p {
    margin-bottom: 30px;
}

.irs-newsletter-field .form-control {
    height: 40px;
    border-radius: 0;
    box-shadow: none;
}

    .irs-newsletter-field .form-control:focus {
        border-color: #0d4e96;
    }

.irs-newsletter-field .input-group-btn .btn {
    height: 40px;
    border-radius: 0;
    padding: 6px 20px;
    color: #ffffff;
    background: #0d4e96;
}

.irs-newsletter-field-two {
    padding-top: 80px;
}

.irs-discription-field {
    padding: 50px 0 0;
    background: #F6F6F6;
}

.des {
    text-align: justify;
}

.irs-discription-col {
}

    .irs-discription-col h1 {
        color: #0d4e96;
        text-transform: uppercase;
        font-size: 35px;
    }

        .irs-discription-col h1 span {
            color: #0d4e96;
        }

    .irs-discription-col h2 {
        color: #0d4e96;
        font-size: 25px;
        font-weight: 600;
    }

        .irs-discription-col h2 span {
            color: #0d4e96;
        }

.irs-topdiscription {
    margin-bottom: 20px;
}

.irs-discription-col ul li {
    position: relative;
    margin-bottom: 10px;
}

    .irs-discription-col ul li span {
        font-weight: bold;
    }

    .irs-discription-col ul li i {
        color: #C1C1C1;
        margin-right: 10px;
    }

.irs-mission-field {
    padding: 50px 0 50px;
    background: #F6F6F6;
}

.irs-left-item {
    position: relative;
    margin-bottom: 50px;
    padding-left: 90px;
}

.irs-hexagon-two {
    position: absolute;
    top: 20px;
    left: 0;
    width: 70px;
    height: 40px;
    background-color: #535353;
    text-align: center;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.irs-left-item:hover .irs-hexagon-two {
    background-color: #0d4e96;
}

.irs-hexagon-two:before,
.irs-hexagon-two:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
}

.irs-hexagon-two:before {
    bottom: 100%;
    border-bottom: 20px solid #535353;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.irs-left-item:hover .irs-hexagon-two:before {
    border-bottom-color: #0d4e96;
}

.irs-hexagon-two:after {
    top: 100%;
    width: 0;
    border-top: 20px solid #535353;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.irs-left-item:hover .irs-hexagon-two:after {
    border-top-color: #0d4e96;
}

.irs-hexagon-two i {
    color: #ffffff;
    font-size: 38px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.irs-mission-col h4 {
    font-size: 18px;
}

.irs-right-item {
    position: relative;
    margin-bottom: 50px;
    padding-right: 90px;
    text-align: right;
}

    .irs-right-item .irs-hexagon-two {
        position: absolute;
        left: 290px;
        top: 20px;
    }

    .irs-right-item:hover .irs-hexagon-two {
        background-color: #0d4e96;
    }

        .irs-right-item:hover .irs-hexagon-two:before {
            border-bottom-color: #0d4e96;
        }

        .irs-right-item:hover .irs-hexagon-two:after {
            border-top-color: #0d4e96;
        }

.irs-sponsor-field {
    padding: 100px 0 100px;
}

.irs-sponsor-col {
    margin-bottom: 30px;
}

    .irs-sponsor-col ul {
        border: 1px solid #DCD9D9;
    }

        .irs-sponsor-col ul li {
            float: left;
            border-right: 1px solid #DCD9D9;
            padding: 40px 38px;
        }

            .irs-sponsor-col ul li:last-child {
                border: none;
            }

            .irs-sponsor-col ul li a img {
                width: 150px;
                height: 30px;
            }

.irs-faq-field {
    padding: 100px 0;
}

    .irs-faq-field .irs-teachers-col {
        margin-bottom: 50px;
    }

.irs-volunteer-content p {
    margin-bottom: 20px;
}

.irs-faq-img {
    display: block;
    text-align: center;
}

    .irs-faq-img img {
        width: 300px;
        height: auto;
        margin-bottom: 30px;
    }

.irs-accordion-two .panel .panel-title a i {
    background-color: transparent;
    line-height: 40px;
    text-align: center;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-right: 1px solid #dddddd;
}

.irs-accordion-two .panel .panel-title a .icon-1 {
    display: inline-block;
    color: #0d4e96;
}

.irs-accordion-two .panel-title a.collapsed .icon-1 {
    display: none;
}

.irs-accordion-two .panel .panel-title a .icon-2 {
    display: none;
    color: #0d4e96;
}

.irs-accordion-two .panel .panel-title a.collapsed .icon-2 {
    display: inline-block;
}

.irs-accordion-two .panel-title a {
    color: #333333;
    font-weight: 400;
}

.irs-accordion-two .panel-group .panel {
    border-radius: 0;
    margin-bottom: 20px;
}

.irs-accordion-two .panel-default > .panel-heading {
    background-color: transparent;
    border-color: #EEEEEE;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0;
}

.irs-contact-field {
    padding: 50px 0 50px;
}

    .irs-contact-field .irs-contact-col {
        margin-bottom: 30px;
    }

.irs-address-box {
    background: #F6F6F6;
    text-align: center;
    height: 145px;
    padding: 65px 80px 30px 80px;
    margin-bottom: 80px;
}

.irs-hexagon-three {
    margin-bottom: 0;
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -35px;
}

.irs-address-box:hover .irs-hexagon-three {
    background-color: #0d4e96;
}

    .irs-address-box:hover .irs-hexagon-three:before {
        border-bottom-color: #0d4e96;
    }

    .irs-address-box:hover .irs-hexagon-three:after {
        border-top-color: #0d4e96;
    }

.irs-hexagon-three i {
    font-size: 25px;
    line-height: 40px;
}

.irs-contact-col .form-control {
    background: transparent;
    border: 1px solid #C1C1C1;
    border-radius: 0;
    height: 40px;
    text-transform: capitalize;
    margin-bottom: 30px;
    box-shadow: none;
}

.irs-contact-field .irs-contact-col h4 {
    font-size: 18px;
    color: #464646;
    margin-bottom: 20px;
}

.irs-inner-page-heading {
    padding: 30px 0;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.article {
    background: url(../images/bg/article.png) #0D4E96;
}

.irs-inner-heading {
    display: inline-block;
    margin: auto;
    padding: 20px 80px;
    border: 2px solid #fff;
}

.irs-inner-page-heading h2 {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.irs-inner-page-heading i {
    font-size: 30px;
    color: #fff;
}

.irs-inner-page-heading p {
    margin-top: 10px;
    color: #ffffff;
    text-transform: uppercase;
}

    .irs-inner-page-heading p a {
        color: #ffffff;
        font-weight: bold;
    }

        .irs-inner-page-heading p a:hover {
            color: #DDD;
        }

.irs-service-field {
    padding: 50px 0 50px;
}

.irs-service-col {
    margin-bottom: 30px;
    background: #f7f7f7;
    padding: 30px 20px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

    .irs-service-col:hover {
        background: #0d4e96;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }

    .irs-service-col i {
        font-size: 60px;
        color: #0d4e96;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }

    .irs-service-col:hover i {
        color: #ffffff;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }

    .irs-service-col h3 {
        margin-top: 20px;
        margin-bottom: 10px;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }

    .irs-service-col:hover h3 {
        color: #ffffff;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }

    .irs-service-col:hover p {
        color: #ffffff;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }

.irs-account-field {
    padding: 50px 0 50px;
}

.irs-account-col {
    margin-bottom: 30px;
    background: #F7F7F7;
    padding: 30px;
}

    .irs-account-col h3 {
        color: #0d4e96;
        margin-bottom: 20px;
    }

    .irs-account-col .form-control {
        height: 40px;
        margin-bottom: 30px;
        border-radius: 0;
        background: transparent;
        box-shadow: none;
    }

.form-control:focus {
    border-color: #0d4e96;
}

.irs-account-col .btn {
    margin-top: 20px;
}

.irs-404-field {
    padding: 100px 0;
}

    .irs-404-field h1 {
        font-size: 12vw;
        color: #0d4e96;
    }

    .irs-404-field h2 {
        font-size: 3vw;
        margin-bottom: 50px;
    }

    .irs-404-field h3 a {
        color: #333333;
        border-bottom: 2px solid #0d4e96;
        padding-bottom: 10px;
    }

.irs-contact-field {
    padding: 50px 0 50px;
}

.irs-google-map {
    margin-bottom: 100px;
}

.irs-address-col {
    margin-bottom: 10px;
    text-align: center;
    padding: 20px 20px;
    background: #F7F7F7;
}

    .irs-address-col i {
        color: #0d4e96;
        font-size: 50px;
    }

    .irs-address-col p {
        margin-top: 10px;
    }

.irs-contact-col {
    margin-bottom: 30px;
}

.irs-contact-field .form-control {
    height: 40px;
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 30px;
}

.irs-footer-field {
    padding: 30px 0 0;
    background: url("../images/footer.png") #0d4e96 no-repeat center;
    position: relative;
}

    .irs-footer-field p {
        color: #ffffff;
    }

.irs-footer-about, .irs-footer-link,
.irs-footer-tweets, .irs-footer-contact {
    margin-bottom: 30px;
}

.irs-foooter-logo {
    width: 60px;
}

.irs-footer-about p {
    color: #ffffff;
    margin: 0% 0 20px;
}

.irs-footer-about .irs-social a i:hover {
    color: #0d4e96;
}

.irs-footer-heading {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

.irs-footer-link ul li {
}

    .irs-footer-link ul li:last-child {
        border-bottom: none;
    }

    .irs-footer-link ul li:before {
        content: "\eb88";
        font-family: IcoFont;
        color: #ffffff;
        margin-right: 5px;
    }

    .irs-footer-link ul li a {
        color: #ffffff;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

        .irs-footer-link ul li a:hover {
            color: #999999;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

.irs-footer-tweets {
}

.irs-tweets {
    position: relative;
    padding-left: 30px;
    border-bottom: 1px solid #3a3a3a;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

    .irs-tweets:last-child {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .irs-tweets i {
        position: absolute;
        left: 0;
        top: 5px;
        color: #0d4e96;
    }

.irs-footer-contact p {
}

    .irs-footer-contact p i {
        margin-right: 10px;
    }

.irs-copyright-field {
    background: #083970;
    text-align: center;
    padding: 5px 0;
}

    .irs-copyright-field p {
        color: #ffffff;
        margin: 0;
        text-transform: capitalize;
    }

        .irs-copyright-field p a {
            color: #0d4e96;
        }

.entry {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #F5F5F5;
}

.entry-title {
    font-size: 30px;
}

    .entry-title a {
        color: #333;
        text-align: justify;
    }

        .entry-title a:hover {
            color: #d95b44;
        }

.blog-columns .entry-title {
    margin-top: 25px;
    font-size: 25px;
}

.image-area {
    overflow: hidden;
    position: relative;
    display: block;
}
.irs-blog-col a {
    color: #0d4e96;
}
.entry-meta {
    padding: 0;
    margin-bottom: 5px;
}

    .entry-meta ul {
        margin: 0;
        padding: 0;
        font-family: 'Lato', sans-serif;
    }

        .entry-meta ul li a i {
            margin-right: 5px;
        }

        .entry-meta ul li a {
            color: #aaa;
        }

.entry ul li a:hover {
    color: #d95b44;
}

.entry-text {
    margin-bottom: 5px;
}

    .entry-text p {
        text-align: justify;
    }

.entry-meta li:after {
    content: '/';
    padding-left: 9px;
    padding-right: 8px;
}

.entry-meta li:last-child:after {
    content: "";
    display: none;
}

.read-more {
    display: block;
    float: right;
    margin-bottom: 5px;
    color: #0d4e96;
    font-weight: bold;
    font-style: italic;
}

    .read-more:hover {
        cursor: pointer;
    }

    .read-more a {
        color: inherit;
    }

.btn-read-more {
    float: right;
    /*margin-bottom: 20px;*/
}

.p .pagination {
    border-radius: 0px;
    -webkit-border-radius: 0px;
}

.pagination-wrap {
    margin-bottom: 80px;
}

.pagination > li.active > a {
    background-color: #d95b44;
    border-color: #d95b44;
}

.pagination > li > a {
    color: #333;
}

    .pagination > li > a:hover {
        color: #d95b44;
    }

.left-img .entry .entry-title {
    font-size: 16px;
    text-align: justify;
    font-weight: bold;
    line-height: 25px;
    margin-top: 0px;
}

.author-image img {
    width: 84px;
    height: 84px;
}

.author-image {
    float: left;
    margin-right: 15px;
}

.related-post {
    margin-top: 50px;
    margin-bottom: 30px;
}

    .related-post .entry {
        margin-bottom: 30px;
    }

    .related-post h4 {
        margin-bottom: 20px;
    }

    .related-post .entry-title {
        font-size: 20px;
        line-height: 25px;
        margin-top: 15px;
        margin-bottom: 5px;
    }

.comments {
    margin-bottom: 80px;
}

.comment-box {
    margin-top: 40px;
}

    .comment-box .comment-author {
        float: left;
        margin-right: 30px;
    }

.comment-author img {
    width: 84px;
    height: 84px;
}

.comment-text {
    overflow: hidden;
}

    .comment-text h5 {
        margin-bottom: 5px;
    }

.comment-box {
    margin-bottom: 20px;
}

    .comment-box em {
        display: block;
        color: #999;
        margin-bottom: 5px;
    }

.comment-text p {
    margin-bottom: 5px;
}

span.reply {
    display: block;
}

    span.reply a i {
        margin-right: 5px;
    }

    span.reply a {
        color: #555;
    }

        span.reply a:hover {
            color: #d95b44;
        }

.comment-form h4 {
    margin-bottom: 20px;
}

.comment-form {
    margin-bottom: 50px;
}

ul.category-list li {
    background: url(../img/bullet.html) no-repeat 4px 15px;
    padding-left: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
}

    ul.category-list li a {
        color: #999;
    }

        ul.category-list li a:hover {
            color: #d95b44;
            margin-left: 5px;
        }

.entry-img {
    width: 80px;
    height: 80px;
    float: left;
    margin: 0 15px 0 0;
    display: block;
}

    .entry-img img {
        border-radius: 5px;
        -webkit-border-radius: 5px;
    }

.entry-c {
    overflow: hidden;
}

    .entry-c span {
        display: block;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
    }

        .entry-c span a {
            color: #666;
        }

    .entry-c a:hover {
        color: #d95b44;
    }

    .entry-c em {
        color: #999;
    }

.contact-wrap {
    margin-bottom: 50px;
}

    .contact-wrap h4 {
        margin-bottom: 30px;
    }

    .contact-wrap i {
        margin-right: 10px;
    }

    .contact-wrap p {
        margin: 0px;
    }

.blank-page {
    padding-bottom: 150px;
    padding-top: 80px;
}

    .blank-page h2 {
        text-transform: uppercase;
    }

.error-page {
    padding-bottom: 80px;
}

    .error-page h2 {
        font-weight: 700;
        text-transform: uppercase;
    }

    .error-page p {
        margin-bottom: 30px;
    }

    .error-page i {
        color: #f1f1f1;
        font-size: 200px;
        line-height: 200px;
        margin-bottom: 20px;
    }

.center-heading {
    margin-bottom: 60px;
}

    .center-heading h3 {
        text-transform: uppercase;
        font-weight: 600;
    }

    .center-heading .center-line {
        width: 70px;
        height: 2px;
        background-color: #999;
        display: block;
        margin: 0 auto;
    }

    .center-heading p {
        font-size: 21px;
        color: #777;
        margin-top: 20px;
        font-weight: 300;
    }

    .pHead {
        font-weight: bold;
        margin-bottom: 10px;
        text-align: justify;
        margin-top: 10px;
    }
    
    .pTitle {
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 2px;
        margin-top: 10px;
        padding-bottom: 10px;
        color: #1F4E97;
        border-bottom: 1px solid #ccc;
    }

.pBody a, tbody a {
    color: #0d4e96;
    font-weight: bold;
    font-style: italic;
}

p img {
    width: initial;
}

i.fa.fa-home {
    font-size: 25px;
    margin-top: -4px;
}

li.dropdown {
}

.irs-about-box .icofont {
    color: #0d4e96;
}

.link-web img {
    margin: 0 auto;
    width: 80px;
    height: 80px;
    border: 2px solid rgba(13,78,150,1);
    border-radius: 100%;
    padding: 8px;
    margin-bottom: 5px;
}

.link-web p {
    line-height: 20px;
    color: #0d4e96;
    font-weight: bold;
    font-size: 13px;
}

.s-index {
    padding: 20px 0;
    background: #fff;
}

    .s-index h4 {
        height: 50px;
    }

.intro h3, .icofont-ui-check {
    font-weight: bold;
    color: #0d4e96;
}

.social {
    text-align: right;
    margin: 20px auto;
    padding: 10px 0;
}

.dsKhoa {
}

    .dsKhoa h3 {
        font-size: 30px;
    }

.irs-about-field .carousel-indicators {
    bottom: -30px;
}

section .carousel .carousel-indicators li {
    background-color: #ADB2B5;
}

section .carousel .carousel-indicators .active {
    background-color: #0d4e96;
}

.site-name {
    padding-top: 5px;
    display: inline-block;
}

    .site-name .school-name {
        font-size: 17px;
        color: #0d4e96;
        font-weight: bold;
        text-transform: uppercase;
    }

    .site-name .faculty-name {
        font-size: 15px;
        color: #333333;
    }

    .site-name .school-slogan {
        font-size: 12px;
        font-weight: bold;
        margin-top: -5px;
    }

.menu li {
    font-size: 12px;
    font-family: Tahoma;
    display: inline;
    margin-right: 5px;
    padding-right: 5px;
    border-right: solid 2px #ffffff;
}

    .menu li a {
        color: #ffffff;
        font-weight: bold;
    }

        .menu li a:hover {
            color: khaki;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

.dropbtn {
    font-weight: bold;
    padding: 0;
    background-color: inherit;
    color: #fff;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0d4e96;
    min-width: 330px;
    z-index: 999;
}

    .dropdown-content a {
        color: #333;
        padding: 3px 5px;
        text-decoration: none;
        display: block;
    }

.dropdown .dropdown-content a:hover {
    color: black;
    background-color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: khaki;
}

.col-md-3.col-sm-12 {
    background: #F3F3F3;
    height: 100%;
}

.wrap-highlight {
    width: 100%;
}

.event-title-highlight {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    padding: 10px;
    color: #0d4e96;
    border-top: solid;
    border-bottom: 1px solid;
    border-bottom-color: #e2e2e2;
}

.event-hightlight ul {
}

.event-title-module {
    margin: 0 0 1em 0;
    overflow: hidden;
}

    .event-title-module p {
        margin: 0;
        text-align:justify;
    }

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

a.btn.btn-default.irs-btn-transparent-two.btn-read-more.see-event {
    margin-top: 20px;
}

.hot-event-contener {
    background: #f8f8f4;
    display: block;
}

.event-month-highlight p {
    text-align: center;
    color: #545454;
    font-size: 20px;
}

.event-day-highlight p {
    text-align: center;
    color: #0d4e96;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.event-content-highlight {
    margin-left: 15px;
    text-align: justify;
    margin-top: -10px;
    font-size: 15px;
}

tr {
    border-bottom: 1px solid #ddd;
}

#map {
    height: 150px;
    width: 100%;
}

span.changeLang a img {
    width: 24px;
    height: 14px;
    margin-left: 5px;
}

span.textRight {
    margin-left: 15px;
    text-align: center;
    color: white;
    font-size: 12px;
    font-family: Tahoma;
    display: inline;
    font-weight: bold;
}

.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 4px;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

    .dropdown-submenu > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
    }

    .dropdown-submenu:hover > a:after {
        border-left-color: #fff;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

        .dropdown-submenu.pull-left > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }

.pCaption {
    color: #555;
    font-family: Tahoma;
    font-size: 12px;
    padding: 0px 5px 5px 5px;
    margin: 0px auto;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
}

.pQuestion {
    color: #333;
    font-family: tahoma;
    font-size: 13px;
    line-height: 18px;
    text-align: left;
    font-style: italic;
    font-weight: normal;
}

.pAnswer {
    color: #333;
    font-size: 13px;
    line-height: 18px;
    text-align: left;
    font-style: normal;
    font-weight: normal;
}

.student-title-module {
    margin: 0 0 5px 0;
    overflow: hidden;
}

    .student-title-module p {
        margin: 0;
        text-align:justify;
    }

.student-line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#newnews
{
    height: 192px;
    overflow: hidden;
}
#newnews li
{
    border-bottom: 1px dotted #ccc;
    margin-left: 0;
}
#newnews li a
{
    clear: both;
    padding: 5px 10px 1px 0px;
    display: block;
    text-align: justify;
}

.publishTime
{
    font-size: 9pt;
    color: #666;
}

.othernews a {
	
}

.othernews a:hover
{
    color: #000;
    text-decoration: underline;
}
.othernews a:visited
{
    color: #551A8B;
}

table{width:100%!important;}
table, tr, td{border:windowstext;}
table td{padding:3px;}

.table .thead-dark th {
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

#ochannelTree
{
	list-style: none;
	padding: 0px;
	margin: 0px;
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
	color: #000;
}
#ochannelTree ul
{
	padding: 0px;
	margin: 0px;
	list-style: none;
	clear: both;
}
#ochannelTree ul.cblock
{
	display:block;
	padding-left:10px;
}
#ochannelTree li
{
	list-style: none;
	text-indent:20px;
	margin: 0 0 0 5px;
	padding: 2px 0 0;
	font-weight:normal;
	text-transform:none;
}
#ochannelTree li.ic_Ex
{
	padding: 2px;
	background: url(../images/ic_Nx.gif) no-repeat 0px -2px;
	text-transform:uppercase;
	font-weight:bold;
}
#ochannelTree li span
{
    color:#000;
    text-transform:uppercase;
}
#ochannelTree li span a
{
	color: #999;
	text-decoration: none;
}
#ochannelTree li.ic_nEx
{
	padding: 2px;
	background: url(../images/ic_Nx.gif) no-repeat 0px -2px;
	text-transform:uppercase;
	font-weight:bold;
}
#ochannelTree li.ic_Nx
{
	padding: 2px;
	background: url(../images/ic_nEx.gif) no-repeat 0px -2px;
	text-transform:uppercase;
	font-weight:bold;
}
#ochannelTree img
{
	border: 0px;
	padding: 0px 3px 0px 0px;
}
#ochannelTree a
{
	color: #000;
	text-decoration: none;
}
#ochannelTree a:hover
{
	color: #BE0000;
	text-decoration: underline;
}


.irs-blog-col a:hover {
    color: #ED1C2A !important;
}
