﻿@model DichVuMotCua.Models.quyenhs

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/AdminMaster.cshtml";
}

<h2>Xóa</h2>

<h3>Bạn có muốn xóa ?</h3>
<div>
    <h4>quyenhs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_user)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_user)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_thutuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_thutuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name_thutuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name_thutuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name_user)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name_user)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
