﻿@model DichVuMotCua.Models.quyenhs

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/AdminMaster.cshtml";
}

<h2>Details</h2>

<div>
    <h4>quyenhs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_user)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_user)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_thutuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_thutuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name_thutuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name_thutuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name_user)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name_user)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
