﻿@model IEnumerable<DichVuMotCua.Models.quyenhs>

@{
    ViewBag.Title = "dsQuyenTT";
    Layout = "~/Areas/Admin/Views/Shared/AdminMaster.cshtml";
}

<h2>Danh Sách Quyền</h2>

<table class="table">
    <tr>

        <th>
          
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.thutuc_hienthi)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.id, forword = "dsQuyenTT", idUser = item.id_user})
        </td>
    </tr>
}

</table>
