﻿@model DichVuMotCua.Models.quyenhs

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/AdminMaster.cshtml";
}

<h2>Cấp quyền thủ tục</h2>

@using (Html.BeginForm("Create", "quyenhs", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @{List<SelectListItem> listItems = new List<SelectListItem>();

            listItems.Add(new SelectListItem
            {
                Text =  ViewBag.taikhoan.email,
                Value = ViewBag.taikhoan.id.ToString()
            });
        }


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.id_user, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.DropDownList("id_user", new SelectList(listItems, "Value", "Text"))
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.id_thutuc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="id_thutuc" name="id_thutuc">
                    @foreach (KeyValuePair<string, string> kvp in ViewBag.listUrl)
                    {
                    <option value="@kvp.Key">@kvp.Value</option>

                    }



                   
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cấp Quyền Thủ Tục" class="btn btn-default" />
            </div>
        </div>
    </div>
}

