﻿@{
    ViewBag.Title = "Home Page";
}

@{
    var session = (DichVuMotCua.Models.taikhoan)Session[DichVuMotCua.Content.CommonConstants.USER_SESSION];
    if (session == null)
    {
        
    }
    else
    {
        if (session.role == 2)
        {
           <div style="background-color:gainsboro;width:100%;height:100%;text-align:center;padding:20px 0;">
               <h2 style="color:black;text-align:center;">Quy trình xử lý hồ sơ</h2>
               
               <img style="width:55%;padding-top:20px;" src="~/Content/assets/images/bg/hs1.png" />
           </div>
        }
        else
        {
    
        }

    }
}
